<script src="js/plugins.min.js"></script>
    <script src="js/app.min.js"></script>

<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
<script>
showTicks = () => {
            document.getElementById("tick").style.visibility = "visible";
            document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent = " Well done! 20 points";
            correct ++;
            }

</script>
    </div>
  </body>
</html>
  
 