
<script src="js/plugins.min.js"></script>
<script type = "text/javascript" src="js/showTicks10.js"></script>
<script type = "text/javascript" src="js/checkAnswer.js"></script>
<script type = "text/javascript" src="js/slideshow.js"></script>
<script type = "text/javascript" src="js/trackProgress6.js"></script>
<script type = "text/javascript" src="js/trackProgress18.js"></script>
<script type = "text/javascript" src="js/trackProgress9.js"></script>
<script type = "text/javascript" src="js/trackProgress15.js"></script>
<script type = "text/javascript" src="js/checkUser.js"></script>
<script type = "text/javascript" src="js/questionCounter.js"></script>
<script type = "text/javascript" src="js/assignTask.js"></script>

<script src="js/charts-circle.js"></script>
<script src="js/plugins.min.js"></script>
<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
    </div>
  </body>
</html>
  
 