<html lang="en">
  <head>
      
    <!-- semantic ui -->
      <link type="text/css" rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Kodchasan" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Kodchasan" rel="stylesheet">   
    <meta name="mobile-web-app-capable" content="yes">

      <!-- new header -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#333">
    <title>SnowyTop Maths</title>
    <meta name="description" content="Material Style Theme">
    <link rel="shortcut icon" href="/img/banner.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/preload.min.css">
    <link rel="stylesheet" href="css/plugins.min.css">
    <link rel="stylesheet" href="css/style.light-blue-500.min.css">
    <link rel="stylesheet" href="css/slideshow.css">
   
  </head>
  <body>
   
    <div class="ms-site-container">
      <!-- Modal -->
      <div class="modal modal-primary" id="ms-account-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog animated zoomIn animated-3x" role="document">
          <div class="modal-content">
        
            <div class="modal-body">
              <div class="tab-content">
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <header class="ms-header ms-header-white">
        <!--ms-header-white-->
        <div class="container container-full">
          <div class="ms-title">
   
              <h1 class="animated fadeInRight animation-delay-6">SnowyTop
                <span>Maths</span>
              </h1>
            
          </div>
         
        </div>
      </header>
    
  <nav class="navbar navbar-expand-md  navbar-static ms-navbar ms-navbar-primary">
        <div class="container container-full">
          <div class="navbar-header">
            <a class="navbar-brand" href="/profile">
               <img src="/img/demo/banner.png" alt=""> 
              <!-- Scrolling NavBar -->
              <span class="ms-title">SnowyTop 
                <strong>Maths </strong>
              </span>
            </a>
          </div>
           <div class="collapse navbar-collapse" id="ms-navbar">
            <ul class="navbar-nav">
              <li class="nav-item ">
                <a href="/profile" class="nav-link dropdown-toggle animated fadeIn animation-delay-7"  role="button" data-name="home">Home
                </a>
              </li>
              <li class="nav-item ">
                <a href="/basics/index" class="nav-link dropdown-toggle animated fadeIn animation-delay-7"  role="button" data-name="exams">Build The Basics
                </a>
              </li>
              
              <li class="nav-item ">
                <a href="/problemsolving/menu" class="nav-link dropdown-toggle animated fadeIn animation-delay-7"  role="button" data-name="progress">Problem Solving
                </a>
              </li>
              <li class="nav-item ">
                <a href="/pastpapers/list" class="nav-link dropdown-toggle animated fadeIn animation-delay-7"  role="button" data-name="exams">Exam Papers
                </a>
              </li>
                <li class="nav-item ">
                  <a>Signed in as <%=currentUser.username%></a>
                </li>
                <li class="nav-item ">
                <a href="/logout" class="nav-link dropdown-toggle animated fadeIn animation-delay-7"  role="button"  data-name="logout  ">Logout
                </a>
              </li>
          </ul>
        </div>
          <a href="javascript:void(0)" class="ms-toggle-left btn-navbar-menu">
            <i class="zmdi zmdi-menu"></i>
          </a>
        </div>
        <!-- container -->
      </nav>