<div class="container">
            <p id="userId"><%=currentUser.id %> </p>  
  </div>
<script>
function checkAnswer(){
       
        var id =  $("#userId").text(); 
        var api= "?apiKey=CUh_8XmeKybytcjyLHezRfveLaEDA6V6";
        var idAndApi = id + api;
        var sliced = id.slice(0,-1);
    var url = "https://api.mlab.com/api/1/databases/maths_app/collections/users/";
        var finalApi = url + sliced +api;
        
        $.ajax({           
            url: finalApi,
            type:"put",
                data: JSON.stringify( { "$inc" : { "score" : 30 } } ),
            contentType:"application/json",
            success:function(data){
                getScore();
                
            },
            error:function(xhr, status, error){
                console.log(error);
            }
        });
        
    function getScore(){        

    $.ajax({               url:finalApi,
            type:"get",
            data: JSON.stringify(),
            contentType:"application/json",
            success:function(data){
                $("#jquery").text(data.score);
            },
            error:function(xhr, status, error){
                console.log(error);
            }
        });   
    }
       };
   
</script>