<% include ./partials/headerfront %>

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div id="carousel-home-blog" class="carousel ms-carousel slide card" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-home-blog" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-home-blog" data-slide-to="1"></li>
          <li data-target="#carousel-home-blog" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img src="img/back_mountain.jpg" class="img-fluid" alt="...">
            <div class="carousel-caption-blog">
              <h2 class="color-primary">Expert Tuition On Demand</h2>
              <p class="d-none d-md-block"> Benefit from 12 years + experience of helping students attend their dream
                schools. </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="img/back_mountain.jpg" class="img-fluid" alt="...">
            <div class="carousel-caption-blog">
              <h2 class="color-primary">Save thousands of pounds in tutoring costs</h2>
              <p class="d-none d-md-block">Work through the programme from the comfort of your own home and see tangible
                results of your progress.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="img/back_mountain.jpg" class="img-fluid" alt="...">
            <div class="carousel-caption-blog">
              <h2 class="color-primary">Perfect your exam technique</h2>
              <p class="d-none d-md-block">Practising the past papers is a paramount way of improving the way your child
                answers these questions effeciently and effectively. Work through our interactive papers online from the
                elite schools and receive immediate results.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row masonry-container">
        <div class="col-md-6 masonry-item wow fadeInUp animation-delay-2">
          <article class="card card-info mb-4 wow materialUp animation-delay-5">

            <div class="card-body">
              <h2>
                <a href=javascript:void(0)>Why sign up?</a>
              </h2>
              <p>You will be aware that it has become increasingly more competitive to ensure your child obtains a place
                at the elite independent schools in the UK.</p>
              <p>These schools have made their entrance papers more challenging in order to distinguish between the
                hundreds of children who sit them each year at each school.</p>
              <p>Most primary schools and even many prep schools will not have the maths specialists at KS 2 to cope
                with the difficulty of questions set on these papers.</p>
              <p>We focus purely on the questions that are in this gap and will set your child apart from everybody
                else. </p>

            </div>
          </article>
        </div>
        <div class="col-md-6 masonry-item wow fadeInUp animation-delay-2">
          <article class="card card-royal mb-4 wow materialUp animation-delay-5">
            <div class="js-player">
              <script src="https://snowytopmaths.cdn.vooplayer.com/assets/vooplayer.js"></script><iframe
                allow="autoplay" class="video-player-container vooplayer" data-playerId="MTY4MzQ4"
                allowtransparency="true" style="max-width:100%" name="vooplayerframe" allowfullscreen="true" src=""
                watch-type="" url-params="" frameborder="0" scrolling="no"> </iframe>
            </div>
            <div class="card-body">
              <h2>
                <a href=javascript:void(0)>Which Schools does this site prepare for?</a>
              </h2>
              <p>Completion of this course will ensure your child begins Key Stage 3 at the front of the class at any
                school. We have looked at the most competitive papers to focus on from the following: </p>
              <p>Manchester Grammar, Haberdasher Aske's, St. Paul's Girls, Hampton School, King's College Wimbledon,
                Godolphin and Latymer, Dulwich College, Sevenoaks and North London Collegiate to name a few.</p>

            </div>
          </article>
        </div>
        <div class="col-md-6 masonry-item wow fadeInUp animation-delay-2">
          <article class="card card-success mb-4 wow materialUp animation-delay-5">

            <div class="card-body">
              <h2>
                <a href=javascript:void(0)>The Benefits of the Tutorial Videos</a>
              </h2>
              <p>The preparation for the 11+ Maths can be overwhelming for children who have to absorb lots of
                information quickly. One exam question can take an entire school lesson to learn. However, all that hard
                work can be wasted if not revisited soon after, which was not always possible in the run up to the
                exams. To solve this problem, I initially set up a 'YouTube' channel to help my students refresh their
                knowledge at home whenever they needed to. The positive feedback I received inspired the creation of
                this course. </p>
              <p>Each video lasts around 5 minutes on average. They are purposely kept to this time to be accessible and
                not overwhelming. This length of video can be watched multiple times as part of their revision. I've
                tried to keep the videos light-hearted with a little sprinkling of 'dad-humour' in places. </p>

            </div>
          </article>
        </div>
        <div class="col-md-6 masonry-item wow fadeInUp animation-delay-2">
          <article class="card mb-4 wow materialUp animation-delay-5">
            <div class="js-player">
              <script src="https://snowytopmaths.cdn.vooplayer.com/assets/vooplayer.js"></script><iframe
                allow="autoplay" class="video-player-container vooplayer" data-playerId="MTc0NzIy"
                allowtransparency="true" style="max-width:100%" name="vooplayerframe" allowfullscreen="true" src=""
                watch-type="" url-params="" frameborder="0" scrolling="no"> </iframe>
            </div>
            <div class="card-body">
              <h2>
                <a href=javascript:void(0)>Purposeful Practice</a>
              </h2>

              <p>Your child will progress quickly if they can apply the knowledge gained from the tutorial video by
                answering the questins below each one. These are designed to reinforce their understanding and provide
                confidence and not create confusion. Each question will follow the tutorial video closely.</p>
            </div>
          </article>
        </div>
        <div class="col-md-6 masonry-item wow fadeInUp animation-delay-2">
          <article class="card mb-4 wow materialUp animation-delay-5">
            <div class="js-player">
              <script src="https://snowytopmaths.cdn.vooplayer.com/assets/vooplayer.js"></script><iframe
                allow="autoplay" class="video-player-container vooplayer" data-playerId="MTc0Nzkw"
                allowtransparency="true" style="max-width:100%" name="vooplayerframe" allowfullscreen="true" src=""
                watch-type="" url-params="" frameborder="0" scrolling="no"> </iframe>
            </div>
            <div class="card-body">
              <h2>
                <a href=javascript:void(0)>Interactive Past Papers</a>
              </h2>

              <p>Choose from a range of school-specific past papers to practise with. Receive immediate results to track
                your own progress.</p>
            </div>
          </article>
        </div>
        <div class="col-md-6 masonry-item wow fadeInUp animation-delay-2">
          <article class="card mb-4 wow materialUp animation-delay-5">
            <div class="js-player">
              <script src="https://snowytopmaths.cdn.vooplayer.com/assets/vooplayer.js"></script><iframe
                allow="autoplay" class="video-player-container vooplayer" data-playerId="MTc0Nzg4"
                allowtransparency="true" style="max-width:100%" name="vooplayerframe" allowfullscreen="true" src=""
                watch-type="" url-params="" frameborder="0" scrolling="no"> </iframe>
            </div>
            <div class="card-body">
              <h2>
                <a href=javascript:void(0)>Signing Up</a>
              </h2>

              <p>Sign up is quick and easy. Follow the steps in the video and quickly start learning.</p>
            </div>
          </article>
        </div>

        <!--
              <div class="col-md-6 masonry-item wow fadeInUp animation-delay-2">
                <article class="card card-info mb-4 wow materialUp animation-delay-5">
                  <figure class="ms-thumbnail ms-thumbnail-left">
                    <img src="assets/img/demo/post4.jpg" alt="" class="img-fluid">
                    <figcaption class="ms-thumbnail-caption text-center">
                      <div class="ms-thumbnail-caption-content">
                        <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <div class="mt-2">
                          <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm mr-1 btn-circle-white color-danger">
                            <i class="zmdi zmdi-favorite"></i>
                          </a>
                          <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 mr-1 btn-circle-white color-warning">
                            <i class="zmdi zmdi-star"></i>
                          </a>
                          <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 btn-circle-white color-success">
                            <i class="zmdi zmdi-share"></i>
                          </a>
                        </div>
                      </div>
                    </figcaption>
                  </figure>
                  <div class="card-body">
                    <h2>
                      <a href=javascript:void(0)>Lorem ipsum Minim in nulla labore sint</a>
                    </h2>
                    <p>Sed ut perspiciatis unde omnis iste natus error nesciunt voluptas sit voluptatem accusantium doloremque laudantium eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    <div class="row">
                      <div class="col-lg-6 col-md-4">
                        <div class="mt-05">
                          <a href="javascript:void(0)" class="ms-tag ms-tag-info">Design</a>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-8">
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block animate-icon">Read more
                          <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
-->

        <!--
              <div class="col-md-6 masonry-item wow fadeInUp animation-delay-2">
                <article class="card card-info mb-4 wow materialUp animation-delay-5">
                  <figure class="ms-thumbnail ms-thumbnail-left">
                    <img src="assets/img/demo/p2.jpg" alt="" class="img-fluid">
                    <figcaption class="ms-thumbnail-caption text-center">
                      <div class="ms-thumbnail-caption-content">
                        <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <div class="mt-2">
                          <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm mr-1 btn-circle-white color-danger">
                            <i class="zmdi zmdi-favorite"></i>
                          </a>
                          <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 mr-1 btn-circle-white color-warning">
                            <i class="zmdi zmdi-star"></i>
                          </a>
                          <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 btn-circle-white color-success">
                            <i class="zmdi zmdi-share"></i>
                          </a>
                        </div>
                      </div>
                    </figcaption>
                  </figure>
            
                </article>
              </div>
        
              
-->


      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-info animated fadeInUp animation-delay-7">
        <div class="card-header">
          <h3 class="card-title">
            <i class="zmdi zmdi-play-circle-outline"></i> Welcome to SnowyTop Maths</h3>
        </div>
        <div class="js-player">
          <script src="https://snowytopmaths.cdn.vooplayer.com/assets/vooplayer.js"></script><iframe allow="autoplay"
            class="video-player-container vooplayer" data-playerId="MTQ3NjA2" allowtransparency="true"
            style="max-width:100%" name="vooplayerframe" allowfullscreen="true" src="" watch-type="" url-params=""
            frameborder="0" scrolling="no"> </iframe>
        </div>
      </div>
      <div class="card animated fadeInUp animation-delay-7">
        <div class="ms-hero-bg-royal ms-hero-img-coffee">
          <h3 class="color-white index-1 text-center no-m pt-4">Neil Campbell</h3>
          <div class="color-medium index-1 text-center np-m">Course Ceator</div>
        </div>
        <img class="d-flex mr-3 media-object media-object-circle" src="img/me8.JPG" alt="...">
        <div class="card-body pt-4 text-center">
          <h3 class="color-primary">About me</h3>
          <p>Former Head of Maths at Hampton Prep School (Hampton School) for 5 years. Over 12 years of teaching
            mathematics from KS2 to A Level. </p>
          <p>BSc Economics from Cardiff University</p>
          <p>PGCE Secondary Mathematics</p>
          <a href="javascript:void(0)"
            class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook">
            <i class="zmdi zmdi-facebook"></i>
          </a>
          <a href="javascript:void(0)"
            class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter">
            <i class="zmdi zmdi-twitter"></i>
          </a>
          <a href="javascript:void(0)"
            class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram">
            <i class="zmdi zmdi-instagram"></i>
          </a>
        </div>
      </div>
      <div class="card card-primary animated fadeInUp animation-delay-7">
        <div class="card-header">
          <h3 class="card-title">
            <i class="zmdi zmdi-apps"></i>Recently Added</h3>
        </div>
        <div class="card-tabs">
          <ul class="nav nav-tabs nav-tabs-transparent indicator-primary nav-tabs-full nav-tabs-4" role="tablist">
            <li class="nav-item">
              <a href="#favorite" aria-controls="favorite" role="tab" data-toggle="tab"
                class="nav-link withoutripple active">
                <i class="no-mr zmdi zmdi-star"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="#categories" aria-controls="categories" role="tab" data-toggle="tab"
                class="nav-link withoutripple">
                <i class="no-mr zmdi zmdi-folder"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="#archives" aria-controls="archives" role="tab" data-toggle="tab" class="nav-link withoutripple">
                <i class="no-mr zmdi zmdi-time"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="#tags" aria-controls="tags" role="tab" data-toggle="tab" class="nav-link withoutripple">
                <i class="no-mr zmdi zmdi-tag-more"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade active show" id="favorite">
            <div class="card-body">
              <div class="ms-media-list">
                <div class="media mb-2">
                  <div class="media-left media-middle">
                    <a href="#">
                      <img class="d-flex mr-3 media-object media-object-circle" src="img/mountain.jpg" alt="..."> </a>
                  </div>
                  <div class="media-body">
                    <a href="javascript:void(0)" class="media-heading">King's Wimbledon 11+ Maths Paper</a>
                    <div class="media-footer text-small">
                      <span class="mr-1">
                        <i class="zmdi zmdi-time color-info mr-05"></i> July 8, 2019</span>

                    </div>
                  </div>
                </div>
                <div class="media mb-2">
                  <div class="media-left media-middle">
                    <a href="#">
                      <img class="d-flex mr-3 media-object media-object-circle" src="img/mountain.jpg" alt="..."> </a>
                  </div>
                  <div class="media-body">
                    <a href="javascript:void(0)" class="media-heading">St.Paul's Girls Paper A</a>
                    <div class="media-footer text-small">
                      <span class="mr-1">
                        <i class="zmdi zmdi-time color-info mr-05"></i> July 8, 2019</span>
                    </div>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left media-middle">
                    <a href="#">
                      <img class="d-flex mr-3 media-object media-object-circle" src="img/mountain.jpg" alt="..."> </a>
                  </div>
                  <div class="media-body">
                    <a href="javascript:void(0)" class="media-heading">Haberdasher's Aske's 2008 11+ Maths </a>
                    <div class="media-footer text-small">
                      <span class="mr-1">
                        <i class="zmdi zmdi-time color-info mr-05"></i> July 8, 2019</span>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="categories">
            <div class="list-group">
              <a href="javascript:void(0)" class="list-group-item list-group-item-action withripple">
                <i class=" color-info zmdi zmdi-cocktail"></i>Design
                <span class="ml-auto badge-pill badge-pill-info">25</span>
              </a>
              <a href="javascript:void(0)" class="list-group-item list-group-item-action withripple">
                <i class=" color-warning zmdi zmdi-collection-image"></i> Graphics
                <span class="ml-auto badge-pill badge-pill-warning">14</span>
              </a>
              <a href="javascript:void(0)" class="list-group-item list-group-item-action withripple">
                <i class=" color-danger zmdi zmdi-case-check"></i> Productivity
                <span class="ml-auto badge-pill badge-pill-danger">7</span>
              </a>
              <a href="javascript:void(0)" class="list-group-item list-group-item-action withripple">
                <i class=" color-royal zmdi zmdi-folder-star-alt"></i>Resources
                <span class="ml-auto badge-pill badge-pill-royal">67</span>
              </a>
              <a href="javascript:void(0)" class="list-group-item list-group-item-action withripple">
                <i class=" color-success zmdi zmdi-play-circle-outline"></i>Multimedia
                <span class="ml-auto badge-pill badge-pill-success">32</span>
              </a>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="archives">
            <div class="list-group">
              <a href="javascript:void(0)" class="list-group-item list-group-item-action withripple">
                <i class="zmdi zmdi-calendar"></i> January 2016
                <span class="ml-auto badge-pill">25</span>
              </a>
              <a href="javascript:void(0)" class="list-group-item list-group-item-action withripple">
                <i class="zmdi zmdi-calendar"></i> February 2016
                <span class="ml-auto badge-pill">14</span>
              </a>
              <a href="javascript:void(0)" class="list-group-item list-group-item-action withripple">
                <i class="zmdi zmdi-calendar"></i> March 2016
                <span class="ml-auto badge-pill">9</span>
              </a>
              <a href="javascript:void(0)" class="list-group-item list-group-item-action withripple">
                <i class="zmdi zmdi-calendar"></i> April 2016
                <span class="ml-auto badge-pill">12</span>
              </a>
              <a href="javascript:void(0)" class="list-group-item list-group-item-action withripple">
                <i class="zmdi zmdi-calendar"></i> June 2016
                <span class="ml-auto badge-pill">65</span>
              </a>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="tags">
            <div class="card-body overflow-hidden text-center">
              <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Design</a>
              <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Productivity</a>
              <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Web</a>
              <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Resources</a>
              <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Multimedia</a>
              <a href="javascript:void(0)" class="ms-tag ms-tag-primary">HTML5</a>
              <a href="javascript:void(0)" class="ms-tag ms-tag-primary">CSS3</a>
              <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Javascript</a>
              <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Jquery</a>
              <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Bootstrap</a>
              <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Angular</a>
              <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Gulp</a>
              <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Atom</a>
              <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Fonts</a>
              <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Pictures</a>
              <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Developers</a>
              <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Code</a>
              <a href="javascript:void(0)" class="ms-tag ms-tag-primary">SASS</a>
              <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Less</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- container -->

<aside class="ms-footbar">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 ms-footer-col">
        <div class="ms-footbar-block">
          <h3 class="ms-footbar-title">Sitemap</h3>
          <ul class="list-unstyled ms-icon-list three_cols">
            <li>
              <a href="/">
                <i class="zmdi zmdi-home"></i> Home</a>
            </li>
            <li>
              <a href="/pricing">
                <i class="zmdi zmdi-money"></i> Pricing</a>
            </li>
            <li>
              <a href="#examplevids">
                <i class="zmdi zmdi-favorite-outline"></i> Tutorials</a>
            </li>
            <li>
              <a href="#example">
                <i class="zmdi zmdi-accounts"></i> Questions</a>
            </li>

            <li>
              <a href="page-faq2.html">
                <i class="zmdi zmdi-help"></i> FAQ</a>
            </li>
            <li>
              <a href="page-login2.html">
                <i class="zmdi zmdi-lock"></i> Login</a>
            </li>
            <li>
              <a href="/register">
                <i class="zmdi zmdi-email"></i> Register</a>
            </li>
          </ul>
        </div>
        <div class="ms-footbar-block">
          <h3 class="ms-footbar-title">Subscribe</h3>
          <p class="">Sign Up for my newsletter, exam advice and special offers</p>
          <button class="ms-subscribre-btn" type="button" href="/register">Subscribe</button>

        </div>
      </div>
      <div class="col-lg-5 col-md-7 ms-footer-col ms-footer-alt-color">
        <div class="ms-footbar-block">
          <h3 class="ms-footbar-title text-center mb-2">Social Media</h3>
          <div class="ms-footer-media">
            <div class="media">
              <div class="media-left media-middle">
                <a href="https://www.facebook.com/snowytopmaths/" class="btn-circle btn-facebook">
                  <i class="zmdi zmdi-facebook"></i>
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  <a href="https://www.facebook.com/snowytopmaths/">The Official SnowyTop Maths Facebook Page</a>
                </h4>
                <div class="media-footer">
                  <span>
                    <i class="zmdi zmdi-time color-info-light"></i> June 11, 2019</span>
                  <span>
                    <i class="zmdi zmdi-folder-outline color-warning-light"></i>
                    <a href="javascript:void(0)">Community</a>
                  </span>
                </div>
              </div>
            </div>
            <div class="media">
              <div class="media-left media-middle">
                <a href="https://www.youtube.com/channel/UC7MHNX9DoagZPIN9Ho9QWHg" class="btn-circle btn-youtube">
                  <i class="zmdi zmdi-youtube-play"></i>
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  <a href="https://www.youtube.com/channel/UC7MHNX9DoagZPIN9Ho9QWHg">The Offical YouTube Channel of
                    SnowyTop Maths</a>
                </h4>
                <div class="media-footer">
                  <span>
                    <i class="zmdi zmdi-time color-info-light"></i> June 11, 2019</span>
                  <span>
                    <i class="zmdi zmdi-folder-outline color-warning-light"></i>
                    <a href="javascript:void(0)">Free Tutorial Videos and Examples</a>
                  </span>
                </div>
              </div>
            </div>
            <div class="media">
              <div class="media-left media-middle">
                <a href="javascript:void(0)" class="btn-circle btn-twitter">
                  <i class="zmdi zmdi-twitter"></i>
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  <a href="javascript:void(0)">The Official Twitter Account of SnowyTop Maths</a>
                </h4>
                <div class="media-footer">
                  <span>
                    <i class="zmdi zmdi-time color-info-light"></i> June 11, 2019</span>
                  <span>
                    <i class="zmdi zmdi-folder-outline color-warning-light"></i>
                    <a href="javascript:void(0)">News and Updates</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-5 ms-footer-col ms-footer-text-right">
        <div class="ms-footbar-block">
          <div class="ms-footbar-title">
            <h3 class="no-m ms-site-title">SnowyTop
              <span>Maths</span>
            </h3>
          </div>
          <address class="no-mb">
            <p>
              <i class="color-danger-light zmdi zmdi-pin mr-1"></i> London, UK</p>
            <p>
              <i class="color-info-light zmdi zmdi-email mr-1"></i>
              <a href="mailto:neil@snowytopmaths.co.uk">neil@snowytopmaths.co.uk</a>
            </p>
          </address>
        </div>
        <div class="ms-footbar-block">
          <h3 class="ms-footbar-title">Social Media</h3>
          <div class="ms-footbar-social">
            <a href="https://www.facebook.com/snowytopmaths/" class="btn-circle btn-facebook">
              <i class="zmdi zmdi-facebook"></i>
            </a>
            <a href="javascript:void(0)" class="btn-circle btn-twitter">
              <i class="zmdi zmdi-twitter"></i>
            </a>
            <a href="https://www.youtube.com/channel/UC7MHNX9DoagZPIN9Ho9QWHg" class="btn-circle btn-youtube">
              <i class="zmdi zmdi-youtube-play"></i>
            </a><br>
            <a href="javascript:void(0)" class="btn-circle btn-instagram">
              <i class="zmdi zmdi-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
<!--Floating Header Bar-->
<!-- ms-site-container -->
<div class="ms-slidebar sb-slidebar sb-left sb-style-overlay" id="ms-slidebar">
  <div class="sb-slidebar-container">
    <header class="ms-slidebar-header">
      <div class="ms-slidebar-login">
        <a href="/log" class="withripple">
          <i class="zmdi zmdi-account"></i> Login</a>
        <a href="/log" class="withripple">
          <i class="zmdi zmdi-account-add"></i> Register</a>
      </div>
      <div class="ms-slidebar-title">
        <div class="ms-slidebar-t">
          <!--              <span class="ms-logo ms-logo-sm">M</span>-->
          <h3>SnowyTop
            <span>Maths</span>
          </h3>
        </div>
      </div>
    </header>
    <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
      <li class="card" role="tab" id="sch1">
        <a data-scroll class="nav-link" href="/"><i class="zmdi zmdi-home"></i>Home</a>

      </li>
      <li class="card" role="tab" id="sch1">
        <a data-scroll class="nav-link" href="/freevideos"><i class="zmdi zmdi-youtube-play"></i>Free Tutorial
          Videos</a>

      </li>
      <li class="card" role="tab" id="sch1">
        <a data-scroll class="nav-link" href="/aboutus"><i class="zmdi zmdi-local-grocery-store"></i>About Us</a>

      </li>
      <li class="card" role="tab" id="sch1">
        <a data-scroll class="nav-link" href="/pricing"><i class="zmdi zmdi-local-grocery-store"></i>Pricing</a>

      </li>
      <li class="card" role="tab" id="sch1">
        <a href="/register"><i class="zmdi zmdi-account-add"></i>Sign Up</a>

      </li>
      <li class="card" role="tab" id="sch1">
        <a href="/login"><i class="zmdi zmdi-account"></i>Login</a>
      </li>

    </ul>
    <div class="ms-slidebar-social ms-slidebar-block">
      <h4 class="ms-slidebar-block-title">Social Links</h4>
      <div class="ms-slidebar-social">
        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-facebook">
          <i class="zmdi zmdi-facebook"></i>
          <!--              <span class="badge-pill badge-pill-pink">12</span>-->
          <div class="ripple-container"></div>
        </a>
        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-twitter">
          <i class="zmdi zmdi-twitter"></i>
          <!--              <span class="badge-pill badge-pill-pink">4</span>-->
          <div class="ripple-container"></div>
        </a>
        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-google">
          <i class="zmdi zmdi-google"></i>
          <div class="ripple-container"></div>
        </a>
        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-instagram">
          <i class="zmdi zmdi-instagram"></i>
          <div class="ripple-container"></div>
        </a>
      </div>
    </div>
  </div>
</div>
<!--End of Floating Header Bar-->

<% include ./partials/footer %>