
<% include ./partials/header %>

<div class="container">
     <div class="row">
<div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">
                            <i class="zmdi zmdi-graduation-cap"></i> Averages 1</h3>
                        </div>
                        <div class="withripple zoom-img">
                          <a href="/averages1">
                             </a>
                        </div>
                        <div class="card-body overflow-hidden text-center">
                          <h4 class="color-info">Including</h4>
                          <p>Question goes here</p>
                          <a href="/averages1" class="btn btn-info btn-raised">
                            <i class="fa fa-percent"></i> Enter</a>
                        </div>
                      </div>
                    </div>
    <div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">
                            <i class="zmdi zmdi-graduation-cap"></i> Averages 2</h3>
                        </div>
                        <div class="withripple zoom-img">
                          <a href="javascript:void(0);">
                             </a>
                        </div>
                        <div class="card-body overflow-hidden text-center">
                          <h4 class="color-info">Including</h4>
                          <p>Question goes here</p>
                          <a href="/averages2" class="btn btn-info btn-raised">
                            <i class="zmdi zmdi-map"></i> Enter</a>
                        </div>
                      </div>
                    </div>
    <div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">
                            <i class="zmdi zmdi-graduation-cap"></i> Averages 3</h3>
                        </div>
                        <div class="withripple zoom-img">
                          <a href="javascript:void(0);">
                            </a>
                        </div>
                        <div class="card-body overflow-hidden text-center">
                            <h4 class="color-info">Write</h4><p>Question goes here</p>
                          <a href="/averages3" class="btn btn-info btn-raised">
                            <i class="zmdi zmdi-map"></i> Enter</a>
                        </div>
                      </div>
                    </div>
    <div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">
                            <i class="zmdi zmdi-graduation-cap"></i> Averages 4</h3>
                        </div>
                        <div class="withripple zoom-img">
                          <a href="javascript:void(0);">
                             </a>
                        </div>
                        <div class="card-body overflow-hidden text-center">
                          <h4 class="color-info">Including</h4>
                          <p>Question goes here</p>
                          <a href="/averages4" class="btn btn-info btn-raised">
                            <i class="zmdi zmdi-map"></i> Enter</a>
                        </div>
                      </div>
                    </div>
    </div>
</div>
<% include ./partials/footer %> 