<% include ./partials/header %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">
            <i class="zmdi zmdi-graduation-cap"></i> 10 Points</h3>
        </div>
        <div class="withripple zoom-img"><a href="javascript:void(0);">
            <img src="/img/demo/frac1.png" alt="" class="img-fluid"> </a>
          </a>
        </div>
        <div class="card-body overflow-hidden text-center">
          <h4 class="color-info"></h4>
          <p>Find the missing fraction</p>
          <a href="/fractions1" class="btn btn-info btn-raised">
            <i class="fa fa-percent"></i> Enter</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">
            <i class="zmdi zmdi-graduation-cap"></i> 20 Points</h3>
        </div>
        <div class="withripple zoom-img">
          <a href="javascript:void(0);">
            <img src="/img/demo/frac20.png" alt="" class="img-fluid"> </a>
        </div>
        <div class="card-body overflow-hidden text-center">
          <h4 class="color-info"></h4>
          <p></p>
          <a href="/fractions2" class="btn btn-info btn-raised">
            <i class="zmdi zmdi-map"></i> Enter</a>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ./partials/footer %>