<% include ./partials/header %>
<style>
.dot{
       cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; 
    }
   .active, .dot:hover {
  background-color: #9C27B0;
}

#button{
background-color: #009caf;
    }
#button1{
background-color: #9C27B0;
}
</style>


   
 
<div class="col-lg-11 ms-paper-content-container"style="text-align: center">
    <div class="ms-paper-content" style="display:inline-block">
        <div class="alert alert-light alert-info">  
           <p class="q"> Haberdasher Aske's 2008 11+ Maths Time: 1 hour Total: 54 marks</p>
        </div>
    </div>
</div>
<div style="text-align: center">
    <div class="card card-royal col-md-6" style="display:inline-block" > 
<!--        First question-->
<div class="mySlides">
    <div class="card-header">
        <h3 id="header" class="card-title">1.</h3>
    </div>
  <div class="card-body"> 
   <form name="quiz1">
       <p class="q">39 + 45 = </p>
       <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
  
</div>
    </form>
  </div>  
</div>
<!--     2nd question                -->
<div class="mySlides">
    <div class="card-header">
        <h3 class="card-title">2.</h3>
    </div>
    <div class="card-body"> 
      <form  name="quiz2">
          <p class="q">167 - 94 =</p>
          <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
  
</div>
      </form>
    </div>
</div>
<!--   3rd question       -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">3.</h3></div>      <div class="card-body"> 
    <form  name="quiz3">
        <p class="q">63 x 8 =</p>
          <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--4th question        -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">4.</h3></div>      <div class="card-body"> 
    <form  name="quiz4">
       <p class="q">162 &#247; 9  =</p>
          <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--    5th question    -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">5.</h3></div>      <div class="card-body"> 
    <form  name="quiz5">
        <img src="img/habs2013/habs4a.png" alt="" class="img-fluid"><p class="q">Jo buys one tea, one sandwich and one cake. Work out the total cost.</p><br>
         <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--   6th question     -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">6.</h3></div>      <div class="card-body"> 
    <form  name="quiz6">
        <p class="q">Sam’s grandma gives him £500 for his birthday. He wants to buy a Playstation 3 which costs £399 and a Nintendo Wii which costs £180. How much more does he need to save before he can buy both of them?</p>
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--7th question        -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">7.</h3></div>      <div class="card-body"> 
    <form  name="quiz7">
     <p class="q">Write fourteen thousand and twenty-eight in figures.</p><br>
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--    8th question    -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">8.</h3></div>      <div class="card-body"> 
    <form  name="quiz8">
        <img src="img/habs2013/habs8.png" alt="" class="img-fluid">
        <p class="q">Which of these fractions in the largest?</p><br>
         <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--   9th question     -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">9.</h3></div>      <div class="card-body"> 
    <form  name="quiz9">
        <p class="q">Arrange these numbers in order of size, starting with the smallest:</p><br>
        <p class="q">1.01, 0.005, 1.006, 0.024</p>
       
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 10-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">10.</h3></div>      <div class="card-body"> 
    <form  name="quiz10">
        <p class="q">If I cut 4 cakes into 6 pieces each, 3 cakes into 4 pieces each and 1 cake into 12 pieces, how many pieces of cake do I have altogether?</p>
       
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--        question 11a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">11a.</h3></div>      <div class="card-body"> 
    <form  name="quiz11">
        <p class="q">Fill in the blanks in these sums:</p>
       
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 11b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">11b.</h3></div>      <div class="card-body"> 
    <form  name="quiz12">
        <p class="q">Fill in the blanks in these sums:</p>
       
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 12-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">12.</h3></div>      <div class="card-body"> 
    <form  name="quiz13">
        <p class="q">Here is a recipe for chickpea curry for 4 people:</p>
        <p class="q">2 onions</p><br>
        <p class="q">200g of potatoes</p><br>
        <p class="q">400g of chickpeas</p><br>
        <p class="q">1 teaspoon of curry powder</p><br>


<p class="q">Work out the amount of potatoes needed to make curry for 10 people</p>
       
        <div class="ui  input focus">
  <input type="text" placeholder="potatoes" name="question1">
</div>
        
    </form>
    </div>
</div>
<!--        question 13a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">13a.</h3></div>      <div class="card-body"> 
    <form  name="quiz14">
        <p class="q">A man builds a garage in 6 days, working 6 hours a day. How many hours did it take altogether?</p>
       
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div> 
        <!--        question 13b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">13b.</h3></div>      <div class="card-body"> 
    <form  name="quiz15">
        <p class="q">A man builds a garage in 6 days, working 6 hours a day.If he wanted to finish the job in 4 days, how many hours a day would he have needed to work?</p>
       
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 14-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">14a.</h3></div>      <div class="card-body"> 
    <form  name="quiz16">
        <img src="img/habs2013/habs14.png" alt="" class="img-fluid">
        <p class="q">How much would 18 seats in the stalls cost?</p>
       
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--        question 14b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">14b.</h3></div>      <div class="card-body"> 
    <form  name="quiz17">
        <img src="img/habs2013/habs14.png" alt="" class="img-fluid">
        <p class="q">How much more expensive would it be to take 18 seats in the circle?
</p>
       
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
         <!--        question 14c-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">14c.</h3></div>      <div class="card-body"> 
    <form  name="quiz18">
        <img src="img/habs2013/habs14.png" alt="" class="img-fluid">
        <p class="q">How many seats could be bought in the upper circle for £92?
</p>
       
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
          <!--        question 14d-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">14d.</h3></div>      <div class="card-body"> 
    <form  name="quiz19">
        <img src="img/habs2013/habs14.png" alt="" class="img-fluid">
        <p class="q">If you had to buy at least one of each type, what is the maximum number of seats that could be bought for £41?</p>     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
                  <!--        question 15a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">15a.</h3></div>      <div class="card-body"> 
    <form  name="quiz20">
        
        <p class="q">Answer true or false for the following statement:
When you multiply an even number by an odd number, you get an even number.</p>     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 15b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">15b.</h3></div>      <div class="card-body"> 
    <form  name="quiz21">
        <p class="q">Answer true or false for the following statement:
When you add an even number to an odd number, you get an even number.</p>     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 15c-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">15c.</h3></div>      <div class="card-body"> 
    <form  name="quiz22">
        <p class="q">Answer true or false for the following statement:
When you multiply any two numbers, the answer is always bigger than either of them.</p>     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 16a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">16a.</h3></div>      <div class="card-body"> 
    <form  name="quiz23">
        <p class="q">
A second man throws a javelin and beats the world record by 7m.
A third man throws a javelin 98m, which is 9m further than the second man’s throw.
</p>    <br>
        <p class="q">What was the original world record?</p>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 16b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">16b.</h3></div>      <div class="card-body"> 
    <form  name="quiz24">
      <p class="q">
A second man throws a javelin and beats the world record by 7m.
A third man throws a javelin 98m, which is 9m further than the second man’s throw.
</p>    <br>
        <p class="q">How far did the first man throw his javelin?</p>    
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--        question 17a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">17a.</h3></div>      <div class="card-body"> 
    <form  name="quiz25">
        <p class="q">30 students were asked if they liked coffee. 20 of the student were girls.
6 boys liked coffee.
12 girls did not like coffee.</p> 
        <p class="q">How many boys did not like coffee?</p>
        <img src="img/habs2013/habs17.png" alt="" class="img-fluid"><br>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 17b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">17b.</h3></div>      <div class="card-body"> 
    <form  name="quiz26">
       <p class="q">30 students were asked if they liked coffee. 20 of the student were girls.
6 boys liked coffee.
12 girls did not like coffee.</p> 
        <p class="q">How many girls liked coffee?</p> 
        <img src="img/habs2013/habs17.png" alt="" class="img-fluid"><br>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 17c-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">17c.</h3></div>      <div class="card-body"> 
    <form  name="quiz27">
        <p class="q">30 students were asked if they liked coffee. 20 of the student were girls.
6 boys liked coffee.
12 girls did not like coffee.</p> 
        <p class="q">How many boys were there?</p>     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 18a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">18a.</h3></div>      <div class="card-body"> 
    <form  name="quiz28">
        <p class="q">The average weight of four boys is 55kg. What is the total weight of the four boys?</p>     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 18b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">18b.</h3></div>      <div class="card-body"> 
    <form  name="quiz29">
        <p class="q">The average weight of four boys is 55kg. A fifth boy, whose weight is 65 kg, joins the group. What is the average weight of the five boys?</p>     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 19-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">19.</h3></div>      <div class="card-body"> 
    <form  name="quiz30">
        <p class="q">The ages of Henry, James and Toby add up to 104. Henry is twice as old as James and James and Toby are twins. How old is Henry?</p>     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 20-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">20.</h3></div>      <div class="card-body"> 
    <form  name="quiz31">
        <p class="q">3 ducks have a race.
Duck A finishes 38 seconds ahead of duck B, who finishes 17 seconds behind duck C.
How many seconds is duck A ahead of duck C?</p>     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 21a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">21a.</h3></div>      <div class="card-body"> 
    <form  name="quiz32">
        <p class="q">Here is a list of numbers</p><br>
        <p class="q">1, 2, 3, 4, 6, 7, 11, 12, 15, 16, 19, 21, 22, 24</p><br>
        <p class="q">Write down all the odd multiples of 3</p>
        <p class="q">In order of lowest to biggest</p>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 21b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">21b.</h3></div>      <div class="card-body"> 
    <form  name="quiz33">
          <p class="q">Here is a list of numbers</p><br>
        <p class="q">1, 2, 3, 4, 6, 7, 11, 12, 15, 16, 19, 21, 22, 24</p><br>
        <p class="q">Write down all the odd numbers that are not multiples of 3</p>  
        <p class="q">In order of lowest to biggest</p>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--        question 21c-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">21c.</h3></div>      <div class="card-body"> 
    <form  name="quiz34">
          <p class="q">Here is a list of numbers</p><br>
        <p class="q">1, 2, 3, 4, 6, 7, 11, 12, 15, 16, 19, 21, 22, 24</p><br>
        <p class="q">Write down all the multiples of 3 that are not odd</p><p class="q">In order of lowest to biggest</p>     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--        question 21d-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">21d.</h3></div>      <div class="card-body"> 
    <form  name="quiz35">
          <p class="q">Here is a list of numbers</p><br>
        <p class="q">1, 2, 3, 4, 6, 7, 11, 12, 15, 16, 19, 21, 22, 24</p><br>
        <p class="q">Write down all the numbers that are not multiples of 3 and not odd</p> <p class="q">In order of lowest to biggest</p>  
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
               <!--        question 22-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">22.</h3></div>      <div class="card-body"> 
    <form  name="quiz36">
          <p class="q">On planet Sox, there are 10 millisoxes in a gramsox, 20 gramsoxes in a kilosox and 100 kilosoxes in a tonnesox.</p><br>
        <p class="q"></p>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--        question 23-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">23.</h3></div>      <div class="card-body"> 
    <form  name="quiz37">
        <img src="img/habs2013/habs23.png" alt="" class="img-fluid">
        <p class="q">What is the next answer after 31</p>     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--        question 24a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">24a.</h3></div>      <div class="card-body"> 
    <form  name="quiz38">
        <p class="q">The following table shows how certain weights are made up. Only 0, 1, or 2 can be placed in the appropriate column, depending on the number of those weights used. Complete the table.</p>   <br>
        <img src="img/habs2013/habs24.png" alt="" class="img-fluid"><br>
        <p class="q">If the total weigth is 30g, how many 27g weights are used? </p>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--        question 24b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">24b.</h3></div>      <div class="card-body"> 
    <form  name="quiz39">
          <p class="q">The following table shows how certain weights are made up. Only 0, 1, or 2 can be placed in the appropriate column, depending on the number of those weights used. Complete the table.</p>   <br>
        <p class="q">If the total weigth is 42g, how many 9g weights are used?</p>   
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--        question 24c-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">24c.</h3></div>      <div class="card-body"> 
    <form  name="quiz40">
          <p class="q">The following table shows how certain weights are made up. Only 0, 1, or 2 can be placed in the appropriate column, depending on the number of those weights used. Complete the table.</p>   <br>
        <p class="q">If the total weigth is 55g, how many 27g weights are used? </p>   
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--        question 24d-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">24d.</h3></div>      <div class="card-body"> 
    <form  name="quiz41">
         <p class="q">The following table shows how certain weights are made up. Only 0, 1, or 2 can be placed in the appropriate column, depending on the number of those weights used. Complete the table.</p>   <br>
        <p class="q">If the total weigth is 80g, how many 1g weights are used?</p>     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--        question 25-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">25.</h3></div>      <div class="card-body"> 
    <form  name="quiz42">
        Tanya has lots of cubes with sides of 3 cm.
How many cubes are needed to completely fill a box measuring 24 cm by 15 cm by 15 cm ?     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--        question 26a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">26a.</h3></div>      <div class="card-body"> 
    <form  name="quiz43">
        <img src="img/habs2013/habs26.png" alt="" class="img-fluid">
        <p class="q">Some small cubes are put together as shown in the diagram to make a larger cube.</p> 
        <p class="q">How many small cubes are there?</p>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--        question 26b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">26b.</h3></div>      <div class="card-body"> 
    <form  name="quiz44">
        <img src="img/habs2013/habs26.png" alt="" class="img-fluid">
        <p class="q">Some small cubes are put together as shown in the diagram to make a larger cube.</p> 
        <p class="q">If this large cube was put on a wooden table, how many of the small cubes would not be visible from any angle?</p>     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
                <!--        question 26c-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">26c.</h3></div>      <div class="card-body"> 
    <form  name="quiz45">
        <img src="img/habs2013/habs26.png" alt="" class="img-fluid">
        <p class="q">How many small cubes must be removed to leave a cube of a different size? (Two possible answers)</p>     
<div class="ui  input focus">
  <input type="text" placeholder="2 possible answers" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 27a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">27a.</h3></div>      <div class="card-body"> 
    <form  name="quiz46">
        <p class="q">This diagram shows a simple abacus with nine beads representing the number 423. The maximum number of beads that can be placed on any column is nine.</p><br>
        <img src="img/habs2013/habs27.png" alt="" class="img-fluid"><br>
        <p class="q">If there are twenty beads, and all of them have to be used,what is the largest number that can be represented?</p>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 27b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">27b.</h3></div>      <div class="card-body"> 
    <form  name="quiz47">
        <img src="img/habs2013/habs27.png" alt="" class="img-fluid"><br>
          <p class="q">This diagram shows a simple abacus with nine beads representing the number 423. The maximum number of beads that can be placed on any column is nine.</p><br>
        <p class="q">If there are twenty beads, and all of them have to be used,what is the smallest number that can be represented?</p>     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
                <!--        question 28-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">28.</h3></div>      <div class="card-body"> 
    <form  name="quiz48">
        <p class="q">John had a bag of sweets and ate four of them himself.
He gave away half of those which were left and then found that when he had eaten another one there were now three left.
How many sweets were there in the bag to begin with?</p>     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 29a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">29a.</h3></div>      <div class="card-body"> 
    <form  name="quiz49">
        <p class="q">Charlie buys 20 marbles for £2.80. How much does each marble cost?
</p>     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 29bi-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">29b(i).</h3></div>      <div class="card-body"> 
    <form  name="quiz50">
        <p class="q">Charlie buys 20 marbles for £2.80.The next day, Rebecca and Susie visit the same shop to find that there is a special offer of ‘buy one, get one half price’.
How much does Rebecca have to spend if she also wants 20 marbles?</p>     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
      <!--        question 29b(ii)-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">29b(ii).</h3></div>      <div class="card-body"> 
    <form  name="quiz51">
        <p class="q">Charlie buys 20 marbles for £2.80.The next day, Rebecca and Susie visit the same shop to find that there is a special offer of ‘buy one, get one half price’.If Susie has £2.80, what is the maximum number of marbles that she can get?</p>     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>  
<!--        question 30a-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">30a.</h3></div>      <div class="card-body"> 
    <form  name="quiz52">
        <p class="q">Alex takes a multiple choice test in Maths. Ben then takes the same test. He is followed by Craig, David and last of all, Edward.
<p>Alex answers 40 questions.</p><br> <p>Ben answers 35 questions.</p><br><p> Craig answers 30 questions.</p><br> <p>David answers 20 questions.<p>Edward answers 15 questions.</p> <br><p>
Craig takes one hour to answer all his questions.</p> <br>
        <p class="q">
Assuming that Craig takes the same time to answer each question, how long does he take to answer each one?</p>
<div class="ui  input focus">
  <input type="text" placeholder="minutes" name="question1">
</div>
    </form>
    </div>
</div> 
        <!--        question 30b-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">30b.</h3></div>      <div class="card-body"> 
    <form  name="quiz53">
        <p class="q">Craig takes 60 minutes to answer all the questions. If each person on the list takes twice as long per question as the person before him, with Alex first and Edward last. How long did Edward spend on each question.</p>     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div> 
<!--        question 30c-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">30c.</h3></div>      <div class="card-body"> 
    <form  name="quiz54">
        <p class="q">How much time do they spend altogether in hours and minutes?</p>     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div> 
<!--        buttons-->
<div class="container" >
    <div class="row" style="margin: 0 auto">
        <button type="button" id="button1" class="btn btn-success btn-raised"> Check </button>
        <button type="button" id="next1" class="btn btn-primary btn-raised"onclick="plusSlides(1)"> Next </button>
        <button type="button" id="button" class="btn btn-danger btn-raised" data-toggle="modal" data-target="#myModal4"> Total Score </button>     
    </div>
</div>
        
<div class="container" >
    <div class="row" style="margin: 0 auto">
        <span id="tick" class="ms-icon ms-icon-lg ms-icon-circle color-success">
            <i class="fa fa-check"></i>
        </span>
        <span id="wrong" class="ms-icon ms-icon-lg ms-icon-circle color-danger">
            <i class="fa fa-remove"></i>
        </span>    
    </div>
</div>
        
        
<div id="msg"></div>
<div class="dot-container">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span> 
  <span class="dot" onclick="currentSlide(5)"></span> 
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span> 
  <span class="dot" onclick="currentSlide(8)"></span> 
  <span class="dot" onclick="currentSlide(9)"></span>
    <span class="dot" onclick="currentSlide(10)"></span> 
     <span class="dot" onclick="currentSlide(11)"></span> 
  <span class="dot" onclick="currentSlide(12)"></span> 
  <span class="dot" onclick="currentSlide(13)"></span>
  <span class="dot" onclick="currentSlide(14)"></span> 
  <span class="dot" onclick="currentSlide(15)"></span> 
  <span class="dot" onclick="currentSlide(16)"></span>
  <span class="dot" onclick="currentSlide(17)"></span> 
  <span class="dot" onclick="currentSlide(18)"></span> 
  <span class="dot" onclick="currentSlide(19)"></span>
    <span class="dot" onclick="currentSlide(20)"></span>
    <span class="dot" onclick="currentSlide(21)"></span> 
  <span class="dot" onclick="currentSlide(22)"></span> 
  <span class="dot" onclick="currentSlide(23)"></span>
  <span class="dot" onclick="currentSlide(24)"></span> 
  <span class="dot" onclick="currentSlide(25)"></span> 
  <span class="dot" onclick="currentSlide(26)"></span>
  <span class="dot" onclick="currentSlide(27)"></span> 
  <span class="dot" onclick="currentSlide(28)"></span> 
  <span class="dot" onclick="currentSlide(29)"></span>
    <span class="dot" onclick="currentSlide(30)"></span>
    <span class="dot" onclick="currentSlide(31)"></span> 
     <span class="dot" onclick="currentSlide(32)"></span>
  <span class="dot" onclick="currentSlide(33)"></span>
  <span class="dot" onclick="currentSlide(34)"></span> 
  <span class="dot" onclick="currentSlide(35)"></span> 
  <span class="dot" onclick="currentSlide(36)"></span>
  <span class="dot" onclick="currentSlide(37)"></span> 
  <span class="dot" onclick="currentSlide(38)"></span> 
  <span class="dot" onclick="currentSlide(39)"></span>
    <span class="dot" onclick="currentSlide(40)"></span>
    <span class="dot" onclick="currentSlide(41)"></span> 
  <span class="dot" onclick="currentSlide(42)"></span> 
  <span class="dot" onclick="currentSlide(43)"></span>
  <span class="dot" onclick="currentSlide(44)"></span> 
  <span class="dot" onclick="currentSlide(45)"></span> 
  <span class="dot" onclick="currentSlide(46)"></span>
  <span class="dot" onclick="currentSlide(47)"></span> 
  <span class="dot" onclick="currentSlide(48)"></span> 
  <span class="dot" onclick="currentSlide(49)"></span>
    <span class="dot" onclick="currentSlide(50)"></span>
  <span class="dot" onclick="currentSlide(51)"></span> 
  <span class="dot" onclick="currentSlide(52)"></span>
    <span class="dot" onclick="currentSlide(53)"></span>
    <span class="dot" onclick="currentSlide(54)"></span>
</div>    
<!-- last 2 divs from top of card-->
     </div>
        </div>
 <div id="example"></div> 
<!-- Modal -->
<div class="modal modal-primary" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel4"> You have scored </h3>            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="zmdi zmdi-close"></i></span>
                    </button>
            </div>
        <div class="modal-body">
            <div class="alert alert-info alert-light " role="alert"><p id="badge"></p>
            </div>
                <div class="alert alert-info alert-light " role="alert"><p id="points"></p>
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>    
        </div>
      </div>
    </div>
</div>
<script>
    $("#example").load("./config");
     
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);    
    document.getElementById("tick").style.visibility = "hidden";
    document.getElementById("wrong").style.visibility = "hidden";
    document.getElementById("msg").style.visibility = "hidden";

}

function currentSlide(n) {
  showSlides(slideIndex = n);
    document.getElementById("tick").style.visibility = "hidden";
    document.getElementById("wrong").style.visibility = "hidden";
    document.getElementById("msg").style.visibility = "hidden";
  
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
    if(slideIndex==54){
        document.getElementById("next1").style.visibility = "hidden";
    }
}    
    var correct = 0;
   
    $("#button1").click(function(){       
        var question1 = document.quiz1.question1.value;  
        var question2 = document.quiz2.question1.value;
        var question3 = document.quiz3.question1.value;
        var question4 = document.quiz4.question1.value;
        var question5 = document.quiz5.question1.value;
        var question6 = document.quiz6.question1.value;
        var question7 = document.quiz7.question1.value;
        var question8 = document.quiz8.question1.value;
        var question9 = document.quiz9.question1.value;
        var question10 = document.quiz10.question1.value;
        var question11 = document.quiz11.question1.value;
        var question12 = document.quiz12.question1.value;
        var question13 = document.quiz13.question1.value;
        var question14 = document.quiz14.question1.value;
        var question15 = document.quiz15.question1.value;
        var question16 = document.quiz16.question1.value;
        var question17 = document.quiz17.question1.value;
        var question18 = document.quiz18.question1.value;
        var question19 = document.quiz19.question1.value;
        var question20 = document.quiz20.question1.value;
        var question21 = document.quiz21.question1.value;
        var question22 = document.quiz22.question1.value;
        var question23 = document.quiz23.question1.value;
        var question24 = document.quiz24.question1.value;
        var question25 = document.quiz25.question1.value;
        var question26 = document.quiz26.question1.value;
        var question27 = document.quiz27.question1.value;
        var question28 = document.quiz28.question1.value;
        var question29 = document.quiz29.question1.value;
        var question30 = document.quiz30.question1.value;
        var question31 = document.quiz31.question1.value;
        var question32 = document.quiz32.question1.value;
        var question33 = document.quiz33.question1.value;
        var question34 = document.quiz34.question1.value;
        var question35 = document.quiz35.question1.value;
        var question36 = document.quiz36.question1.value;
        var question37 = document.quiz37.question1.value;
        var question38 = document.quiz38.question1.value;
        var question39 = document.quiz39.question1.value;
        var question40 = document.quiz40.question1.value;
        var question41 = document.quiz41.question1.value;
        var question42 = document.quiz42.question1.value;
        var question43 = document.quiz43.question1.value;
        var question44 = document.quiz44.question1.value;
        var question45 = document.quiz45.question1.value;
        var question46 = document.quiz46.question1.value;
        var question47 = document.quiz47.question1.value;
        var question48 = document.quiz48.question1.value;
        var question49 = document.quiz49.question1.value;
        var question50 = document.quiz50.question1.value;
        var question51 = document.quiz51.question1.value;
        var question52 = document.quiz52.question1.value;
        var question53 = document.quiz53.question1.value;
        var question54 = document.quiz54.question1.value;
        
       
       
        //2nd question
       if(slideIndex==2&&question2 == 73){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
           document.getElementById("msg").style.visibility = "visible";
           document.getElementById("msg").textContent= " Correct!";
            correct++;
           //third question
  } else if(slideIndex==3&&question3 == 504){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
      document.getElementById("msg").style.visibility = "visible";
      document.getElementById("msg").textContent= " Correct!";
      correct++;
  }
        //first question
         else if(slideIndex==1&&question1 == 84){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
        //4th question 
        else if(slideIndex==4&&question4 == 18){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
        //5th question 
        else if(slideIndex==5&&question5 == 6.49){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
        //6th question
        else if(slideIndex==6&&question6 == 79){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
        //7th question
        else if(slideIndex==7&&question7 == 14028){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
    //8th question
        else if(slideIndex==8&&question8 == 9/16){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  }     
        //9th question
        else if(slideIndex==9&&question9 == "0.005, 0.024, 1.006, 1.01"||slideIndex==9&&question9 == "0.005,0.024,1.006,1.01"){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
        //10th question 
        else if(slideIndex==10&&question10 == 48){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
        //11a question 
        else if(slideIndex==11&&question11 == 422){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
        //11b question
        else if(slideIndex==12&&question12 == 140){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
        // question 12
        else if(slideIndex==13&&question13 ==500||slideIndex==13&&question13 == '500g'||slideIndex==13&&question13 == '500grams'||slideIndex==13&&question13 == '500 grams'){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
    //13a question
        else if(slideIndex==14&&question14 == 36||slideIndex==14&&question14 == '36 hours'){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  }     
        //13b question
        else if(slideIndex==15&&question15 == 9||slideIndex==15&&question15 == '9 hours'){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  }  
             //14a question 
        else if(slideIndex==16&&question16 == 90){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
        //14b question
        else if(slideIndex==17&&question17 == 36){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
        //14c question
        else if(slideIndex==18&&question18 == 23){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
    //14d question
        else if(slideIndex==19&&question19 == 8){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  }     
        //15a question
        else if(slideIndex==20&&question20 == 'True'||slideIndex==20&&question20 == 'true'){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
        //15b question 
        else if(slideIndex==21&&question21 == 'false'||slideIndex==21&&question21 == 'False'){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
        //15c question 
        else if(slideIndex==22&&question22 == 'False'||slideIndex==22&&question22 == 'false'){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
        //16a question
        else if(slideIndex==23&&question23 == 83){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
        //16b question
        else if(slideIndex==24&&question24 == 65){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
    //17a question
        else if(slideIndex==25&&question25 == 4){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  }     
//17b question
        else if(slideIndex==26&&question26 == 8){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  }  
//17c question 
        else if(slideIndex==27&&question27 == 10){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
 //18a question
        else if(slideIndex==28&&question28 == 220){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
//18b question
        else if(slideIndex==29&&question29 == 57){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
//19 question
        else if(slideIndex==30&&question30 == 52){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  }     
//20 question
        else if(slideIndex==31&&question31 == 21){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
 //21a question 
        else if(slideIndex==32&&question32 == '3, 15, 21'||slideIndex==32&&question32 == '3,15,21'||slideIndex==32&&question32 == '15, 3, 21'||slideIndex==32&&question32 == '21, 15, 3'){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
//21b question 
        else if(slideIndex==33&&question33 == '6,12,24'||slideIndex==33&&question33 == '6, 12, 24'){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
//21c question
        else if(slideIndex==34&&question34 == '1, 7, 11, 19'){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
//21d question
        else if(slideIndex==35&&question35 == '2,4,16,22'||slideIndex==35&&question35 == '2, 4, 16, 22'){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
//22 question
        else if(slideIndex==36&&question36 == 15000){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  }     
//23 question
        else if(slideIndex==37&&question37 == 56){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  }  
//24a question 
        else if(slideIndex==38&&question38 == 1){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
        //24b question
        else if(slideIndex==39&&question39 == 1){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
        //24c question
        else if(slideIndex==40&&question40 == 2){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
    //24d question
        else if(slideIndex==41&&question41 == 2){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  }     
//25 question
        else if(slideIndex==42&&question42 == 200){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
//26a question 
        else if(slideIndex==43&&question43 == 27){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
//26b question 
        else if(slideIndex==44&&question44 == 2){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
//26c question
        else if(slideIndex==45&&question45 == 19||slideIndex==45&&question45 == 26){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
//27a question
        else if(slideIndex==46&&question46 == 992){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
//27b question
        else if(slideIndex==47&&question47 == 299){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  }     
//28th question
        else if(slideIndex==48&&question48 == 12){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
//29a question
        else if(slideIndex==49&&question49 == 14){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
//29b(i) question
        else if(slideIndex==50&&question50 == '2.10'){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
//29b(ii) question
        else if(slideIndex==51&&question51 == 26){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  }     
//30a question
        else if(slideIndex==52&&question52 == 2){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
//30b question
        else if(slideIndex==53&&question53 == 120){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  }     
        //30c question
        else if(slideIndex==54&&question54 == '5 hours 15 minutes'){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
        else {
      document.getElementById("wrong").style.visibility = "visible";
            document.getElementById("msg").style.visibility = "visible";
    document.getElementById("msg").textContent= " Not Yet"; 
  } 
    
        if(correct>0){
            document.getElementById("badge").textContent= "Total questions correct: " + correct + " / 54";  
        }
       });
        
   
    function checkAnswer(){
        
        var id =  $("#userId").text(); 
        var url = "https://api.mlab.com/api/1/databases/maths_app/collections/users/";
        var api= $("#example").text();
        var idAndApi = id + api;
        
        var sliced = id.slice(0,-1);
        var finalApi = url + sliced +api;
        
        $.ajax({           
            url: finalApi,
            type:"put",
                data: JSON.stringify( { "$inc" : { "score" : 30 } } ),
            contentType:"application/json",
            success:function(data){
                getScore();
                $("#jquery").text(data.score);
            },
            error:function(xhr, status, error){
                console.log(error);
            }
        });
        
    function getScore(){        
        var id =  $("#userId").text(); 
        var url = "https://api.mlab.com/api/1/databases/maths_app/collections/users/";
        var api= $("#example").text();
        var idAndApi = id + config;
        
        var sliced = id.slice(0,-1);
        var finalApi = url + sliced +api;
    $.ajax({          
        url:finalApi,
            type:"get",
            data: JSON.stringify(),
            contentType:"application/json",
            success:function(data){
                $("#jquery").text(data.score);
            },
            error:function(xhr, status, error){
                console.log(error);
            }
        });   
    }
       };
   $("input").attr("maxlength", 5)
</script>


<% include ./partials/footer %>
            
      
    
