<% include ./partials/headerfront %>
      <style>
#video-intro{
    
		position: relative;
		z-index: 1;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-width: 100%; 
		min-height: 100%;
		overflow: hidden;
		margin: auto;
        height: 500px;
    max-width:1200px;
	}
</style>
     
     <header class="wrap wrap-mountain mt--40">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 pr-12">
              <h1 class="animated fadeInDown animation-delay-5 color-white">The best 11+ Maths Preparation Course to help your child<strong> stand out</strong></h1>
              <p class="lead animated fadeInDown animation-delay-5 color-white mb-2">Work through a specialised range of tutorial videos and practice questions for Independent, Grammar and Scholarship papers.</p>  
               
            </div>
          </div>
        </div>
      </header>
   
<div class="container mt-6">
    <h2 class="text-center color-primary mb-2 wow fadeInDown animation-delay-4">SPECIAL OFFER! Access the full site for FREE until 31st October 2019. Click below:</h2>
</div>
<div style="text-align: center">
        <div style="display:inline-block">
    <a href="/registerfree" class="btn btn-raised btn-royal">Sign Up for FREE access here</a>
        </div>
    </div>
<!--
      <div class="container mt-6">
        <h2 class="text-center color-primary mb-2 wow fadeInDown animation-delay-4"></h2>
        <p class="lead text-center aco wow fadeInDown animation-delay-5 mw-800 center-block mb-4"> Master the questions that 
          <span class="color-primary"> matter </span> to help your child go from good to GREAT!  </p>
</div>
-->
<div class="col-md-12">
        <div class="row">    
            <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="card card-royal-inverse wow fadeInLeft animation-delay-3">
              <div class="text-center card-body">
                <span class="ms-icon ms-icon-circle ms-icon-white ms-icon-inverse ms-icon-xxlg ">
                  <i class="fa fa-play-circle"></i>
                </span>
                <h4 class="">Video Tutorials</h4>
                <p class="">Watch simple to follow bite-size demonstrations on how to answer the challenging problems that will give your child the edge over everybody else.</p>
             
              </div>
            </div>
          </div>
            
          <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="card card-warning-inverse wow fadeInLeft animation-delay-4">
              <div class="text-center card-body">
                <span class="ms-icon ms-icon-circle ms-icon-white ms-icon-inverse ms-icon-xxlg ">
                  <i class="fa fa-file-o"></i>
                </span>
                <h4 class="">Practise Questions</h4>
                <p class="">After watching the videos, apply the learning to questions that are based on the past papers of elite Independent, Grammar and Scholarship papers.</p>
              </div>
            </div>
          </div>
          
          <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="card card-success-inverse wow fadeInRight animation-delay-3">
              <div class="text-center card-body">
                <span class="ms-icon ms-icon-circle ms-icon-white ms-icon-inverse ms-icon-xxlg ">
                  <i class="fa fa-file-o"></i>
                </span>
                <h4 class="">Track Your Progress</h4>
                <p class="">This is a fully interactive programme that tracks your child's progress. Collect points and medals to motivate your child to carry on progressing. </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="card card-danger-inverse wow fadeInRight animation-delay-4">
              <div class="text-center card-body">
                <span class="ms-icon ms-icon-circle ms-icon-white ms-icon-inverse ms-icon-xxlg ">
                  <i class="fa fa-line-chart"></i>
                </span>
                <h4 class="">Practice Papers</h4>
                <p class="">Perfect your exam technique with our interactive practice papers from a wide range of elite schools. Enter your answers for immediate feedback. </p>
              </div>
            </div>
          </div>
        </div>
      </div>



    
    <div class="col-md-12" style="text-align:center" >
        <p id="examplevids"></p>
    <h3  style="font-color:black">Here are three examples from our 40 tutorial videos on the questions that make the difference. </h3>
    </div><br>

<div class="col-md-12" style="text-align:center">
   
<div class="row">
<div class="col-md-4">
        
        <div class="card card-info-inverse">
            <div class="card-header">
                <h3 class="card-title"><i class="zmdi zmdi-youtube-play"></i> Angles around a clockface</h3>
            </div>
            <div class="js-player">
            <script src="https://snowytopmaths.cdn.vooplayer.com/assets/vooplayer.js"></script><iframe allow="autoplay" class="video-player-container vooplayer" data-playerId="MTUyMTQ5" allowtransparency="true" style="max-width:100%" name="vooplayerframe" allowfullscreen="true" src="" watch-type="" url-params="" frameborder="0" scrolling="no"> </iframe>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        
        <div class="card card-info-inverse">
            <div class="card-header">
                <h3 class="card-title"><i class="zmdi zmdi-youtube-play"></i> Worded Problems</h3>
            </div>
            <div class="js-player">
            <script src="https://snowytopmaths.cdn.vooplayer.com/assets/vooplayer.js"></script><iframe allow="autoplay" class="video-player-container vooplayer" data-playerId="MTQ3MDQ4" allowtransparency="true" style="max-width:100%" name="vooplayerframe" allowfullscreen="true" src="" watch-type="" url-params="" frameborder="0" scrolling="no"> </iframe>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        
        <div class="card card-info-inverse">
            <div class="card-header">
                <h3 class="card-title"><i class="zmdi zmdi-youtube-play"></i> Common Multiples</h3>
            </div>
            <div class="js-player">
            <script src="https://snowytopmaths.cdn.vooplayer.com/assets/vooplayer.js"></script><iframe allow="autoplay" class="video-player-container vooplayer" data-playerId="MTQ3MDMw" allowtransparency="true" style="max-width:100%" name="vooplayerframe" allowfullscreen="true" src="" watch-type="" url-params="" frameborder="0" scrolling="no"> </iframe>
            </div>  
        </div>
    </div>
</div>
</div>
                
      <!-- container -->
        
        
<div class="col-md-12">
     <p id="example"></p>
        <div class="text-center mb-8">      
          <h1 class="no-m ms-site-title color-primary center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Example Questions</h1>
          <p class="lead lead-lg color-danger text-center center-block mt-2 mb-4 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">Here is a small sample of questions that will make your child
              <a href ="/register">stand out</a> from the crowd. <a href ="/register">Sign up </a>to view easy-to-follow tutorials on how to break down the problems into straight forward steps. </p>
        </div>
</div>
<div class="col-md-12">
        <div class="row">
          <div class="col">
            <div class="row masonry-container">
              <div class="col-lg-4 col-md-6 masonry-item wow fadeInUp animation-delay-2">
                <div class="card">
                  <figure class="ms-thumbnail ms-thumbnail-horizontal">
                    <img src="img/mountain.jpg" alt="" class="img-fluid">
                    <figcaption class="ms-thumbnail-caption text-center">
                      <div class="ms-thumbnail-caption-content">
                        <h4 class="ms-thumbnail-caption-title mb-2">SnowyTop Maths</h4>
                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger">
                          <i class="zmdi zmdi-favorite"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning">
                          <i class="zmdi zmdi-star"></i>
                        </a>
                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success">
                          <i class="zmdi zmdi-share"></i>
                        </a>
                      </div>
                    </figcaption>
                  </figure>
                </div>
              </div>
              
              <!-- item -->
              <div class="col-lg-4 col-md-6 masonry-item wow fadeInUp animation-delay-2">
                <div class="card">
                  <figure class="ms-thumbnail ms-thumbnail-horizontal">
                    
                    <figcaption class="ms-thumbnail-caption text-center">
                      <div class="ms-thumbnail-caption-content">
                        
                      </div>
                    </figcaption>
                  </figure>
                  <div class="card-body overflow-hidden text-center">
                    <a href="javascript:void(0)" class="btn-circle btn-circle-royal btn-circle-raised btn-card-float right wow zoomInDown index-2">
                      <i class="zmdi zmdi-star"></i>
                    </a>
                    <h4 class="color-royal">Sequences</h4>
                    <p>The rule for the sequence is " each number after the third number is the sum of the previous 3 numbers".</p>
                    <p>Find the missing numbers in the sequence:  5, __ , 12 , __ , 49</p>
                    
                  </div>
                </div>
              </div>
               
              <!-- item -->
              <div class="col-lg-4 col-md-6 masonry-item wow fadeInUp animation-delay-2">
                <div class="card">
                  
                  <div class="card-body overflow-hidden text-center">
                    <a href="javascript:void(0)" class="btn-circle btn-circle-danger btn-circle-raised btn-card-float right wow zoomInDown index-2">
                      <i class="zmdi zmdi-star"></i>
                    </a>
                    <h4 class="color-danger">Multiples</h4>
                    <p>A field in a farm consists of a number of cows and humans only. In total, there are 36 ears and 56 legs. How many cows are in the field?</p>
                    
                  </div>
                </div>
              </div>
                 
                <div class="col-lg-4 col-md-6 masonry-item wow fadeInUp animation-delay-2">
                <div class="card">
                  
                  <div class="card-body overflow-hidden text-center">
                    <a href="javascript:void(0)" class="btn-circle btn-circle-danger btn-circle-raised btn-card-float right wow zoomInDown index-2">
                      <i class="zmdi zmdi-star"></i>
                    </a>
                    <h4 class="color-danger">Fractions</h4>
                    <p>If I ate one half of my birthday cake on Saturday and 4/5 of the remainder of the cake on Sunday. What fraction of the original birthday cake was left on Monday?</p>
                    
                  </div>
                </div>
              </div>
              <!-- item -->

                
              <!-- item -->
              <div class="col-lg-4 col-md-6 masonry-item wow fadeInUp animation-delay-2">
                <div class="card">
                  <figure class="ms-thumbnail ms-thumbnail-horizontal">
                  
                    <figcaption class="ms-thumbnail-caption text-center">
                      <div class="ms-thumbnail-caption-content">
                        
                      </div>
                    </figcaption>
                  </figure>
                  <div class="card-body overflow-hidden text-center">
                    <a href="javascript:void(0)" class="btn-circle btn-circle-info btn-circle-raised btn-card-float right wow zoomInDown index-2">
                      <i class="zmdi zmdi-star"></i>
                    </a>
                    <h4 class="color-info">Worded Number Problems</h4>
                    <p>Michael is 11 years old and his father is 43. How old will Michael be when his father is 12 times as old as Michael was 7 years ago?</p>
                   
                  </div>
                </div>
              </div>
                
              <!-- item -->
              <div class="col-lg-4 col-md-6 masonry-item wow fadeInUp animation-delay-2 category-3">
                <div class="card">
                  <figure class="ms-thumbnail ms-thumbnail-horizontal">
                   
                    <figcaption class="ms-thumbnail-caption text-center">
                      <div class="ms-thumbnail-caption-content">
                        
                      </div>
                    </figcaption>
                  </figure>
                  <div class="card-body overflow-hidden text-center">
                    <a href="javascript:void(0)" class="btn-circle btn-circle-danger btn-circle-raised btn-card-float right wow zoomInDown index-2">
                      <i class="zmdi zmdi-star"></i>
                    </a>
                    <h4 class="color-danger">Fractions</h4>
                    <p>Joanna measured herself 1 year ago and was 120cm tall. She had grown 1/5 of his height since. How tall is she today?</p>
                      <p>Joanna's sister Rachel is now 105 cm tall, having grown 1/6 of her height in 1 year. How tall was Rachel 1 year ago? </p>
                   
                  </div>
                </div>
              </div>
              
         
              <div class="col-lg-4 col-md-6 masonry-item wow fadeInUp animation-delay-2">
                <div class="card">
                  <figure class="ms-thumbnail ms-thumbnail-horizontal">
                    
                    <figcaption class="ms-thumbnail-caption text-center">
                      <div class="ms-thumbnail-caption-content">
                        
                      </div>
                    </figcaption>
                  </figure>
                  <div class="card-body overflow-hidden text-center">
                    <a href="javascript:void(0)" class="btn-circle btn-circle-royal btn-circle-raised btn-card-float right wow zoomInDown index-2">
                      <i class="zmdi zmdi-star"></i>
                    </a>
                    <h4 class="color-royal">Factors and Multiples</h4>
                      <p>This is a 4 digit number: 172?</p> <p></p>The last digit is unknown. However, the 4 digit number is divisible by 3, but not 2. What is the missing digit? </p>
                      <p>What is the remainder when the 4 digit number is divided by 5?</p>
                    
                  </div>
                </div>
              </div>
               
              <!-- item -->
              
              <!-- item -->
              <div class="col-lg-4 col-md-6 masonry-item wow fadeInUp animation-delay-2">
                <div class="card">
                  <figure class="ms-thumbnail ms-thumbnail-horizontal">
                    
                    <figcaption class="ms-thumbnail-caption text-center">
                      <div class="ms-thumbnail-caption-content">
                        
                      </div>
                    </figcaption>
                  </figure>
                  <div class="card-body overflow-hidden text-center">
                    <a href="javascript:void(0)" class="btn-circle btn-circle-danger btn-circle-raised btn-card-float right wow zoomInDown index-2">
                      <i class="zmdi zmdi-star"></i>
                    </a>
                    <h4 class="color-danger">Time</h4>
                    <p>A clock is 15 minutes fast but it slows down at a rate of 20 seconds per hour. How long will it take for the clock to show the correct time? </p>
                    
                  </div>
                </div>
              </div>
              <!-- item -->
              <div class="col-lg-4 col-md-6 masonry-item wow fadeInUp animation-delay-2">
                <div class="card">
                  
                  <div class="card-body overflow-hidden text-center">
                    <a href="javascript:void(0)" class="btn-circle btn-circle-royal btn-circle-raised btn-card-float right wow zoomInDown index-2">
                      <i class="zmdi zmdi-star"></i>
                    </a>
                    <h4 class="color-royal">Data Tables</h4>
                    <p>In a box of 20 chocolates, there are 8 milk chocolate and 12 dark chocolates. Of the 20, 16 have nuts in them. How many milk chocolates contain nuts?</p>
                    
                  </div>
                </div>
              </div>
               
              <!-- item -->

              </div>
              <!-- item -->
<div class="col-lg-4 col-md-6 masonry-item wow fadeInUp animation-delay-2">
    <div class="card">
                  <figure class="ms-thumbnail ms-thumbnail-horizontal">   
               <figcaption class="ms-thumbnail-caption text-center">
                      <div class="ms-thumbnail-caption-content">     
                      </div>
                    </figcaption>
                  </figure>
                  <div class="card-body overflow-hidden text-center">
                    <a href="javascript:void(0)" class="btn-circle btn-circle-info btn-circle-raised btn-card-float right wow zoomInDown index-2">
                      <i class="zmdi zmdi-star"></i>
                    </a>
                    <h4 class="color-info">Fractions</h4>
                    <p>If I ate one half of my birthday cake on Saturday and 4/5 of the remainder of the cake on Sunday. What fraction of the original birthday cake was left on Monday?</p>         
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
</div>

    <div class="container">
    
      <div class="btn-back-top">
        <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised ">
          <i class="zmdi zmdi-long-arrow-up"></i>
        </a>
      </div>
    </div>
    <!-- ms-site-container -->
    <div class="ms-slidebar sb-slidebar sb-left sb-style-overlay" id="ms-slidebar">
      <div class="sb-slidebar-container">
        <header class="ms-slidebar-header">
          <div class="ms-slidebar-login">
            <a href="/log" class="withripple">
              <i class="zmdi zmdi-account"></i> Login</a>
            <a href="/log" class="withripple">
              <i class="zmdi zmdi-account-add"></i> Register</a>
          </div>
          <div class="ms-slidebar-title">
            <div class="ms-slidebar-t">
<!--              <span class="ms-logo ms-logo-sm">M</span>-->
              <h3>SnowyTop
                <span>Maths</span>
              </h3>
            </div>
          </div>
        </header>
        <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
          <li class="card" role="tab" id="sch1">
<a data-scroll class="nav-link" href="/"><i class="zmdi zmdi-home"></i>Home</a>

          </li>
            <li class="card" role="tab" id="sch1">
<a data-scroll class="nav-link" href="/freevideos"><i class="zmdi zmdi-youtube-play"></i>Free Tutorial Videos</a>

          </li>
             <li class="card" role="tab" id="sch1">
<a data-scroll class="nav-link" href="/aboutus"><i class="zmdi zmdi-local-grocery-store"></i>About Us</a>

          </li>
            <li class="card" role="tab" id="sch1">
<a data-scroll class="nav-link" href="/pricing"><i class="zmdi zmdi-local-grocery-store"></i>Pricing</a>

          </li>
            <li class="card" role="tab" id="sch1">
<a href="/register"><i class="zmdi zmdi-account-add"></i>Sign Up</a>

          </li>
            <li class="card" role="tab" id="sch1">
<a href="/login"><i class="zmdi zmdi-account"></i>Login</a>
          </li>
         
        </ul>
        <div class="ms-slidebar-social ms-slidebar-block">
          <h4 class="ms-slidebar-block-title">Social Links</h4>
          <div class="ms-slidebar-social">
            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-facebook">
              <i class="zmdi zmdi-facebook"></i>
<!--              <span class="badge-pill badge-pill-pink">12</span>-->
              <div class="ripple-container"></div>
            </a>
            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-twitter">
              <i class="zmdi zmdi-twitter"></i>
<!--              <span class="badge-pill badge-pill-pink">4</span>-->
              <div class="ripple-container"></div>
            </a>
            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-google">
              <i class="zmdi zmdi-google"></i>
              <div class="ripple-container"></div>
            </a>
            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-instagram">
              <i class="zmdi zmdi-instagram"></i>
              <div class="ripple-container"></div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <script src="js/plugins.min.js"></script>
    <script src="js/app.min.js"></script>
 
<aside class="ms-footbar">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 ms-footer-col">
              <div class="ms-footbar-block">
                <h3 class="ms-footbar-title">Sitemap</h3>
                <ul class="list-unstyled ms-icon-list three_cols">
                  <li>
                    <a href="/">
                      <i class="zmdi zmdi-home"></i> Home</a>
                  </li>
               
                  <li>
                    <a href="/pricing">
                      <i class="zmdi zmdi-money"></i> Pricing</a>
                  </li>
                  <li>
                    <a href="#examplevids">
                      <i class="zmdi zmdi-favorite-outline"></i> Tutorials</a>
                  </li>
                  <li>
                    <a href="#example">
                      <i class="zmdi zmdi-accounts"></i> Questions</a>
                  </li>
                 
                  <li>
                    <a href="page-faq2.html">
                      <i class="zmdi zmdi-help"></i> FAQ</a>
                  </li>
                  <li>
                    <a href="page-login2.html">
                      <i class="zmdi zmdi-lock"></i> Login</a>
                  </li>
                  <li>
                    <a href="/register">
                      <i class="zmdi zmdi-email"></i> Register</a>
                  </li>
                </ul>
              </div>
              <div class="ms-footbar-block">
                <h3 class="ms-footbar-title">Subscribe</h3>
                <p class="">Sign Up for my newsletter, exam advice and special offers</p>   
                  <button class="ms-subscribre-btn" type="button" href="/register">Subscribe</button>
                
              </div>
            </div>
            <div class="col-lg-5 col-md-7 ms-footer-col ms-footer-alt-color"> 
              <div class="ms-footbar-block">
                <h3 class="ms-footbar-title text-center mb-2">Social Media</h3>
                <div class="ms-footer-media">
                  <div class="media">
                    <div class="media-left media-middle">
                      <a href="https://www.facebook.com/snowytopmaths/" class="btn-circle btn-facebook">
                    <i class="zmdi zmdi-facebook"></i>
                  </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">
                        <a href="https://www.facebook.com/snowytopmaths/">The Official SnowyTop Maths Facebook  Page</a>
                      </h4>
                      <div class="media-footer">
                        <span>
                          <i class="zmdi zmdi-time color-info-light"></i> June 11, 2019</span>
                        <span>
                          <i class="zmdi zmdi-folder-outline color-warning-light"></i>
                          <a href="javascript:void(0)">Community</a>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="media">
                    <div class="media-left media-middle">
                      <a href="https://www.youtube.com/channel/UC7MHNX9DoagZPIN9Ho9QWHg" class="btn-circle btn-youtube">
                    <i class="zmdi zmdi-youtube-play"></i>
                  </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">
                        <a href="https://www.youtube.com/channel/UC7MHNX9DoagZPIN9Ho9QWHg">The Offical YouTube Channel of SnowyTop Maths</a>
                      </h4>
                      <div class="media-footer">
                        <span>
                          <i class="zmdi zmdi-time color-info-light"></i> June 11, 2019</span>
                        <span>
                          <i class="zmdi zmdi-folder-outline color-warning-light"></i>
                          <a href="javascript:void(0)">Free Tutorial Videos and Examples</a>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="media">
                    <div class="media-left media-middle">
                       <a href="javascript:void(0)" class="btn-circle btn-twitter">
                    <i class="zmdi zmdi-twitter"></i>
                  </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">
                        <a href="javascript:void(0)">The Official Twitter Account of SnowyTop Maths</a>
                      </h4>
                      <div class="media-footer">
                        <span>
                          <i class="zmdi zmdi-time color-info-light"></i> June 11, 2019</span>
                        <span>
                          <i class="zmdi zmdi-folder-outline color-warning-light"></i>
                          <a href="javascript:void(0)">News and Updates</a>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-5 ms-footer-col ms-footer-text-right">
              <div class="ms-footbar-block">
                <div class="ms-footbar-title">
                  
                  <h3 class="no-m ms-site-title">SnowyTop
                    <span>Maths</span>
                  </h3>
                </div>
                <address class="no-mb">
                  <p>
                    <i class="color-danger-light zmdi zmdi-pin mr-1"></i> London, UK</p>
                  <p>
                    <i class="color-info-light zmdi zmdi-email mr-1"></i>
                    <a href="mailto:neil@snowytopmaths.co.uk">neil@snowytopmaths.co.uk</a>
                  </p>
<!--
                  <p>
                    <i class="color-royal-light zmdi zmdi-phone mr-1"></i>+34 123 456 7890 </p>
-->
                </address>
              </div>
              <div class="ms-footbar-block">
                <h3 class="ms-footbar-title">Social Media</h3>
                <div class="ms-footbar-social">
                  <a href="https://www.facebook.com/snowytopmaths/" class="btn-circle btn-facebook">
                    <i class="zmdi zmdi-facebook"></i>
                  </a>
                  <a href="javascript:void(0)" class="btn-circle btn-twitter">
                    <i class="zmdi zmdi-twitter"></i>
                  </a>
                  <a href="https://www.youtube.com/channel/UC7MHNX9DoagZPIN9Ho9QWHg" class="btn-circle btn-youtube">
                    <i class="zmdi zmdi-youtube-play"></i>
                  </a><br>   
                  <a href="javascript:void(0)" class="btn-circle btn-instagram">
                    <i class="zmdi zmdi-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>

<% include ./partials/footer %>