<% include ./partials/header %>
<!--      -->
<style>
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #9C27B0;
  }

  #button {
    background-color: #009caf;
  }

  #button1 {
    background-color: #9C27B0;
  }
</style>




<div class="col-lg-11 ms-paper-content-container" style="text-align: center">
  <div class="ms-paper-content" style="display:inline-block">
    <div class="alert alert-light alert-info">
      <p class="q"> James Allan Girls School, Dulwich, London
        11+ Maths Sample Paper
      </p>
      <p>Total Marks 47. Time 45 minutes</p>
      <p> </p>
    </div>
  </div>
</div>
<div style="text-align: center">
  <div class="card card-royal col-md-6" style="display:inline-block">
    <!--        First question-->
    <div class="mySlides">
      <div class="card-header">
        <h3 id="header" class="card-title">1.</h3>
      </div>
      <div class="card-body">
        <form name="quiz1">

          <p class="q">Calculate: </p>
          <p class="q">295 + 749 + 86 = </p>
          <div class="ui  input focus">
            <input type="text" placeholder="" name="question1">
          </div>
        </form>
      </div>
    </div>
    <!--     2nd question                -->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">2.</h3>
      </div>
      <div class="card-body">
        <form name="quiz2">
          <p class="q">Calculate:</p>
          <p class="q">1231 - 744 = </p>
          <div class="ui  input focus">
            <input type="text" placeholder="" name="question1">
          </div>
        </form>
      </div>
    </div>
    <!--   3rd question       -->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">3.</h3>
      </div>
      <div class="card-body">
        <form name="quiz3">
          <p class="q">Calculate: </p>
          <p class="q">576 x 8 = </p>
          <div class="ui  input focus">
            <input type="text" placeholder="" name="question1">
          </div>
        </form>
      </div>
    </div>
    <!--4th question        -->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">4.</h3>
      </div>
      <div class="card-body">
        <form name="quiz4">
          <p class="q">Calculate: </p>
          <p class="q">3465 &#247; 9</p>
          <div class="ui  input focus">
            <input type="text" placeholder="" name="question1">
          </div>
        </form>
      </div>
    </div>
    <!--    5th question    -->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">5.</h3>
      </div>
      <div class="card-body">
        <form name="quiz5">
          <p class="q">Natalie buys 3 small bags of peanuts with a £2 coin? She receives 80p change. How much does each
            bag cost? </p>
          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              pence
            </div>
          </div>

        </form>
      </div>
    </div>
    <!--   6a question     -->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">6a.</h3>
      </div>
      <div class="card-body">
        <form name="quiz6">
          <p class="q">Write down the next 2 numbers in this sequence:</p>
          <p class="q">30000, 3000, 300, 30, ___ , ___</p>
          <div class="ui  input focus">
            <input type="text" placeholder="first number" name="question1">
          </div>
          <div class="ui  input focus">
            <input type="text" placeholder="second number" name="question2">
          </div>
        </form>
      </div>
    </div>
    <!--6b question        -->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">6b.</h3>
      </div>
      <div class="card-body">
        <form name="quiz7">
          <p class="q">3, 6, 12, 24, ___, ___ </p>
          <div class="ui  input focus">
            <input type="text" placeholder="first number" name="question1">
          </div>
          <div class="ui  input focus">
            <input type="text" placeholder="second number" name="question2">
          </div>
        </form>
      </div>
    </div>
    <!--    6c question    -->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">6c.</h3>
      </div>
      <div class="card-body">
        <form name="quiz8">
          <p class="q">Write down the next number in this sequence:</p>
          <p class="q">1, 1, 2, 3, 5, 8, ___, ___</p>
          <div class="ui  input focus">
            <input type="text" placeholder="first number" name="question1">
          </div>
          <div class="ui  input focus">
            <input type="text" placeholder="second number" name="question2">
          </div>
        </form>
      </div>
    </div>
    <!--   7 question     -->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">6d.</h3>
      </div>
      <div class="card-body">
        <form name="quiz9">
          <p class="q">Write down the next 2 numbers in this sequence:</p>
          <p class="q">1, 4, 9, 16, ___, ___</p>
          <div class="ui  input focus">
            <input type="text" placeholder="first number" name="question1">
          </div>
          <div class="ui  input focus">
            <input type="text" placeholder="second number" name="question2">
          </div>
        </form>
      </div>
    </div>
    <!--        question 8-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">7.</h3>
      </div>
      <div class="card-body">
        <form name="quiz10">
          <p class="q">Find 3 prime numbers that add up to 30</p>
          <div class="ui  input focus">
            <input type="text" placeholder="first number " name="question1">
          </div>
          <div class="ui  input focus">
            <input type="text" placeholder="second number" name="question2">
          </div>
          <div class="ui  input focus">
            <input type="text" placeholder="third number" name="question3">
          </div>
        </form>
      </div>
    </div>
    <!--        question 9-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">8.</h3>
      </div>
      <div class="card-body">
        <form name="quiz11">
          <p class="q">Two fifths of the children in a swimming pool are boys. There are 72 girls in the pool. How many
            boys are there?</p>

          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              boys
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--        question 10-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">9a.</h3>
      </div>
      <div class="card-body">
        <form name="quiz12">
          <p class="q">The line graph below can be used to change pounds sterling into norweigan Kroner.</p>
          <img src="img/jags/jags8A.png" alt="" class="img-fluid"><br>

          <p class="q">How many kroner would I get for 90p?</p>
          <div class="ui labeled input">
            <div class="ui label">
              Kroner
            </div>
            <input type="text" name="question1">
          </div>
        </form>
      </div>
    </div>
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title"> 9b.</h3>
      </div>
      <div class="card-body">
        <form name="quiz13">
          <img src="img/jags/jags8A.png" alt="" class="img-fluid"><br>

          <p class="q">How much are 12 Kroner worth?</p>
          <div class="ui labeled input">
            <div class="ui label">
              £
            </div>
            <input type="text" name="question1">
          </div>
        </form>
      </div>
    </div>
    <!--        question 11a-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">9c.</h3>
      </div>
      <div class="card-body">
        <form name="quiz14">
          <img src="img/jags/jags8A.png" alt="" class="img-fluid"><br>

          <p class="q">Jo buys some sweets and a magazine that costs £5.10. How much is this in Kroner?</p>

          <div class="ui labeled input">
            <div class="ui label">
              K
            </div>
            <input type="text" name="question1">
          </div>
        </form>
      </div>
    </div>
    <!--        question 12-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">10a.</h3>
      </div>
      <div class="card-body">
        <form name="quiz15">

          <p class="q">Gill's garden is 48m long and 10m wide and she wants to cover it with peat which comes in 60kg
            sacks. 10kg of peat covers an area of 20m&#178;</p>
          <p class="q">Work out the area of the garden.</p>

          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              m&#178;
            </div>
          </div>

        </form>
      </div>
    </div>
    <!--        question 13-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">10b.</h3>
      </div>
      <div class="card-body">
        <form name="quiz16">
          <p class="q">Gill's garden is 48m long and 10m wide and she wants to cover it with peat which comes in 60kg
            sacks. 10kg of peat covers an area of 20m&#178;</p>
          <p class="q">How many sacks of peat does Gill need for the whole garden.</p>
          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              sacks of peat
            </div>
          </div>

        </form>
      </div>
    </div>
    <!--        question 14-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">11a.</h3>
      </div>
      <div class="card-body">
        <form name="quiz17">
          <p class="q">Calculate the following</p>
          <img src="img/jags/jags11a.png" alt="" class="img-fluid"><br>
          <br>
          <div class="ui  input focus">
            <input type="text" placeholder="" name="question1">
          </div>
        </form>
      </div>
    </div>
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">11b.</h3>
      </div>
      <div class="card-body">
        <form name="quiz18">
          <p class="q">Calculate the following</p>
          <img src="img/jags/jags11bb.png" alt="" class="img-fluid"><br>


          <div class="ui  input focus">
            <input type="text" placeholder="" name="question1">
          </div>
        </form>
      </div>
    </div>
    <!--        question 15-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">11c.</h3>
      </div>
      <div class="card-body">
        <form name="quiz19">
          <img src="img/jags/jags11c.png" alt="" class="img-fluid"><br>

          <p class="q">What fraction of the shape is shaded?</p>
          <div class="ui  input focus">
            <input type="text" placeholder="" name="question1">
          </div>
        </form>
      </div>
    </div>
    <!--        question 16-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">12.</h3>
      </div>
      <div class="card-body">
        <form name="quiz20">

          <p class="q">Three corners of a rectangle are (2,0) , (0,4) and (10,4) </p>
          <p class="q">What are the coordinates of the 4th corner of the rectangle?</p>
          <div class="ui  input focus">
            <input type="text" placeholder="example (0,0)" name="question1">
          </div>
        </form>
      </div>
    </div>
    <!--        question 17-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">13.</h3>
      </div>
      <div class="card-body">
        <form name="quiz21">
          <p class="q">Sara starts her maths homework at 4:30pm and she finishes it at 6:10pm. During that time she
            watches 'Love Island' for 25 minutes and she speaks to her friend Sophie on the telephone for 20 minutes.
          </p>
          <p class="q">How long is Sara actually working on her maths?</p>
          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              minutes
            </div>
          </div>

        </form>
      </div>
    </div>
    <!--        question 18-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">14.</h3>
      </div>
      <div class="card-body">
        <form name="quiz22">

          <p class="q">How many 26p stamps can Antonia buy for £10?</p>

          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              stamps
            </div>
          </div>

        </form>
      </div>
    </div>
    <!--        question 19-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">15.</h3>
      </div>
      <div class="card-body">
        <form name="quiz23">
          <img src="img/jags/jags15.png" alt="" class="img-fluid"><br>

          <p class="q">What was the rainfall on Tuesday?</p>

          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              mm
            </div>
          </div>

        </form>
      </div>
    </div>
    <!--        question 20-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">15ii.</h3>
      </div>
      <div class="card-body">
        <form name="quiz24">
          <img src="img/jags/jags15.png" alt="" class="img-fluid"><br>

          <p class="q">How much more did it rain on Monday than Sunday?</p>

          <div class="ui right labeled input">
            <input type="text" name="question1">
            <div class="ui basic label">
              mm
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--       Section B question 1-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">15iii.</h3>
      </div>
      <div class="card-body">
        <form name="quiz25">
          <img src="img/jags/jags15.png" alt="" class="img-fluid"><br>

          <p class="q">Find the total rainfall for the week?</p>
          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              mm
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--        Section B question 2-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">15iv.</h3>
      </div>
      <div class="card-body">
        <form name="quiz26">
          <img src="img/jags/jags15.png" alt="" class="img-fluid"><br>
          <p class="q">What is the average daily rainfall?</p>

          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              mm
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--  Section B question 3--->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">16.</h3>
      </div>
      <div class="card-body">
        <form name="quiz27">

          <p class="q">Pauline has 90p that she wants to share between 7 girls and 4 boys so that the girls each have
            twice as much as the boys.</p>
          <p class='q'>How much does each girl and boy receive?</p>
          <div class="ui right labeled input">
            <label for="amount" class="ui label">girls receive</label>
            <input type="text" name="question1">
            <div class="ui basic label">pence</div>
          </div>
          <div class="ui right labeled input">
            <label for="amount" class="ui label">boys receive</label>
            <input type="text" name="question2">
            <div class="ui basic label">pence</div>
          </div>
        </form>
      </div>
    </div>
    <!--       Section B question 4a--->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">17a.</h3>
      </div>
      <div class="card-body">
        <form name="quiz28">
          <img src="img/jags/jags17.png" alt="" class="img-fluid"><br>

          <p class="q"> The pie chart represents the favourite takeaway foods of 180 students.</p>
          <p class="q">Which type of food was the favourite of 1/4 of the students?</p>
          <div class="ui  input focus">
            <input type="text" placeholder="" name="question1">
          </div>
        </form>
      </div>
    </div>
    <!--        Section B question 4b--->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">17b.</h3>
      </div>
      <div class="card-body">
        <form name="quiz29">
          <img src="img/jags/jags17.png" alt="" class="img-fluid">

          <p class="q"> What fraction of those students chose Chinese?</p>

          <div class="ui  input focus">
            <input type="text" placeholder="" name="question1">
          </div>
        </form>
      </div>
    </div>
    <!--        SECTION B 5-->

    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">17c.</h3>
      </div>
      <div class="card-body">
        <form name="quiz30">
          <img src="img/jags/jags17.png" alt="" class="img-fluid">

          <p class="q">Work out the size of the angle for Thai?</p>
          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              &#176;
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--        Section B 6a-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">17d.</h3>
      </div>
      <div class="card-body">
        <form name="quiz31">
          <p class="q">How many of the 180 students chose Pizza?</p>
          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              students
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--        Section B 6b-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">18.</h3>
      </div>
      <div class="card-body">
        <form name="quiz32">
          <p class="q">To encourage her to tidy her bedroom, Cathy is given 1p pn the first day , 2p on the second day,
            4p ont he third day and so on, doubling the amount each day. How much has she been given after 8 days.</p>
          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              pence
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--   Section B 7-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">19.</h3>
      </div>
      <div class="card-body">
        <form name="quiz33">
          <img src="img/jags/jags19.png" alt="" class="img-fluid"><br>

          <p class="q">The total of the opposite faces on a dice is always 7. Jack places three dice on a table as shown
            on the diagram. What is the total score of the faces that Jack cannot see?</p>

          <div class="ui  input focus">
            <input type="text" placeholder="" name="question1">
          </div>
        </form>
      </div>
    </div>
    <!--        Section B 8-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">20.</h3>
      </div>
      <div class="card-body">
        <form name="quiz34">
          <p class="q">Calculate the perimeter of the shape below.</p>
          <img src="img/jags/jags20.png" alt="" class="img-fluid"><br>
          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              m
            </div>
          </div>
        </form>
      </div>
    </div>

    <!--    Section C 4a(ii)-->
    <!--   Section B 9b-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">21.</h3>
      </div>
      <div class="card-body">
        <form name="quiz35">
          <p class="q">Jack dances clockwise around the maypole, making one revolution every 5 seconds. Starting from a
            point dramatically opposite Jack's starting point. Gill dances anti-clockwise, making one revolution every 6
            seconds. </p>
          <p class="q">How many times do they pass each other in the first minute?</p>
          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              times
            </div>
          </div>
        </form>
        <p>END OF EXAM</p>
      </div>
    </div>
    <!--     Section B 9c-->


    <!--        buttons-->
    <div class="container">
      <div class="row" style="margin: 0 auto">
        <button type="button" id="button1" class="btn btn-success btn-raised"> Check </button>
        <button type="button" id="next1" class="btn btn-primary btn-raised" onclick="plusSlides(1)"> Next </button>
        <button type="button" id="button" class="btn btn-danger btn-raised" data-toggle="modal" data-target="#myModal4">
          Total Score </button>
      </div>
    </div>

    <div class="container">
      <div class="row" style="margin: 0 auto">
        <span id="tick" class="ms-icon ms-icon-lg ms-icon-circle color-success">
          <i class="fa fa-check"></i>
        </span>
        <span id="wrong" class="ms-icon ms-icon-lg ms-icon-circle color-danger">
          <i class="fa fa-remove"></i>
        </span>
      </div>
    </div>


    <div id="msg"></div>
    <div class="dot-container">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
      <span class="dot" onclick="currentSlide(5)"></span>
      <span class="dot" onclick="currentSlide(6)"></span>
      <span class="dot" onclick="currentSlide(7)"></span>
      <span class="dot" onclick="currentSlide(8)"></span>
      <span class="dot" onclick="currentSlide(9)"></span>
      <span class="dot" onclick="currentSlide(10)"></span>
      <span class="dot" onclick="currentSlide(11)"></span>
      <span class="dot" onclick="currentSlide(12)"></span>
      <span class="dot" onclick="currentSlide(13)"></span>
      <span class="dot" onclick="currentSlide(14)"></span>
      <span class="dot" onclick="currentSlide(15)"></span>
      <span class="dot" onclick="currentSlide(16)"></span>
      <span class="dot" onclick="currentSlide(17)"></span>
      <span class="dot" onclick="currentSlide(18)"></span>
      <span class="dot" onclick="currentSlide(19)"></span>
      <span class="dot" onclick="currentSlide(20)"></span>
      <span class="dot" onclick="currentSlide(21)"></span>
      <span class="dot" onclick="currentSlide(22)"></span>
      <span class="dot" onclick="currentSlide(23)"></span>
      <span class="dot" onclick="currentSlide(24)"></span>
      <span class="dot" onclick="currentSlide(25)"></span>
      <span class="dot" onclick="currentSlide(26)"></span>
      <span class="dot" onclick="currentSlide(27)"></span>
      <span class="dot" onclick="currentSlide(28)"></span>
      <span class="dot" onclick="currentSlide(29)"></span>
      <span class="dot" onclick="currentSlide(30)"></span>
      <span class="dot" onclick="currentSlide(31)"></span>
      <span class="dot" onclick="currentSlide(32)"></span>
      <span class="dot" onclick="currentSlide(33)"></span>
      <span class="dot" onclick="currentSlide(34)"></span>
      <span class="dot" onclick="currentSlide(35)"></span>


    </div>
    <!-- last 2 divs from top of card-->
  </div>
</div>
<div id="example"></div>
<!-- Modal -->
<div class="modal modal-primary" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
  <div class="modal-dialog animated zoomIn animated-3x" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel4"> Your results: </h3> <button type="button" class="close"
          data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="zmdi zmdi-close"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-info alert-light " role="alert">
          <p id="badge"></p>
        </div>

        <div class="alert alert-info alert-light " role="alert">
          <p id="points"></p>
        </div>
      </div>
      <div class="row">

        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    $("#example").load("./config");

    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
      document.getElementById("tick").style.visibility = "hidden";
      document.getElementById("wrong").style.visibility = "hidden";
      document.getElementById("msg").style.visibility = "hidden";

    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
      document.getElementById("tick").style.visibility = "hidden";
      document.getElementById("wrong").style.visibility = "hidden";
      document.getElementById("msg").style.visibility = "hidden";

    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {
        slideIndex = 1
      }
      if (n < 1) {
        slideIndex = slides.length
      }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
      if (slideIndex == 35) {
        document.getElementById("next1").style.visibility = "hidden";
      }
    }
    var correct = 0;

    $("#button1").click(function () {
      var question1 = document.quiz1.question1.value;
      var question2 = document.quiz2.question1.value;
      var question3 = document.quiz3.question1.value;
      var question4 = document.quiz4.question1.value;
      var question5 = document.quiz5.question1.value;
      var question6 = document.quiz6.question1.value;
      var question7 = document.quiz7.question1.value;
      var question8 = document.quiz8.question1.value;
      var question9 = document.quiz9.question1.value;
      var question10 = document.quiz10.question1.value;
      var question11 = document.quiz11.question1.value;
      var question12 = document.quiz12.question1.value;
      var question13 = document.quiz13.question1.value;
      var question14 = document.quiz14.question1.value;
      var question15 = document.quiz15.question1.value;
      var question16 = document.quiz16.question1.value;
      var question17 = document.quiz17.question1.value;
      var question18 = document.quiz18.question1.value;
      var question19 = document.quiz19.question1.value;
      var question20 = document.quiz20.question1.value;
      var question21 = document.quiz21.question1.value;
      var question22 = document.quiz22.question1.value;
      var question23 = document.quiz23.question1.value;
      var question24 = document.quiz24.question1.value;
      var question25 = document.quiz25.question1.value;
      var question26 = document.quiz26.question1.value;
      var question27 = document.quiz27.question1.value;
      var question28 = document.quiz28.question1.value;
      var question29 = document.quiz29.question1.value;
      var question30 = document.quiz30.question1.value;
      var question31 = document.quiz31.question1.value;
      var question32 = document.quiz32.question1.value;
      var question33 = document.quiz33.question1.value;
      var question34 = document.quiz34.question1.value;
      var question35 = document.quiz35.question1.value;
      var question36 = document.quiz6.question2.value;
      var question37 = document.quiz7.question2.value;
      var question38 = document.quiz8.question2.value;
      var question39 = document.quiz9.question2.value;
      var question40 = document.quiz10.question2.value;
      var question41 = document.quiz10.question3.value;
      var question42 = document.quiz27.question2.value;

      //        
      //2 question
      if (slideIndex == 2 && question2 == 487) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
        //3 question
      } else if (slideIndex == 3 && question3 == 4608 || slideIndex == 3 && question3 == '4,608') {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct += 1;
      }
      //1 question
      else if (slideIndex == 1 && question1 == 1130) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //4 question 
      else if (slideIndex == 4 && question4 == 385) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct += 1;
      }
      //        //5 question 
      else if (slideIndex == 5 && question5 == 40) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //        //6a question
      else if (slideIndex == 6 && question6 == 3 && question36 == 0.3) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 2 marks";
        correct += 2;
      }
      //6b question 51
      else if (slideIndex == 7 && question7 == 48 && question37 == 96) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 2 marks";
        correct += 2;
      }
      //    //6c question
      else if (slideIndex == 8 && question8 == 13 && question38 == 21) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 2 marks";
        correct += 2;
      }
      //        //7 question
      else if (slideIndex == 9 && question9 == 25 && question39 == 36) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //        //8 question 
      else if (slideIndex == 10 && question10 == 2 && question40 == 5 && question41 == 23 || slideIndex == 10 &&
        question10 == 2 && question40 == 23 && question41 == 5 || slideIndex == 10 && question10 == 23 &&
        question40 == 5 && question41 == 2 || slideIndex == 10 && question10 == 23 && question40 == 2 &&
        question41 == 5 || slideIndex == 10 && question10 == 5 && question40 == 2 && question41 == 23 ||
        slideIndex == 10 && question10 == 5 && question40 == 23 && question41 == 2) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 3 marks";
        correct += 3;
      }
      //9 question 
      else if (slideIndex == 11 && question11 == 48) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 marks";
        correct++;
      }
      //        //10 question
      else if (slideIndex == 12 && question12 == 16) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //       question 11a
      else if (slideIndex == 13 && question13 == 63) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //    //12 question
      else if (slideIndex == 14 && question14 == 92) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //13 question
      else if (slideIndex == 15 && question15 == 480) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //             //14 question 
      else if (slideIndex == 16 && question16 == 4) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //15 question
      else if (slideIndex == 17 && question17 == '1 2/3' || slideIndex == 17 && question17 == '1 4/6') {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //        //16 question
      else if (slideIndex == 18 && question18 == '1/12') {
        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //    //17 question
      else if (slideIndex == 19 && question19 == '1/4') {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //        //18 question
      else if (slideIndex == 20 && question20 == '(8,8)' || slideIndex == 20 && question20 == '(8, 8)' ||
        slideIndex == 20 && question20 == '(8 , 8)' || slideIndex == 20 && question20 == '8,8') {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 marks";
        correct++;
      }
      //        //19 question 22
      else if (slideIndex == 21 && question21 == 55) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //        //20 question 
      else if (slideIndex == 22 && question22 == 38) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      } else if (slideIndex == 23 && question23 == 5) {
        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //        //16b question
      else if (slideIndex == 24 && question24 == 2) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //3 question
      else if (slideIndex == 25 && question25 == 33) {
        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //4a 27 marks to here
      else if (slideIndex == 26 && question26 == '4 5/7' || slideIndex == 26 && question26 == '33/7') {
        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //4b question 
      else if (slideIndex == 27 && question27 == 10 && question42 == 5) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 2 marks";
        correct += 2;
      }
      //5 question
      else if (slideIndex == 28 && question28 == 'Indian' || slideIndex == 28 && question28 == 'indian') {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 marks";
        correct += 1;
      }
      //6a question
      else if (slideIndex == 29 && question29 == '1/3') {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //6b question
      else if (slideIndex == 30 && question30 == 50) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      ////7 question
      else if (slideIndex == 31 && question31 == 50) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 marks";
        correct++;
      }
      //8 question 
      else if (slideIndex == 32 && question32 == 128) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 marks";
        correct++;
      }
      //9a question 
      else if (slideIndex == 33 && question33 == 20) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //9b question
      else if (slideIndex == 34 && question34 == 7.4) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 marks";
        correct++;
      } else if (slideIndex == 35 && question35 == 144) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 2 mark";
        correct += 2;
      } else {
        document.getElementById("wrong").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Not Yet. Try again.";
      }

      if (correct > 0) {
        document.getElementById("badge").textContent = "Total questions correct: " + correct + " / 40";
        document.getElementById("points").textContent = "Percentage = " + Math.round(correct / 40 * 100) + "%";

      }
    });

    $("input").attr("maxlength", 15)
  </script>
<% include ./partials/footer %>