<% include ./partials/header %>
<!--      -->
    
<style>
.dot{
       cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; 
    }
   .active, .dot:hover {
  background-color: #9C27B0;
}

#button{
background-color: #009caf;
    }
#button1{
background-color: #9C27B0;
}
    
</style>


   
 
<div class="col-lg-11 ms-paper-content-container"style="text-align: center">
    <div class="ms-paper-content" style="display:inline-block">
        <div class="alert alert-light alert-info">  
             <p class="q"> Manchester Grammar School 2018 Arithmetic Paper A
</p>
            <p class="q">20 marks in total. Time: 30 minutes</p>
        </div>
    </div>
</div>
<div style="text-align: center">
    <div class="card card-royal col-md-6" style="display:inline-block" > 
<!--        First question-->
<div class="mySlides">
    <div class="card-header">
        <h3 id="header" class="card-title">1.</h3>
    </div>
  <div class="card-body"> 
   <form name="quiz1">
       
       <p class="q">374 + 528 =  </p>
      
     <div class="ui  input focus">
  <input type="text"  name="question1">
</div>
    </form>
  </div>  
</div>
<!--     2nd question                -->
<div class="mySlides">
    <div class="card-header">
        <h3 class="card-title">2.</h3>
    </div>
    <div class="card-body"> 
      <form  name="quiz2">
          <p class="q">44.8 &#247; 0.7 = </p>
          <div class="ui  input focus">
  <input type="text"  name="question1">
</div> 
      </form>
    </div>
</div>
<!--   3rd question       -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">3.</h3></div>      <div class="card-body"> 
    <form  name="quiz3">
        <p class="q">What is the missing number in the following sequence</p>
<p class="q">2.3,  3.4,  4.7,  6.2,  ___,  9.8</p>
   <div class="ui  input focus">
  <input type="text"  name="question1">
</div>
    </form>
    </div>
</div>
<!--4th question        -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">4.</h3></div>      <div class="card-body"> 
    <form  name="quiz4">
       <p class="q">Subtract 1 3/4 from 3 3/8</p>
<div class="ui  input focus">
  <input type="text"  name="question1">
</div>
    </form>
    </div>
</div>
<!--    5th question    -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">5.</h3></div>      <div class="card-body"> 
    <form  name="quiz5">
        <p class="q">Work out 2.35 x 3000</p><br>
 <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
        
    </form>
    </div>
</div>
<!--   6a question     -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">6.</h3></div>      <div class="card-body"> 
    <form  name="quiz6">
             <p class="q">What is 40% of 650 grams?</p>
            <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    grams
  </div>
</div>
        
    </form>
    </div>
</div>
<!--6b question        -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">7.</h3></div>      <div class="card-body"> 
    <form  name="quiz7">
        <p class="q">Express 0.85 as a fraction in its simplest form</p>
   
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--    6c question    -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">8.</h3></div>      <div class="card-body"> 
    <form  name="quiz8">
       <p class="q">Add together 6.37, 10.04 and 203</p>
         <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--   7 question     -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">9.</h3></div>      <div class="card-body"> 
    <form  name="quiz9">
        
        <p class="q">Which of these numbers when multiplied by itself gives an answer which ends in a 4?</p>
        <p class="q">26, 44, 58, 73</p>
 <div class="ui  input focus">
  <input type="text"  name="question1">
</div>
        
    </form>
    </div>
</div>
<!--        question 8-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">10.</h3></div>      <div class="card-body"> 
    <form  name="quiz10">
        
         <p class="q">What is the least number which can be added to 278 to make a number which is exactly divisible by 13?</p>

       <div class="ui  input focus">
  <input type="text"  name="question1">
</div>
    </form>
    </div>
</div>
        <!--        question 9-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">11.</h3></div>      <div class="card-body"> 
    <form  name="quiz11">
         
        <p class="q">Petrol costs £1.12 per litre. If there are 4.5 litres in a gallon, what would the cost of a gallon of petrol be?</p>
<div class="ui labeled input">
  <div class="ui label">
    £
  </div>
  <input type="text" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 10-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">12.</h3></div>      <div class="card-body"> 
    <form  name="quiz12">
  
        <p class="q">A rectangle has an area of 70cm&#178; and a perimeter of 38cm. What is the length of the shortest side of the rectangle?</p>

<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    cm
  </div>
</div> 
    </form>
    </div>
</div>
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title"> 13.</h3></div>      <div class="card-body"> 
    <form  name="quiz13">
        
        <p class="q">If 3/7 of a number is 18, what is 5/6 of the same number?</p>

  <div class="ui  input focus">
  <input type="text"  name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 11a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title"> 14.</h3></div>      <div class="card-body"> 
    <form  name="quiz14">
         
         <p class="q">Amna takes a test with 50 questions. Four marks are given for each correct answer but one mark is taken off for each question she gets wrong. If Amna scores 168 in the test and doesn’t attempt 3 questions at all, how many questions did she answer correctly?</p>
    
         <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    questions
  </div>
</div>
    </form>
    </div>
</div>
<!--        question 12-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">15.</h3></div>      <div class="card-body"> 
    <form  name="quiz15">
        
        <p class="q">Five friends raise £400 for their favourite charity.
Alan collects £74 and Bilal raises £86. Chloe collects twice as much as David who raises three times as much as Emily. How much did Chloe collect?</p>
      
  <div class="ui labeled input">
  <div class="ui label">
    £
  </div>
  <input type="text" name="question1">
</div>
        
    </form>
    </div>
</div> 
        <!--        question 13-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">16.</h3></div>      <div class="card-body"> 
    <form  name="quiz16">
       <p class="q">If one cake and two biscuits provide 450 calories and two cakes and three biscuits provide 800 calories, how many calories are provided by one biscuit?</p>
        
 <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    calories
  </div>
</div>
        
    </form>
    </div>
</div>
<!--        question 14-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">17.</h3></div>      <div class="card-body"> 
    <form  name="quiz17">
        
         <p class="q">In a bag of money to take to the bank I have only 5p, 10p and 20p coins. I have twice as many 20p coins as 10p coins and half as many 5p coins as 10p coins. If the bag contains £15.75, how many 20p coins are there?</p>
        
     <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    coins
  </div>
</div>
    </form>
    </div>
</div>
        <!--        question 15-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">18.</h3></div>      <div class="card-body"> 
    <form  name="quiz18">
    
        <p class="q">In how many different ways can the letters</p><p class="q"> M, A, T, H</p><p class="q">  be placed in a line if the T is always first and the A is never last.</p>

     <div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
ways
  </div>
</div>
    </form>
    </div>
</div>
         <!--        question 16-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">19.</h3></div>      <div class="card-body"> 
    <form  name="quiz19">
        
        <p class="q">How many numbers between 300 and 500 contain at least one 4 in their digits?</p>
        
     <div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
numbers
  </div>
</div>
    </form>
    </div>
</div>
          <!--        question 17-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">20.</h3></div>      <div class="card-body"> 
    <form  name="quiz20"> 
 
        <p class="q">If the rules about what order to do arithmetic operations do not apply for this last question on the paper then
2 + 4 x 3 could be 2 + 12 = 14 or 6 x 3 = 18.
</p>
        <p class="q">Of the five different answers that there could be for the following question</p>
        
       <p class="q">14 – 3 x 4 – 2 =</p>
        <p class="q">depending on the order you use for the operations, which answer would be in the middle if the answers were placed in descending order (from largest to smallest)?</p>
       
  <div class="ui  input focus">
  <input type="text"  name="question1">
</div>
         <p class="q">This is the end of the Examination</p>
    </form>
    </div>
</div>
                  <!--        question 18-->

<!--    Section C 4a(ii)-->
        

<!--        buttons-->
<div class="container" >
    <div class="row" style="margin: 0 auto">
        <button type="button" id="button1" class="btn btn-success btn-raised"> Check </button>
        <button type="button" id="next1" class="btn btn-primary btn-raised"onclick="plusSlides(1)"> Next </button>
        <button type="button" id="button" class="btn btn-danger btn-raised" data-toggle="modal" data-target="#myModal4"> Total Score </button>     
    </div>
</div>
        
<div class="container" >
    <div class="row" style="margin: 0 auto">
        <span id="tick" class="ms-icon ms-icon-lg ms-icon-circle color-success">
            <i class="fa fa-check"></i>
        </span>
        <span id="wrong" class="ms-icon ms-icon-lg ms-icon-circle color-danger">
            <i class="fa fa-remove"></i>
        </span>    
    </div>
</div>
        
        
<div id="msg"></div>
<div class="dot-container">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span> 
  <span class="dot" onclick="currentSlide(5)"></span> 
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span> 
  <span class="dot" onclick="currentSlide(8)"></span> 
  <span class="dot" onclick="currentSlide(9)"></span>
    <span class="dot" onclick="currentSlide(10)"></span> 
     <span class="dot" onclick="currentSlide(11)"></span> 
  <span class="dot" onclick="currentSlide(12)"></span> 
  <span class="dot" onclick="currentSlide(13)"></span>
  <span class="dot" onclick="currentSlide(14)"></span> 
  <span class="dot" onclick="currentSlide(15)"></span> 
  <span class="dot" onclick="currentSlide(16)"></span>
  <span class="dot" onclick="currentSlide(17)"></span> 
  <span class="dot" onclick="currentSlide(18)"></span> 
  <span class="dot" onclick="currentSlide(19)"></span>
<span class="dot" onclick="currentSlide(20)"></span>
   
    
    
</div>    
<!-- last 2 divs from top of card-->
     </div>
        </div>
 <div id="example"></div> 
<!-- Modal -->
<div class="modal modal-primary" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel4">  Your results:  </h3>            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="zmdi zmdi-close"></i></span>
                    </button>
            </div>
        <div class="modal-body">
            <div class="alert alert-info alert-light " role="alert"><p id="badge"></p>
            </div>
             
                <div class="alert alert-info alert-light " role="alert"><p id="points"></p>
                </div>
        </div>
            <div class="row">
                
        <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>    
        </div>
      </div>
    </div>
</div>
<script>
    $("#example").load("./config");
     
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);    
    document.getElementById("tick").style.visibility = "hidden";
    document.getElementById("wrong").style.visibility = "hidden";
    document.getElementById("msg").style.visibility = "hidden";

}

function currentSlide(n) {
  showSlides(slideIndex = n);
    document.getElementById("tick").style.visibility = "hidden";
    document.getElementById("wrong").style.visibility = "hidden";
    document.getElementById("msg").style.visibility = "hidden";
  
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
    if(slideIndex==20){
        document.getElementById("next1").style.visibility = "hidden";
    }
}    
    var correct = 0;
   
    $("#button1").click(function(){       
        var question1 = document.quiz1.question1.value;  
        var question2 = document.quiz2.question1.value;
        var question3 = document.quiz3.question1.value;
        var question4 = document.quiz4.question1.value;
        var question5 = document.quiz5.question1.value;
        var question6 = document.quiz6.question1.value;
        var question7 = document.quiz7.question1.value;
        var question8 = document.quiz8.question1.value;
        var question9 = document.quiz9.question1.value;
        var question10 = document.quiz10.question1.value;
        var question11 = document.quiz11.question1.value;
        var question12 = document.quiz12.question1.value;
        var question13 = document.quiz13.question1.value;
        var question14 = document.quiz14.question1.value;
        var question15 = document.quiz15.question1.value;
        var question16 = document.quiz16.question1.value;
        var question17 = document.quiz17.question1.value;
        var question18 = document.quiz18.question1.value;
        var question19 = document.quiz19.question1.value;
        var question20 = document.quiz20.question1.value;
        
       
              
        //2 question
       if(slideIndex==2&&question2 == 64){
             
        document.getElementById("tick").style.visibility = "visible";
           document.getElementById("msg").style.visibility = "visible";
           document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
           //3 question
  } else if(slideIndex==3&&question3 == 7.9){
             
        document.getElementById("tick").style.visibility = "visible";
      document.getElementById("msg").style.visibility = "visible";
      document.getElementById("msg").textContent= " Correct! 1 mark";
      correct++;
  }
        //1 question
         else if(slideIndex==1&&question1 == 902){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //4 question 
        else if(slideIndex==4&&question4 == '1 5/8'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //5 question 
        else if(slideIndex==5&&question5 == 7050){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=2;
  } 
//        //6a question
        else if(slideIndex==6&&question6 == 260){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //6b question
        else if(slideIndex==7&&question7 == '17/20'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//    //6c question
        else if(slideIndex==8&&question8 == '219.41'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
//        //7 question
        else if(slideIndex==9&&question9 == 58){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //8 question 
        else if(slideIndex==10&&question10 == 8){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //9 question 
        else if(slideIndex==11&&question11 == 5.04){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //10 question
        else if(slideIndex==12&&question12 ==5){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
  //       question 11a
        else if(slideIndex==13&&question13 ==35){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//    //12 question
        else if(slideIndex==14&&question14 == 43){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
        //13 question
        else if(slideIndex==15&&question15 == 144){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks"; 
            correct++;
  }  
//             //14 question 
        else if(slideIndex==16&&question16 == 100){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //15 question
        else if(slideIndex==17&&question17 == 60){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //16 question
        else if(slideIndex==18&&question18 == 4){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//    //17 question
        else if(slideIndex==19&&question19 == 119){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
//        //18 question
        else if(slideIndex==20&&question20 == 8){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks"; 
            correct++;
  } 
//     
        else {
      document.getElementById("wrong").style.visibility = "visible";
            document.getElementById("msg").style.visibility = "visible";
    document.getElementById("msg").textContent= " Not Yet"; 
  } 
    
        if(correct>0){
            document.getElementById("badge").textContent= "Total questions correct: " + correct + " / 20";  
            document.getElementById("points").textContent= "Percentage = " + Math.round(correct/20*100) + "%";
           
        }
       });
       
    $("input").attr("maxlength", 20)
</script>


<% include ./partials/footer %>
            
      
    
