<% include ./partials/header %>
<!--      -->
    
<style>
.dot{
       cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; 
    }
   .active, .dot:hover {
  background-color: #9C27B0;
}

#button{
background-color: #009caf;
    }
#button1{
background-color: #9C27B0;
}
    
</style>


   
 
<div class="col-lg-11 ms-paper-content-container"style="text-align: center">
    <div class="ms-paper-content" style="display:inline-block">
        <div class="alert alert-light alert-info">  
             <p class="q"> Manchester Grammar School 2018 Arithmetic Paper B
</p>
            <p>60 marks in total. Time: 1 hour</p>
        </div>
    </div>
</div>
<div style="text-align: center">
    <div class="card card-royal col-md-6" style="display:inline-block" > 
<!--        First question-->
<div class="mySlides">
    <div class="card-header">
        <h3 id="header" class="card-title">1a.</h3>
    </div>
  <div class="card-body"> 
   <form name="quiz1">
       
       <p class="q">Alison buys 6 cups of coffee which cost £2.20 each, 4 glasses of juice which cost £1.15 each and some packets of crisps which cost 55p each. She pays by giving the member of staff £25 and receives £2.80 in change. </p>
       <p class="q">How much does 6 cups of coffee cost in total? </p>
      <div class="ui labeled input">
  <div class="ui label">
   £
  </div>
  <input type="text" name="question1">
</div>
    </form>
  </div>  
</div>
<!--     2nd question                -->
<div class="mySlides">
    <div class="card-header">
        <h3 class="card-title">1b.</h3>
    </div>
    <div class="card-body"> 
      <form  name="quiz2">
          <p class="q">Alison buys 6 cups of coffee which cost £2.20 each, 4 glasses of juice which cost £1.15 each and some packets of crisps which cost 55p each. She pays by giving the member of staff £25 and receives £2.80 in change.</p>
          <p class="q">What is the total cost of 4 glasses of juice?</p>
         <div class="ui labeled input">
  <div class="ui label">
   £
  </div>
  <input type="text" name="question1">
</div>
      </form>
    </div>
</div>
<!--   3rd question       -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">1c.</h3></div>      <div class="card-body"> 
    <form  name="quiz3">
        <p class="q">Alison buys 6 cups of coffee which cost £2.20 each, 4 glasses of juice which cost £1.15 each and some packets of crisps which cost 55p each. She pays by giving the member of staff £25 and receives £2.80 in change. </p>
        <p class="q"> How many packets of crisps did she buy? </p>
          <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    bags of crisps
  </div>
</div>
    </form>
    </div>
</div>
<!--4th question        -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">1d.</h3></div>      <div class="card-body"> 
    <form  name="quiz4">
       <p class="q">Alison buys 6 cups of coffee which cost £2.20 each, 4 glasses of juice which cost £1.15 each and some packets of crisps which cost 55p each. She pays by giving the member of staff £25 and receives £2.80 in change. </p>
        <p class="q">How much did she spend in total?</p>
   <div class="ui labeled input">
  <div class="ui label">
   £
  </div>
  <input type="text" name="question1">
</div>
    </form>
    </div>
</div>
<!--    5th question    -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">2a.</h3></div>      <div class="card-body"> 
    <form  name="quiz5">
        <p class="q">Here is  list of numbers</p>
        <p class="q"> 11,  12,  13,  14,  15,  16,  17,  18,  19 </p><p class="q">Which are multiples of 3? (in ascending order)</p><br>
 <div class="ui  input focus">
  <input type="text" placeholder="write in the form 1,2,3" name="question1">
</div>
        
    </form>
    </div>
</div>
<!--   6a question     -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">2b.</h3></div>      <div class="card-body"> 
    <form  name="quiz6">
             <p class="q">Here is  list of numbers</p>
        <p class="q"> 11,  12,  13,  14,  15,  16,  17,  18,  19 </p><p class="q">Which are prime numbers? (in ascending order)</p>
        <div class="ui  input focus">
  <input type="text" placeholder="write in the form 1,2,3" name="question1">
</div>
        
    </form>
    </div>
</div>
<!--6b question        -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">2c.</h3></div>      <div class="card-body"> 
    <form  name="quiz7">
        <p class="q">Here is  list of numbers</p>
        <p class="q"> 11,  12,  13,  14,  15,  16,  17,  18,  19 </p><p class="q">List the square numbers (in ascending order)</p>
   
        <div class="ui  input focus">
  <input type="text" placeholder="write in the form 1,2,3" name="question1">
</div>
    </form>
    </div>
</div>
<!--    6c question    -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">2d.</h3></div>      <div class="card-body"> 
    <form  name="quiz8">
       <p class="q">List all the factors of 14 (in numerical order)</p>
         <div class="ui  input focus">
  <input type="text" placeholder="example: 4,5,6" name="question1">
</div>
    </form>
    </div>
</div>
<!--   7 question     -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">3.</h3></div>      <div class="card-body"> 
    <form  name="quiz9">
         <img src="img/mgs18/mgs3AA.png" alt="" class="img-fluid">
        <p class="q">In a scrabble tournament, players score 5 points for a win, 3 points for a draw and get 0 points if they lose. Part way through the tournament four of the players taking part, players, A, B, C and D, have played different numbers of games and have all lost at least one game. Note that there are other players playing in the tournament whose results are not listed here.</p>
     
        <p class="q">How many matches did player A draw?</p>
 <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    matches
  </div>
</div>
        
    </form>
    </div>
</div>
<!--        question 8-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">3b.</h3></div>      <div class="card-body"> 
    <form  name="quiz10">
         <img src="img/mgs18/mgs3AA.png" alt="" class="img-fluid">
         <p class="q">In a scrabble tournament, players score 5 points for a win, 3 points for a draw and get 0 points if they lose. Part way through the tournament four of the players taking part, players, A, B, C and D, have played different numbers of games and have all lost at least one game. Note that there are other players playing in the tournament whose results are not listed here.</p>

        <p class="q">How many points did player A win in total?</p>
       <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    points
  </div>
</div>
    </form>
    </div>
</div>
        <!--        question 9-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">3c.</h3></div>      <div class="card-body"> 
    <form  name="quiz11">
         <img src="img/mgs18/mgs3AA.png" alt="" class="img-fluid">
        <p class="q">In a scrabble tournament, players score 5 points for a win, 3 points for a draw and get 0 points if they lose. Part way through the tournament four of the players taking part, players, A, B, C and D, have played different numbers of games and have all lost at least one game. Note that there are other players playing in the tournament whose results are not listed here.</p>
    
        <p class="q">How many matches did player B draw?</p>
        <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    matches
  </div>
</div>
    </form>
    </div>
</div>
<!--        question 10-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">3d.</h3></div>      <div class="card-body"> 
    <form  name="quiz12">
         <img src="img/mgs18/mgs3AA.png" alt="" class="img-fluid">
        <p class="q">In a scrabble tournament, players score 5 points for a win, 3 points for a draw and get 0 points if they lose. Part way through the tournament four of the players taking part, players, A, B, C and D, have played different numbers of games and have all lost at least one game. Note that there are other players playing in the tournament whose results are not listed here.</p>
       
        <p class="q">How many matches did player B lose?</p>
       
        <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
   matches
  </div>
</div>
        
    </form>
    </div>
</div>
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title"> 3e.</h3></div>      <div class="card-body"> 
    <form  name="quiz13">
         <img src="img/mgs18/mgs3AA.png" alt="" class="img-fluid">
        <p class="q">In a scrabble tournament, players score 5 points for a win, 3 points for a draw and get 0 points if they lose. Part way through the tournament four of the players taking part, players, A, B, C and D, have played different numbers of games and have all lost at least one game. Note that there are other players playing in the tournament whose results are not listed here.</p>
       
        <p class="q">How many matches did player C play?</p>
     <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    matches
  </div>
</div>
    </form>
    </div>
</div>
<!--        question 11a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title"> 3f.</h3></div>      <div class="card-body"> 
    <form  name="quiz14">
         <img src="img/mgs18/mgs3AA.png" alt="" class="img-fluid">
         <p class="q">In a scrabble tournament, players score 5 points for a win, 3 points for a draw and get 0 points if they lose. Part way through the tournament four of the players taking part, players, A, B, C and D, have played different numbers of games and have all lost at least one game. Note that there are other players playing in the tournament whose results are not listed here.</p>
    
        <p class="q">How many matches did player C win?</p>
         <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    matches
  </div>
</div>
    </form>
    </div>
</div>
<!--        question 12-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">3g.</h3></div>      <div class="card-body"> 
    <form  name="quiz15">
         <img src="img/mgs18/mgs3AA.png" alt="" class="img-fluid">
        <p class="q">In a scrabble tournament, players score 5 points for a win, 3 points for a draw and get 0 points if they lose. Part way through the tournament four of the players taking part, players, A, B, C and D, have played different numbers of games and have all lost at least one game. Note that there are other players playing in the tournament whose results are not listed here.</p>
      
        <p class="q">How many matches did player D win?</p>
     <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
   matches
  </div>
</div>
        
    </form>
    </div>
</div> 
        <!--        question 13-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">3h.</h3></div>      <div class="card-body"> 
    <form  name="quiz16">
       <p class="q">In a scrabble tournament, players score 5 points for a win, 3 points for a draw and get 0 points if they lose. Part way through the tournament four of the players taking part, players, A, B, C and D, have played different numbers of games and have all lost at least one game. Note that there are other players playing in the tournament whose results are not listed here.</p>
        <img src="img/mgs18/mgs3.png" alt="" class="img-fluid">
        <p class="q">How many matches did player D draw?</p>
       
 <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    matches
  </div>
</div>
        
    </form>
    </div>
</div>
<!--        question 14-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">3i.</h3></div>      <div class="card-body"> 
    <form  name="quiz17">
        <img src="img/mgs18/mgs3AA.png" alt="" class="img-fluid">
         <p class="q">In a scrabble tournament, players score 5 points for a win, 3 points for a draw and get 0 points if they lose. Part way through the tournament four of the players taking part, players, A, B, C and D, have played different numbers of games and have all lost at least one game. Note that there are other players playing in the tournament whose results are not listed here.</p>
        
        <p class="q">How many matches did player D lose?</p>
     <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    matches
  </div>
</div>
    </form>
    </div>
</div>
        <!--        question 15-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">4a(i).</h3></div>      <div class="card-body"> 
    <form  name="quiz18">
     <img src="img/mgs18/mgs4AA.png" alt="" class="img-fluid"><br>
        <p class="q">A sequence of rectangles is drawn and the first three rectangles are as follows, with their length and width shown in each case.
</p>
        <p class="q">The perimeters and areas of each rectangle are noted in the table below</p>
        <img src="img/mgs18/mgs4a1.png" alt="" class="img-fluid">
       <p class="q">What is the perimeter of the 4th rectangle?</p>
     <div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
cm
  </div>
</div>
    </form>
    </div>
</div>
         <!--        question 16-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">4a(ii).</h3></div>      <div class="card-body"> 
    <form  name="quiz19">
        
        <img src="img/mgs18/mgs4AA.png" alt="" class="img-fluid"><br>
        <p class="q">A sequence of rectangles is drawn and the first three rectangles are as follows, with their length and width shown in each case.
</p>
        <p class="q">The perimeters and areas of each rectangle are noted in the table below</p>
        <img src="img/mgs18/mgs4a1.png" alt="" class="img-fluid">
       <p class="q">What is the area of the 4th rectangle?</p>
     <div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
cm&#178;
  </div>
</div>
    </form>
    </div>
</div>
          <!--        question 17-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">4a(iii).</h3></div>      <div class="card-body"> 
    <form  name="quiz20"> 
       
       <img src="img/mgs18/mgs4AA.png" alt="" class="img-fluid"><br>
        <p class="q">A sequence of rectangles is drawn and the first three rectangles are as follows, with their length and width shown in each case.
</p>
        <p class="q">The perimeters and areas of each rectangle are noted in the table below</p>
        <img src="img/mgs18/mgs4a1.png" alt="" class="img-fluid">
       <p class="q">What is the perimeter of the 5th rectangle?</p>
     <div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
cm
  </div>
</div>
    </form>
    </div>
</div>
                  <!--        question 18-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">4a(iv).</h3></div>      <div class="card-body"> 
    <form  name="quiz21">
       <img src="img/mgs18/mgs4AA.png" alt="" class="img-fluid"><br>
        <p class="q">A sequence of rectangles is drawn and the first three rectangles are as follows, with their length and width shown in each case.
</p>
        <p class="q">The perimeters and areas of each rectangle are noted in the table below</p>
        <img src="img/mgs18/mgs4a1.png" alt="" class="img-fluid">
       <p class="q">What is the area of the 5th rectangle?</p>
     <div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
cm&#178;
  </div>
</div>
    </form>
    </div>
</div>
<!--        question 19-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">4b.</h3></div>      <div class="card-body"> 
    <form  name="quiz22"> 
        <img src="img/mgs18/mgs4AA.png" alt="" class="img-fluid"><br>
        <p class="q">A sequence of rectangles is drawn and the first three rectangles are as follows, with their length and width shown in each case.
</p>
        <p class="q">The perimeters and areas of each rectangle are noted in the table below</p>
        <img src="img/mgs18/mgs4a1.png" alt="" class="img-fluid">
       <p class="q">Which rectangle number has a perimeter of 162?</p>
     <div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">

  </div>
</div>
    </form>
    </div>
</div>
<!--        question 20-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">4c.</h3></div>      <div class="card-body"> 
    <form  name="quiz23"> 
        <img src="img/mgs18/mgs4AA.png" alt="" class="img-fluid"><br>
        <p class="q">A sequence of rectangles is drawn and the first three rectangles are as follows, with their length and width shown in each case.
</p>
        <p class="q">The perimeters and areas of each rectangle are noted in the table below</p>
        <img src="img/mgs18/mgs4a1.png" alt="" class="img-fluid">
       <p class="q">What is the area of rectangle number 30?</p>
     <div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
cm&#178;
  </div>
</div>
    </form>
    </div>
</div>
<!--       Section B question 1-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">5a.</h3></div>      <div class="card-body"> 
    <form  name="quiz24">
        <p class="q">
If 2&#x2074; x 3&#185; = 2 x 2 x 2 x 2 x 3 = 48
</p>    <br>
        <p class="q">and 2&#x2070; x 3&#178; = 9
</p><p class="q">Find 2&#178; x 3&#179;</p>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        Section B question 2-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">5b.</h3></div>      <div class="card-body"> 
    <form  name="quiz25">
        <p class="q">
If 2&#x2074; x 3&#185; = 2 x 2 x 2 x 2 x 3 = 48
</p>    <br>
        <p class="q">and 2&#x2070; x 3&#178; = 9
</p>
        <p class="q"> Find the largest value of n for which 2&#x2070; x 3&#x207F; is less than 100</p>
       <br>
  <div class="ui labeled input">
  <div class="ui label">
    n = 
  </div>
  <input type="text" name="question1">
</div>
    </form>
    </div>
</div>
        <!--  Section B question 3--->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">5c.</h3></div>      <div class="card-body"> 
    <form  name="quiz26">
     <p class="q">
If 2&#x2074; x 3&#185; = 2 x 2 x 2 x 2 x 3 = 48
</p>  
        <p class="q">and 2&#x2070; x 3&#178; = 9
</p>
        <p class="q">Find the smallest value of n for which 2&#x207F; x 3&#185; is greater than 100</p> 
       
<div class="ui labeled input">
  <div class="ui label">
    n = 
  </div>
  <input type="text" name="question1">
</div>
    </form>
    </div>
</div>
<!--       Section B question 4a--->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">5d.</h3></div>      <div class="card-body"> 
    <form  name="quiz27">
        <p class="q">
If 2&#x2074; x 3&#185; = 2 x 2 x 2 x 2 x 3 = 48
</p>  
        <p class="q">and 2&#x2070; x 3&#178; = 9
</p>
        <p class="q">Find the values of n and i for which 2&#x207F; x 3&#x2071; = 144</p> 
<div class="ui labeled input">
  <div class="ui label">
    n = 
  </div>
  <input type="text" name="question1">
</div>
        <div class="ui labeled input">
  <div class="ui label">
    i = 
  </div>
  <input type="text" name="question2">
</div>
    </form>
    </div>
</div>
<!--        Section B question 4b--->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">6a.</h3></div>      <div class="card-body"> 
    <form  name="quiz28">
       
        <p class="q">Ger puts a cube against the floor and the walls in the corner of his room, as in diagram 1, then
paints the faces that he can see. He therefore paints three faces.
</p> 
         <img src="img/mgs2018/mgs6A.png" alt="" class="img-fluid">
           <p class="q">In the second corner he puts four cubes in a square on the floor in the corner and then puts one cube on top in the corner too as shown in diagram 2. If he paints all the faces he can see now, how many faces does he paint on the cubes in this corner?</p> 
<div class="ui  input focus">
  <input type="text" name="question1">
</div>
    </form>
    </div>
</div>
<!--        SECTION B 5-->

<div class="mySlides">
    <div class="card-header"><h3 class="card-title">6b.</h3></div>      <div class="card-body"> 
    <form  name="quiz29">
       
        <p class="q">Ger puts a cube against the floor and the walls in the corner of his room, as in diagram 1, then
paints the faces that he can see. He therefore paints three faces.
</p> 
         <img src="img/mgs2018/mgs6A.png" alt="" class="img-fluid">
           <p class="q">In the third corner he puts nine cubes in a square on the floor in the corner and then puts four cubes on top of the nine and then finally puts one cube on top of the four cubes. If he paints all the faces
he can see here, how many faces does he paint on the cubes
in this corner?
</p>      
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    faces
  </div>
</div>
    </form>
    </div>
</div>
<!--        Section B 6a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">6c.</h3></div>      <div class="card-body"> 
    <form  name="quiz30">
           <p class="q">Ger puts a cube against the floor and the walls in the corner of his room, as in diagram 1, then
paints the faces that he can see. He therefore paints three faces.
</p> 
         <img src="img/mgs2018/mgs6A.png" alt="" class="img-fluid">
           <p class="q">In the last corner he starts with 16 cubes in a square on the floor in the corner and then puts nine cubes on top and then four on top of those and finally one on top of the four in the corner. If he paints all the faces he can see now, how many faces does he paint on the cubes in this last corner?
</p>  
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        Section B 6b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">7.</h3></div>      <div class="card-body"> 
    <form  name="quiz31">
      <p class="q">In a school athletics triathlon, children score points for their performances in three events, running 100 m, Long Jump and Shot Putt (throwing) according to the following table
</p>   <img src="img/mgs2018/mgs7a.png" alt="" class="img-fluid">
        <p class="q">So if Richard ran the 100 m in 13.0 secs he would earn 100 points, he would earn a further 80 points for putting the shot 8.6 m and 70 points for a long jump of 2.7 m making a total of 250 points scored for his performance in the three events</p>
        <p class="q">If Alan runs 100 m in 14.9 secs, Long Jumps 3.1 metres and Putts the Shot 7.5 metres what is his total points score?</p>
      
        <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
  points
  </div>
</div>
        
    </form>
    </div>
</div>
<!--   Section B 7-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">7b.</h3></div>      <div class="card-body"> 
    <form  name="quiz32">
        <p class="q">In a school athletics triathlon, children score points for their performances in three events, running 100 m, Long Jump and Shot Putt (throwing) according to the following table
</p>   <img src="img/mgs2018/mgs7A.png" alt="" class="img-fluid">
        <p class="q">So if Richard ran the 100 m in 13.0 secs he would earn 100 points, he would earn a further 80 points for putting the shot 8.6 m and 70 points for a long jump of 2.7 m making a total of 250 points scored for his performance in the three events</p>
        <p class="q">Betty runs the 100 m in 13.2 seconds and scores 20 points less in the Long Jump. How far does she jump?</p>
     
 <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    m
  </div>
</div>
    </form>
    </div>
</div>
<!--        Section B 8-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">7c.</h3></div>      <div class="card-body"> 
    <form  name="quiz33">
             <p class="q">In a school athletics triathlon, children score points for their performances in three events, running 100 m, Long Jump and Shot Putt (throwing) according to the following table
</p>   <img src="img/mgs2018/mgs7A.png" alt="" class="img-fluid">
        <p class="q">So if Richard ran the 100 m in 13.0 secs he would earn 100 points, he would earn a further 80 points for putting the shot 8.6 m and 70 points for a long jump of 2.7 m making a total of 250 points scored for his performance in the three events</p>
        <p class="q">Colin long jumped 4.1 metres, putt the shot 7.5 metres and scored 210 points. How fast did he run the 100 m?</p>
 <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    seconds
  </div>
</div>
          
    </form>
    </div>
</div>
<!--        Section B 9a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">7d.</h3></div>      <div class="card-body"> 
    <form  name="quiz34">
              <p class="q">In a school athletics triathlon, children score points for their performances in three events, running 100 m, Long Jump and Shot Putt (throwing) according to the following table
</p>   <img src="img/mgs2018/mgs7A.png" alt="" class="img-fluid">
        <p class="q">So if Richard ran the 100 m in 13.0 secs he would earn 100 points, he would earn a further 80 points for putting the shot 8.6 m and 70 points for a long jump of 2.7 m making a total of 250 points scored for his performance in the three events</p>
        <p class="q">Deepak averages 60 points over the three events having run the 100 m in 16.2 secs and long jumped 2.2 metres. How far does he putt the shot?</p>
        
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
metres
  </div>
</div>
        
    </form>
    </div>
</div>
        <!--   Section B 9b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">7e.</h3></div>      <div class="card-body"> 
    <form  name="quiz35">
           <p class="q">In a school athletics triathlon, children score points for their performances in three events, running 100 m, Long Jump and Shot Putt (throwing) according to the following table
</p>   <img src="img/mgs2018/mgs7A.png" alt="" class="img-fluid">
        <p class="q">So if Richard ran the 100 m in 13.0 secs he would earn 100 points, he would earn a further 80 points for putting the shot 8.6 m and 70 points for a long jump of 2.7 m making a total of 250 points scored for his performance in the three events</p>
        <p class="q">Emily scores the same number of points in her 100 m run as she does for putting the shot 9.5 metres. Francine scores the same number of points in her 100 m run as she does for her 2.35 metre long jump. What is the difference in time between their two runs?</p>
 <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
 seconds
  </div>
</div>

    </form>
    </div>
</div>
        <!--     Section B 9c-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">7f.</h3></div>      <div class="card-body"> 
    <form  name="quiz36">
          <p class="q">In a school athletics triathlon, children score points for their performances in three events, running 100 m, Long Jump and Shot Putt (throwing) according to the following table
</p>   <img src="img/mgs2018/mgs7A.png" alt="" class="img-fluid">
        <p class="q">So if Richard ran the 100 m in 13.0 secs he would earn 100 points, he would earn a further 80 points for putting the shot 8.6 m and 70 points for a long jump of 2.7 m making a total of 250 points scored for his performance in the three events</p>
        <p class="q">A Gold award is achieved by scoring a total of 270 points. What is the slowest run that could win a Gold award?</p>
 <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    seconds
  </div>
</div>
         
    </form>
    </div>
</div>
               <!--   Section B 10-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">8a.</h3></div>      <div class="card-body"> 
    <form  name="quiz37">
          <p class="q">Three football teams, Aardvark Athletic, Buffalo Bears and Caribou Celtic, record of points gained during the first ten weeks of the 2016 - 17 season are shown on the graph below. Using the graph answer the questions which follow </p>
  <img src="img/mgs2018/mgs8A.png" alt="" class="img-fluid">
        <p class="q">How many points did team A - Aardvark Athletic have
after week six?</p>
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    points
  </div>
</div>
        
    </form>
    </div>
</div>
        <!--        Section C 1a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">8b.</h3></div>      <div class="card-body"> 
    <form  name="quiz38">
         <p class="q">Three football teams, Aardvark Athletic, Buffalo Bears and Caribou Celtic, record of points gained during the first ten weeks of the 2016 - 17 season are shown on the graph below. Using the graph answer the questions which follow </p>
  <img src="img/mgs2018/mgs8A.png" alt="" class="img-fluid">
        <p class="q">In which week did team A - Aardvark Athletic gain the most number of points?</p>
     
<div class="ui labeled input">
  <div class="ui label">
    week
  </div>
  <input type="text" name="question1">
</div>      
    </form>
    </div>
</div>
        <!--    Section C 1b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">8c.</h3></div>      <div class="card-body"> 
    <form  name="quiz39">
        <p class="q">Three football teams, Aardvark Athletic, Buffalo Bears and Caribou Celtic, record of points gained during the first ten weeks of the 2016 - 17 season are shown on the graph below. Using the graph answer the questions which follow </p>
  <img src="img/mgs2018/mgs8A.png" alt="" class="img-fluid">
        <p class="q">When Aardvark Athletic has the same number of points as team C - Caribou Celtic how many more points do team B - Buffalo Bears have?</p>
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    points
  </div>
</div>
    </form>
    </div>
</div>
        <!--   Section C 1c-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">8d.</h3></div>      <div class="card-body"> 
    <form  name="quiz40">
        <p class="q">Three football teams, Aardvark Athletic, Buffalo Bears and Caribou Celtic, record of points gained during the first ten weeks of the 2016 - 17 season are shown on the graph below. Using the graph answer the questions which follow </p>
  <img src="img/mgs2018/mgs8A.png" alt="" class="img-fluid">
        <p class="q">In how many weeks did Caribou Celtic gain exactly one point?</p> 
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    weeks
  </div>
</div>
    </form>
    </div>
</div>
        <!--       Section C 1d-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">8e.</h3></div>      <div class="card-body"> 
    <form  name="quiz41">
<p class="q">Three football teams, Aardvark Athletic, Buffalo Bears and Caribou Celtic, record of points gained during the first ten weeks of the 2016 - 17 season are shown on the graph below. Using the graph answer the questions which follow </p>
  <img src="img/mgs2018/mgs8A.png" alt="" class="img-fluid">
        <p class="q">How many more points did Buffalo Bears gain than Aardvark Athletic in week 7?</p> 
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    points
  </div>
</div>
    </form>
    </div>
</div>
        <!--   Section C 1e-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">8f.</h3></div>      <div class="card-body"> 
    <form  name="quiz42">
        <p class="q">Three football teams, Aardvark Athletic, Buffalo Bears and Caribou Celtic, record of points gained during the first ten weeks of the 2016 - 17 season are shown on the graph below. Using the graph answer the questions which follow </p>
  <img src="img/mgs2018/mgs8A.png" alt="" class="img-fluid">
        <p class="q">What was the total number of points gained in week 6?</p>
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    points
  </div>
</div>
    </form>
    </div>
</div>
        <!--  Section C 1f-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">8g.</h3></div>      <div class="card-body"> 
    <form  name="quiz43">
       <p class="q">Three football teams, Aardvark Athletic, Buffalo Bears and Caribou Celtic, record of points gained during the first ten weeks of the 2016 - 17 season are shown on the graph below. Using the graph answer the questions which follow </p>
  <img src="img/mgs2018/mgs8A.png" alt="" class="img-fluid">
        <p class="q">At the end of which week were Buffalo Bears seven points ahead of Aardvark Athletic?</p>
<div class="ui labeled input">
  <div class="ui label">
    week
  </div>
  <input type="text" name="question1">
</div>
     
    </form>
    </div>
</div>
        <!--   Section C 2a(i)-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">9a.</h3></div>      <div class="card-body"> 
    <form  name="quiz44">  
         <p class="q">The company Clearglass makes and fits window units and has the following scale of charges for its work.</p>
        <p class="q">It charges £500 for each square metre of glass in the window unit and there is a fixed charge of £150 for making each window unit.</p>
        <p class="q">For example:- the cost of making a unit 2m wide by 1.5m high will be calculated as</p>
        <p class="q">2 x 1.5 x 500 + 150 = 1500 + 150 = £1650
        <p class="q">What is the total cost of one window unit which measures 1.5 m by 1.8 m? </p>
<div class="ui labeled input">
  <div class="ui label">
    £
  </div>
  <input type="text" name="question1">
</div>
    </form>
    </div>
</div>
        <!--  Section C 2a(ii)-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">9b.</h3></div>      <div class="card-body"> 
    <form  name="quiz45">
        <p class="q">The company Clearglass makes and fits window units and has the following scale of charges for its work.</p>
        <p class="q">It charges £500 for each square metre of glass in the window unit and there is a fixed charge of £150 for making each window unit.</p>
        <p class="q">For example:- the cost of making a unit 2m wide by 1.5m high will be calculated as</p>
        <p class="q">2 x 1.5 x 500 + 150 = 1500 + 150 = £1650
        <p class="q">If the total cost of a different window unit is £1050, what is its area in m&#178;? </p>
           
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    m&#178;
  </div>
</div>
    </form>
    </div>
</div>
                <!-- Section C 2a(iii)-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">9c.</h3></div>      <div class="card-body"> 
    <form  name="quiz46">
        <p class="q">The company Clearglass makes and fits window units and has the following scale of charges for its work.</p>
        <p class="q">It charges £500 for each square metre of glass in the window unit and there is a fixed charge of £150 for making each window unit.</p>
        <p class="q">For example:- the cost of making a unit 2m wide by 1.5m high will be calculated as</p>
        <p class="q">2 x 1.5 x 500 + 150 = 1500 + 150 = £1650
        <p class="q">If the window unit in part b) is 1.5m high, how wide is it? </p>
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    m
  </div>
</div>
    </form>
    </div>
</div>
<!--       Section C 2b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">9d.</h3></div>      <div class="card-body"> 
    <form  name="quiz47">
            <p class="q">The company Clearglass makes and fits window units and has the following scale of charges for its work.</p>
        <p class="q">It charges £500 for each square metre of glass in the window unit and there is a fixed charge of £150 for making each window unit.</p>
        <p class="q">For example:- the cost of making a unit 2m wide by 1.5m high will be calculated as</p>
        <p class="q">2 x 1.5 x 500 + 150 = 1500 + 150 = £1650
        <p class="q">The diagram above shows a plan of the front window in a house which has to be made and fitted as three separate window units. The middle section of the window is 2.2m wide and the side sections are each 0.5m wide. The whole front window is 1.5m high. Calculate the total cost of making the three window units for this front window. </p>
<div class="ui labeled input">
  <div class="ui label">
    £
  </div>
  <input type="text" name="question1">
</div>
        
    </form>
    </div>
</div>
<!--    Section C 2c-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">10a.</h3></div>      <div class="card-body"> 
    <form  name="quiz48">
        <p class="q">The volume of a sphere can be calculated approximately using the following formula</p>
<p class="q">The mass of the sphere is then calculated using the formula
</p><p class="q">M = V x d/1000 where d is the density of the material that makes up the sphere. </p>
        <p class="q">For example if r = 20 and d = 3 then we can find the Volume (V) and the Mass (M) as follows</p>
        <p class="q">V = 4 x (20)3 = 4 x 20 x 20 x 20 = 32000</p>
        <p class="q">Using the two formulae:</p>
        <p class="q">Find the Volume (V) and the Mass (M)
if the radius (r) is 10 and the density (d) is 5</p>
<div class="ui labeled input">
  <div class="ui label">
    Volume = 
  </div>
  <input type="text" name="question1">
</div>
        <div class="ui labeled input">
  <div class="ui label">
    Mass = 
  </div>
  <input type="text" name="question2">
</div>
        
    </form>
    </div>
</div>
                <!-- Section C 2d-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">10b.</h3></div>      <div class="card-body"> 
    <form  name="quiz49">
          <p class="q">Find the Volume (V) and the Mass (M) if the radius (r) is 3 and the density (d) is 10</p>
<div class="ui labeled input">
  <div class="ui label">
    V = 
  </div>
  <input type="text" name="question1">
</div>
        <div class="ui labeled input">
  <div class="ui label">
    M = 
  </div>
  <input type="text" name="question2">
</div>
    </form>
    </div>
</div>
<!--   Section C 2e(i)-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">10c.</h3></div>      <div class="card-body"> 
    <form  name="quiz50">
       
        <p class="q">Find the Volume (V) and the radius (r) if the Mass (M) is 4 and the density (d) is 8</p>
<div class="ui labeled input">
  <div class="ui label">
    V = 
  </div>
  <input type="text" name="question1">
</div>
        <div class="ui labeled input">
  <div class="ui label">
    r = 
  </div>
  <input type="text" name="question2">
</div>  
    </form>
    </div>
</div>
<!--       Section C 2e(ii)-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">10d.</h3></div>      <div class="card-body"> 
    <form  name="quiz51">
        <p class="q">Find the Volume (V) and the density (d) if the radius (r) is 2 and the Mass (M) is 3.2</p>     
<div class="ui labeled input">
  <div class="ui label">
    V = 
  </div>
  <input type="text" name="question1">
</div>
        <div class="ui labeled input">
  <div class="ui label">
    d = 
  </div>
  <input type="text" name="question2">
</div>
    </form>
    </div>
</div>
      <!--      Section C 3a-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">11a.</h3></div>      <div class="card-body"> 
    <form  name="quiz52">
        <img src="img/mgs18/mgs11A.png" alt="" class="img-fluid">
        <p class="q">A train leaves Manchester with 200 passengers on board comprising of men, women, boys and girls. There are four times as many men as women, twice as many men as boys and three times as many girls as women in the 200 passengers. </p> 
        <p class="q">Calculate the total points in row 1.</p>
     
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    points
  </div>
</div>
    </form>
    </div>
</div>  
<!--        Section C 3b-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">11b.</h3></div>      <div class="card-body"> 
    <form  name="quiz53">
       <img src="img/mgs18/mgs11A.png" alt="" class="img-fluid">
        <p class="q">At the first stop which is Macclesfield, 83 of the men get off and 20% of the women get off the train. Twice as many girls as boys also get off at this first station.</p>
        <p class="q">Calculate thye total points for rows two and three of the table if there are now 112 passengers left on the train after the first stop at Macclesfield and if nobody new boarded the train.</p>
        
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    points for row 2
  </div>
</div>
        <div class="ui right labeled input">
  <input type="text" name="question2">
  <div class="ui basic label">
    points for row 3
  </div>
</div>
    </form>
    </div>
</div> 
        <!--        Section C 4a(i)-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">11c</h3></div>      <div class="card-body"> 
    <form  name="quiz54">
        <img src="img/mgs18/mgs11A.png" alt="" class="img-fluid">
        <p class="q">At the second stop which is Stoke on Trent, all the remaining women get off and an equal number of men also get off. The same number of boys as girls also get off.
If there are now five times as many male passengers
(men and boys) as female passengers (women and girls) left on the train, how many boys got off at this second stop?</p>

<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
   boys
  </div>
</div>
         <p>This is the end of the Examination</p>
    </form>
    </div>
</div> 
<!--    Section C 4a(ii)-->
        

<!--        buttons-->
<div class="container" >
    <div class="row" style="margin: 0 auto">
        <button type="button" id="button1" class="btn btn-success btn-raised"> Check </button>
        <button type="button" id="next1" class="btn btn-primary btn-raised"onclick="plusSlides(1)"> Next </button>
        <button type="button" id="button" class="btn btn-danger btn-raised" data-toggle="modal" data-target="#myModal4"> Total Score </button>     
    </div>
</div>
        
<div class="container" >
    <div class="row" style="margin: 0 auto">
        <span id="tick" class="ms-icon ms-icon-lg ms-icon-circle color-success">
            <i class="fa fa-check"></i>
        </span>
        <span id="wrong" class="ms-icon ms-icon-lg ms-icon-circle color-danger">
            <i class="fa fa-remove"></i>
        </span>    
    </div>
</div>
        
        
<div id="msg"></div>
<div class="dot-container">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span> 
  <span class="dot" onclick="currentSlide(5)"></span> 
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span> 
  <span class="dot" onclick="currentSlide(8)"></span> 
  <span class="dot" onclick="currentSlide(9)"></span>
    <span class="dot" onclick="currentSlide(10)"></span> 
     <span class="dot" onclick="currentSlide(11)"></span> 
  <span class="dot" onclick="currentSlide(12)"></span> 
  <span class="dot" onclick="currentSlide(13)"></span>
  <span class="dot" onclick="currentSlide(14)"></span> 
  <span class="dot" onclick="currentSlide(15)"></span> 
  <span class="dot" onclick="currentSlide(16)"></span>
  <span class="dot" onclick="currentSlide(17)"></span> 
  <span class="dot" onclick="currentSlide(18)"></span> 
  <span class="dot" onclick="currentSlide(19)"></span>
    <span class="dot" onclick="currentSlide(20)"></span>
    <span class="dot" onclick="currentSlide(21)"></span> 
  <span class="dot" onclick="currentSlide(22)"></span> 
  <span class="dot" onclick="currentSlide(23)"></span>
  <span class="dot" onclick="currentSlide(24)"></span> 
  <span class="dot" onclick="currentSlide(25)"></span> 
  <span class="dot" onclick="currentSlide(26)"></span>
  <span class="dot" onclick="currentSlide(27)"></span> 
  <span class="dot" onclick="currentSlide(28)"></span> 
  <span class="dot" onclick="currentSlide(29)"></span>
    <span class="dot" onclick="currentSlide(30)"></span>
    <span class="dot" onclick="currentSlide(31)"></span> 
     <span class="dot" onclick="currentSlide(32)"></span>
  <span class="dot" onclick="currentSlide(33)"></span>
  <span class="dot" onclick="currentSlide(34)"></span> 
  <span class="dot" onclick="currentSlide(35)"></span> 
  <span class="dot" onclick="currentSlide(36)"></span>
  <span class="dot" onclick="currentSlide(37)"></span> 
  <span class="dot" onclick="currentSlide(38)"></span> 
  <span class="dot" onclick="currentSlide(39)"></span>
    <span class="dot" onclick="currentSlide(40)"></span>
    <span class="dot" onclick="currentSlide(41)"></span> 
  <span class="dot" onclick="currentSlide(42)"></span> 
  <span class="dot" onclick="currentSlide(43)"></span>
  <span class="dot" onclick="currentSlide(44)"></span> 
  <span class="dot" onclick="currentSlide(45)"></span> 
  <span class="dot" onclick="currentSlide(46)"></span>
  <span class="dot" onclick="currentSlide(47)"></span> 
  <span class="dot" onclick="currentSlide(48)"></span> 
  <span class="dot" onclick="currentSlide(49)"></span>
    <span class="dot" onclick="currentSlide(50)"></span>
  <span class="dot" onclick="currentSlide(51)"></span> 
  <span class="dot" onclick="currentSlide(52)"></span>
    <span class="dot" onclick="currentSlide(53)"></span>
    <span class="dot" onclick="currentSlide(54)"></span>
   
    
    
</div>    
<!-- last 2 divs from top of card-->
     </div>
        </div>
 <div id="example"></div> 
<!-- Modal -->
<div class="modal modal-primary" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel4">  Your results:  </h3>            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="zmdi zmdi-close"></i></span>
                    </button>
            </div>
        <div class="modal-body">
            <div class="alert alert-info alert-light " role="alert"><p id="badge"></p>
            </div>
             
                <div class="alert alert-info alert-light " role="alert"><p id="points"></p>
                </div>
        </div>
            <div class="row">
                
        <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>    
        </div>
      </div>
    </div>
</div>
<script>
    $("#example").load("./config");
     
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);    
    document.getElementById("tick").style.visibility = "hidden";
    document.getElementById("wrong").style.visibility = "hidden";
    document.getElementById("msg").style.visibility = "hidden";

}

function currentSlide(n) {
  showSlides(slideIndex = n);
    document.getElementById("tick").style.visibility = "hidden";
    document.getElementById("wrong").style.visibility = "hidden";
    document.getElementById("msg").style.visibility = "hidden";
  
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
    if(slideIndex==54){
        document.getElementById("next1").style.visibility = "hidden";
    }
}    
    var correct = 0;
   
    $("#button1").click(function(){       
        var question1 = document.quiz1.question1.value;  
        var question2 = document.quiz2.question1.value;
        var question3 = document.quiz3.question1.value;
        var question4 = document.quiz4.question1.value;
        var question5 = document.quiz5.question1.value;
        var question6 = document.quiz6.question1.value;
        var question7 = document.quiz7.question1.value;
        var question8 = document.quiz8.question1.value;
        var question9 = document.quiz9.question1.value;
        var question10 = document.quiz10.question1.value;
        var question11 = document.quiz11.question1.value;
        var question12 = document.quiz12.question1.value;
        var question13 = document.quiz13.question1.value;
        var question14 = document.quiz14.question1.value;
        var question15 = document.quiz15.question1.value;
        var question16 = document.quiz16.question1.value;
        var question17 = document.quiz17.question1.value;
        var question18 = document.quiz18.question1.value;
        var question19 = document.quiz19.question1.value;
        var question20 = document.quiz20.question1.value;
        var question21 = document.quiz21.question1.value;
        var question22 = document.quiz22.question1.value;
        var question23 = document.quiz23.question1.value;
        var question24 = document.quiz24.question1.value;
        var question25 = document.quiz25.question1.value;
        var question26 = document.quiz26.question1.value;
        var question27 = document.quiz27.question1.value;
        var question28 = document.quiz28.question1.value;
        var question29 = document.quiz29.question1.value;
        var question30 = document.quiz30.question1.value;
        var question31 = document.quiz31.question1.value;
        var question32 = document.quiz32.question1.value;
        var question33 = document.quiz33.question1.value;
        var question34 = document.quiz34.question1.value;
        var question35 = document.quiz35.question1.value;
        var question36 = document.quiz36.question1.value;
        var question37 = document.quiz37.question1.value;
        var question38 = document.quiz38.question1.value;
        var question39 = document.quiz39.question1.value;
        var question40 = document.quiz40.question1.value;
        var question41 = document.quiz41.question1.value;
        var question42 = document.quiz42.question1.value;
        var question43 = document.quiz43.question1.value;
        var question44 = document.quiz44.question1.value;
        var question45 = document.quiz45.question1.value;
        var question46 = document.quiz46.question1.value;
        var question47 = document.quiz47.question1.value;
        var question48 = document.quiz48.question1.value;
        var question49 = document.quiz49.question1.value;
        var question50 = document.quiz50.question1.value;
        var question51 = document.quiz51.question1.value;
        var question52 = document.quiz52.question1.value;
        var question53 = document.quiz53.question1.value;
        var question54 = document.quiz54.question1.value;
        var question56 = document.quiz27.question2.value;

        var question57 = document.quiz48.question2.value;
        var question58 = document.quiz49.question2.value;
        var question59 = document.quiz50.question2.value;
        var question60 = document.quiz51.question2.value;
        var question61 = document.quiz53.question2.value;
////       
       
              
        //2 question
       if(slideIndex==2&&question2 == 4.60){
             
        document.getElementById("tick").style.visibility = "visible";
           document.getElementById("msg").style.visibility = "visible";
           document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
           //3 question
  } else if(slideIndex==3&&question3 == 8){
             
        document.getElementById("tick").style.visibility = "visible";
      document.getElementById("msg").style.visibility = "visible";
      document.getElementById("msg").textContent= " Correct! 1 mark";
      correct++;
  }
        //1 question
         else if(slideIndex==1&&question1 == '13.20'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //4 question 
        else if(slideIndex==4&&question4 == '22.20'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //5 question 
        else if(slideIndex==5&&question5 == '12,15,18'||slideIndex==5&&question5=='12, 15, 18'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  } 
//        //6a question
        else if(slideIndex==6&&question6 == '11, 13, 17, 19'||slideIndex==6&&question6 == '11,13,17,19'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 mark"; 
            correct++;
  } 
        //6b question
        else if(slideIndex==7&&question7 == 16){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//    //6c question
        else if(slideIndex==8&&question8 == '1,2,7,14'||slideIndex==8&&question8 == '1, 2, 7, 14'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
//        //7 question
        else if(slideIndex==9&&question9 == 3){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //8 question 
        else if(slideIndex==10&&question10 == 44){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //9 question 
        else if(slideIndex==11&&question11 == 4){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //10 question
        else if(slideIndex==12&&question12 ==3){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
  //       question 11a
        else if(slideIndex==13&&question13 ==15){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//    //12 question
        else if(slideIndex==14&&question14 == 7){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
        //13 question
        else if(slideIndex==15&&question15 == 6){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks"; 
            correct++;
  }  
//             //14 question 
        else if(slideIndex==16&&question16 == 0){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //15 question
        else if(slideIndex==17&&question17 == 2){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //16 question
        else if(slideIndex==18&&question18 == 18){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//    //17 question
        else if(slideIndex==19&&question19 == 20){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
//        //18 question
        else if(slideIndex==20&&question20 == 22){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks"; 
            correct++;
  } 
//        //19 question 22
        else if(slideIndex==21&&question21 == 30){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //20 question 
        else if(slideIndex==22&&question22 ==40){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //***********
        //29
        //***********
 
        else if(slideIndex==23&&question23 == 930){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //2 question
        else if(slideIndex==24&&question24 == 108){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks"; 
            correct++;
  } 
    //3 question
        else if(slideIndex==25&&question25 == 4){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
//4a 27 marks to here
        else if(slideIndex==26&&question26 == 6){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }  
//4b question 
        else if(slideIndex==27&&question27 == 4&&question56==2){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  } 
 //5 question
        else if(slideIndex==28&&question28 == 10){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//6a question
        else if(slideIndex==29&&question29 == 21){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//6b question
        else if(slideIndex==30&&question30 ==36){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
////7 question
        else if(slideIndex==31&&question31==200){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks"; 
            correct++;
  } 
 //8 question 
        else if(slideIndex==32&&question32 == 2.7){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks"; 
            correct++;
  } 
//9a question 
        else if(slideIndex==33&&question33 == 16.2){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//9b question
        else if(slideIndex==34&&question34 == 8.6){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=1;
  } 
//9c question
        else if(slideIndex==35&&question35 == 1.7){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark1"; 
            correct++;
  } 
//10 question
        else if(slideIndex==36&&question36 == 14.1){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=1;
  }     
//        //**********
//        //Section C
//        //***********
////1a question
        else if(slideIndex==37&&question37 == 15){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=1;
  }  
//1b question 
        else if(slideIndex==38&&question38 == 2){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=1;
  } 
        //1c question
        else if(slideIndex==39&&question39 == 1){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //1d question
        else if(slideIndex==40&&question40 == 3){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
    //1e question
        else if(slideIndex==41&&question41 == 2){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
//1f question
        else if(slideIndex==42&&question42 == 4){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//2a(i) question 
        else if(slideIndex==43&&question43 == 8){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//2a(ii) question 
        else if(slideIndex==44&&question44 == 1500||slideIndex==44&&question44 == 1500.00){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//2a(iii) question
        else if(slideIndex==45&&question45 == 1.8){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//2b question=
        else if(slideIndex==46&&question46 == 1.2){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=1;
  } 
//2c question
        else if(slideIndex==47&&question47 == 2850||slideIndex==47&&question47 == 2850.00){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=1;
  }     
//2d question
        else if(slideIndex==48&&question48 ==4000&&question57==20){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  } 
//2e(i) question
        else if(slideIndex==49&&question49 == 108&&question58== 1.08){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  } 
//2e(ii) question
        else if(slideIndex==50&&question50 ==500 &&question59==5){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  } 
//3a question
        else if(slideIndex==51&&question51 == 32&&question60==100){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  }     
//3b question
        else if(slideIndex==52&&question52 == 200){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//4a(i) question
        else if(slideIndex==53&&question53 == 88&&question61==112){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  }     
//4a(ii) question
        else if(slideIndex==54&&question54==16){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=1;
  } 


        else {
      document.getElementById("wrong").style.visibility = "visible";
            document.getElementById("msg").style.visibility = "visible";
    document.getElementById("msg").textContent= " Not Yet"; 
  } 
    
        if(correct>0){
            document.getElementById("badge").textContent= "Total questions correct: " + correct + " / 60";  
            document.getElementById("points").textContent= "Percentage = " + Math.round(correct/60*100) + "%";
           
        }
       });
       
    $("input").attr("maxlength", 20)
</script>


<% include ./partials/footer %>
            
      
    
