<% include ./partials/header %>
<style>
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
        background-color: #9C27B0;
    }

    #button {
        background-color: #009caf;
    }

    #button1 {
        background-color: #9C27B0;
    }
    #square {
        background-color:yellow;
        width:50%
    }
</style>

<p id = "input"></p>

<div class="col-lg-11 ms-paper-content-container" style="text-align: center">
    <div class="ms-paper-content" style="display:inline-block">
        <div class="alert alert-light alert-info">
            <p>Score: <span class="ml-auto badge-pill badge-pill-info"> <%=currentUser.score %></span> Each question is
                worth 10 points. Remember to read the signs!
                <strong>Good Luck! </strong> </p>
        </div>
    </div>
</div>


<!--   Video        -->
<div id="video" style="text-align: center">
    <div class="col-md-6" style="display:inline-block">
        <h3 class="text-center">Which 2 numbers differ by 2 and have a product of 168?</h3>
        <div class="card card-info-inverse">
            <div class="card-header">
                <h3 class="card-title"><i class="zmdi zmdi-graduation-cap"></i> Watch the tutorial below:</h3>
            </div>
            <div class="js-player">
                <script src="https://snowytopmaths.cdn.vooplayer.com/assets/vooplayer.js"></script><iframe
                    allow="autoplay" class="video-player-container vooplayer" data-playerId="MTQ1NjMy"
                    allowtransparency="true" style="max-width:100%" name="vooplayerframe" allowfullscreen="true"
                    src="https://snowytopmaths.cdn.vooplayer.com/publish/MTQ1NjMy" frameborder="0" scrolling="no">
                </iframe>
            </div>
            <div class="card-body overflow-hidden text-center">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <p id="userId"><%=currentUser.id %> </p>
  
</div>

<div style="text-align: center">
    <div class="card card-royal col-md-6" style="display:inline-block">

        <!--        First question-->
        <div class="mySlides">
            <div class="card-header">
                <h3 class="card-title">1.</h3>
            </div>
            <div class="card-body">
                <form name="quiz1">
                    <p class="q" id="q1"></p>
                    <div class="ui input focus">
                        <input type="text" placeholder="1st number" name="question1">
                    </div>
                    <div class="ui input focus">
                        <input type="text" placeholder="2nd number" name="question2">
                    </div>
                </form>
            </div>
        </div>
        <!--     2nd question                -->
        <div class="mySlides">
            <div class="card-header">
                <h3 class="card-title">2.</h3>
            </div>
            <div class="card-body">
                <form name="quiz2">
                <p class="q" id="q2"></p>
                    <div class="ui input focus">
                        <input type="text" placeholder="1st Number" name="question1">
                    </div>
                    <div class="ui input focus">
                        <input type="text" placeholder="2nd number" name="question2">
                    </div>
                </form>
            </div>
        </div>
        <!--   3rd question       -->
        <div class="mySlides">
            <div class="card-header">
                <h3 class="card-title">3.</h3>
            </div>
            <div class="card-body">
                <form name="quiz3">
                <p class="q" id="q3"></p>
                    <div class="ui input focus">
                        <input type="text" placeholder="1st Number" name="question1">
                    </div>
                    <div class="ui input focus">
                        <input type="text" placeholder="2nd number" name="question2">
                    </div>
                </form>
            </div>
        </div>
        <!--4th question        -->
        <div class="mySlides">
            <div class="card-header">
                <h3 class="card-title">4.</h3>
            </div>
            <div class="card-body">
                <form name="quiz4">
                <p class="q" id="q4"></p>
                    <div class="ui input focus">
                        <input type="text" placeholder="1st Number" name="question1">
                    </div>
                    <div class="ui input focus">
                        <input type="text" placeholder="2nd number" name="question2">
                    </div>
                </form>
            </div>
        </div>
        <!--    5th question    -->
        <div class="mySlides">
            <div class="card-header">
                <h3 class="card-title">5.</h3>
            </div>
            <div class="card-body">
                <form name="quiz5">
                <p class="q" id="q5"></p>
                    <div class="ui input focus">
                        <input type="text" placeholder="1st Number" name="question1">
                    </div>
                    <div class="ui input focus">
                        <input type="text" placeholder="2nd number" name="question2">
                    </div>
                </form>
            </div>
        </div>
        <!--   6th question     -->
        <div class="mySlides">
            <div class="card-header">
                <h3 class="card-title">6.</h3>
            </div>
            <div class="card-body">
                <form name="quiz6">
                <p class="q" id="q6"></p>
                    <div class="ui input focus">
                        <input type="text" placeholder="1st Number" name="question1">
                    </div>
                    <div class="ui input focus">
                        <input type="text" placeholder="2nd number" name="question2">
                    </div>
                </form>
            </div>
        </div>
        <!--        buttons-->
        <div class="container">
            <div class="row" style="margin: 0 auto">
                <button type="button" id="button1" class="btn btn-success btn-raised"> Check </button>
                <button type="button" id="next1" class="btn btn-primary btn-raised" onclick="plusSlides(1)"> Next
                </button>
                <button type="button" id="button" class="btn btn-danger btn-raised" data-toggle="modal"
                    data-target="#myModal4"> Total Score </button>
            </div>
        </div>

        <div class="container">
            <div class="row" style="margin: 0 auto">
                <span id="tick" class="ms-icon ms-icon-lg ms-icon-circle color-success">
                    <i class="fa fa-check"></i>
                </span>
                <span id="wrong" class="ms-icon ms-icon-lg ms-icon-circle color-danger">
                    <i class="fa fa-remove"></i>
                </span>
            </div>
        </div>


        <div id="msg"></div>
        <div class="dot-container">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
            <span class="dot" onclick="currentSlide(6)"></span>
        </div>
        <!-- last 2 divs from top of card-->
    </div>
</div>
<div id="example"></div>
<!-- Modal -->
<div class="modal modal-primary" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel4"> <%=currentUser.username %>, you have scored </h3> <button
                    type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="zmdi zmdi-close"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success alert-light " role="alert">
                    <p id="badge"></p>
                </div>
                <div class="alert alert-danger alert-light " role="alert">
                    <p id="points"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class = "container">
<div id="square"></div>
<button id="changeSquare">Change Number</button>

</div>
<script>
    $("#example").load("./config");

    var slideIndex = 1;
    showSlides(slideIndex);


    function plusSlides(n) {
        showSlides(slideIndex += n);
        document.getElementById("tick").style.visibility = "hidden";
        document.getElementById("wrong").style.visibility = "hidden";
        document.getElementById("msg").style.visibility = "hidden";
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
        document.getElementById("tick").style.visibility = "hidden";
        document.getElementById("wrong").style.visibility = "hidden";
        document.getElementById("msg").style.visibility = "hidden";
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        if (slideIndex == 6) {
            document.getElementById("next1").style.visibility = "hidden";
        }
    }
    var correct = 0;

    $("#button1").click(function () {
        var question1 = document.quiz1.question1.value;
        var question7 = document.quiz1.question2.value;

        var question2 = document.quiz2.question1.value;
        var question8 = document.quiz2.question2.value;

        var question3 = document.quiz3.question1.value;
        var question9 = document.quiz3.question2.value;

        var question4 = document.quiz4.question1.value;
        var question10 = document.quiz4.question2.value;

        var question5 = document.quiz5.question1.value;
        var question11 = document.quiz5.question2.value;

        var question6 = document.quiz6.question1.value;
        var question12 = document.quiz6.question2.value;
        //2nd question
        if (slideIndex == 2 && question2 == 13 && question8 == 15 || slideIndex == 2 && question2 == 15 &&
            question8 == 13) {
            checkAnswer();
            showTicks()
            //third question
        } else if (slideIndex == 3 && question3 == 16 && question9 == 18 || slideIndex == 3 && question3 ==
            18 && question9 == 16) {
            checkAnswer();
            showTicks();
        }
        //first question
        else if (slideIndex == 1 && question1 == 9 && question7 == 11 || slideIndex == 1 && question1 == 11 &&
            question7 == 9) {
            checkAnswer();
            showTicks();
        }
        //4th question 
        else if (slideIndex == 4 && question4 == 17 && question10 == 19 || slideIndex == 4 && question4 == 19 &&
            question10 == 17) {
            checkAnswer();
            showTicks();
        }
        //5th question 
        else if (slideIndex == 5 && question5 == 9 && question11 == 12 || slideIndex == 5 && question5 == 12 &&
            question11 == 9) {
            checkAnswer();
            showTicks();
        }
        //6th question
        else if (slideIndex == 6 && question6 == 12 && question12 == 15 || slideIndex == 6 && question6 == 15 &&
            question12 == 12) {
            checkAnswer();
            showTicks();
        } else {
            document.getElementById("wrong").style.visibility = "visible";
            document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent = " One or more may be incorrect. Please try again.";
        }
        document.getElementById("badge").textContent = `${correct} out of 6`; 
        document.getElementById("points").textContent = `Points earned:  ${correct * 10} points!`
    });

    function showTicks (){
        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Well done! 10 points";
        correct ++;
        }

    function checkAnswer() {
        var id = $("#userId").text();
        var url = "https://api.mlab.com/api/1/databases/maths_app/collections/users/";
        var api = $("#example").text();
        var idAndApi = id + api;

        var sliced = id.slice(0, -1);
        var finalApi = url + sliced + api;

        $.ajax({
            url: finalApi,
            type: "put",
            data: JSON.stringify({
                "$inc": {
                    "score": 10
                }
            }),
            contentType: "application/json",
            success: function (data) {
                getScore();
                $("#jquery").text(data.score);
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });

        function getScore() {
            var id = $("#userId").text();
            var url = "https://api.mlab.com/api/1/databases/maths_app/collections/users/";
            var api = $("#example").text();
            var idAndApi = id + config;

            var sliced = id.slice(0, -1);
            var finalApi = url + sliced + api;
            $.ajax({
                url: finalApi,
                type: "get",
                data: JSON.stringify(),
                contentType: "application/json",
                success: function (data) {
                    $("#jquery").text(data.score);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
    };
    $("input").attr("maxlength", 5)
    
    function getJSON (){
        fetch('./questions/multdiv1.json')
        .then(function(res){
            console.log(res)
            return res.json()
           
        })
        .then(function(data){
            console.log(data)
            let output1 = data[0].question_text
            let output2 = data[1].question_text
            let output3 = data[2].question_text
            let output4 = data[3].question_text
            let output5 = data[4].question_text
            let output6 = data[5].question_text
            document.getElementById("q1").innerHTML = output1
            document.getElementById("q2").innerHTML = output2
            document.getElementById("q3").innerHTML = output3
            document.getElementById("q4").innerHTML = output4
            document.getElementById("q5").innerHTML = output5
            document.getElementById("q6").innerHTML = output6
        })
        .catch(function(error){
            console.log("error loading JSON")
        })
    }
    getJSON()
    
</script>
<% include ./partials/footer %>