
<% include ./partials/header %>

<div class="container">
     <div class="row">
<div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">
                            <i class="zmdi zmdi-graduation-cap"></i> 10 Points</h3>
                        </div>
                        <div class="withripple zoom-img">
                          <a href="/multdiv1">
                             </a>
                        </div>
                        <div class="card-body overflow-hidden text-center">
                          <h4 class="color-info">Tutorial Video</h4>
                          <p>Find 2 numbers that have a difference of 2 and multiply to make 168</p>
                          <a href="/multdiv1" class="btn btn-info btn-raised">
                            <i class="fa fa-percent"></i> Enter</a>
                        </div>
                      </div>
                    </div>
    <div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">
                            <i class="zmdi zmdi-graduation-cap"></i> 20 Points</h3>
                        </div>
                        <div class="withripple zoom-img">
                          <a href="javascript:void(0);">
                            <img src="/img/demo/m1.jpg" alt="" class="img-fluid"> </a>
                        </div>
                        <div class="card-body overflow-hidden text-center">
                          <h4 class="color-info">Tutorial Video</h4>
                          <p>If 17 x 18 x 19 = 5814, what does 17 x 18 x 38 = ?</p>
                          <a href="multdiv2" class="btn btn-info btn-raised">
                            <i class="zmdi zmdi-map"></i> Enter</a>
                        </div>
                      </div>
                    </div>
    <div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">
                            <i class="zmdi zmdi-graduation-cap"></i> 30 Points</h3>
                        </div>
                        <div class="withripple zoom-img">
                          <a href="javascript:void(0);">
                            <img src="/img/demo/m1.jpg" alt="" class="img-fluid"> </a>
                        </div>
                        <div class="card-body overflow-hidden text-center">
                            <h4 class="color-info">Tutorial Video</h4><p><img src="img/demo/multdiv3.png" alt="" class="img-fluid"></p>
                          <a href="multdiv3" class="btn btn-info btn-raised">
                            <i class="zmdi zmdi-map"></i> Enter</a>
                        </div>
                      </div>
                    </div>
<!--
    <div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">
                            <i class="zmdi zmdi-graduation-cap"></i> 30 Points</h3>
                        </div>
                        <div class="withripple zoom-img">
                          <a href="javascript:void(0);">
                            <img src="assets/img/demo/m1.jpg" alt="" class="img-fluid"> </a>
                        </div>
                        <div class="card-body overflow-hidden text-center">
                          <h4 class="color-info">Tutorial Video</h4>
                          <p><img src="img/demo/multdiv4.png" alt="" class="img-fluid"></p>
                          <a href="multdiv4" class="btn btn-info btn-raised">
                            <i class="zmdi zmdi-map"></i> Enter</a>
                        </div>
                      </div>
                    </div>
-->
    </div>
</div>
<% include ./partials/footer %> 