<% include ./partials/header %>
<style>
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #9C27B0;
  }

  #button {
    background-color: #009caf;
  }

  #button1 {
    background-color: #9C27B0;
  }
</style>




<div class="col-lg-11 ms-paper-content-container" style="text-align: center">
  <div class="ms-paper-content" style="display:inline-block">
    <div class="alert alert-light alert-info">
      <p class="q"> St Olave's Grammar School, London</p>
      <p> </p>
    </div>
  </div>
</div>
<div style="text-align: center">
  <div class="card card-royal col-md-6" style="display:inline-block">
    <!--        First question-->
    <div class="mySlides">
      <div class="card-header">
        <h3 id="header" class="card-title">1.</h3>
      </div>
      <div class="card-body">
        <form name="quiz1">

          <p class="q">Calculate: </p>
          <p class="q">47 + 2509 + 716 = </p>
          <div class="ui  input focus">
            <input type="text" placeholder="" name="question1">
          </div>
        </form>
      </div>
    </div>
    <!--     2nd question                -->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">2.</h3>
      </div>
      <div class="card-body">
        <form name="quiz2">
          <p class="q">Calculate:</p>
          <p class="q">1035 - 496 = </p>
          <div class="ui  input focus">
            <input type="text" placeholder="" name="question1">
          </div>
        </form>
      </div>
    </div>
    <!--   3rd question       -->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">3.</h3>
      </div>
      <div class="card-body">
        <form name="quiz3">
          <p class="q">Write, in figures, ten thousand and twenty-eight.</p>

          <div class="ui  input focus">
            <input type="text" placeholder="" name="question1">
          </div>
        </form>
      </div>
    </div>
    <!--4th question        -->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">4.</h3>
      </div>
      <div class="card-body">
        <form name="quiz4">
          <p class="q">Calculate: 392 x 6 = </p>

          <div class="ui  input focus">
            <input type="text" placeholder="" name="question1">
          </div>
        </form>
      </div>
    </div>
    <!--    5th question    -->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">5.</h3>
      </div>
      <div class="card-body">
        <form name="quiz5">
          <p class="q">4221 &#247; 7 = </p>
          <div class="ui  input focus">
            <input type="text" placeholder="" name="question1">
          </div>

        </form>
      </div>
    </div>
    <!--   6a question     -->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">6.</h3>
      </div>
      <div class="card-body">
        <form name="quiz6">
          <p class="q">Which of these numbers is the smallest?</p>
          <p class="q">1/4 , 0.205 , 0.025 , 2/5 , 0.04</p>
          <div class="ui  input focus">
            <input type="text" placeholder="" name="question1">
          </div>

        </form>
      </div>
    </div>
    <!--6b question        -->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">7.</h3>
      </div>
      <div class="card-body">
        <form name="quiz7">
          <p class="q">Find three quarters of 14.</p>
          <div class="ui  input focus">
            <input type="text" placeholder="" name="question1">
          </div>
        </form>
      </div>
    </div>
    <!--    6c question    -->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">8.</h3>
      </div>
      <div class="card-body">
        <form name="quiz8">
          <p class="q">Find the sum of 5.07 and 0.036</p>
          <div class="ui  input focus">
            <input type="text" placeholder="" name="question1">
          </div>
        </form>
      </div>
    </div>
    <!--   7 question     -->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">9.</h3>
      </div>
      <div class="card-body">
        <form name="quiz9">
          <p class="q">A programme on TV started at 11.55 am and lasted for 1 1⁄4 hours. At what time did the programme
            end?</p>
          <div class="ui  input focus">
            <input type="text" placeholder="" name="question1">
          </div>
        </form>
      </div>
    </div>
    <!--        question 8-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">10.</h3>
      </div>
      <div class="card-body">
        <form name="quiz10">
          <p class="q">Samir has a quarter of a cake to share with two of his friends. What fraction of the whole cake
            does each of the three boys get?</p>
          <div class="ui  input focus">
            <input type="text" placeholder=" " name="question1">
          </div>
        </form>
      </div>
    </div>
    <!--        question 9-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">11.</h3>
      </div>
      <div class="card-body">
        <form name="quiz11">
          <p class="q">Two children are aged 9 years 3 months and 5 years 10 months. What is the difference between
            their ages?</p>
          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              years
            </div>
          </div>
          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question2">
            <div class="ui basic label">
              months
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">12a.</h3>
      </div>
      <div class="card-body">
        <form name="quiz12">
          <p class="q">Find the cost of 2 tins of baked beans at 47p each</p>
          <div class="ui labeled input">
            <div class="ui label">
              £
            </div>
            <input type="text" name="question1">
          </div>
        </form>
      </div>
    </div>
    <!--        question 10-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">12b.</h3>
      </div>
      <div class="card-body">
        <form name="quiz13">
          <p class="q">Find the cost of 18 bread rolls at 56p per pack of 6</p>
          <div class="ui labeled input">
            <div class="ui label">
              £
            </div>
            <input type="text" name="question1">
          </div>
        </form>
      </div>
    </div>
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title"> 12c.</h3>
      </div>
      <div class="card-body">
        <form name="quiz14">
          <p class="q">Find the cost of 1.5 kg of potatoes at 72p per kg</p>
          <div class="ui labeled input">
            <div class="ui label">
              £
            </div>
            <input type="text" name="question1">
          </div>
        </form>
      </div>
    </div>
    <!--        question 11a-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">12d.</h3>
      </div>
      <div class="card-body">
        <form name="quiz15">
          <p class="q">Find the total cost of: </p>
          <p class="q"> 1.5 kg of potatoes at 72p per kg</p>
          <p class="q">18 bread rolls at 56p per pack of 6</p>
          <p class="q">2 tins of baked beans at 47p each</p>
          <div class="ui labeled input">
            <div class="ui label">
              £
            </div>
            <input type="text" name="question1">
          </div>
        </form>
      </div>
    </div>
    <!--        question 12-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">12e.</h3>
      </div>
      <div class="card-body">
        <form name="quiz16">

          <p class="q">If you paid for the shopping with a £10 note, how much change would you be given?</p>
          <div class="ui labeled input">
            <div class="ui label">
              £
            </div>
            <input type="text" name="question1">
          </div>
        </form>
      </div>
    </div>

    <!--        question 13-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">13a.</h3>
      </div>
      <div class="card-body">
        <form name="quiz17">
          <img src="img/olave/olave13.png" alt="" class="img-fluid">
          <p class="q">Two parcels are weighed one at a time. The arrows show their weights in grams.</p>
          <p class="q">Write down the weights of the parcels.</p>
          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              grams
            </div>
          </div>
          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question2">
            <div class="ui basic label">
              grams
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--        question 14-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">13b.</h3>
      </div>
      <div class="card-body">
        <form name="quiz18">
          <img src="img/olave/olave13.png" alt="" class="img-fluid">
          <p class="q">What is the total weight of the two
            parcels in kilograms?</p>
          <br>
          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              kg
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">14a.</h3>
      </div>
      <div class="card-body">
        <form name="quiz19">
          <img src="img/olave/olave14.png" alt="" class="img-fluid">
          <p class="q">The graph shows the number of pupils in the school dining room during one lunch time.</p>
          <p class="q">When did the lunch break start?</p>
          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              pm
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--        question 15-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">14b.</h3>
      </div>
      <div class="card-body">
        <form name="quiz20">
          <img src="img/olave/olave14.png" alt="" class="img-fluid">
          <p class="q">The graph shows the number of pupils in the school dining room during one lunch time.</p>
          <p class="q">What is the largest number of pupils in the dining room?</p>
          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              pupils
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--        question 16-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">14c.</h3>
      </div>
      <div class="card-body">
        <form name="quiz21">
          <img src="img/olave/olave14.png" alt="" class="img-fluid">
          <p class="q">The graph shows the number of pupils in the school dining room during one lunch time.</p>
          <p class="q">How many pupils are there in the dining room at 1.45 p.m.?</p>
          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              pupils
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--        question 17-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">14d.</h3>
      </div>
      <div class="card-body">
        <form name="quiz22">
          <img src="img/olave/olave14.png" alt="" class="img-fluid">
          <p class="q">The graph shows the number of pupils in the school dining room during one lunch time.</p>
          <p class="q">There are 40 pupils still in the dining room when afternoon lessons begin. At what time do
            afternoon lessons begin?</p>
          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              pm
            </div>
          </div>

        </form>
      </div>
    </div>
    <!--        question 18-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">15.</h3>
      </div>
      <div class="card-body">
        <form name="quiz23">
          <p class="q">The 10 street lamps along one side of a straight piece of road are 80 metres apart. What is the
            distance between the first lamp and the last one?</p>
          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              metres
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--        question 19-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">16.</h3>
      </div>
      <div class="card-body">
        <form name="quiz24">
          <img src="img/olave/olave16.png" alt="" class="img-fluid">
          <p class="q">Peter is making dice. The diagram below shows the net of one of them. When the edges of the net
            are stuck together, the number of dots on opposite faces adds up to seven.</p>
          <p class="q">Write down the number of dots there should be on the faces marked A, B and C.</p>
          <div class="ui labeled input">
            <div class="ui label">
              A =
            </div>
            <input type="text" name="question1">
          </div>
          <div class="ui labeled input">
            <div class="ui label">
              B =
            </div>
            <input type="text" name="question2">
          </div>
          <div class="ui labeled input">
            <div class="ui label">
              C =
            </div>
            <input type="text" name="question3">
          </div>
        </form>
      </div>
    </div>
    <!--        question 20-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">17a.</h3>
      </div>
      <div class="card-body">
        <form name="quiz25">
          <p class="q">A new office block is going to be 20 storeys high and all the storeys will be of the same height.
            So far 6 storeys have been built and they reach a height of 27 metres.</p>
          <p class="q">What fraction of the block has been built?</p>
          <div class="ui right labeled input">
            <input type="text" name="question1">
            <div class="ui basic label">
              pages
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--       Section B question 1-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">17b.</h3>
      </div>
      <div class="card-body">
        <form name="quiz26">
          <p class="q">A new office block is going to be 20 storeys high and all the storeys will be of the same height.
            So far 6 storeys have been built and they reach a height of 27 metres.</p>
          <p class="q">What will be the block’s total height?</p>
          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              metres
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--        Section B question 2-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">18.</h3>
      </div>
      <div class="card-body">
        <form name="quiz27">
          <p class="q">The perimeter of a rectangle is 22 centimetres and its area is 24 square centimeters. What are
            the lengths of its sides?</p>
          <div class="ui right labeled input">
            <input type="text" placeholder="height" name="question1">
            <div class="ui basic label">
              cm
            </div>
          </div>
          <div class="ui right labeled input">
            <input type="text" placeholder="width" name="question2">
            <div class="ui basic label">
              cm
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--  Section B question 3--->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">19.</h3>
      </div>
      <div class="card-body">
        <form name="quiz28">
          <p class="q">What is the reflex angle between North and South-West?</p>
          <div class="ui right labeled input">
            <input type="text" name="question1">
            <div class="ui basic label">
              &#176;
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--       Section B question 4a--->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">20.</h3>
      </div>
      <div class="card-body">
        <form name="quiz29">
          <img src="img/olave/olave20.png" alt="" class="img-fluid">
          <p class="q"> If each bag of mints weighs 250 g, how heavy is the cake?</p>
          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              grams
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--        Section B question 4b--->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">21a.</h3>
      </div>
      <div class="card-body">
        <form name="quiz30">
          <p class="q"> Ben plants a seed and an unusual plant starts to grow. Every morning Ben finds that the plant is
            one and a half times as tall as it was the morning before. On Tuesday morning the plant is 12 cm tall.</p>
          <p class="q">How tall will it be on Wednesday morning?</p>
          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              cm
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--        SECTION B 5-->

    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">21b.</h3>
      </div>
      <div class="card-body">
        <form name="quiz31">
          <p class="q"> Ben plants a seed and an unusual plant starts to grow. Every morning Ben finds that the plant is
            one and a half times as tall as it was the morning before. On Tuesday morning the plant is 12 cm tall.</p>
          <p class="q">How tall was the plant on Monday morning?</p>
          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              cm
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--        Section B 6a-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">21c.</h3>
      </div>
      <div class="card-body">
        <form name="quiz32">
          <p class="q"> Ben plants a seed and an unusual plant starts to grow. Every morning Ben finds that the plant is
            one and a half times as tall as it was the morning before. On Tuesday morning the plant is 12 cm tall.</p>
          <p class="q">How tall will the plant be on Friday morning?</p>
          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              cm
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--        Section B 6b-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">22.</h3>
      </div>
      <div class="card-body">
        <form name="quiz33">
          <p class="q">Two trains are running, on separate tracks, round a model railway layout. One completes a circuit
            every 40 seconds and the other every 55 seconds. The trains start together at the station. How long, in
            minutes and seconds, will it be before they are at the station together again?</p>

          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question1">
            <div class="ui basic label">
              minutes
            </div>
          </div>
          <div class="ui right labeled input">
            <input type="text" placeholder="" name="question2">
            <div class="ui basic label">
              seconds
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--   Section B 7-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">23a.</h3>
      </div>
      <div class="card-body">
        <form name="quiz34">
          <img src="img/olave/olave25.png" alt="" class="img-fluid">

          <p class="q">How many cubes of side 2 cm will fit inside the box?</p>
          <div class="ui  input focus">
            <input type="text" placeholder="" name="question1">
          </div>
        </form>
      </div>
    </div>
    <!--        Section B 8-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">23b.</h3>
      </div>
      <div class="card-body">
        <form name="quiz35">
          <img src="img/olave/olave25.png" alt="" class="img-fluid">
          <p class="q">How many cubes of side 3 cm will fit inside the box?</p>
          <div class="ui  input focus">
            <input type="text" placeholder="" name="question1">
          </div>
        </form>
      </div>
    </div>

    <!--    Section C 4a(ii)-->
    <!--   Section B 9b-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">24a.</h3>
      </div>
      <div class="card-body">
        <form name="quiz36">
          <img src="img/olave/olave26.png" alt="" class="img-fluid">
          <p class="q">Raj has designed a number machine. Two numbers go in and an answer comes out. Two examples of
            what the machine does are given</p>

          <p class="q">Find the output for the following machine:</p>
          <img src="img/olave/olave26a.png" alt="" class="img-fluid"><br>
          <div class="ui input focus">
            <input type="text" placeholder="" name="question1">
          </div>
        </form>
      </div>
    </div>
    <!--     Section B 9c-->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">24b.</h3>
      </div>
      <div class="card-body">
        <form name="quiz37">
          <img src="img/olave/olave26.png" alt="" class="img-fluid">
          <p class="q">Raj has designed a number machine. Two numbers go in and an answer comes out. Two examples of
            what the machine does are given below </p>
          <p class="q">Find the input for the following machine:</p>
          <img src="img/olave/olave26b.png" alt="" class="img-fluid">
          <div class="ui input focus">
            <input type="text" placeholder="" name="question1">
          </div>
        </form>
        <p>END OF EXAM</p>
      </div>
    </div>




    <!--        buttons-->
    <div class="container">
      <div class="row" style="margin: 0 auto">
        <button type="button" id="button1" class="btn btn-success btn-raised"> Check </button>
        <button type="button" id="next1" class="btn btn-primary btn-raised" onclick="plusSlides(1)"> Next </button>
        <button type="button" id="button" class="btn btn-danger btn-raised" data-toggle="modal" data-target="#myModal4">
          Total Score </button>
      </div>
    </div>

    <div class="container">
      <div class="row" style="margin: 0 auto">
        <span id="tick" class="ms-icon ms-icon-lg ms-icon-circle color-success">
          <i class="fa fa-check"></i>
        </span>
        <span id="wrong" class="ms-icon ms-icon-lg ms-icon-circle color-danger">
          <i class="fa fa-remove"></i>
        </span>
      </div>
    </div>


    <div id="msg"></div>
    <div class="dot-container">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
      <span class="dot" onclick="currentSlide(5)"></span>
      <span class="dot" onclick="currentSlide(6)"></span>
      <span class="dot" onclick="currentSlide(7)"></span>
      <span class="dot" onclick="currentSlide(8)"></span>
      <span class="dot" onclick="currentSlide(9)"></span>
      <span class="dot" onclick="currentSlide(10)"></span>
      <span class="dot" onclick="currentSlide(11)"></span>
      <span class="dot" onclick="currentSlide(12)"></span>
      <span class="dot" onclick="currentSlide(13)"></span>
      <span class="dot" onclick="currentSlide(14)"></span>
      <span class="dot" onclick="currentSlide(15)"></span>
      <span class="dot" onclick="currentSlide(16)"></span>
      <span class="dot" onclick="currentSlide(17)"></span>
      <span class="dot" onclick="currentSlide(18)"></span>
      <span class="dot" onclick="currentSlide(19)"></span>
      <span class="dot" onclick="currentSlide(20)"></span>
      <span class="dot" onclick="currentSlide(21)"></span>
      <span class="dot" onclick="currentSlide(22)"></span>
      <span class="dot" onclick="currentSlide(23)"></span>
      <span class="dot" onclick="currentSlide(24)"></span>
      <span class="dot" onclick="currentSlide(25)"></span>
      <span class="dot" onclick="currentSlide(26)"></span>
      <span class="dot" onclick="currentSlide(27)"></span>
      <span class="dot" onclick="currentSlide(28)"></span>
      <span class="dot" onclick="currentSlide(29)"></span>
      <span class="dot" onclick="currentSlide(30)"></span>
      <span class="dot" onclick="currentSlide(31)"></span>
      <span class="dot" onclick="currentSlide(32)"></span>
      <span class="dot" onclick="currentSlide(33)"></span>
      <span class="dot" onclick="currentSlide(34)"></span>
      <span class="dot" onclick="currentSlide(35)"></span>
      <span class="dot" onclick="currentSlide(36)"></span>
      <span class="dot" onclick="currentSlide(37)"></span>


    </div>
    <!-- last 2 divs from top of card-->
  </div>
</div>
<div id="example"></div>
<!-- Modal -->
<div class="modal modal-primary" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
  <div class="modal-dialog animated zoomIn animated-3x" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel4"> Your results: </h3> <button type="button" class="close"
          data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="zmdi zmdi-close"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-success alert-light " role="alert">
          <p id="badge"></p>
        </div>

        <div class="alert alert-danger alert-light " role="alert">
          <p id="points"></p>
        </div>
      </div>
      <div class="row">

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    $("#example").load("./config");

    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
      document.getElementById("tick").style.visibility = "hidden";
      document.getElementById("wrong").style.visibility = "hidden";
      document.getElementById("msg").style.visibility = "hidden";

    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
      document.getElementById("tick").style.visibility = "hidden";
      document.getElementById("wrong").style.visibility = "hidden";
      document.getElementById("msg").style.visibility = "hidden";

    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {
        slideIndex = 1
      }
      if (n < 1) {
        slideIndex = slides.length
      }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
      if (slideIndex == 37) {
        document.getElementById("next1").style.visibility = "hidden";
      }
    }
    var correct = 0;

    $("#button1").click(function () {
      var question1 = document.quiz1.question1.value;
      var question2 = document.quiz2.question1.value;
      var question3 = document.quiz3.question1.value;
      var question4 = document.quiz4.question1.value;
      var question5 = document.quiz5.question1.value;
      var question6 = document.quiz6.question1.value;
      var question7 = document.quiz7.question1.value;
      var question8 = document.quiz8.question1.value;
      var question9 = document.quiz9.question1.value;
      var question10 = document.quiz10.question1.value;
      var question11 = document.quiz11.question1.value;
      var question12 = document.quiz12.question1.value;
      var question13 = document.quiz13.question1.value;
      var question14 = document.quiz14.question1.value;
      var question15 = document.quiz15.question1.value;
      var question16 = document.quiz16.question1.value;
      var question17 = document.quiz17.question1.value;
      var question18 = document.quiz18.question1.value;
      var question19 = document.quiz19.question1.value;
      var question20 = document.quiz20.question1.value;
      var question21 = document.quiz21.question1.value;
      var question22 = document.quiz22.question1.value;
      var question23 = document.quiz23.question1.value;
      var question24 = document.quiz24.question1.value;
      var question25 = document.quiz25.question1.value;
      var question26 = document.quiz26.question1.value;
      var question27 = document.quiz27.question1.value;
      var question28 = document.quiz28.question1.value;
      var question29 = document.quiz29.question1.value;
      var question30 = document.quiz30.question1.value;
      var question31 = document.quiz31.question1.value;
      var question32 = document.quiz32.question1.value;
      var question33 = document.quiz33.question1.value;
      var question34 = document.quiz34.question1.value;
      var question35 = document.quiz35.question1.value;
      var question36 = document.quiz36.question1.value;
      var question37 = document.quiz37.question1.value;
      var question37 = document.quiz37.question1.value;
      var question38 = document.quiz11.question2.value;
      var question39 = document.quiz17.question2.value;
      var question40 = document.quiz24.question2.value;
      var question41 = document.quiz24.question3.value;
      var question42 = document.quiz27.question2.value;
      var question43 = document.quiz33.question2.value;

      //        
      //2 question
      if (slideIndex == 2 && question2 == 539) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
        //3 question
      } else if (slideIndex == 3 && question3 == 10028) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct += 1;
      }
      //1 question
      else if (slideIndex == 1 && question1 == 3272) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = "Correct! 1 mark";
        correct++;
      }
      //4 question 
      else if (slideIndex == 4 && question4 == 2352) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct += 1;
      }
      //        //5 question 
      else if (slideIndex == 5 && question5 == 603) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //        //6a question
      else if (slideIndex == 6 && question6 == 0.025) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct += 1;
      }
      //6b question 51
      else if (slideIndex == 7 && question7 == 10.5) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = "Correct! 1 mark";
        correct++;
      }
      //    //6c question
      else if (slideIndex == 8 && question8 == 5.106) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = "Correct! 1 mark";
        correct++;
      }
      //        //7 question
      else if (slideIndex == 9 && question9 == '1:10' || slideIndex == 9 && question9 == '1.10') {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = "Correct! 1 mark";
        correct++;
      }
      //        //8 question 
      else if (slideIndex == 10 && question10 == '1/12') {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      } else if (slideIndex == 11 && question11 == 3 && question38 == 5) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 2 marks";
        correct += 2;
      }
      //        //10 question
      else if (slideIndex == 12 && question12 == 0.94) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = "Correct! 1 mark";
        correct++;
      }
      //       question 11a
      else if (slideIndex == 13 && question13 == 1.68) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //    //12 question
      else if (slideIndex == 14 && question14 == 1.08) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = "Correct! 1 mark";
        correct++;
      }
      //13 question
      else if (slideIndex == 15 && question15 == 3.70) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //14 question 
      else if (slideIndex == 16 && question16 == 6.30) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //        //15 question
      else if (slideIndex == 17 && question17 == 480 && question39 == 750) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 2 marks";
        correct += 2;
      }
      //        //16 question
      else if (slideIndex == 18 && question18 == 1.23) {
        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //    //17 question
      else if (slideIndex == 19 && question19 == 12.20) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //        //18 question
      else if (slideIndex == 20 && question20 == 280) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 marks";
        correct++;
      }
      //        //19 question 22
      else if (slideIndex == 21 && question21 == 140) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //        //20 question 
      else if (slideIndex == 22 && question22 == 1.55 || slideIndex == 22 && question22 == '1:55') {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      } else if (slideIndex == 23 && question23 == 720) {
        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //        //16b question
      else if (slideIndex == 24 && question24 == 5 && question40 == 1 && question41 == 4) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //3 question
      else if (slideIndex == 25 && question25 == '3/10') {
        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //4a 27 marks to here
      else if (slideIndex == 26 && question26 == 90) {
        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //4b question 
      else if (slideIndex == 27 && question27 == 8 && question42 == 3 || slideIndex == 27 && question27 == 3 &&
        question42 == 8) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = "Correct! 2 marks";
        correct += 2;
      } else if (slideIndex == 28 && question28 == 225) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 marks";
        correct++;
      }
      // //8 question 
      else if (slideIndex == 29 && question29 == 750) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 marks";
        correct++;
      }
      //9a question 
      else if (slideIndex == 30 && question30 == 18) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      }
      //9b question
      else if (slideIndex == 31 && question31 == 8) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 marks";
        correct++;
      } else if (slideIndex == 32 && question32 == '40.5') {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      } else if (slideIndex == 33 && question33 == 7 && question43 == 20) {

        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 2 marks";
        correct += 2;
      } else if (slideIndex == 34 && question34 == 45) {
        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      } else if (slideIndex == 35 && question35 == 12) {
        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      } else if (slideIndex == 36 && question36 == 37) {
        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = "Correct! 1 mark";
        correct++;
      } else if (slideIndex == 37 && question37 == 7) {
        document.getElementById("tick").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Correct! 1 mark";
        correct++;
      } else {
        document.getElementById("wrong").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Not Yet. Try again.";
      }

      if (correct > 0) {
        document.getElementById("badge").textContent = "Total questions correct: " + correct + " / 43";
        document.getElementById("points").textContent = "Percentage = " + Math.round(correct / 43 * 100) + "%";
      }
    });
    $("input").attr("maxlength", 15)
  </script>
<% include ./partials/footer %>