<% include ./partials/header %>
<style>


</style>


<div class="container" id="pastpapers">
     <div class="row">
<div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">Paper &#x2776; Level:   <i class="zmdi zmdi-graduation-cap"></i><i class="zmdi zmdi-graduation-cap"></i><i class="zmdi zmdi-graduation-cap"></i> </h3> 
                        </div>
                        <div class="withripple zoom-img">
                          <a >
                             </a>
                        </div>
                        <div class="card-body overflow-hidden text-center">
                          <h4 class="q">St Paul's Girls, London Speciman Paper A 11+ Maths</h4> <p>1 hour 15 minutes</p>            
                          <a href="/stpaulgirlsA"  class="btn btn-info btn-raised">Begin</a>                   
                        </div>
                      </div>
</div>
    <div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">Paper &#x2777; Level:   <i class="zmdi zmdi-graduation-cap"></i><i class="zmdi zmdi-graduation-cap"></i><i class="zmdi zmdi-graduation-cap"></i> </h3> 
                        </div>
                        <div class="withripple zoom-img">        
                        </div>
                        <div class="card-body overflow-hidden text-center">
                          <h4 class="q">Haberdasher Aske's 2008 11+ Maths Paper</h4><p>1 hour</p>         
                          <a href="/habs2008" class="btn btn-info btn-raised">
                            <i class="zmdi zmdi-map"></i>Begin</a>
                        </div>
                      </div>
                    </div>
    <div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">Paper &#x2778; Level:   <i class="zmdi zmdi-graduation-cap"></i><i class="zmdi zmdi-graduation-cap"></i> </h3> 
                        </div>
                       
                        <div class="card-body overflow-hidden text-center">
                            <h4 class="q">King's College,  Wimbledon 2019 11+ Maths Paper</h4><p>50 minutes</p>
                          <a href="/KingsWimbledon" class="btn btn-info btn-raised">
                            <i class="zmdi zmdi-map"></i>Begin</a>
                        </div>
                      </div>
                    </div>
    <div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                         <h3 class="card-title"> Paper &#x2779; Level:   <i class="zmdi zmdi-graduation-cap"></i><i class="zmdi zmdi-graduation-cap"></i> </h3> 
                        </div>
                    
                        <div class="card-body overflow-hidden text-center">
                          <h4 class="q">Magdalen College, Oxford 11+ Maths Paper</h4><p>1 hour</p>
                          
                          <a href="/magdalen" class="btn btn-info btn-raised">
                            <i class="zmdi zmdi-map"></i> Begin</a>
                        </div>
                      </div>
                    </div>
    </div>
</div>
<div class="container" id="pastpapers">
     <div class="row">
<div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">Paper &#x277A; Level:   <i class="zmdi zmdi-graduation-cap"></i><i class="zmdi zmdi-graduation-cap"></i><i class="zmdi zmdi-graduation-cap"></i> </h3> 
                        </div>
                        <div class="withripple zoom-img">
                          <a >
                             </a>
                        </div>
                        <div class="card-body overflow-hidden text-center">
                          <h4 class="q">St Paul's Girls, London 2017 Paper A 11+ Maths</h4><p>1 hour 15 minutes</p>             
                          <a href="/stpaulgirlsC"  class="btn btn-info btn-raised">Begin</a>                   
                        </div>
                      </div>
</div>
    <div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">Paper &#x277B; Level:   <i class="zmdi zmdi-graduation-cap"></i><i class="zmdi zmdi-graduation-cap"></i><i class="zmdi zmdi-graduation-cap"></i> </h3> 
                        </div>
                        <div class="withripple zoom-img">        
                        </div>
                        <div class="card-body overflow-hidden text-center">
                          <h4 class="q">Manchester Grammar School Paper B 2018</h4>      <p>1 hour</p>   
                          <a href="/mgs18B" class="btn btn-info btn-raised">
                            <i class="zmdi zmdi-map"></i>Begin</a>
                        </div>
                      </div>
                    </div>
    <div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">Paper &#x277C; Level:   <i class="zmdi zmdi-graduation-cap"></i> </h3> 
                        </div>
                       
                        <div class="card-body overflow-hidden text-center">
                            <h4 class="q">Manchester Grammar School Arithmetic Paper A</h4><p>30 minutes</p>
                          <a href="/mgs18A" class="btn btn-info btn-raised">
                            <i class="zmdi zmdi-map"></i>Begin</a>
                        </div>
                      </div>
                    </div>
    <div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">Paper &#x277D; Level:   <i class="zmdi zmdi-graduation-cap"></i><i class="zmdi zmdi-graduation-cap"></i></h3> 
                        </div>
                    
                        <div class="card-body overflow-hidden text-center">
                          <h4 class="q">The Perse Upper School, Cambridge Paper A</h4>
                          <p>45 minutes 61 marks</p>
                            
                          <a href="/perseA" class="btn btn-info btn-raised">
                            <i class="zmdi zmdi-map"></i> Begin</a>
                        </div>
                      </div>
                    </div>
    </div>
</div>
<div class="container" id="pastpapers">
     <div class="row">
<div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">Paper &#x277E; Level:   <i class="zmdi zmdi-graduation-cap"></i><i class="zmdi zmdi-graduation-cap"></i><i class="zmdi zmdi-graduation-cap"></i> </h3> 
                        </div>
                        <div class="withripple zoom-img">
                          <a >
                             </a>
                        </div>
                        <div class="card-body overflow-hidden text-center">
                          <h4 class="q">North London Independent Girls Consortium 2015</h4><p>1 hour 15 minutes</p>             
                          <a href="/nlc15"  class="btn btn-info btn-raised">Begin</a>                   
                        </div>
                      </div>
</div>
    <div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                         <h3 class="card-title">Paper &#x277F; Level:   <i class="zmdi zmdi-graduation-cap"></i><i class="zmdi zmdi-graduation-cap"></i> </h3> 
                        </div>
                        <div class="withripple zoom-img">        
                        </div>
                        <div class="card-body overflow-hidden text-center">
                          <h4 class="q">Whitgift School 11+ Maths Paper</h4>   
                            <p>Time: 1 hour</p>
                            <p>Total Marks:  </p>
                          <a href="/whitgift" class="btn btn-info btn-raised">
                              
                            <i class="zmdi zmdi-map"></i>Begin</a>
                        </div>
                      </div>
                    </div>
    <div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">Paper &#x2776;&#x2776; Level:   <i class="zmdi zmdi-graduation-cap"></i> </h3> 
                        </div>
                       
                        <div class="card-body overflow-hidden text-center">
                            <h4 class="q">St George's Ascot 11+ Maths Paper</h4>
                            <p>Time: 1 hour </p>
                            <p>Total marks : 58</p>
                          <a href="/ascot" class="btn btn-info btn-raised">
                            <i class="zmdi zmdi-map"></i>Begin</a>
                        </div>
                      </div>
                    </div>
    <div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">Paper &#x2776;&#x2777; Level:   <i class="zmdi zmdi-graduation-cap"></i> </h3> 
                        </div>
                    
                        <div class="card-body overflow-hidden text-center">
                          <h4 class="q">St George's, Weybridge 11+ Maths Paper</h4>
                            <p>45 minutes. 47 Marks</p>
                   
                          <a href="/weybridge" class="btn btn-info btn-raised">
                            <i class="zmdi zmdi-map"></i> Begin</a>
                        </div>
                      </div>
                    </div>
    </div>
</div>
<div class="container" id="pastpapers">
     <div class="row">
<div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">Paper &#x2776;&#x2778; Level:   <i class="zmdi zmdi-graduation-cap"></i><i class="zmdi zmdi-graduation-cap"></i> </h3> 
                        </div>
                        <div class="withripple zoom-img">
                          <a >
                             </a>
                        </div>
                        <div class="card-body overflow-hidden text-center">
                            <h4 class="q">James Allen Girls School, Dulwich, Speciman Paper</h4><p>Time: 1 hour</p><p> Total : 40 marks</p>             
                          <a href="/jags"  class="btn btn-info btn-raised">Begin</a>                   
                        </div>
                      </div>
</div>
    <div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                         <h3 class="card-title">Paper &#x2776;&#x2779; Level:   <i class="zmdi zmdi-graduation-cap"></i><i class="zmdi zmdi-graduation-cap"></i> <i class="zmdi zmdi-graduation-cap"></i> </h3> 
                        </div>
                        <div class="withripple zoom-img">        
                        </div>
                        <div class="card-body overflow-hidden text-center">
                          <h4 class="q">North London Independent Girls School 2010</h4>   
                            <p>Time: 1 hour</p>
                            <p>Total Marks: 59  </p>
                          <a href="/city10" class="btn btn-info btn-raised">
                              
                            <i class="zmdi zmdi-map"></i>Begin</a>
                        </div>
                      </div>
                    </div>
    <div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">Paper &#x2776;&#x277A; Level:   <i class="zmdi zmdi-graduation-cap"><i class="zmdi zmdi-graduation-cap"></i> </i> </h3> 
                        </div>
                       
                        <div class="card-body overflow-hidden text-center">
                            <h4 class="q">St Olave's Grammar School, London</h4>
                            <p>Time: 1 hour </p>
                            <p>Total marks : 43</p>
                          <a href="/olave" class="btn btn-info btn-raised">
                            <i class="zmdi zmdi-map"></i>Begin</a>
                        </div>
                      </div>
                    </div>
    <div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">Paper &#x2776;&#x277B; Level:   <i class="zmdi zmdi-graduation-cap"></i> <i class="zmdi zmdi-graduation-cap"></i> </h3> 
                        </div>
                    
                        <div class="card-body overflow-hidden text-center">
                          <h4 class="q">St Albans School 11+ Maths Speciman Paper</h4>
                            <p>Time : 1 hour.</p><p> Total : 49 Marks</p>
                   
                          <a href="/albans" class="btn btn-info btn-raised">
                            <i class="zmdi zmdi-map"></i> Begin</a>
                        </div>
                      </div>
                    </div>
    </div>
</div>

<% include ./partials/footer %> 