
<% include ./partials/header %>

<div class="container">
     <div class="row">
<div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">
                            <i class="zmdi zmdi-graduation-cap"></i> Perimeter 1</h3>
                        </div>
                        <div class="withripple zoom-img">
                          <a href="/perimeter1">
                             </a>
                        </div>
                        <div class="card-body overflow-hidden text-center">
                          <h4 class="color-info">Including</h4>
                          <p>Question goes here</p>
                          <a href="/perimeter1" class="btn btn-info btn-raised">
                            <i class="fa fa-percent"></i> Enter</a>
                        </div>
                      </div>
                    </div>
    <div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">
                            <i class="zmdi zmdi-graduation-cap"></i> Perimeter 2</h3>
                        </div>
                        <div class="withripple zoom-img">
                          <a href="javascript:void(0);">
                            <img src="assets/img/demo/m1.jpg" alt="" class="img-fluid"> </a>
                        </div>
                        <div class="card-body overflow-hidden text-center">
                          <h4 class="color-info">Including</h4>
                          <p>Question goes here</p>
                          <a href="/perimeter2" class="btn btn-info btn-raised">
                            <i class="zmdi zmdi-map"></i> Enter</a>
                        </div>
                      </div>
                    </div>
    <div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">
                            <i class="zmdi zmdi-graduation-cap"></i> Perimeter 3</h3>
                        </div>
                        <div class="withripple zoom-img">
                          <a href="javascript:void(0);">
                            <img src="assets/img/demo/m1.jpg" alt="" class="img-fluid"> </a>
                        </div>
                        <div class="card-body overflow-hidden text-center">
                            <h4 class="color-info">Write</h4><p>Question goes here</p>
                          <a href="/perimeter3" class="btn btn-info btn-raised">
                            <i class="zmdi zmdi-map"></i> Enter</a>
                        </div>
                      </div>
                    </div>
    <div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">
                            <i class="zmdi zmdi-graduation-cap"></i> Perimeter 4</h3>
                        </div>
                        <div class="withripple zoom-img">
                          <a href="javascript:void(0);">
                            <img src="assets/img/demo/m1.jpg" alt="" class="img-fluid"> </a>
                        </div>
                        <div class="card-body overflow-hidden text-center">
                          <h4 class="color-info">Including</h4>
                          <p>Question goes here</p>
                          <a href="/perimeter4" class="btn btn-info btn-raised">
                            <i class="zmdi zmdi-map"></i> Enter</a>
                        </div>
                      </div>
                    </div>
    </div>
</div>
<% include ./partials/footer %> 