<% include ./partials/header %>
<div class="col-lg-11 ms-paper-content-container" style="text-align: center">
    <div class="ms-paper-content" style="display:inline-block">
        <div class="alert alert-light alert-info">
            <p>Score: <span class="ml-auto badge-pill badge-pill-info"> <%=currentUser.score %></span> Each question is
                worth 20 points.
            </p>
        </div>
    </div>
</div>
<!--   Video        -->
<div id="video" style="text-align: center">
    <div class="col-md-6" style="display:inline-block">
        <h3 class="text-center">Pie Charts</h3>
        <div class="card card-info-inverse">
            <div class="card-header">
                <h3 class="card-title"><i class="zmdi zmdi-graduation-cap"></i> Watch the tutorial below:</h3>
            </div>
            <div class="js-player">
                <script src="https://snowytopmaths.cdn.vooplayer.com/assets/vooplayer.js"></script><iframe
                    allow="autoplay" class="video-player-container vooplayer" data-playerId="MTQ3MDUw"
                    allowtransparency="true" style="max-width:100%" name="vooplayerframe" allowfullscreen="true" src=""
                    watch-type="" url-params="" frameborder="0" scrolling="no"> </iframe>
            </div>
        </div>
    </div>

    <div class="container">
        <p id="userId"><%=currentUser.id %> </p>

    </div>

    <div style="text-align: center">
        <div class="card card-royal col-md-6" style="display:inline-block">

            <!--        First question-->
            <div class="mySlides">
                <div class="card-header">
                    <h3 id="header" class="card-title">1a.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz1">
                    <p>The students of Year 6 were asked to vote for their favourite movie. The pie chart
                                    shows the results. There are 50 people in the Year. </p>
                                    <img src="img/piechart/Piechart2.png" alt="" class="img-fluid">
                                <p class="q">How many pupils chose Toy Story</p>
                                <div class="ui right labeled input">
                                    <input type="text" name="question1">
                                        <div class="ui basic label">
                                            pupils
                                        </div>
                                </div>   
                    </form>
                </div>
            </div>
            <!--     2nd question                -->
            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">1b.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz2">
                    <p>The students of Year 6 were asked to vote for their favourite movie. The pie chart
                                    shows the results. There are 50 people in the Year. </p>
                        <img src="img/piechart/Piechart2.png" alt="" class="img-fluid">
                        <p class="q"> Which movie was voted for by 5 pupils?</p>
                        <div class="ui right labeled input">
                                    <input type="text" name="question1"></input>
                                        <div class="ui basic label">
                                            
                                        </div>
                                </div>
                    </form>
                </div>
            </div>
            <!--   3rd question       -->
            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">1c.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz3">
                    <p>The students of Year 6 were asked to vote for their favourite movie. The pie chart
                                    shows the results. There are 50 people in the Year. </p>
                        <img src="img/piechart/Piechart2.png"
                            alt="" class="img-fluid">
                                <p class="q">c) After this pie chart was made, 8 extra pupils changed their mind and voted
                                            for the Goonies. What is the new percentage for the Goonies?</p>
                                            <div class="ui right labeled input">
                                                <input type="text" name="question1"></input>
                                                <div class="ui basic label">
                                                %
                                                </div>
                                            </div>
                    </form>
                </div>
            </div>
            <!--4th question        -->
            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">2a.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz4">
                        
                        <img src="img/piechart/Piechart3.png" alt="" class="img-fluid"><br>
                        <p class="q">If there are 300 people in the year, how many people voted for Beyonce?
                        </p>
                        <div class="ui right labeled input">
                                                <input type="text" name="question1"></input>
                                                <div class="ui basic label">
                                                people
                                                </div>
                                            </div>
                    </form>
                </div>
            </div>
            <!--    5th question    -->
            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">2b.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz5">
        

                        <img src="img/piechart/Piechart3.png" alt="" class="img-fluid"><br>
                        <p class="q"> Which singer received 90 votes?</p>
                        <div class="ui right labeled input">
                                                <input type="text" name="question1"></input>
                                                <div class="ui basic label">
                                                
                                                </div>
                                            </div>
                    </form>
                </div>
            </div>
            <!--   6th question     -->
            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">2c.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz6">
                        <img src="img/piechart/Piechart3.png"
                            alt="" class="img-fluid">
                        <p class="q">24 pupils changed their mind and decided they did not like Justin Bieber
                                            anymore. What is his new percentage?</p><br>
                        <div class="ui right labeled input">
                                                <input type="text" name="question1"></input>
                                                <div class="ui basic label">
                                                %
                                                </div>
                                            </div>
                    </form>
                </div>
            </div>

            <!--        7th question-->
            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">3a.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz7">
                
                        <img src="img/piechart/Piechart4.png"
                            alt="" class="img-fluid">
                        <p class="q">If there are 250 pupils in the year, how many people voted for Hockey as
                                            their favourite sport?</p>
                        <br>
                        <div class="ui right labeled input">
                                                <input type="text" name="question1"></input>
                                                <div class="ui basic label">
                                                people
                                                </div>
                                            </div>
                    </form>
                </div>
            </div>
            <!--        8th question-->
            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">3b.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz8">
                         <img src="img/piechart/Piechart4.png" alt="" class="img-fluid"></img>
                        <p class="q">Which sport received 60 votes?</p>
                        <div class="ui right labeled input">
                                                <input type="text" name="question1"></input>
                                                <div class="ui basic label">
                                                
                                                </div>
                                            </div>
                    </form>
                </div>
            </div>
            <!--9th question-->
            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">3c.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz9">
                         <img src="img/piechart/Piechart4.png" alt="" class="img-fluid"></img>
                        <p class="q">15 pupils changed their minds later and voted for Hockey instead. What is
                                            the new percentage for Hockey?</p>
                       
                        <div class="ui right labeled input">
                            <input type="text" name="question1"></input>
                                <div class="ui basic label">
                                     %
                                </div>
                        </div>
                    </form>
                </div>
            </div>
            
            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">4a.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz10">
                         <img src="img/piechart/Piechart6.png" alt="" class="img-fluid"></img>
                        <p class="q">If there are 400 pupils in the year, how many voted for English as their
                                            favourite subject?</p>
                       
                        <div class="ui right labeled input">
                            <input type="text" name="question1"></input>
                                <div class="ui basic label">
                                     pupils
                                </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">4b.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz11">
                         <img src="img/piechart/Piechart6.png" alt="" class="img-fluid"></img>
                        <p class="q">Which subject received 112 votes?</p>
                       
                        <div class="ui right labeled input">
                            <input type="text" name="question1"></input>
                                <div class="ui basic label">
                                     
                                </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">4c.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz12">
                         <img src="img/piechart/Piechart6.png" alt="" class="img-fluid"></img>
                        <p class="q">12 pupils changed their votes and voted for History instead. What is the
                                            new percentage for History?</p>
                       
                        <div class="ui right labeled input">
                            <input type="text" name="question1"></input>
                                <div class="ui basic label">
                                     %
                                </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">5a.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz13">
                         <img src="img/piechart/Piechart8.png" alt="" class="img-fluid"></img>
                        <p class="q">There are 200 pupils in Year 6 who voted on their favourite food. Here is a pie chart
                                    to show the results. How many people voted for Pizza?</p>
                       
                        <div class="ui right labeled input">
                            <input type="text" name="question1"></input>
                                <div class="ui basic label">
                                     people
                                </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">5b.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz14">
                         <img src="img/piechart/Piechart8.png" alt="" class="img-fluid"></img>
                        <p class="q">Which subject received 34 votes?</p>
                       
                        <div class="ui right labeled input">
                            <input type="text" name="question1"></input>
                                <div class="ui basic label">
                                     
                                </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">5c.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz15">
                         <img src="img/piechart/Piechart8.png" alt="" class="img-fluid"></img>
                        <p class="q">2 pupils changed their minds and voted for Fish and Chips. What is the new
                                            percentage for Fish and Chips?</p>
                       
                        <div class="ui right labeled input">
                            <input type="text" name="question1"></input>
                                <div class="ui basic label">
                                     %
                                </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- buttons-->
            <div class="container">
                <div class="row" style="margin: 0 auto">
                    <button type="button" id="button1" class="btn btn-success btn-raised"> Check </button>
                    <button type="button" id="next1" class="btn btn-primary btn-raised" onclick="plusSlides(1)"> Next
                    </button>
                    <button type="button" id="button" class="btn btn-danger btn-raised" data-toggle="modal"
                        data-target="#myModal4"> Total Score </button>
                </div>
            </div>

            <div class="container">
                <div class="row" style="margin: 0 auto">
                    <span id="tick" class="ms-icon ms-icon-lg ms-icon-circle color-success">
                        <i class="fa fa-check"></i>
                    </span>
                    <span id="wrong" class="ms-icon ms-icon-lg ms-icon-circle color-danger">
                        <i class="fa fa-remove"></i>
                    </span>
                </div>
            </div>


            <div id="msg"></div>
            <div class="dot-container">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
                <span class="dot" onclick="currentSlide(5)"></span>
                <span class="dot" onclick="currentSlide(6)"></span>
                <span class="dot" onclick="currentSlide(7)"></span>
                <span class="dot" onclick="currentSlide(8)"></span>
                <span class="dot" onclick="currentSlide(9)"></span>
                <span class="dot" onclick="currentSlide(10)"></span>
                <span class="dot" onclick="currentSlide(11)"></span>
                <span class="dot" onclick="currentSlide(12)"></span>
                <span class="dot" onclick="currentSlide(13)"></span>
                <span class="dot" onclick="currentSlide(14)"></span>
                <span class="dot" onclick="currentSlide(15)"></span>
            </div>
            <!-- last 2 divs from top of card-->
        </div>
    </div>
    <div id="example"></div>
    <!-- Modal -->
    <div class="modal modal-primary" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
        <div class="modal-dialog animated zoomIn animated-3x" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel4"> <%=currentUser.username %>, you have scored </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="zmdi zmdi-close"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-success alert-light " role="alert">
                        <p id="badge"></p>
                    </div>
                    <div class="alert alert-danger alert-light " role="alert">
                        <p id="points"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#example").load("./config");

        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
            document.getElementById("tick").style.visibility = "hidden";
            document.getElementById("wrong").style.visibility = "hidden";
            document.getElementById("msg").style.visibility = "hidden";

        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
            document.getElementById("tick").style.visibility = "hidden";
            document.getElementById("wrong").style.visibility = "hidden";
            document.getElementById("msg").style.visibility = "hidden";

        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = slides.length
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            if (slideIndex == 15) {
                document.getElementById("next1").style.visibility = "hidden";
            }
        }
        var correct = 0;

        $("#button1").click(function () {
            var question1 = document.quiz1.question1.value;
            var question2 = document.quiz2.question1.value;
            var question3 = document.quiz3.question1.value;
            var question4 = document.quiz4.question1.value;
            var question5 = document.quiz5.question1.value;
            var question6 = document.quiz6.question1.value;
            var question7 = document.quiz7.question1.value;
            var question8 = document.quiz8.question1.value;
            var question9 = document.quiz9.question1.value;
            var question10 = document.quiz10.question1.value;
            var question11 = document.quiz11.question1.value;
            var question12 = document.quiz12.question1.value;
            var question13 = document.quiz13.question1.value;
            var question14 = document.quiz14.question1.value;
            var question15 = document.quiz15.question1.value;

            //2nd question
            if (slideIndex == 2 && question2 == 'Frozen' || slideIndex == 2 && question2 == 'frozen' ) {
                checkAnswer20();
                showTicks20();
                //third question
            } else if (slideIndex == 3 && question3 == '22') {
                checkAnswer20();
                showTicks20();
            }
            //first question
            else if (slideIndex == 1 && question1 == '12') {
                checkAnswer20();
                showTicks20();
            }
            //4th question 
            else if (slideIndex == 4 && question4 == '51') {
                checkAnswer20();
                showTicks20();
            }
            //5th question 
            else if (slideIndex == 5 && question5 == 'Rihanna' || slideIndex == 5 && question5 == 'rihanna') {
                checkAnswer20();
                showTicks20();
            }
            //6th question
            else if (slideIndex == 6 && question6 == '20') {
                checkAnswer20();
                showTicks20();
            }
            //7th question
            else if (slideIndex == 7 && question7 == '10') {
                checkAnswer20();
                showTicks20();
            }
            //8th question
            else if (slideIndex == 8 && question8 == 'Cricket'|| slideIndex == 8 && question8 == 'cricket') {
                checkAnswer20();
                showTicks20();
            }
            //9th question
            else if (slideIndex == 9 && question9 == '10') {
                checkAnswer20();
                showTicks20();
            } 
            //10th question
            else if (slideIndex == 10 && question10 == '120') {
                checkAnswer20();
                showTicks20();
            } 
            //11th question
            else if (slideIndex == 11 && question11 == 'Art' || slideIndex == 11 && question11 == 'art') {
                checkAnswer20();
                showTicks20();
            } 
            //12th question
            else if (slideIndex == 12 && question12 == '23') {
                checkAnswer20();
                showTicks20();
            } 
            //13th question
            else if (slideIndex == 13 && question13 == '46') {
                checkAnswer20();
                showTicks20();
            } 
            //14th question
            else if (slideIndex == 14 && question14 == 'Chicken Nuggets' || slideIndex == 14 && question14 == 'chicken nuggets') {
                checkAnswer20();
                showTicks20();
            } 
            //15th question
            else if (slideIndex == 15 && question15 == '16') {
                checkAnswer20();
                showTicks20();
            } 
            else {
                document.getElementById("wrong").style.visibility = "visible";
                document.getElementById("msg").style.visibility = "visible";
                document.getElementById("msg").textContent = " Not Yet";
            }
            document.getElementById("badge").textContent = `${correct} out of 15`; 
            document.getElementById("points").textContent = `Points earned:  ${correct * 20} points!`;
        });
        $("input").attr("maxlength", 15)
    </script>
<% include ./partials/footer %></div>