<% include ./partials/header %>
<!--   Video        -->
<div id="video" style="text-align: center">
    <div class="col-md-6" style="display:inline-block">
        <h3 class="text-center" id="heading">Common Multiples: How many animals on the farm?</h3>
        <div class="card card-info-inverse">
            <div class="card-header">
                <h3 class="card-title"><i class="zmdi zmdi-graduation-cap"></i> Watch the tutorial below:</h3>
            </div>
            <script src="https://snowytopmaths.cdn.vooplayer.com/assets/vooplayer.js"></script><iframe allow="autoplay"
                class="video-player-container vooplayer" data-playerId="MTQ3MDMw" allowtransparency="true"
                style="max-width:100%" name="vooplayerframe" allowfullscreen="true" src="" watch-type="" url-params=""
                frameborder="0" scrolling="no"> </iframe>
            <div class="card-body overflow-hidden text-center">
            </div>
        </div>
    </div>
</div>


<div class="container">
    <p id="userId"><%=currentUser.id %> </p>
</div>
<div class="col-lg-11 ms-paper-content-container" style="text-align: center">
    <div class="ms-paper-content" style="display:inline-block">
        <div class="alert alert-light alert-info">
            <p>Score: <span class="ml-auto badge-pill badge-pill-info"> <%=currentUser.score %></span>
                <p>Each question is worth 30 points. Good Luck!</p>
        </div>
    </div>
</div>
<div style="text-align: center">
    <div class="card card-royal col-md-6" style="display:inline-block">
        <!--        First question-->
        <div class="mySlides">
            <div class="card-header">
                <h3 id="header" class="card-title">1.</h3>
            </div>
            <div class="card-body">
                <form name="quiz1">
                    <p class="q"> In a group of dogs and humans, there are 42 legs and 26 ears in total? How many dogs
                        are there? </p>
                    <div class="ui input focus">
                        <input type="text" name="question1" placeholder="">
                    </div>
                </form>
            </div>
        </div>
        <!--     2nd question                -->
        <div class="mySlides">
            <div class="card-header">
                <h3 class="card-title">2.</h3>
            </div>
            <div class="card-body">
                <form name="quiz2">
                    <p class="q">In a group of dogs and humans, there are 80 legs and 50 ears in total? How many dogs
                        are there? </p>
                    <div class="ui input focus">
                        <input type="text" placeholder="" name="question1">
                    </div>
                </form>
            </div>
        </div>
        <!--   3rd question       -->
        <div class="mySlides">
            <div class="card-header">
                <h3 class="card-title">3.</h3>
            </div>
            <div class="card-body">
                <form name="quiz3">
                    <p class="q"> In a group of sheep and humans. There are 46 legs and 36 eyes. How many sheep are
                        there?</p>
                    <div class="ui input focus">
                        <input type="text" placeholder="" name="question1">
                    </div>
                </form>
            </div>
        </div>
        <!--4th question        -->
        <div class="mySlides">
            <div class="card-header">
                <h3 class="card-title">4.</h3>
            </div>
            <div class="card-body">
                <form name="quiz4">
                    <p class="q">In a group of spiders and humans. There are 50 legs and 14 eyes. How many spiders are
                        there? (Assuming a spider has 8 legs) </p>
                    <div class="ui input focus">
                        <input type="text" placeholder="" name="question1">
                    </div>
                </form>
            </div>
        </div>
        <!--    5th question    -->
        <div class="mySlides">
            <div class="card-header">
                <h3 class="card-title">5.</h3>
            </div>
            <div class="card-body">
                <form name="quiz5">
                    <p class="q"> In a group of giraffes and humans. There are 56 ears, and 76 legs. How many giraffes
                        are there? </p>
                    <div class="ui input focus">
                        <input type="text" placeholder="" name="question1">
                    </div>
                </form>
            </div>
        </div>
        <!--   6th question     -->
        <div class="mySlides">
            <div class="card-header">
                <h3 class="card-title">6.</h3>
            </div>
            <div class="card-body">
                <form name="quiz6">
                    <p class="q"> There is a group of triangles, squares and pentagons. In total there are 20 sides. If
                        there are 2 pentagons. How many triangles are there?</p>
                    <div class="ui input focus">
                        <input type="text" placeholder="" name="question1">
                    </div>
                </form>
            </div>
        </div>

        <!--        buttons-->
        <div class="container">
            <div class="row" style="margin: 0 auto">
                <button type="button" id="button1" class="btn btn-success btn-raised"> Check </button>
                <button type="button" id="next1" class="btn btn-primary btn-raised" onclick="plusSlides(1)"> Next
                </button>
                <button type="button" id="button" class="btn btn-danger btn-raised" data-toggle="modal"
                    data-target="#myModal4"> Total Score </button>
            </div>
        </div>

        <div class="container">
            <div class="row" style="margin: 0 auto">
                <span id="tick" class="ms-icon ms-icon-lg ms-icon-circle color-success">
                    <i class="fa fa-check"></i>
                </span>
                <span id="wrong" class="ms-icon ms-icon-lg ms-icon-circle color-danger">
                    <i class="fa fa-remove"></i>
                </span>
            </div>
        </div>


        <div id="msg"></div>
        <div class="dot-container">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
            <span class="dot" onclick="currentSlide(6)"></span>

        </div>
        <!-- last 2 divs from top of card-->
    </div>
</div>
<div id="example"></div>
<!-- Modal -->
<div class="modal modal-primary" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel4"> <%=currentUser.username %>, you have scored </h3> <button
                    type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="zmdi zmdi-close"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success alert-light " role="alert">
                    <p id="badge"></p>
                </div>
                <div class="alert alert-danger alert-light " role="alert">
                    <p id="points"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $("#example").load("./config");
    var correct = 0;

    $("#button1").click(function () {
        var question1 = document.quiz1.question1.value;
        var question2 = document.quiz2.question1.value;
        var question3 = document.quiz3.question1.value;
        var question4 = document.quiz4.question1.value;
        var question5 = document.quiz5.question1.value;
        var question6 = document.quiz6.question1.value;

        //2nd question
    if (slideIndex == 2 && question2 == 15) {
        checkAnswer30();
        showTicks30();
        //third question
    } else if (slideIndex == 3 && question3 == 5) {
        checkAnswer30();
        showTicks30();
    }
    //first question
    else if (slideIndex == 1 && question1 == 8) {
        checkAnswer30();
        showTicks30();
    }
    //4th question 
    else if (slideIndex == 4 && question4 == 6) {
        checkAnswer30();
        showTicks30();
    }
    //5th question 
    else if (slideIndex == 5 && question5 == 10) {
        checkAnswer30();
        showTicks30();
    }
    //6th question
    else if (slideIndex == 6 && question6 == 2) {
        checkAnswer30();
        showTicks30();
        
    } else {
        document.getElementById("wrong").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Not Yet";
    }
    document.getElementById("badge").textContent = `${correct} out of 6`; 
    document.getElementById("points").textContent = `Points earned:  ${correct * 30} points!`;
});
$("#button").click(function () {
    trackProgress6()
})
$("input").attr("maxlength", 5)
</script>
<% include ./partials/footer %>