<% include ./partials/header %> 

<h1><%=user.username%>'s Progress Badges</h1>

<div class="container">
  <div class="ui four cards">
    <% user.quiz.forEach(function(quizName){ %>
    <div class="card">
      <div class="image">
      <img src="/images/snowy.jpg"></img>
      </div>
      <div class="extra">
      <p>Quiz: <%=quizName.name %></p>
      <p>Score: <%=quizName.score %>%</p>
      <p>Date: <%=quizName.created %></p>
      <div class="ui star rating" data-rating="4"></div>
    </div>
  </div>
  <% }) %>
</div>


<% include ./partials/footer %>