<% include ./partials/headerfront %>
      
      <!-- container -->
      <header class="wrap wrap-mountain mt--40">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 pr-12">
              <h1 class="animated fadeInDown animation-delay-5 color-white">Helping your child stand out from the crowd </h1>
               
            </div>
          </div>
        </div>
      </header>
      <div class="container mt-6">
          <h2 class="text-center color-primary mb-2 wow fadeInDown animation-delay-4">Thankyou. Please continue to our checkout page <%=currentUser.username %> </h2></div>
<!-- Create a button that your customers click to complete their purchase. -->
<!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<button
  style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
  id="checkout-button-sku_EUYlO0SBXzmZCh"
  role="link"
>
  Checkout
</button>

<div id="error-message"></div>

<script>
  var stripe = Stripe('pk_test_SzrlU27CcvbZyyaMpw8lW0Zz');

  var checkoutButton = document.getElementById('checkout-button-sku_EUYlO0SBXzmZCh');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      items: [{sku: 'sku_EUYlO0SBXzmZCh', quantity: 1}],

      // Note that it is not guaranteed your customers will be redirected to this
      // URL *100%* of the time, it's possible that they could e.g. close the
      // tab between form submission and the redirect.
      successUrl: 'https://www.snowytopmaths.co.uk/profile',
      cancelUrl: 'https://www.snowytopmaths.co.uk/cancelled',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
</script>
        
    <script src="js/plugins.min.js"></script>
    <script src="js/app.min.js"></script>

<% include ./partials/footer %>
 