<% include ./partials/headerfront %>
      
      <!-- container -->
      <header class="wrap wrap-mountain mt--40">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 pr-12">
              <h1 class="animated fadeInDown animation-delay-5 color-white">Helping your child stand out from the crowd </h1>
               
            </div>
          </div>
        </div>
      </header>
      <div class="container mt-6">
          <h2 class="text-center color-primary mb-2 wow fadeInDown animation-delay-4">Congratulatons on beginning your monthly subscription to SnowyTop Maths! </h2></div>
        
    <script src="js/plugins.min.js"></script>
    <script src="js/app.min.js"></script>

<% include ./partials/footer %>