<% include ./partials/headerfront %>

<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <div class="card">
        <div class="ms-hero-bg-primary ms-hero-img-mountain">
          <h3 class="color-white index-1 text-center pb-4 pt-4 no-mb">Terms and Conditions</h3>
        </div>
        <div class="ms-collapse no-margin" id="accordion12" role="tablist" aria-multiselectable="true">
          <div class="mb-0 card card-primary">
            <div class="card-header" role="tab" id="headingOne12">
              <h4 class="card-title ms-rotate-icon">
                <a class="withripple" role="button" data-toggle="collapse" href="#collapseOne12" aria-expanded="trie"
                  aria-controls="collapseOne12">
                  <i class="zmdi zmdi-attachment-alt"></i> User Agreement </a>
              </h4>
            </div>
            <div id="collapseOne12" class="card-collapse collapse show" role="tabpanel" aria-labelledby="headingOne12"
              data-parent="#accordion12">
              <div class="card-body">
                <p>Important: - All parents or guardians must read this agreement and agree to it on behalf of your
                  child. If you don’t do this, you do not have permission to use www.snowytopmaths.co.uk - If you are
                  under 13 years old and located in the United States, you may not register as a User, and you must have
                  your parent's or guardian's, or (if you are using this at school) your teacher's, permission to use
                  this site (the "SnowyTop Maths Service") - this means that your parent, guardian or teacher must allow
                  you to do so - If a parent or guardian is paying for your subscription, or if an institution (such as
                  a school) or another enterprise has obtained Membership for you, then we refer to you as a "Member" -
                  If an institution (such as a school) or another enterprise is providing your Membership of the
                  SnowyTop Maths Service, then you must only use your Membership for so long as that institution or
                  enterprise permits you to - If you are a representative of an institution or another enterprise, and
                  wish to arrange the purchase of multiple Memberships, then please contact us at
                  neil@snowytopmaths.co.uk</p>

                <p>1. Introduction</p>
                <p>
                  This Agreement is a legal document which sets out your rights and obligations, and those of
                  www.snowytopmaths.co.uk.

                  The SnowyTop Maths Service includes all versions of "SnowyTop Maths".

                  You must take the time to read and understand this Agreement before registering for the Service. By
                  registering, you accept that you are entering into a contract with us on the terms of this Agreement.
                  Visitors to the Service who do not register to become a User (see 2 below) similarly affirm that they
                  are bound by this Agreement each time they access the Service.

                  You should be aware that this Agreement may change from time to time in accordance with Clause 21
                  below.

                  Important: You must ensure that the email address we hold for you is kept up-to-date and that you have
                  full access to it - we will be sending you important messages there.</p>

                <p>2. Registration and Types of Membership</p>
                <p>
                  To use many features of the SnowyTop Maths Service, we require you to register with us. If you create
                  a school registration on the SnowyTop Maths Service, you become a ‘User’. In becoming a User you
                  warrant that: (i) you are of legal age to form a binding contract (or, if you are a minor, you have
                  your parent's permission to use the Services, and your parent has read and agrees to this Agreement on
                  your behalf); (ii) all registration information you submit is accurate and truthful; (iii) you will
                  maintain the accuracy of such information; (iv) if you are accepting this Agreement on behalf of an
                  institution, company or other legal entity, you have the authority to bind that institution, company
                  or legal entity to this Agreement. You also certify that you are legally permitted to use and access
                  the Services and take full responsibility for the selection and use of and access to the SnowyTop
                  Maths Service. This Agreement is void where prohibited by law, and the right to access the SnowyTop
                  Maths Service is revoked in such jurisdictions.

                  As a User, you also warrant that you will only grant access codes to teachers and staff members who
                  are current employees of your school or district. Upon termination of a teacher or other staff
                  member's employment with you, you will require such individual to return and cease using all access
                  codes he or she has in his or her possession. If at any time you learn a user of the SnowyTop Maths
                  Service claims to be affiliated with your school or district who is not, in fact, affiliated with your
                  school or district, you will notify SnowyTop Maths immediately.

                  You must not choose a username or institution name that could potentially infringe anyone's rights,
                  which is intended to confuse, or which is offensive, hurtful or otherwise inappropriate, as reasonably
                  determined by us. We may change a username if we think it offends this Agreement.

                  If you are accessing the SnowyTop Maths Service as a User on behalf of a school or district that is
                  based in the United States and will enroll Students that are based in the United States, you represent
                  and warrant to us that you have obtained parent’s or guardian’s written consent for the collection of
                  student’s personal information in compliance with the Children’s Online Privacy and Protection Act
                  (“COPPA”). This means that before you use the Services, you must obtain advance written consent from
                  all parents or guardians whose children under 13 will be accessing the Services. Alternatively, if you
                  are a teacher and you do not directly obtain such consent, you represent to us that you are using the
                  Services with the express permission of a school or school district that has the appropriate consents.
                  When obtaining Consent, Schools or Districts must provide parents with a copy of our Privacy Policy.

                  In addition, the School or District must consider its obligations under the Family Educational Rights
                  and Privacy Act (FERPA), which gives parents certain rights with respect to their children’s education
                  records. FERPA is administered by the U.S. Department of Education. For general information on FERPA,
                  see http://ptac.ed.gov/.

                  If you are provided with login information for the SnowyTop Maths Service by your teacher, parent, or
                  other bona-fide User, you become a "Student". Students divide between those for whom a subscription
                  fee is paid ("Members"), and non-Members. Members' subscriptions can be obtained and paid-for by a
                  parent or guardian, or by an institution (such as a school) or another enterprise.

                  If an institution (such as a school) or another enterprise is providing your Membership of the
                  SnowyTop Maths Service, note that you may only use your Membership for so long as that institution or
                  enterprise permits you to do so.

                  You can see the benefits of becoming a Member by visiting our Membership page.

                  Parents or guardians can also sign-up to pay for a subscription on the Home page.

                  Note that we are not an internet service provider. In order to avail of the SnowyTop Maths Service,
                  you must have internet access and all the software (and skills) required for email and web usage.</p>

                <p>3. Use by Children</p>
                <p>
                  SnowyTop Maths collects limited personal information from minor Students, but only where that
                  Student's school, district, and/or teacher has contracted with SnowyTop Maths (by agreeing to these
                  Terms and Conditions) to collect personal information from Students for the use and benefit of the
                  learning environment. SnowyTop Maths requires schools, districts, and/or teachers to obtain parental
                  consent from Students' parents before collecting any such personal information. If you are a Student,
                  please do not send any personal information about yourself to us, other than what we request from you
                  when you sign up for the Services. In the event that we learn that we have collected personal
                  information from a Student without parental consent being obtained by his or her school, district,
                  and/or teacher, or if we learn a Student has provided us personal information beyond what we request
                  when he or she signs up for the Website, we will delete that information as quickly as possible. If
                  you believe that a Student may have provided us personal information beyond what is requested when
                  signing up for the Website, or that a Student's school, district, or teacher has not required parental
                  consent prior to our collection of any personal information, please contact us at
                  neil@snowytopmaths.co.uk</p>

                <p>4. Privacy policy</p>
                <p>
                  SnowyTop Maths's Privacy Policy forms part of this Agreement, and by agreeing to this Agreement, you
                  also give your consent to the way we may handle your personal data as detailed in that policy.</p>

                <p>5. SnowyTop Maths' Role</p>
                <p>
                  We are not and cannot be responsible for the behaviour of Users and Students - whether on the SnowyTop
                  Maths Service or outside of it. In particular, you should be aware that SnowyTop Maths does not
                  generally pre-screen or monitor the material contributed by Users and Students. You can report all
                  inappropriate communication or behaviour to us at neil@snowytopmaths.co.uk</p>

                <p>6. Games and other software; new services</p>
                <p>
                  We provide you with access to mathematics education, games and other software ("Software") through the
                  SnowyTop Maths Service. We grant you a personal, non-exclusive, non-transferable, limited licence to
                  use the Software on any compatible computer from which you access the SnowyTop Maths Service. All
                  Software is protected by copyright and other intellectual property laws and treaties and is owned by
                  us, our affiliates or licensors. You may not sell or redistribute the Software. You may not
                  incorporate it or any portion of it into another product. You may not reverse engineer, decompile or
                  disassemble the Software or otherwise attempt to derive the source code, except where expressly
                  permitted by law to do so. You may not modify, adapt or create derivative works from the Software in
                  any way or remove proprietary notices in the Software.

                  SnowyTop Maths or its affiliates may offer new or additional services through the SnowyTop Maths
                  Service from time to time. Your use of them may be subject to additional terms and conditions, or
                  rules of use, which you must comply with. Any failure by you to comply with a material provision of
                  the terms or rules governing such additional services will amount to a breach of this Agreement.</p>

                <p>7. Operation of SnowyTop Maths Services</p>
                <p>
                  SnowyTop Maths reserves the right to withdraw or modify aspects of the SnowyTop Maths Service, or the
                  entirety of it, where we have legal or commercial reasons to do so. There may also be times when the
                  SnowyTop Maths Service becomes inaccessible as a result of technical difficulties experienced by
                  SnowyTop Maths or on the Internet; we will, however, use reasonable skill and care to overcome these
                  difficulties where they are within our control.

                  There may be times when we make the SnowyTop Maths Service unavailable so that we can conduct
                  technical work on it. We will try to ensure that this planned downtime occurs only between 7am and 9am
                  on Thursdays or is as otherwise specified in the Frequently Asked Questions section on the SnowyTop
                  Maths Service.

                  Note that we will never ask you for your password, and that you are solely responsible for maintaining
                  the safety and secrecy of your password and any additional identifying information. You will be
                  responsible for the activities of anyone who uses your password to gain access to your account. If you
                  think that someone may have obtained your password, you must change it immediately.</p>

                <p>8. Misuse of SnowyTop Maths Service</p>
                <p>
                  We reserve the right (a) to suspend or terminate any User's access to the SnowyTop Maths Service, or
                  parts of it, and/or (b) to remove, or require the User to remove, material posted on the SnowyTop
                  Maths Service, if the User or material appears to us, or to someone who has complained to us, to be in
                  breach of any provision of this Agreement.

                  Any person whose access has been suspended or terminated must not re-register for, or re-access, the
                  SnowyTop Maths Service without our prior consent. You are responsible for everything which is done on
                  or through the SnowyTop Maths Service while your Users account is logged on to the SnowyTop Maths
                  Service, or through your email address(es). In addition, we reserve the right to suspend or terminate
                  any User's access to the SnowyTop Maths Service, or parts of it, if the relevant User is abusive,
                  discriminatory or threatening, or harasses or communicates offensive messages or images to another
                  User, whether or not through the SnowyTop Maths Service.

                  For completeness, where we reserve a right in this Agreement, it does not mean we will be obliged to
                  exercise it. Also, given the open-access nature of the SnowyTop Maths Service, note that we cannot
                  prevent determined people whose Users has been suspended or terminated from re-accessing the SnowyTop
                  Maths Service or re-registering as Users, in breach of their obligations under this Agreement.</p>

                <p>9. Relevance</p>
                <p>
                  The SnowyTop Maths Service is intended to be used by its Users and Students for the purposes we
                  describe in this Agreement and on the SnowyTop Maths Service itself. Accordingly, Users and Students
                  must not:

                  Place material on, or otherwise use, the SnowyTop Maths Service for any business or commercial
                  purpose; or

                  Use your access to the SnowyTop Maths Service, or information gathered from it, in connection with the
                  sending of unsolicited bulk email (sometimes known as spam).</p>

                <p>10. Fees</p>
                <p>
                  If you are (or become) a Member, note that if the subscription paid by your parent, guardian,
                  institution (such as a school) or other enterprise, is not paid or renewed, your Membership will come
                  to an end, and you will not have the ability to access the SnowyTop Maths Service as a User.</p>

                <p>11. Prohibitions</p>
                <p>
                  You must ensure that any material you post, or which is posted through a machine on which you access
                  the SnowyTop Maths Service, and all your activity and communication on the SnowyTop Maths Service, is
                  not capable of (a) infringing the intellectual property or other rights of any person or entity, (b)
                  breaching any applicable law, whether criminal, tortious or otherwise, (c) appearing to be offensive,
                  threatening, abusive, discriminatory, obscene, pornographic, false, libelous, defamatory, unreliable
                  or misleading, or (d) being perceived as antisocial or disruptive.</p>

                <p>12. Alerting SnowyTop Maths</p>
                <p>
                  If you see anything on the SnowyTop Maths Service which appears to infringe this Agreement, then
                  please contact us to inform us by emailing us at neil@snowytopmaths.co.uk. We rely upon Users to point
                  out material contributed by other Users which may infringe this Agreement.</p>

                <p>13. Disclaimer and Release</p>
                <p>
                  SnowyTop Maths has no control over or responsibility for the truth or accuracy of any material
                  available on the SnowyTop Maths Service that is provided by Users or others.

                  If any third party sites are linked to from the SnowyTop Maths Service, this does not mean that we
                  endorse or have any responsibility for the site in question or anything which appears on it. You
                  should exercise no lesser degree of caution in appraising what you see on the SnowyTop Maths Service
                  than you do offline.

                  Even though Users and Students are prohibited from doing so, people may provide information, or
                  otherwise behave, in a way that is unreliable, misleading or even illegal. Further, you should note
                  that people may not necessarily be who they say they are.

                  Therefore, to the extent that the law permits, you release SnowyTop Maths its directors, contractors
                  and employees from all liability (including in relation to disputes with other Users) arising out of
                  your use of a third party site or arising out of or in connection with the material included on the
                  SnowyTop Maths Service by Users and other third parties.</p>

                <p>14. Intellectual Property</p>
                <p>
                  You acknowledge that all copyright, trademarks, and other intellectual property rights in and relating
                  to the SnowyTop Maths Service (including the Software and other content that we make available) are
                  owned by SnowyTop Maths its licensors. These rights protect all of the games you see on the SnowyTop
                  Maths Service, including the graphics of those games, their structure, gameplay and their "look and
                  feel". It is easy to copy material which appears on web-sites, but this does not mean it is legal.
                  Therefore, no-one may copy, distribute, show in public or create any derivative work from the SnowyTop
                  Maths Service, or any part of the games or other material which is found on the SnowyTop Maths Service
                  unless properly licensed to do so by us.

                  By submitting any material to the content to the SnowyTop Maths Service, you:

                  Are representing that you are fully entitled to do so;

                  Grant us a non-exclusive, royalty-free, non-terminable licence to copy, modify, distribute, show in
                  public and create derivative works from that material in any form, anywhere; and

                  Authorise us to adapt the relevant material in the course of doing so, and so waive your moral rights
                  to object to any derogatory treatment, or to be identified as the author, of the material in question.
                </p>

                <p>15. Excluded loss</p>
                <p>
                  We will not be liable to you or any third party for any loss not reasonably foreseeable by us when
                  this Agreement commences, for any indirect or consequential loss or damage, or for any loss of data,
                  profit, revenue or business, howsoever caused (whether arising out of any negligence or breach of this
                  Agreement or otherwise). SnowyTop Maths will also not be liable for any failure to perform of its
                  obligations under this Agreement caused by matters beyond its reasonable control.</p>

                <p>16. Maximum liability</p>
                <p>
                  Without limiting the preceding Clause, the aggregate liability of SnowyTop Maths under this Agreement
                  (whether arising in negligence or otherwise) will not under any circumstances exceed an amount equal
                  to (a) the monthly Subscription fee payable by teachers, schools or the district at the time liability
                  arises, or (if greater) (b) the sums that have actually been paid for your then-current Membership.
                </p>

                <p>17. Non-excluded Liabilities</p>
                <p>
                  Nothing in this Agreement limits our liability for death or personal injury resulting from our
                  negligence, or any other liability which may not by law be excluded. Any statutory rights you may have
                  as a consumer remain unaffected.</p>

                <p>18. Indemnity</p>
                <p>
                  You agree to indemnify us against all liabilities, claims and expenses that may arise from any breach
                  of this Agreement by you or through a machine on which you access the SnowyTop Maths Service.</p>

                <p>19. Assignment</p>
                <p>
                  We reserve the right to assign this Agreement, and to assign or subcontract any or all of our rights
                  and obligations under this Agreement, but will not do so in such a way as to reduce any guarantees you
                  are given under this Agreement. You may not without the written consent of SnowyTop Maths assign or
                  dispose of this Agreement.</p>

                <p>20. Entire Agreement</p>
                <p>
                  This Agreement includes our Privacy Policy. Together they contain the whole of the agreement between
                  us and you concerning the SnowyTop Maths Service and they replace all earlier agreements and
                  understandings with you, except for any fraud or fraudulent representation by either of us. A person
                  who is not a party to this Agreement has no right under the Contracts (Rights of Third Parties) Act
                  1999 to rely upon or enforce any term of this Agreement.</p>

                <p>21. Changes to this Agreement</p>
                <p>
                  SnowyTop Maths reserves the right to change this Agreement from time to time, and post the new version
                  on the SnowyTop Maths Service. When we do so, we notify Users of the fact that there are changed terms
                  on the main screen https://app.SnowyTop Maths.co.uk/about/termsandconditions , and post the new
                  Agreement there. This Agreement, and any new version of it in the future, takes effect immediately.
                  However, if you do not wish to be bound by the changes we make in this Agreement (or any new version
                  of it), then you can choose instead to remain bound by the previous SnowyTop Maths Terms and
                  Conditions until:

                  The next renewal date for the subscription fee payable by your parent or guardian, or (if you are
                  using the SnowyTop Maths Service at school) your school, if you are a Member; or

                  One month after the date when we post the new version, if you are a User.</p>

                <p>22. Severability</p>
                <p>
                  In the event that any term of this Agreement is held to be invalid or unenforceable by judicial decree
                  or decision, the remainder of this Agreement shall remain valid and enforceable.</p>

                <p>23. Law</p>
                <p>
                  This Agreement shall be governed by and construed in accordance with the laws of England and Wales.
                </p>

                <p>24. Keeping this Agreement</p>
                <p>
                  We don't separately file the individual Agreements entered into by members when they register for the
                  SnowyTop Maths Service. You can access it at https://www.snowytopmaths.co.uk/terms. Please make a
                  durable copy of this Agreement by printing and/or saving a downloaded copy on your own computer.</p>

                <p>25. Contact</p>
                <p>
                  You can contact us by emailing neil@snowytopmaths.co.uk. Please make sure you include your full name
                  and email address with all correspondence. </p>
                <p />
              </div>
            </div>
          </div>
          <div class="mb-0 card card-primary">
            <div class="card-header" role="tab" id="headingTwo12">
              <h4 class="card-title ms-rotate-icon">
                <a class="collapsed withripple" role="button" data-toggle="collapse" href="#collapseTwo12"
                  aria-expanded="false" aria-controls="collapseTwo12">
                  <i class="zmdi zmdi-attachment-alt"></i> Enterprise Agreement </a>
              </h4>
            </div>
            <div id="collapseTwo12" class="card-collapse collapse" role="tabpanel" aria-labelledby="headingTwo12"
              data-parent="#accordion12">
              <div class="card-body">
                <p>Enterprise Agreement</p>
                <p>1. Introduction.</p>
                <p>
                  These are the Terms and Conditions that apply to institutions and businesses that agree to obtain
                  multiple Memberships of www.snowytopmaths.co.uk (the "SnowyTop Maths Service"), and, together with the
                  SnowyTop Maths’s Invoice that refers to these Terms and Conditions (the "Invoice"), form the
                  "Agreement".</p>
                <p>

                  The Agreement is between the business or institution specified in the Invoice (the "Enterprise" or
                  "you") and Neil Campbell, a company registered in England under registration number ("Neil Campbell",
                  "we" or "us").</p>
                <p>

                  The invoice specifies (a) the number of Memberships of the SnowyTop Maths Service that the Enterprise
                  is subscribing for (the "Subscription"), and which are to be provided for the benefit of the
                  Enterprise’s students, users or customers ("End-Users"), (b) the Price of the Subscription fees that
                  are to be paid to us for those Memberships, and (c) the "Term", at the end of which all the
                  Memberships will cease.</p>
                <p>

                  The Enterprise must nominate the End-Users who are to be granted Membership, up to the maximum number
                  for which the Subscription fees are paid. If an End-User ceases his/her Membership before the end of
                  the Term, he/she may be replaced as a Member by another End-User nominated by the Enterprise. It is
                  the Enterprise’s responsibility to administer the allocation of Memberships to its End-Users.</p>
                <p>

                  The Enterprise must ensure that the email address we hold on behalf of it is kept up-to-date – we will
                  be sending important messages to it. If that email address changes, then you must notify us of the new
                  address in accordance with Clause 16 below.</p>

                <p>2. Our User Agreement</p>
                <p>
                  Each End-User must agree to our "User Agreement" as a condition of using the SnowyTop Maths Service.
                  If an End-User does not do so, this will not entitle you or the Enterprise to any rebate of the
                  Subscription fees that are paid to us.</p>
                <p>

                  An End-User is referred to in the "User Agreement" as (a) a User, and (b) a Member where he or she
                  avails of a Membership of the SnowyTop Maths Service under your Enterprise’s Subscription. "User" and
                  "Member" have the same meanings in this Agreement.</p>
                <p>

                  The Enterprise agrees to take responsibility for End-Users' (a) use of the SnowyTop Maths Service, and
                  (b) compliance with the "User Agreement".</p>

                <p>3. Benefits of Membership</p>
                <p>
                  You can see the benefits of Membership on our home page and about us page.</p>
                <p>

                  Note that we are not an internet service provider. In order to avail of the SnowyTop Maths Service,
                  each End-User must have internet access and all the software (and skills) required for email and web
                  usage.</p>

                <p>4. Subscriptions</p>
                <p>
                  The Subscription permits the number of Memberships for the Term identified in the Invoice. All
                  Memberships will come to an end when that Term ends (irrespective of how long an individual End-User
                  has held that Membership).
                </p>
                <p>
                  The Term runs from the date when we notify you by email that we have made Membership available to
                  End-Users. We will give this notice to you after you pay the relevant Subscription fee, or (if, in our
                  discretion, we are prepared to do so in advance of receiving that fee) following the execution of the
                  PO.</p>
                <p>

                  You agree to pay the Price for Subscription before accessing the paid content. We will be entitled to
                  charge interest on any sums owed to us at the rate of three percent per annum above the then-current
                  base rate of HSBC Bank Plc from the date payment becomes due until payment in full.</p>
                <p>

                  For the avoidance of doubt, there is no right to cancel the Enterprise’s Subscription during the
                  cooling-off period which is provided for certain purchases under the Consumer Protection (Distance
                  Selling) Regulations 2000.</p>
                <p>

                  Please note that we reserve the right to change the amount of the Subscription fee, the period which
                  it covers and the SnowyTop Maths Services that it enables End-Users to obtain. However, these changes
                  will not take effect until the end of the Term.</p>

                <p>5. Privacy policy</p>
                <p>
                  SnowyTop Maths' Privacy Policy forms part of this Agreement, and by agreeing to this Agreement, you
                  give your consent to the way we may handle your personal data (and that of End-Users) as detailed in
                  that policy.</p>

                <p>6. Excluded loss</p>
                <p>
                  We will not be liable to you or any third party for any indirect or consequential loss or damage, or
                  for any loss of data, profit, revenue or business, howsoever caused (whether arising out of any
                  negligence or breach of this Agreement or otherwise). SnowyTop Maths will also not be liable for any
                  failure to perform of its obligations under this Agreement caused by matters beyond its reasonable
                  control.</p>

                <p>7. Maximum liability</p>
                <p>
                  Without limiting the preceding Clause, the aggregate liability of SnowyTop Maths in connection with
                  this Agreement, whether arising in negligence or otherwise, in any successive twelve-month period (the
                  first such twelve-month period commencing on the date when the Term commences) will not under any
                  circumstances exceed the greater of (a) £50, or (b) the sums that you have actually paid to us by way
                  of Subscription fees in respect of that twelve-month period.</p>

                <p>8. Non-excluded Liabilities</p>
                <p>
                  Nothing in this Agreement limits our liability for death or personal injury resulting from our
                  negligence, or any other liability which may not by law be excluded. Any statutory rights of consumers
                  remain unaffected.</p>

                <p>9. Indemnity</p>
                <p>
                  The Enterprise agree to indemnify us against all liabilities, claims and expenses that may arise from
                  any breach of (a) this Agreement by the Enterprise, or (b) the "User Agreement" on the part of any of
                  the End-Users.</p>

                <p>10. Assignment</p>
                <p>
                  We reserve the right to assign this Agreement, and to assign or subcontract any or all of our rights
                  and obligations under this Agreement. You and the Enterprise may not without the written consent of
                  SnowyTop Maths assign or dispose of this Agreement.</p>

                <p>11. Entire Agreement</p>
                <p>
                  This Agreement, including any documents incorporated into it, contains the whole of the agreement
                  between us and the Enterprise concerning its subject-matter, replacing all earlier or other agreements
                  and understandings, except for any fraud or fraudulent representation. A person who is not a party to
                  this Agreement has no right under the Contracts (Rights of Third Parties) Act 1999 to rely upon or
                  enforce any term of this Agreement.</p>

                <p>12. Changes to this Agreement</p>
                <p>
                  SnowyTop Maths reserves the right to change these Terms and Conditions from time to time, and post the
                  new version on the SnowyTop Maths Service. When we do so, we notify the fact that there are changed
                  terms at The Enterprise Agreement and post the new Agreement there. However, if the Enterprise does
                  not wish to be bound by the changes we make in any new version of these Terms and Conditions, then it
                  can choose instead to remain bound by these Terms and Conditions until the end of the Term.</p>

                <p>13. Severability</p>
                <p>
                  In the event that any term of this Agreement is held to be invalid or unenforceable by judicial decree
                  or decision, the remainder of this Agreement shall remain valid and enforceable.</p>

                <p>14. Law</p>
                <p>
                  This Agreement shall be governed by and construed in accordance with the laws of England and Wales,
                  and is subject to the non-exclusion jurisdiction of the English courts.</p>

                <p>15. Suspension/Termination</p>
                <p>
                  We shall be entitled to suspend or terminate any or all Memberships immediately in the event that you
                  are in breach of this Agreement, and have failed to correct that breach within 7 days of any notice
                  from us specifying the breach.</p>

                <p>16. Contact</p>
                <p>
                  The Enterprise may contact us by post at neil@snowytopmaths.co.uk, We are entitled to serve any notice
                  on you under or in connection with this Agreement by sending an email to the email address specified
                  in the PO, which you can change by notifying us of the new email address by post or fax as provided in
                  this Clause.</p>
              </div>
            </div>
          </div>
          <div class="mb-0 card card-primary">
            <div class="card-header" role="tab" id="headingThree3">
              <h4 class="card-title ms-rotate-icon">
                <a class="collapsed withripple" role="button" data-toggle="collapse" href="#collapseThree3"
                  aria-expanded="false" aria-controls="collapseThree3">
                  <i class="zmdi zmdi-attachment-alt"></i> Privacy Policy </a>
              </h4>
            </div>
            <div id="collapseThree3" class="card-collapse collapse" role="tabpanel" aria-labelledby="headingThree12"
              data-parent="#accordion12">
              <div class="card-body">
                <p>Privacy Policy
                  Who are we?</p>
                <p>
                  We are a website called www.snowytopmaths.co.uk under a sole trader company called Neil Campbell
                  registered in the UK under registration number (“www.snowytopmaths.co.uk”, “we” or “us”).


                  For queries relating to Data Protection and Privacy, please contact us at neil@snowytopmaths.co.uk</p>
                <p>

                  Introduction</p>
                <p>
                  This is our privacy policy which relates to all information that we record about you. It sets out the
                  conditions under which we may process any information that we collect from you, or that you provide to
                  us. It covers information that could identify you or others (“personal information”) and information
                  that could not. In the context of the law and this policy, “process” means collect, store, transfer,
                  use or otherwise act on information.</p>
                <p>
                  If there are any points below which you are not happy with, please contact us to let us know and we
                  will do our best to provide you with clarification. If your questions or queries aren’t addressed to
                  your satisfaction, then unfortunately, your only recourse would be to leave our website.</p>
                <p>
                  We take the protection of your privacy and confidentiality seriously. We understand that all visitors
                  to our website are entitled to know that their personal data will not be used for any purpose
                  unintended by them and will not accidentally fall into the hands of a third party.
                  We undertake to preserve the confidentiality of all information you provide to us, and hope that you
                  reciprocate.</p>
                <p>
                  Our policy complies with UK law, including that required by Regulation (EU) 2016/679, the General Data
                  Protection Regulation (“GDPR”), and the jurisdictions of the United States, Canada, Australia, New
                  Zealand and Brazil. If you think this is not the case, please let us know.
                  Except as set out below, we do not share, sell, or disclose to a third party, any information
                  collected through our website.</p>
                <p>
                  The basis on which we process information about you
                  UK law requires us to determine under which of six defined bases we process different categories of
                  your personal information, and to notify you of the basis for each category.</p>
                <p>
                  If a basis on which we process your personal information is no longer relevant, then we shall
                  immediately stop processing your data.
                  If the basis changes then, if required by law, we shall notify you of the change and of any new basis
                  under which we have determined that we can continue to process your information.</p>
                <p>
                  What personal data will we collect from you because we have a contractual obligation to do so?</p>
                <p>
                  When you create an account on our website, buy services from us, or otherwise agree to our terms and
                  conditions, a contract is formed between you and us.</p>
                <p>
                  In order to carry out our obligations under that contract we must process the information you give us.
                  Some of this information may be personal information.</p>
                <p>
                  We may use it in order to:</p>
                <p>
                  verify your identity for security purposes;
                  sell services to you;
                  provide you with our services; or
                  provide you with suggestions and advice on services and how to obtain the most from using our website.
                </p>
                <p>
                  We process this information on the basis there is a contract between us, or that you have requested
                  that we use the information before we enter into a legal contract with you. We process your data in
                  order to fulfill this contract, whether you are utilising SnowyTopMaths.co.uk on a paid-for
                  subscription, trial of paid-for subscription or utilising the free, basic version of
                  SnowyTopMaths.co.uk without a subscription.</p>
                <p>
                  Additionally, we may aggregate this information in a general way and use it to provide class
                  information, for example to monitor our performance with respect to a particular service we provide,
                  and to conduct research studies, write non-personalised blog posts or marketing pieces using
                  aggregated non-personally identifiable information. If we use the information for this purpose, you as
                  an individual will not be personally identifiable.</p>
                <p>
                  We shall continue to process this information until the contract between us ends or is terminated by
                  either you or us under the terms of the contract between us.</p>
                <p>
                  In order to create a school account on SnowyTopMaths.co.uk, you must be over the age of 18 and terms
                  will need to be negotiated by emailing www.snoytopmaths.co.uk. </p>
                <p>
                  In order to register your school and utilise the SnowyTopMaths.co.uk service as a teacher, we require
                  you to enter the following details on the registration page at
                  https://app.SnowyTopMaths.co.uk/register:</p>
                <p>
                  First Name;
                  Last Name;
                  Email Address;
                  Job Role/Title;
                  School Name;
                  School Address.</p>
                <p>
                  Once your school account has been created, you will receive an email from us asking you to create your
                  password. This also helps us to verify your email address as a way of confirming your identity.
                  In order to use SnowyTopMaths.co.uk as a school, you’ll need to enter the details of your colleagues
                  (staff members) and students so as to enable their individual access. By adding any student or teacher
                  details to the account, you are confirming that you have the authority and consent of the relevant
                  data subjects, or their parent or guardian, to do so. In order to create logins, the following
                  information needs to be submitted:</p>
                <p>
                  Staff members
                  First Name;
                  Last Name;
                  Display Name (optional); and
                  Email Address.
                  Students
                  First Name (submitted by parent or guardian);
                  Last Name (submitted by parent or guardian)
                  Password (submitted by parent or guardian);</p>
                <p>

                  Full student names are only visible to users registered on the same school account within the
                  SnowyTopMaths.co.uk system. Where student names are visible to users from outside that school account,
                  for instance when participating in multi-player games or inter-school competitions, they are always
                  shortened to first name and last name initial.
                  We do not store any contact information relating to users created as students on SnowyTopMaths.co.uk
                  and will not proactively contact students, other than via the notification system built into the
                  SnowyTopMaths.co.uk system. If a student contacts us directly at neil@SnowyTopMaths.co.uk for
                  instance, we will most often direct them to contact their teacher for further assistance.</p>
                <p>

                  Information we process with your consent</p>
                <p>
                  Through certain actions when otherwise there is no contractual relationship between us, such as when
                  you browse our website or ask us to provide you with more information about our business, our products
                  and services, you provide your consent to us to process information for that purpose that may be
                  personal information.
                  Wherever possible, we aim to obtain your explicit consent to process this information.</p>
                <p>
                  Sometimes you might give your consent implicitly, such as when you send us a message by e-mail to
                  which you would reasonably expect us to reply.
                  Except where you have consented to our use of your information for a specific purpose, we do not use
                  your information in any way that would identify you personally. We may aggregate it in a general way
                  and use it to provide class information, for example to monitor the performance of a particular page
                  on our website.</p>
                <p>
                  If you have given us explicit permission to do so, we may from time to time pass your name and contact
                  information to selected associates whom we consider may provide services or products you would find
                  useful.
                  We continue to process your information on this basis until you withdraw your consent, or it can be
                  reasonably assumed that your consent no longer exists.</p>
                <p>
                  You may withdraw your consent to our processing of your personal data at any time by instructing us at
                  neil@SnowyTopMaths.co.uk. However, if you do so, you may not be able to use our website or our
                  services further. You cannot opt out of receiving email notifications regarding payments, as it is a
                  legal requirement for us to notify you of your payments and any associated changes to payments.</p>
                <p>
                  Information we process because we have a legitimate interest in doing so
                  You can opt out of receiving such email communication by clicking on the unsubscribe link at the
                  bottom of emails sent from SnowyTopMaths.co.uk.</p>
                <p>

                  Complaints regarding content on our website</p>
                <p>
                  If you complain about any of the content on our website, we shall investigate your complaint.</p>
                <p>
                  If we feel that your complaint is justified, or if we believe the law requires us to do so, we shall
                  remove the relevant content complained about while we investigate.</p>
                <p>
                  Free speech is a fundamental right, so we have to make a judgement as to whose right will be
                  obstructed: yours, or that of the person who posted the content that offends you.</p>
                <p>
                  If we think your complaint is vexatious or without any basis, we shall not correspond with you about
                  it.</p>
                <p>
                  Sending a message to our support team</p>
                <p>
                  When you contact us, whether by telephone, through our website or by e-mail, we collect the data you
                  have given to us in order to reply with the information you need.</p>
                <p>
                  We record your request and our reply in order to increase the efficiency of our business.</p>
                <p>
                  We keep personally identifiable information associated with your message, such as your name and email
                  address so as to be able to track our communications with you to provide a high-quality service.
                  Making a complaint</p>
                <p>
                  When we receive a complaint, we record all the information you have given to us.</p>
                <p>
                  We use that information to resolve your complaint.</p>
                <p>
                  If your complaint reasonably requires us to contact some other person, we may decide to give to that
                  other person some of the information contained in your complaint. We will only do this if we think it
                  is absolutely necessary, but it is a matter for our sole discretion as to whether we do give
                  information, and if we do, what that information is.
                  We may also compile statistics showing information obtained from this source to assess the level of
                  service we provide, but not in a way that could identify you or any other person.</p>
                <p>
                  Cookies</p>
                <p>
                  Cookies are small text files that are placed on your computer's hard drive by your web browser when
                  you visit any website. They allow information gathered on one web page to be stored until it is needed
                  for use on another, allowing a website to provide you with a personalised experience, and the website
                  owner with statistics about how you use the website so that it can be improved.</p>
                <p>
                  Some cookies may last for a defined period of time, such as one day or until you close your browser.
                  Others last indefinitely.
                  Your web browser should allow you to delete any you choose. It also should allow you to prevent or
                  limit their use.</p>
                <p>
                  Our website uses cookies. They are placed by software that operates on our servers, and by software
                  operated by third parties whose services we use.</p>
                <p>
                  If you choose not to accept cookies when you first visit our website, then unfortunately you will not
                  be able to continue to use our website.
                  If you choose not to use cookies, or you prevent their use through your browser settings, you will not
                  be able to use all the functionality of our website.</p>
                <p>
                  We use cookies in the following ways:</p>
                <p>
                  to track how you use our website;</p>
                <p>
                  to record whether you have seen specific messages we display on our website;</p>
                <p>
                  to keep you signed in our website;</p>
                <p>
                  to record your answers to surveys and questionnaires on our website while you complete them; and</p>
                <p>
                  to record the conversation thread during a live chat with our support team.</p>
                <p>
                  We provide more information about the cookies we use in our cookie policy which can be found at
                  https://www.SnowyTopMaths.co.uk/terms.</p>
                <p>
                  Personal identifiers from your browsing activity</p>
                <p>
                  Requests by your web browser to our servers for web pages and other content on our website are
                  recorded by us.</p>
                <p>
                  We record information such as your geographical location, your Internet service provider and your IP
                  address when you:</p>
                <p>
                  login;</p>
                <p>
                  send a private message within the SnowyTopMaths.co.uk system; and
                  request information from SnowyTopMaths.co.uk (such as when you request a password reset email).</p>
                <p>
                  We collect this information to enable us to be able to detect and diagnose any misuse of the
                  SnowyTopMaths.co.uk system.</p>
                <p>

                  We also record information about the software you are using to browse our website, such as the type of
                  computer or device and the screen resolution.</p>
                <p>
                  We use this information in aggregate to assess the popularity of the webpages on our website and how
                  we perform in providing content to you.
                  If combined with other information we know about you from previous visits, the data possibly could be
                  used to identify you personally, even if you are not signed in to our website.</p>
                <p>
                  Information we obtain from third parties</p>
                <p>
                  Although we do not disclose your personal information to any third party (except as set out in this
                  privacy policy), we sometimes receive data that is indirectly made up from your personal information
                  from third parties whose services we use.
                  No such information is personally identifiable to you.</p>
                <p>
                  Credit reference</p>
                <p>
                  To assist in combating fraud, we share information with credit reference agencies, so far as it
                  relates to clients or customers who instruct their credit card issuer to cancel payment to us without
                  having first provided an acceptable reason to us and given us the opportunity to refund their money.
                </p>
                <p>

                  Data processed outside the European Economic Area</p>
                <p>
                  Our website is hosted in the United States.
                  We may also use outsourced services in countries outside the European Union from time to time in other
                  aspects of our business.
                  As such, data obtained within the UK or any other country could be processed outside the European
                  Economic Area.</p>
                <p>
                  For example, some of the software we use, or our website uses may have been developed in the United
                  States of America or in Australia.
                  We use the following safeguards with respect to data transferred outside the European Union:</p>
                <p>
                  the data protection clauses in our contracts with data processors include transfer clauses written by
                  or approved by a supervisory authority in the European Union, specifically that in the UK; and
                  we comply with a code of conduct approved by a supervisory authority in the European Union,
                  specifically that in the UK.</p>
                <p>
                  Access to your personal information</p>
                <p>
                  At any time, you may review or update personally identifiable information that we hold about you, by
                  signing in to your account on our website.
                  To obtain a copy of any information that is not provided on our website you may send us a request at
                  privacy@SnowyTopMaths.co.uk.
                  After receiving the request, we will tell you when we expect to provide you with the information. This
                  information will be provided free of charge unless we believe that the request is manifestly unfounded
                  or excessive, in which case we may charge a reasonable fee for providing it to you.</p>
                <p>
                  Removal of your information</p>
                <p>
                  If you wish us to remove personally identifiable information from our website, you may contact us to
                  do so at privacy@SnowyTopMaths.co.uk.
                  This may limit the service we can provide to you.
                  Verification of your information
                  When we receive any request to access, edit or delete personal identifiable information we shall first
                  take reasonable steps to verify your identity before granting you access or otherwise taking any
                  action. This is important to safeguard your information.</p>
                <p>

                  Use of our website by children</p>
                <p>
                  Children under the age of 18 may only use SnowyTopMaths.co.uk via a student login within a school
                  account provisioned by their district, school, teacher, tutor or parent/guardian.</p>
                <p>

                  Encryption of data sent between us</p>
                <p>
                  We use Secure Sockets Layer (SSL) certificates to verify our identity to your browser and to encrypt
                  any data you give us.
                  Whenever information is transferred between us, you can check that it is done so using SSL by looking
                  for a closed padlock symbol or other trust mark in your browser’s URL bar or toolbar.</p>
                <p>
                  How you can complain</p>
                <p>
                  If you are not happy with our privacy policy or if have any complaint, then you should tell us by
                  email. Our address is neil@SnowyTopMaths.co.uk.</p>
                <p>
                  If a dispute is not settled, then we hope you will agree to attempt to resolve it by engaging in good
                  faith with us in a process of mediation or arbitration.</p>
                <p>
                  If you are in any way dissatisfied about how we process your personal information, you have a right to
                  lodge a complaint with the Information Commissioner's Office. This can be done at
                  https://ico.org.uk/concerns/.
                  Retention period for personal data</p>
                <p>
                  Except as otherwise mentioned in this privacy policy, we keep your personal information only for as
                  long as required by us:
                  to provide you with the services you have requested;
                  to comply with other law, including for the period demanded by our tax authorities; or
                  to support a claim or defence in court.</p>
                <p>
                  Upon creating a SnowyTopMaths.co.uk account, you will be asked to verify your email address and set
                  your password via a link which will be sent to your email. If your password is not created (and
                  therefore your email address is not verified) within 30 days of registering on SnowyTopMaths.co.uk,
                  your account will be deleted.</p>
                <p>
                  If your school has not at any point purchased a SnowyTopMaths.co.uk subscription, then if your
                  SnowyTopMaths.co.uk account is inactive (no teacher or student has played any activities) for 24
                  months, the account will be deactivated and data will be deleted. Each teacher registered on the
                  school account will receive email notification 2 months ahead of this with the option to retain the
                  school’s account, along with student and teacher data, should they wish to do so.</p>
                <p>
                  If your school has purchased a SnowyTopMaths.co.uk subscription, your account will be retained
                  indefinitely for historical and analytical purposes. If your paid subscription has expired, and you
                  wish to remove student and teacher names from your account then please contact
                  support@SnowyTopMaths.co.uk to request that data from your school is anonymised.</p>
                <p>
                  When we are asked to remove personal data, we shall record this request to ensure that we do not
                  contact the data subject after such removal.
                  Third party service providers
                  By using the SnowyTopMaths.co.uk service, the following third parties may receive your personal data
                  from us or the following purpose(s) as part of required processing activities:</p>
                <p>
                  Digital Ocean (US & Ireland) - Cloud based servers for hosting our services and storing your data
                  Cloudflare - For accelerating your rich user experience by improving loading speeds
                  MLab - Cloud based database for storing your data
                  Stripe – processing credit card payments - [https://stripe.co.uk]
                  Google Docs - for internal documentation</p>
                <p>
                </p>
                <p>
                  We may, from time to time, choose to change any of our processors (for example, to switch from one
                  invoicing system to another) or add additional processors. We will keep this information up to date
                  and encourage you to periodically review this privacy policy for the most up to date list of
                  processors being utilised by us.
                  Review of this privacy policy
                  We may update this privacy policy from time to time as necessary. The terms that apply to you are
                  those posted here on our website on the day you use our website. We advise you to print a copy for
                  your records.
                  If you have any question regarding our privacy policy, please contact us by email at
                  privacy@SnowyTopMaths.co.uk. </p>
                <p>
                  Cookies</p>
                <p>
                  We use cookies in the following ways on our site:

                  To allow you to login into our site</p>
                <p>

                  To remember any preferences you select on our site - for example the language you want to see the site
                  in</p>
                <p>

                  To allow us to see how you use our site in order to find bugs and help direct our future development
                </p>
                <p>

                  If you disable cookies then you will be unable to log into SnowyTopMaths. If you are using Chrome as
                  your browser then you can use this extension to disable Google Analytics -
                  https://support.google.co.uk/analytics/answer/181881?hl=en. This will not impact on your use of our
                  site.</p>
                <p>

                  To learn how to disable cookies or opt out of their usage please visit https://www.aboutcookies.org.
                </p>
                <p>

                  We do not have any advertisement on our site, and do not use cookies in any way related to
                  advertisement.</p>
                <p>

                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ./partials/footer %>