<% include ./partials/header %>
<style>
.dot{
       cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; 
    }
   .active, .dot:hover {
  background-color: #9C27B0;
}</style>


<div class="col-lg-11 ms-paper-content-container">
    <div class="ms-paper-content">
        <div class="alert alert-light alert-info">  
            <p><span class="ml-auto badge-pill badge-pill-info"><%=currentUser.score %></span>    Each question is worth 20 points.
            <strong>    Good Luck! </strong> </p>                  
        </div>
    </div>
</div>
                  
                  
<!--   Video        -->
<div id="video" style="text-align: center">
  <div class="col-md-4" style="display:inline-block">
        <h3 class="text-center">Square Number Problems</h3>
        <div class="card card-info-inverse">
            <div class="card-header">
                <h3 class="card-title"><i class="zmdi zmdi-graduation-cap"></i> 4 out of the 5 pieces can be joined together to make a square. Which is the odd one out?</h3>
            </div>
            <div class="js-player">
            <script src="https://snowytopmaths.cdn.vooplayer.com/assets/vooplayer.js"></script><iframe allow="autoplay" class="video-player-container vooplayer" data-playerId="MTY4ODYz" allowtransparency="true" style="max-width:100%" name="vooplayerframe" allowfullscreen="true" src="" watch-type="" url-params="" frameborder="0" scrolling="no"> </iframe>
            </div>
            <div class="card-body overflow-hidden text-center">
              </div>  
        </div>
    </div>
</div>
   
<div class="container">
            <p id="userId"><%=currentUser.id %> </p>  
    
  </div>  

<div  id="qHolder" style="text-align: center">
    <div class="card card-royal col-md-6" style="display:inline-block" >
        
<!--        First question-->
<div class="mySlides">
    <div class="card-header">
        <h3 class="card-title">1.</h3>
    </div>
  <div class="card-body"> 
   <form name="quiz1">
     <p class='q'>New SLide 1 shapes below can be formed to make a square. Which is the odd one out? (A,B,C or D)</p><img src="img/squares1A.png" alt="" class="img-fluid"> 
        <div class="form-group">
            <div id="questions" >
                <input id="usr" type= "text" name = "question1" class="form-control" placeholder="Answer Here" maxlength="3">
            </div>
        </div>
    </form>
  </div>
</div>
<!--     2nd question                -->
<div class="mySlides">
    <div class="card-header">
        <h3 class="card-title">2.</h3>
    </div>
    <div class="card-body"> 
      <form  name="quiz2">
            <p class='q'>New SLide 2 shapes below can be formed to make a square. Which is the odd one out? (A,B,C or D)<img src="img/squares2.png" alt="" class="img-fluid"></p> 
        <div class="form-group">
            <div id="questions" >
              <input id="usr" type= "text" name = "question1" class="form-control" placeholder="Answer Here" maxlength="3">
            </div>       
        </div>
      </form>
    </div>
</div>
<!--   3rd question       -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">3.</h3></div>      <div class="card-body"> 
    <form  name="quiz3">
        <p class='q'>New SLide 3 shapes below can be formed to make a square. Which is the odd one out? (A,B,C or D)<img src="img/squares3.png" alt="" class="img-fluid"></p> 
        <div class="form-group">
            <div id="questions" >
                <input id="usr" type= "text" name = "question1" class="form-control" placeholder="Answer Here" maxlength="3">
            </div>
        </div>
    </form>
    </div>
</div>
<!--        buttons-->
<div class="container" style="text-align: center">
    <div class="row" >
        <button type="button" id="button1" class="btn btn-success btn-raised"> Check </button>
        <button type="button" id="next1" class="btn btn-primary btn-raised"onclick="plusSlides(1)"> Next </button>
                <div id="tick">
                    <span class="ms-icon ms-icon-lg ms-icon-circle color-success">
                    <i class="fa fa-check"></i>
                    </span>
               </div>
               <div id="wrong">
                 <span class="ms-icon ms-icon-lg ms-icon-circle color-danger">
                <i class="fa fa-remove"></i>
                </span>
              </div>
        <div id="msg"></div>
    </div>
</div>
      
<div class="dot-container">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>    
<!-- last 2 divs from top of card-->
     </div>
        </div>
 <div id="example"></div> 
<script>
    $("#example").load("./config");
     
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);    
    document.getElementById("tick").style.visibility = "hidden";
    document.getElementById("wrong").style.visibility = "hidden";
    document.getElementById("msg").style.visibility = "hidden";
    
    
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}    
    var correct = 0;
   
    $("#button1").click(function(){       
        var question1 = document.quiz1.question1.value;  
        var question2 = document.quiz2.question1.value;
        var question3 = document.quiz3.question1.value;
        
       if(question2 == 2){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
           document.getElementById("msg").style.visibility = "visible";
           document.getElementById("msg").textContent= " Well done! 20 points";
            correct++;
  } else if(question3 == 3){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
      document.getElementById("msg").style.visibility = "visible";
      document.getElementById("msg").textContent= " Well done! 20 points";
      correct++;
  }
         else if(question1 == 1){
        checkAnswer();     
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Well done! 20 points"; 
            correct++;
  } 
        else {
      document.getElementById("wrong").style.visibility = "visible";
            document.getElementById("msg").style.visibility = "visible";a
    document.getElementById("msg").textContent= " Unlucky. Try again!"; 
  } 
       });
        
   
    function checkAnswer(){
        
        var id =  $("#userId").text(); 
        var url = "https://api.mlab.com/api/1/databases/maths_app/collections/users/";
        var api= $("#example").text();
        var idAndApi = id + api;
        
        var sliced = id.slice(0,-1);
        var finalApi = url + sliced +api;
        
        $.ajax({           
            url: finalApi,
            type:"put",
                data: JSON.stringify( { "$inc" : { "score" : 20 } } ),
            contentType:"application/json",
            success:function(data){
                getScore();
                $("#jquery").text(data.score);
            },
            error:function(xhr, status, error){
                console.log(error);
            }
        });
        
    function getScore(){        
        var id =  $("#userId").text(); 
        var url = "https://api.mlab.com/api/1/databases/maths_app/collections/users/";
        var api= $("#example").text();
        var idAndApi = id + config;
        
        var sliced = id.slice(0,-1);
        var finalApi = url + sliced +api;
    $.ajax({          
        url:finalApi,
            type:"get",
            data: JSON.stringify(),
            contentType:"application/json",
            success:function(data){
                $("#jquery").text(data.score);
            },
            error:function(xhr, status, error){
                console.log(error);
            }
        });   
    }
       };
   
</script>


<% include ./partials/footer %>
            
      
    
