
<% include ./partials/header %>

<div class="container">
 <div class="row">
<div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">
                            <i class="zmdi zmdi-time"></i> Time 1</h3>
                        </div>
                        <div class="withripple zoom-img">
                          <a href="/time1">
                             </a>
                        </div>
                        <div class="card-body overflow-hidden text-center">
                          <h4 class="color-info">20 Points</h4>
                          <p>Moscow's time zone is 3 hours ahead of London. Rachael catches a flight from London to Moscow at 7:45am, which lasts 4 hours 25 mins. What is the local time in Moscow when she lands?</p>
                          <a href="/time1" class="btn btn-info btn-raised">
                            <i class="zmdi zmdi-time"></i> Enter</a>
                        </div>
                      </div>
                    </div>
<!--
    <div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">
                            <i class="zmdi zmdi-time"></i> Time 2</h3>
                        </div>
                        <div class="withripple zoom-img">
                          <a href="/time2">
                            <img src="assets/img/demo/m1.jpg" alt="" class="img-fluid"> </a>
                        </div>
                        <div class="card-body overflow-hidden text-center">
                          <h4 class="color-info">Including</h4>
                          <p>Question goes here</p>
                          <a href="/time2" class="btn btn-info btn-raised">
                            <i class="zmdi zmdi-time"></i> Enter</a>
                        </div>
                      </div>
                    </div>
-->
<!--
    <div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">
                            <i class="zmdi zmdi-time"></i> Time 3</h3>
                        </div>
                        <div class="withripple zoom-img">
                          <a href="javascript:void(0);">
                            <img src="assets/img/demo/m1.jpg" alt="" class="img-fluid"> </a>
                        </div>
                        <div class="card-body overflow-hidden text-center">
                            <h4 class="color-info">Write</h4><p>Question goes here</p>
                          <a href="javascript:void(0)" class="btn btn-info btn-raised">
                            <i class="zmdi zmdi-time"></i> Enter</a>
                        </div>
                      </div>
                    </div>
-->
<!--
    <div class="col-md-3">                 
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">
                            <i class="zmdi zmdi-time"></i> Time 4</h3>
                        </div>
                        <div class="withripple zoom-img">
                          <a href="javascript:void(0);">
                            <img src="assets/img/demo/m1.jpg" alt="" class="img-fluid"> </a>
                        </div>
                        <div class="card-body overflow-hidden text-center">
                          <h4 class="color-info">Including</h4>
                          <p>Question goes here</p>
                          <a href="javascript:void(0)" class="btn btn-info btn-raised">
                            <i class="zmdi zmdi-time"></i> Enter</a>
                        </div>
                      </div>
                    </div>
-->
    </div>
</div>
<% include ./partials/footer %> 