<% include ./partials/header %>
<!--   Video        -->
<div id="video" style="text-align: center">
    <div class="col-md-6" style="display:inline-block">
        <h3 class="text-center" id="heading">Catching the Train 2</h3>
        <div class="card card-info-inverse">
            <div class="card-header">
                <h3 class="card-title"><i class="zmdi zmdi-graduation-cap"></i> Watch the tutorial below:</h3>
            </div>
            <script src="https://snowytopmaths.cdn.vooplayer.com/assets/vooplayer.js"></script><iframe allow="autoplay"
                class="video-player-container vooplayer" data-playerId="MTUyMTE2" allowtransparency="true"
                style="max-width:100%" name="vooplayerframe" allowfullscreen="true" src="" watch-type="" url-params=""
                frameborder="0" scrolling="no"> </iframe>
            <div class="card-body overflow-hidden text-center">
            </div>
        </div>
    </div>
</div>


<div class="container">
    <p id="userId"><%=currentUser.id %> </p>
</div>
<div class="col-lg-11 ms-paper-content-container" style="text-align: center">
    <div class="ms-paper-content" style="display:inline-block">
        <div class="alert alert-light alert-info">
            <p>Score: <span class="ml-auto badge-pill badge-pill-info"> <%=currentUser.score %></span> This is a
                timetable for trains from London Waterloo to Egham on a particular day. Answer the following questions
                below relating to the timetable.Each question is worth 20 points. Good Luck!</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="alert alert-light alert-info">
            <img src="img/timetable/timetable3.png" style="width: 50rem">

        </div>
        <div class="card card-royal col-md-6 ">

            <!--        First question-->
            <div class="mySlides">
                <div class="card-header">
                    <h3 id="header" class="card-title">1.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz1">
                        <p class="q">What time does train 3 from London Waterloo arrive at Richmond? </p>
                        <div class="ui input focus">
                            <input type="text" name="question1" placeholder="">
                        </div>
                    </form>
                </div>
            </div>
            <!--     2nd question                -->
            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">2.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz2">
                        <p class="q">What time does train 5 from London Waterloo arrive at Putney? </p>
                        <div class="ui input focus">
                            <input type="text" placeholder="" name="question1">
                        </div>
                    </form>
                </div>
            </div>
            <!--   3rd question       -->
            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">3.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz3">
                        <p class="q">What time does the 17:23 from Egham arrive at Richmond? </p>
                        <div class="ui input focus">
                            <input type="text" placeholder="" name="question1">
                        </div>
                    </form>
                </div>
            </div>
            <!--4th question        -->
            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">4.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz4">
                        <p class="q">What time does the 19:15 train from Putney arrive at Vauxhall? </p>
                        <div class="ui input focus">
                            <input type="text" placeholder="" name="question1">
                        </div>
                    </form>
                </div>
            </div>
            <!--    5th question    -->
            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">5.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz5">
                        <p class="q">Krishna wants to catch the 17:03 train from Richmond but arrives 8 minutes late.
                            How many minutes must she wait for the next train? </p>
                        <div class="ui input focus">
                            <input type="text" placeholder="" name="question1">
                        </div>
                    </form>
                </div>
            </div>
            <!--   6th question     -->
            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">6.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz6">
                        <p class="q">It takes Sachin 37 minutes to drive to Egham train station from his home. If he
                            wants to catch the 14:58 train to London Waterloo and allow 5 minutes to buy his ticket
                            beforehand, what time should he leave home?</p>
                        <div class="ui input focus">
                            <input type="text" placeholder="" name="question1">
                        </div>
                    </form>
                </div>
            </div>
            <!--        buttons-->
            <div class="container">
                <div class="row" style="margin: 0 auto">
                    <button type="button" id="button1" class="btn btn-success btn-raised"> Check </button>
                    <button type="button" id="next1" class="btn btn-primary btn-raised" onclick="plusSlides(1)"> Next
                    </button>
                    <button type="button" id="button" class="btn btn-danger btn-raised" data-toggle="modal"
                        data-target="#myModal4"> Total Score </button>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row" style="margin: 0 auto">
                <span id="tick" class="ms-icon ms-icon-lg ms-icon-circle color-success">
                    <i class="fa fa-check"></i>
                </span>
                <span id="wrong" class="ms-icon ms-icon-lg ms-icon-circle color-danger">
                    <i class="fa fa-remove"></i>
                </span>
            </div>
        </div>


        <div id="msg"></div>
        <div class="dot-container">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
            <span class="dot" onclick="currentSlide(6)"></span>
        </div>
        <!-- last 2 divs from top of card-->
    </div>
</div>
<div id="example"></div>
<!-- Modal -->
<div class="modal modal-primary" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel4"> <%=currentUser.username %>, you have scored </h3> <button
                    type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="zmdi zmdi-close"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success alert-light " role="alert">
                    <p id="badge"></p>
                </div>
                <div class="alert alert-danger alert-light " role="alert">
                    <p id="points"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $("#example").load("./config");
    var correct = 0;

    $("#button1").click(function () {
        var question1 = document.quiz1.question1.value;
        var question2 = document.quiz2.question1.value;
        var question3 = document.quiz3.question1.value;
        var question4 = document.quiz4.question1.value;
        var question5 = document.quiz5.question1.value;
        var question6 = document.quiz6.question1.value;

        //2nd question
        if (question2 == '17:59' || question2 == '17.59' || question2 == '5:59pm' || question2 == '5.59pm') {
            checkAnswer20();
            showTicks20();
            //third question
        } else if (question3 == '17:28' || question3 == '17.28' || question3 == '5:28pm' || question3 ==
            '5.28pm') {
            checkAnswer20();
            showTicks20();
        }
        //first question
        else if (question1 == '16:17' || question1 == '4:17pm' || question1 == '16.17' || question1 ==
            '4.17pm') {
            checkAnswer20();
            showTicks20();
        }
        //4th question 
        else if (question4 == '19:33' || question4 == '19.33' || question4 == '7:33pm' || question4 ==
            '7.33pm') {
            checkAnswer20();
            showTicks20();
        }
        //5th question 
        else if (question5 == '17' || question5 == '17 minutes' || question5 == '17mins' || question5 ==
            '17m') {
            checkAnswer20();
            showTicks20();
        }
        //6th question
        else if (question6 == '14:16' || question6 == '2:16pm' || question6 == '2.16pm' || question6 ==
            '14.16') {
            checkAnswer20();
            showTicks20();
        } else {
            document.getElementById("wrong").style.visibility = "visible";
            document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent = " Not Yet";
        }
        document.getElementById("badge").textContent = `${correct} out of 6`; 
        document.getElementById("points").textContent = `Points earned:  ${correct * 20} points!`;
});
$("#button").click(function () {
    trackProgress6()
    if(correct === 3){
        addBronze()
    } else if (correct > 3 && correct <6){
        addSilver()
    } else if(correct === 6){
        addGold()
    }
 })
$("input").attr("maxlength", 5)
</script>
<% include ./partials/footer %>