<% include ./partials/header %>
<div class="col-lg-11 ms-paper-content-container" style="text-align: center">
    <div class="ms-paper-content" style="display:inline-block">
        <div class="alert alert-light alert-info">
            <p>Score: <span class="ml-auto badge-pill badge-pill-info"> <%=currentUser.score %></span>
                <p>Each question is worth 20 points.

                </p>
        </div>
    </div>
</div>
<!--   Video        -->
<div id="video" style="text-align: center">
    <div class="col-md-6" style="display:inline-block">
        <h3 class="text-center" id="heading">International Time Zones</h3>
        <div class="card card-info-inverse">
            <div class="card-header">
                <h3 class="card-title"><i class="zmdi zmdi-graduation-cap"></i> Watch the tutorial below:</h3>
            </div>
            <script src="https://snowytopmaths.cdn.vooplayer.com/assets/vooplayer.js"></script><iframe allow="autoplay"
                class="video-player-container vooplayer" data-playerId="MTQ3MDY0" allowtransparency="true"
                style="max-width:100%" name="vooplayerframe" allowfullscreen="true" src="" watch-type="" url-params=""
                frameborder="0" scrolling="no"> </iframe>
            <div class="card-body overflow-hidden text-center">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <p id="userId"><%=currentUser.id %> </p>
</div>
<div style="text-align: center">
    <div class="card card-royal col-md-6" style="display:inline-block">

        <!--        First question-->
        <div class="mySlides">
            <div class="card-header">
                <h3 id="header" class="card-title">1.</h3>
            </div>
            <div class="card-body">
                <form name="quiz1">
                    <p class="q">New York is 5 hours behind London. John leaves London on a plane at 08:15 to fly to New
                        York. If the flight lasts 6 hours and 27 minutes, what time is it in New York when he lands?
                    </p>
                    <div class="ui input focus">
                        <input type="text" name="question1" placeholder="">
                    </div>
                </form>
            </div>
        </div>
        <!--     2nd question                -->
        <div class="mySlides">
            <div class="card-header">
                <h3 class="card-title">2.</h3>
            </div>
            <div class="card-body">
                <form name="quiz2">
                    <p class="q">John's return flight leaves New York at 13:15 the next day. What time is it in London
                        when he lands? (The flight lasts 6 hours and 27 minutes again)</p>
                    <div class="ui input focus">
                        <input type="text" placeholder="" name="question1">
                    </div>
                </form>
            </div>
        </div>
        <!--   3rd question       -->
        <div class="mySlides">
            <div class="card-header">
                <h3 class="card-title">3.</h3>
            </div>
            <div class="card-body">
                <form name="quiz3">
                    <p class="q">Paris, France is 7 hours behind Shanghai in China. Kelly leaves Paris on a plane at
                        14:35 to fly to Shanghai. If the flight lasts 11 hours and 19 minutes, what time is it in
                        Shanghai when she lands? </p>
                    <div class="ui input focus">
                        <input type="text" placeholder="" name="question1">
                    </div>
                </form>
            </div>
        </div>
        <!--4th question        -->
        <div class="mySlides">
            <div class="card-header">
                <h3 class="card-title">4.</h3>
            </div>
            <div class="card-body">
                <form name="quiz4">
                    <p class="q">Kelly's return flight to Paris leaves Shanghai at 09:10 the next day. What time is it
                        in Paris when she lands? (The flight lasts 11 hours and 19 minutes again)</p>
                    <div class="ui input focus">
                        <input type="text" placeholder="" name="question1">
                    </div>
                </form>
            </div>
        </div>
        <!--    5th question    -->
        <div class="mySlides">
            <div class="card-header">
                <h3 class="card-title">5.</h3>
            </div>
            <div class="card-body">
                <form name="quiz5">
                    <p class="q">Los Angeles, USA is 21 hours behind Auckland, New Zealand. Brad leaves Los Angeles on a
                        plane at 09:22 to fly to Auckland. If the flight lasts 12 hours and 39 minutes, what time is it
                        in Auckland when he lands? </p>
                    <div class="ui input focus">
                        <input type="text" placeholder="" name="question1">
                    </div>
                </form>
            </div>
        </div>
        <!--   6th question     -->
        <div class="mySlides">
            <div class="card-header">
                <h3 class="card-title">6.</h3>
            </div>
            <div class="card-body">
                <form name="quiz6">
                    <p class="q">Brad's return flight leaves Auckland at 18:15 the next day to fly to Los Angeles. What
                        time is it in Los Angeles when he lands? (The flight lasts 12 hours and 39 minutes again)</p>
                    <div class="ui input focus">
                        <input type="text" placeholder="" name="question1">
                    </div>
                </form>
            </div>
        </div>
        <!--        buttons-->
        <div class="container">
            <div class="row" style="margin: 0 auto">
                <button type="button" id="button1" class="btn btn-success btn-raised"> Check </button>
                <button type="button" id="next1" class="btn btn-primary btn-raised" onclick="plusSlides(1)"> Next
                </button>
                <button type="button" id="button" class="btn btn-danger btn-raised" data-toggle="modal"
                    data-target="#myModal4"> Total Score </button>
            </div>
        </div>

        <div class="container">
            <div class="row" style="margin: 0 auto">
                <span id="tick" class="ms-icon ms-icon-lg ms-icon-circle color-success">
                    <i class="fa fa-check"></i>
                </span>
                <span id="wrong" class="ms-icon ms-icon-lg ms-icon-circle color-danger">
                    <i class="fa fa-remove"></i>
                </span>
            </div>
        </div>


        <div id="msg"></div>
        <div class="dot-container">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
            <span class="dot" onclick="currentSlide(6)"></span>
        </div>
        <!-- last 2 divs from top of card-->
    </div>
</div>
<div id="example"></div>
<!-- Modal -->
<div class="modal modal-primary" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel4"> <%=currentUser.username %>, you have scored </h3> <button
                    type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="zmdi zmdi-close"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success alert-light " role="alert">
                    <p id="badge"></p>
                </div>
                <div class="alert alert-danger alert-light " role="alert">
                    <p id="points"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $("#example").load("./config");
    var correct = 0;
    $("#button1").click(function () {
        var question1 = document.quiz1.question1.value;
        var question2 = document.quiz2.question1.value;
        var question3 = document.quiz3.question1.value;
        var question4 = document.quiz4.question1.value;
        var question5 = document.quiz5.question1.value;
        var question6 = document.quiz6.question1.value;

        //2nd question
        if (question2 == '00:42' || question2 == '0:42am' || question2 == '00:42am' || question2 == '0.42am' ||
            question2 == '0.42' || question2 == '0:42') {
            checkAnswer20();
            showTicks20();
            questionCounter();
            dataCounterUp();
            //third question
        } else if (question3 == '08:54' || question3 == '8:54am' || question3 == '08:54am' || question3 ==
            '8.54am' || question3 == '8.54' || question3 == '8:54') {
            checkAnswer20();
            showTicks20();
            questionCounter();
            dataCounterUp();
        }
        //first question
        else if (question1 == '09:42' || question1 == '9:42' || question1 == '09:42am' || question1 ==
            '9.42am') {
            checkAnswer20();
            showTicks20();
            questionCounter();
            dataCounterUp();
        }
        //4th question 
        else if (question4 == '13:29' || question4 == '13:29pm' || question4 == '13.29pm' || question4 ==
            '13.29pm' || question4 == '13.29') {
            checkAnswer20();
            showTicks20();
            questionCounter();
            dataCounterUp();
        }
        //5th question 
        else if (question5 == '19:01' || question5 == '7:01pm' || question5 == '19:01pm' || question5 ==
            '7.01pm') {
            checkAnswer20();
            showTicks20();
            questionCounter();
            dataCounterUp();
        }
        //6th question
        else if (question6 == '09:54' || question6 == '9:54am' || question6 == '09:54am' || question6 ==
            '9.54am') {
            checkAnswer20();
            showTicks20();
            questionCounter();
            dataCounterUp();
        } else {
            document.getElementById("wrong").style.visibility = "visible";
            document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent = " Not Yet";
            dataError();
        }
});
$("#button").click(function () {
    document.getElementById("badge").textContent = `${correct} out of 6`; 
    if(correct === 3){
        addBronze()
        trackProgress6()
        document.getElementById("points").textContent = `Points:  ${correct * 10}`;
        document.getElementById("medal").textContent = `Congratulations! You have earned a Bronze Medal!`;
    } else if (correct > 3 && correct <6){
        addSilver()
        trackProgress6()
        document.getElementById("medal").textContent = `Congratulations! You have earned a Silver Medal!`;
        document.getElementById("points").textContent = `Points:  ${correct * 10}`;
    } else if(correct === 6){
        addGold()
        trackProgress6()
        document.getElementById("medal").textContent = `Congratulations! You have earned a Gold Medal!`;
        document.getElementById("points").textContent = `Points:  ${correct * 10}`;
    } else if(correct < 3){
        document.getElementById("points").textContent = `Points: ${correct * 10}!`
        document.getElementById("medal").textContent = `Try again to earn a Medal!`;
    }
 })
 $("input").attr("maxlength", 5)
</script>
<% include ./partials/footer %>