<% include ../partials/header %>

<div class="col-lg-11 ms-paper-content-container"style="text-align: center">
    <div class="ms-paper-content" style="display:inline-block">
        <div class="alert alert-light alert-info">  
             <p class="q"> North London Independent Girls Consortium 2010</p>
            <p> </p>
        </div>
    </div>
</div>
<div style="text-align: center">
    <div class="card card-royal col-md-6" style="display:inline-block" > 
<!--        First question-->
<div class="mySlides">
    <div class="card-header">
        <h3 id="header" class="card-title">1.</h3>
    </div>
  <div class="card-body"> 
   <form name="quiz1">
       
       <p class="q">Calculate: </p>
       <p class="q">3974 + 258 =   </p>
       <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>  
    </form>
  </div>  
</div>
<!--     2nd question                -->
<div class="mySlides">
    <div class="card-header">
        <h3 class="card-title">2.</h3>
    </div>
<div class="card-body"> 
    <form  name="quiz2">
        <p class="q">Calculate:</p>
       <p class="q">732 - 357 = </p>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
      </form>
    </div>
</div>
<!--   3rd question       -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">3.</h3></div>      <div class="card-body"> 
    <form  name="quiz3">
         <p class="q">Write in numbers thirty two thousand and twenty-seven.</p>
     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--4th question        -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">4.</h3></div>      <div class="card-body"> 
    <form  name="quiz4">
     <p class="q">Calculate: 729 x 7 </p>

<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--    5th question    -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">5.</h3></div>      <div class="card-body"> 
    <form  name="quiz5">
                    <p class="q">34024 &#247; 8</p>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>  
        
    </form>
    </div>
</div>
<!--   6a question     -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">6.</h3></div>      <div class="card-body"> 
    <form  name="quiz6">
        <img src="img/city/city6.png" alt="" class="img-fluid">
             <p class="q">There is some coloured water in the jar.</p><p class="q">How much more water is needed to make 2 litres?</p>
     <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div> 
         
    </form>
    </div>
</div>
<!--6b question        -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">7a.</h3></div>      <div class="card-body"> 
    <form  name="quiz7">
             <p class="q">Find the next two numbers in these sequences:</p>
        <p class="q">37, 34, 31, ___ , ____</p>
<div class="ui  input focus">
  <input type="text" placeholder="first number" name="question1">
</div> 
         <div class="ui  input focus">
  <input type="text" placeholder="second number" name="question2">
</div>
    </form>
    </div>
</div>
<!--    6c question    -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">7b.</h3></div>      <div class="card-body"> 
    <form  name="quiz8">
    <p class="q">Find the next two numbers in these sequences:</p>
        <p class="q">0.8, 0.4, 0.2, ___ , ____</p>
         <div class="ui  input focus">
  <input type="text" placeholder="first number" name="question1">
</div> 
         <div class="ui  input focus">
  <input type="text" placeholder="second number" name="question2">
</div>
    </form>
    </div>
</div>
<!--   7 question     -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">7c.</h3></div>      <div class="card-body"> 
    <form  name="quiz9">
<p class="q">Find the next two numbers in these sequences:</p>
        <p class="q">1, 3, 9, 27, ___, ___</p>
 <div class="ui  input focus">
  <input type="text" placeholder="first number" name="question1">
</div> 
         <div class="ui  input focus">
  <input type="text" placeholder="second number" name="question2">
</div>  
    </form>
    </div>
</div>
<!--        question 8-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">8.</h3></div>      <div class="card-body"> 
    <form  name="quiz10">
       <p class="q">The shape below is made up of square tiles. Which of the tiles A, B, C, D or E could be removed so that the perimter remained the same?</p>
         <img src="img/city/city8.png" alt="" class="img-fluid">
<div class="ui  input focus">
  <input type="text" placeholder=" " name="question1">
</div>      
    </form>
    </div>
</div>
        <!--        question 9-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">9.</h3></div>      <div class="card-body"> 
    <form  name="quiz11">
        <p class="q">5 bags of apples cost £3.25.</p>
        <p class="q">How much would 7 bags cost?</p>
       <div class="ui labeled input">
  <div class="ui label">
   £
  </div>
  <input type="text" name="question1">
</div> 
    </form>
    </div>
</div>
<!--        question 10-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">10.</h3></div>      <div class="card-body"> 
    <form  name="quiz12">
       <p class="q">Which of these numbers is bigger than 1/3 ?</p>
         <p class="q">0.25,   2/9,   0.039,   4/5,   3/8</p>
        
<div class="ui  input focus">
  <input type="text" placeholder=" 1st number" name="question1">
</div>
        <div class="ui  input focus">
  <input type="text" placeholder=" second number" name="question2">
</div>
    </form>
    </div>
</div>
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title"> 11.</h3></div>      <div class="card-body"> 
    <form  name="quiz13"> 
        <p class="q">Calculate 21 less than 2000</p>
     <div class="ui  input focus">
  <input type="text" placeholder=" " name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 11a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">12.</h3></div>      <div class="card-body"> 
    <form  name="quiz14">
        <p class="q">These are the start and end times of a DVD recorder.</p>
        <p class="q">START: 14:48</p>
        <p class="q">FINISH: 17:25</p>
        <p class="q">Enter your time in hours and minutes.</p>
    
  <div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    hours
  </div>
</div>
        <div class="ui right labeled input">
  <input type="text" placeholder="" name="question2">
  <div class="ui basic label">
   minutes
  </div>
</div>
    </form>
    </div>
</div>
<!--        question 12-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">13.</h3></div>      <div class="card-body"> 
    <form  name="quiz15">
     
        <p class="q">There were 500 cats in a survey about two new cat foods, Moggie Nosh and Feline Fodder.</p>
        <p class="q">220 were Persians and the rest were Siamese.</p>
        <p class="q">80 cats preferred Moggie Nosh.</p>
        <p class="q">Of these, 42 were Persians.</p>
        <p class="q">How many Siamese cats preferred Feline Fodder?</p>
        
  <div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
  siamese cats
  </div>
</div>
        
    </form>
    </div>
</div> 
        <!--        question 13-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">14.</h3></div>      <div class="card-body"> 
    <form  name="quiz16">
       <p class="q">Find the missing digit to make the calculation correct.</p>
         <img src="img/city/city14.png" alt="" class="img-fluid">
        <div class="ui  input focus">
  <input type="text" placeholder=" " name="question1">
</div>

        
    </form>
    </div>
</div>
<!--        question 14-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">15.</h3></div>      <div class="card-body"> 
    <form  name="quiz17">
        <p class="q">A class of pupils were asked which sport they enjoyed the most. The answers are given in a bar chart below.</p>
 <img src="img/city/city15.png" alt="" class="img-fluid">
        <p class="q">How many more pupils answered netball than badminton</p>    
        <br>
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
pupils
  </div>
</div>    
    </form>
    </div>
</div>
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">15b.</h3></div>      <div class="card-body"> 
    <form  name="quiz18">
           <p class="q">A class of pupils were asked which sport they enjoyed the most. The answers are given in a bar chart below.</p>
<img src="img/city/city15.png" alt="" class="img-fluid"><br>
        <p class="q">Two pupils in the class were away the day the question was asked. How many pupils in total are in the class?</p>
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
pupils
  </div>
</div>
    </form>
    </div>
</div>
        <!--        question 15-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">16.</h3></div>      <div class="card-body"> 
    <form  name="quiz19">
<img src="img/city/city16.png" alt="" class="img-fluid">
        
        <p class="q">Jen's fish tank was filled half way. She added 9 gallons of water to the tank and found it was  then 7/8 full. How much water can the tank hold altogether?</p>
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
gallons
  </div>
</div>
    </form>
    </div>
</div>
         <!--        question 16-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">17.</h3></div>      <div class="card-body"> 
    <form  name="quiz20">
          <img src="img/city/city17.png" alt="" class="img-fluid">
         <p class="q">The area of the small shaded square is 1 square centimetre. </p>
        <p class="q">What is the area of the larger shaded square?</p>
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
cm&#178;
  </div>
</div>
    </form>
    </div>
</div>
          <!--        question 17-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">18a.</h3></div>      <div class="card-body"> 
    <form  name="quiz21"> 
           <p class="q">The pie chart shows the results of the 96 games played by a school football team. They lost 25% of their games won and drew an equal number of games.</p>
         <img src="img/city/city18.png" alt="" class="img-fluid">
        <p class="q">How many games were lost?</p>
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
games
  </div>
</div>
       
    </form>
    </div>
</div>
                  <!--        question 18-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">18b.</h3></div>      <div class="card-body"> 
    <form  name="quiz22">
           <p class="q">The pie chart shows the results of the 96 games played by a school football team. They lost 25% of their games won and drew an equal number of games.</p>
        <img src="img/city/city18.png" alt="" class="img-fluid">
        <p class="q">How many games were won?</p>
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    games
  </div>
</div>
        
    </form>
    </div>
</div>
<!--        question 19-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">19.</h3></div>      <div class="card-body"> 
    <form  name="quiz23"> 
<img src="img/jags/jags15.png" alt="" class="img-fluid"><br>
        
        <p class="q">Two girls were on a sponsored walk from Pangbourne to Goring.</p>
        <p class="q">One of them gave up 5km after she had passed the halfway check-point.</p>
        <p class="q">She was then 10km from Goring. How far apart are the towns?</p>
    
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    km
  </div>
</div>
        
    </form>
    </div>
</div>
<!--        question 20-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">20.</h3></div>      <div class="card-body"> 
    <form  name="quiz24"> 
<img src="img/city/city20.png" alt="" class="img-fluid">
        
        <p class="q">Mrs Jones prints books.</p>
        <p class="q">John pays £4.35 for his book including the cover.</p>
        <p class="q">How many pages are in his book?</p>
        
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
pages
  </div>
</div>
    </form>
    </div>
</div>
<!--       Section B question 1-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">21a.</h3></div>      <div class="card-body"> 
    <form  name="quiz25">
           <p class="q">This is a right angled triangular tile.</p>
        <img src="img/city/city21.png" alt="" class="img-fluid">
        <p class="q">How many tiles will fit into this shape?</p>
        <img src="img/city/city21A.png" alt="" class="img-fluid"><br>
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    tiles
  </div>
</div>
    </form>
    </div>
</div>
<!--        Section B question 2-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">21b.</h3></div>      <div class="card-body"> 
    <form  name="quiz26">
<p class="q">This is a right angled triangular tile.</p>
       <img src="img/city/city21.png" alt="" class="img-fluid">
        <p class="q">How many tiles will fit into this shape?</p>
        <img src="img/city/city21B.png" alt="" class="img-fluid">
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    tiles
  </div>
</div>
    </form>
    </div>
</div>
        <!--  Section B question 3--->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">22.</h3></div>      <div class="card-body"> 
    <form  name="quiz27">
        <img src="img/city/city22.png" alt="" class="img-fluid">
     <p class="q">Numbers are placed in a triangle. The numbers in the middle of the sides are the sum of the numbers at the ends.</p><p  class='q'>Fill in the missing numbers:</p>
        <img src="img/city/city22AA.png" alt="" class="img-fluid">
<div class="ui labeled input">
  <div class="ui label">
    A = 
  </div>
  <input type="text" name = "question1">
</div>
     <div class="ui labeled input">
  <div class="ui label">
    B = 
  </div>
  <input type="text" name = "question2">
</div>
        <div class="ui labeled input">
  <div class="ui label">
    C = 
  </div>
  <input type="text" name = "question3">
</div>
    </form>
    </div>
</div>
<!--       Section B question 4a--->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">23a.</h3></div>      <div class="card-body"> 
    <form  name="quiz28">     
            <p class="q"> Find the angle between the hamds of a clock at 11am</p> 
  <div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    &#176;
  </div>
</div>
    </form>
    </div>
</div>
<!--        Section B question 4b--->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">23b.</h3></div>      <div class="card-body"> 
    <form  name="quiz29">
            <p class="q"> How many degrees has the minute hand moved between 3.35pm and 5.15pm</p> 
 <div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    &#176;
  </div>
</div>
    </form>
    </div>
</div>
<!--        SECTION B 5-->

<div class="mySlides">
    <div class="card-header"><h3 class="card-title">24.</h3></div>      <div class="card-body"> 
    <form  name="quiz30">
        <p class="q">A piece of wire 36cm long is bent into the shape of a rectangle. If the rectangle is twice as long as its wide, what is the area?</p>  
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    cm&#178;
  </div>
</div>
    </form>
    </div>
</div>
<!--        Section B 6a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">25.</h3></div>      <div class="card-body"> 
    <form  name="quiz31">
         <p class="q">A boy ate 100 cookies in five days. Each day he ate 6 cookies more than the day before. How many cookies did he eat on the first day.</p>
 <div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    cookies
  </div>
</div>
    </form>
    </div>
</div>
<!--        Section B 6b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">26.</h3></div>      <div class="card-body"> 
    <form  name="quiz32"> 
        <p class="q">The diagram below shows the number of paths from Queton to Toytown through Rowton or Seton.</p>
        <img src="img/city/city26.png" alt="" class="img-fluid">
        <p class="q">How many different ways are there for getting from Queton to Toytown if you only go from left to right?</p>
        
      <div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    ways
  </div>
</div>
    </form>
    </div>
</div>
<!--   Section B 7-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">27a.</h3></div>      <div class="card-body"> 
    <form  name="quiz33">
<img src="img/city/city27.png" alt="" class="img-fluid">       
        <p class="q">What number comes underneath the '11'?</p>
  <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        Section B 8-->
<div class="mySlides">
 <div class="card-header"><h3 class="card-title">27b.</h3></div>      <div class="card-body"> 
    <form  name="quiz34">
        <img src="img/city/city27.png" alt="" class="img-fluid">
        <p class="q">What number comes underneath the '10'?</p>
 <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>  
    </form>
    </div>
</div>

<!--    Section C 4a(ii)-->
        <!--   Section B 9b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">27c.</h3></div>      <div class="card-body"> 
    <form  name="quiz35">
        <img src="img/city/city27.png" alt="" class="img-fluid">
          <p class="q">If the pattern continued, write down the correct column letter for each of these numbers: </p>
        <p class="q">(i) 29</p>
 <div class="ui input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--     Section B 9c-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">27c.</h3></div>      <div class="card-body"> 
    <form  name="quiz36">
        <img src="img/city/city27.png" alt="" class="img-fluid">
          <p class="q">If the pattern continued, write down the correct column letter for this number: </p>
        <p class="q">(ii) 54</p>
 <div class="ui input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>

<div class="mySlides">
    <div class="card-header"><h3 class="card-title">27c.</h3></div>      <div class="card-body"> 
    <form  name="quiz37">
        <img src="img/city/city27.png" alt="" class="img-fluid">
          <p class="q">If the pattern continued, write down the correct column letter for this number: </p>
        <p class="q">(iii) 141</p>
 <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">28a.</h3></div>      <div class="card-body"> 
    <form  name="quiz38">
          <p class="q">Here are some number cards. </p>
        <img src="img/city/city28.png" alt="" class="img-fluid">
        <p class="q">You can use the four number cards to make a number as close to 8000 like this: </p>
        <img src="img/city/city28A.png" alt="" class="img-fluid">     
        <p class="q">Find a number as close to 3000 as possible (do not repeat a card number)</p>
 <div class="ui input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">28b.</h3></div>      <div class="card-body"> 
    <form  name="quiz39">
          <p class="q">Here are some number cards. </p>
         <img src="img/city/city28.png" alt="" class="img-fluid">     
        <p class="q">You can use the four number cards to make a number as close to 8000 like this: </p>
         <img src="img/city/city28A.png" alt="" class="img-fluid">     
        <p class="q">Find a number as close to 7000 as possible (do not repeat a card number)</p>
 <div class="ui input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">28c.</h3></div>      <div class="card-body"> 
    <form  name="quiz40">
           <p class="q">Here are some number cards. </p>
         <img src="img/city/city28.png" alt="" class="img-fluid">     
        <p class="q">You can use the four number cards to make a number as close to 8000 like this: </p>
         <img src="img/city/city28A.png" alt="" class="img-fluid">     
        <p class="q">Find a number as close to 3800 as possible (do not repeat a card number)</p>
 <div class="ui input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>

<div class="mySlides">
    <div class="card-header"><h3 class="card-title">29.</h3></div>      <div class="card-body"> 
    <form  name="quiz41">
          <p class="q">Jamima has five cards which are numbered 1 to 5 on one side, and have either a square, circle, triangle or a star drawn on the other side.</p>
        <p class="q">She knows there is at least one card with each shape and that the odd numbered cards do not have squares on them. Card number 4 has a circle on it, and 2 cards that have a sum of 6 both have stars on them. </p>
        <p class="q">What shape is on card 3?</p>
 <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">30.</h3></div>      <div class="card-body"> 
    <form  name="quiz42">
          <p class="q">A number of children are standing in a circle. They are evenly spaced on the 7th child is directly opposite the 18th child. How many children are there together?</p>
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    children
  </div>
</div>
    </form>
    </div>
</div>
        
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">31.</h3></div>      <div class="card-body"> 
    <form  name="quiz43">
          <p class="q">Four years ago the combined age of 3 dogs was 24 years. What will the combined age be in 2 years time? </p>
       
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    years old
  </div>
</div>
    </form>
    </div>
</div>
        
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">32.</h3></div>      <div class="card-body"> 
    <form  name="quiz44">
          <p class="q">A year 6 has 30 pupils. There are 21 who are right-handed. There are 16 girls in the class. Not all the girls are right-handed. What is the smallest number of girls who are right-handed?  </p>
       
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    girls
  </div>
</div>
    </form>
    </div>
</div>
        
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">33a.</h3></div>      <div class="card-body"> 
    <form  name="quiz45">
          <p class="q">A wheel has 3 different colours painted on its rim, red (R), green (G) and yellow (Y). </p>
         <img src="img/city/city33.png" alt="" class="img-fluid">     
        <p class="q">As it turns, a pattern is left on the ground. The first mark is yellow, and the second mark is red, so the pattern left on the ground will be: </p>
        <p class="q">Y  R  G  Y  R ... </p>
        <p class="q">What is the colour of the 20th mark?</p>
 <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">33b.</h3></div>      <div class="card-body"> 
    <form  name="quiz46">
        
        <p class="q">Another wheel makes a pattern</p>
        <p class="q">G Y Y R G Y Y R G ...</p>
        <p class="q">What is the colour of the 38th mark?</p>
 <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">33c.</h3></div>      <div class="card-body"> 
    <form  name="quiz47">
          <p class="q">Another wheel has 6 different colours. No colour is repeated.</p>
        <p class="q">If red is the 83rd colour in the pattern, how many colours are at the start of the pattern before red occurs?</p>
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    colours
  </div>
</div>
    </form>
    </div>
</div>
        
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">34.</h3></div>      <div class="card-body"> 
    <form  name="quiz48">
         <img src="img/city/city34A.png" alt="" class="img-fluid">     
          <p class="q">Some marbles are released through this network from S. At each of the junctions, half of the marbles flow in each direction. </p>
          <p class="q">What fraction of the marbles go through E? </p>
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    marbles
  </div>
</div>
    </form>
    </div>
</div>
        
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">34b.</h3></div>      <div class="card-body"> 
    <form  name="quiz49">
         <img src="img/city/city34A.png" alt="" class="img-fluid">     
           <p class="q">Some marbles are released through this network from S. At each of the junctions, half of the marbles  flow in each direction. </p>
          <p class="q">If 120 marbles are released through the network, how many do not reach F? </p>
       
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    marbles
  </div>
</div>
    </form>
    </div>
</div>
        
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">35.</h3></div>      <div class="card-body"> 
    <form  name="quiz50">
          <p class="q">It takes 2 decorators 8 days to paint a house. One is lazy and one is energetic. The energetic one could paint the house in 12 days on his own. How many days would it take the lazy one to paint the house on his own?  </p>
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    days
  </div>
</div>
    </form>
    </div>
</div>
        
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">36.</h3></div>      <div class="card-body"> 
    <form  name="quiz51">
          <p class="q">Work out the perimeter of the following shape. All the interior angles are right angles. The shape is not drawn to scale. </p>
         <img src="img/city/city36.png" alt="" class="img-fluid"><br>    
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    cm
  </div>
</div>
    </form>
    </div>
</div>
        
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">37.</h3></div>      <div class="card-body"> 
    <form  name="quiz52">
          <p class="q">Three ducks and two ducklings weigh 32kg. Four ducks and three ducklings weigh 44kg. All ducks weigh the same as each other and all ducklings weigh the same as each other.  </p>
          <p class="q">What is the weight of two ducks and one duckling?  </p>    
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    kg
  </div>
</div>
    </form>
    <p>END OF EXAM</p>
    </div>
</div>
        
<!--        buttons-->
<div class="container" >
    <div class="row" style="margin: 0 auto">
        <button type="button" id="button1" class="btn btn-success btn-raised"> Check </button>
        <button type="button" id="next1" class="btn btn-primary btn-raised"onclick="plusSlides(1)"> Next </button>
        <button type="button" id="button" class="btn btn-danger btn-raised" data-toggle="modal" data-target="#myModal4"> Total Score </button>     
    </div>
</div>
        
<div class="container" >
    <div class="row" style="margin: 0 auto">
        <span id="tick" class="ms-icon ms-icon-lg ms-icon-circle color-success">
            <i class="fa fa-check"></i>
        </span>
        <span id="wrong" class="ms-icon ms-icon-lg ms-icon-circle color-danger">
            <i class="fa fa-remove"></i>
        </span>    
    </div>
</div>
        
        
<div id="msg"></div>
<div class="dot-container">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span> 
  <span class="dot" onclick="currentSlide(5)"></span> 
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span> 
  <span class="dot" onclick="currentSlide(8)"></span> 
  <span class="dot" onclick="currentSlide(9)"></span>
    <span class="dot" onclick="currentSlide(10)"></span> 
     <span class="dot" onclick="currentSlide(11)"></span> 
  <span class="dot" onclick="currentSlide(12)"></span> 
  <span class="dot" onclick="currentSlide(13)"></span>
  <span class="dot" onclick="currentSlide(14)"></span> 
  <span class="dot" onclick="currentSlide(15)"></span> 
  <span class="dot" onclick="currentSlide(16)"></span>
  <span class="dot" onclick="currentSlide(17)"></span> 
  <span class="dot" onclick="currentSlide(18)"></span> 
  <span class="dot" onclick="currentSlide(19)"></span>
    <span class="dot" onclick="currentSlide(20)"></span>
    <span class="dot" onclick="currentSlide(21)"></span> 
  <span class="dot" onclick="currentSlide(22)"></span> 
  <span class="dot" onclick="currentSlide(23)"></span>
  <span class="dot" onclick="currentSlide(24)"></span> 
  <span class="dot" onclick="currentSlide(25)"></span> 
  <span class="dot" onclick="currentSlide(26)"></span>
  <span class="dot" onclick="currentSlide(27)"></span> 
  <span class="dot" onclick="currentSlide(28)"></span> 
  <span class="dot" onclick="currentSlide(29)"></span>
    <span class="dot" onclick="currentSlide(30)"></span>
    <span class="dot" onclick="currentSlide(31)"></span> 
     <span class="dot" onclick="currentSlide(32)"></span>
  <span class="dot" onclick="currentSlide(33)"></span>
  <span class="dot" onclick="currentSlide(34)"></span>
      <span class="dot" onclick="currentSlide(35)"></span> 
  <span class="dot" onclick="currentSlide(36)"></span> 
  <span class="dot" onclick="currentSlide(37)"></span>
  <span class="dot" onclick="currentSlide(38)"></span> 
  <span class="dot" onclick="currentSlide(39)"></span> 
  <span class="dot" onclick="currentSlide(40)"></span>
    <span class="dot" onclick="currentSlide(41)"></span>
    <span class="dot" onclick="currentSlide(42)"></span> 
     <span class="dot" onclick="currentSlide(43)"></span>
  <span class="dot" onclick="currentSlide(44)"></span>
  <span class="dot" onclick="currentSlide(45)"></span>
      <span class="dot" onclick="currentSlide(46)"></span>
      <span class="dot" onclick="currentSlide(47)"></span>
  <span class="dot" onclick="currentSlide(48)"></span>
  <span class="dot" onclick="currentSlide(49)"></span>
      <span class="dot" onclick="currentSlide(50)"></span>
      <span class="dot" onclick="currentSlide(51)"></span>
      <span class="dot" onclick="currentSlide(52)"></span>
  
</div>    
<!-- last 2 divs from top of card-->
     </div>
        </div>
 <div id="example"></div> 
<!-- Modal -->
<div class="modal modal-primary" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel4">  Your results:  </h3>            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="zmdi zmdi-close"></i></span>
                    </button>
            </div>
        <div class="modal-body">
            <div class="alert alert-info alert-light " role="alert"><p id="badge"></p>
            </div>
             
                <div class="alert alert-info alert-light " role="alert"><p id="points"></p>
                </div>
        </div>
            <div class="row">
                
        <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>    
        </div>
      </div>
    </div>
</div>
<script>
    $("#example").load("./config");
     
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);    
    document.getElementById("tick").style.visibility = "hidden";
    document.getElementById("wrong").style.visibility = "hidden";
    document.getElementById("msg").style.visibility = "hidden";

}

function currentSlide(n) {
  showSlides(slideIndex = n);
    document.getElementById("tick").style.visibility = "hidden";
    document.getElementById("wrong").style.visibility = "hidden";
    document.getElementById("msg").style.visibility = "hidden";
  
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
    if(slideIndex==52){
        document.getElementById("next1").style.visibility = "hidden";
    }
}    
    var correct = 0;
   
    $("#button1").click(function(){       
        var question1 = document.quiz1.question1.value;  
        var question2 = document.quiz2.question1.value;
        var question3 = document.quiz3.question1.value;
        var question4 = document.quiz4.question1.value;
        var question5 = document.quiz5.question1.value;
        var question6 = document.quiz6.question1.value;
        var question7 = document.quiz7.question1.value;
        var question8 = document.quiz8.question1.value;
        var question9 = document.quiz9.question1.value;
        var question10 = document.quiz10.question1.value;
        var question11 = document.quiz11.question1.value;
        var question12 = document.quiz12.question1.value;
        var question13 = document.quiz13.question1.value;
        var question14 = document.quiz14.question1.value;
        var question15 = document.quiz15.question1.value;
        var question16 = document.quiz16.question1.value;
        var question17 = document.quiz17.question1.value;
        var question18 = document.quiz18.question1.value;
        var question19 = document.quiz19.question1.value;
        var question20 = document.quiz20.question1.value;
        var question21 = document.quiz21.question1.value;
        var question22 = document.quiz22.question1.value;
        var question23 = document.quiz23.question1.value;
        var question24 = document.quiz24.question1.value;
        var question25 = document.quiz25.question1.value;
        var question26 = document.quiz26.question1.value;
        var question27 = document.quiz27.question1.value;
        var question28 = document.quiz28.question1.value;
        var question29 = document.quiz29.question1.value;
        var question30 = document.quiz30.question1.value;
        var question31 = document.quiz31.question1.value;
        var question32 = document.quiz32.question1.value;
        var question33 = document.quiz33.question1.value;
        var question34 = document.quiz34.question1.value;
        var question35 = document.quiz35.question1.value;
        var question36 = document.quiz36.question1.value;
        var question37 = document.quiz37.question1.value;
        var question38 = document.quiz38.question1.value;
        var question39 = document.quiz39.question1.value;
        var question40 = document.quiz40.question1.value;
        var question41 = document.quiz41.question1.value;
        var question42 = document.quiz42.question1.value;
        var question43 = document.quiz43.question1.value;
        var question44 = document.quiz44.question1.value;
        var question45 = document.quiz45.question1.value;
        var question46 = document.quiz46.question1.value;
        var question47 = document.quiz47.question1.value;
        var question48 = document.quiz48.question1.value;
        var question49 = document.quiz49.question1.value;
        var question50 = document.quiz50.question1.value;
        var question51 = document.quiz51.question1.value;
        var question52 = document.quiz52.question1.value;
        var question53 = document.quiz7.question2.value;
        var question54 = document.quiz8.question2.value;
        var question55 = document.quiz9.question2.value;
        var question56 = document.quiz12.question2.value;
        var question57 = document.quiz14.question2.value;
        var question58 = document.quiz27.question2.value;
        var question59 = document.quiz27.question3.value;
       
        
//        
        //2 question
       if(slideIndex==2&&question2 == 375){
             
        document.getElementById("tick").style.visibility = "visible";
           document.getElementById("msg").style.visibility = "visible";
           document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
           //3 question
  } else if(slideIndex==3&&question3 == 32027){
             
        document.getElementById("tick").style.visibility = "visible";
      document.getElementById("msg").style.visibility = "visible";
      document.getElementById("msg").textContent= " Correct! 1 mark";
      correct+=1;
  }
        //1 question
         else if(slideIndex==1&&question1 == 4232){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //4 question 
        else if(slideIndex==4&&question4 == 5103){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=1;
  } 
//        //5 question 
        else if(slideIndex==5&&question5 == 4253){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //6a question
        else if(slideIndex==6&&question6 ==700){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=1;
  } 
        //6b question 51
        else if(slideIndex==7&&question7 ==28&&question53==25){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  } 
//    //6c question
        else if(slideIndex==8&&question8 ==0.1&&question54==0.05){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  }     
//        //7 question
        else if(slideIndex==9&&question9 == 81&&question55==243){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  } 
//        //8 question 
        else if(slideIndex==10&&question10 == 'E'||slideIndex==10&&question10 == 'e'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //9 question 
        else if(slideIndex==11&&question11 =='4.55'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks"; 
            correct++;
  } 
//        //10 question
        else if(slideIndex==12&&question12 =='4/5'&&question56=='3/8'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  } 
  //       question 11a
        else if(slideIndex==13&&question13 ==1979){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//    //12 question
        else if(slideIndex==14&&question14 == 2&&question57 == 37){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  }     
        //13 question
        else if(slideIndex==15&&question15 == 242){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  }  
//             //14 question 
        else if(slideIndex==16&&question16 == 7){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  } 
        //15 question
        else if(slideIndex==17&&question17 == 4){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //16 question
        else if(slideIndex==18&&question18 == 28){
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  } 
//    //17 question
        else if(slideIndex==19&&question19 == 24){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  }     
//        //18 question
        else if(slideIndex==20&&question20 == 8){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks";
            correct++;
  } 
//        //19 question 22
        else if(slideIndex==21&&question21==24){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //20 question 
        else if(slideIndex==22&&question22 ==36){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        else if(slideIndex==23&&question23 == 30){  
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //16b question
        else if(slideIndex==24&&question24 == 120){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
    //3 question
        else if(slideIndex==25&&question25 == 4){    
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
//4a 27 marks to here
        else if(slideIndex==26&&question26 == 9){
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }  
//4b question 
        else if(slideIndex==27&&question27 ==5&&question58==3&&question59 ==2){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 3 marks";
            correct+=3;
  } 
 //5 question
        else if(slideIndex==28&&question28 ==30){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks";
            correct+=1;
  } 
//6a question
        else if(slideIndex==29&&question29 ==480){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//6b question
        else if(slideIndex==30&&question30 == 72){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
////7 question
        else if(slideIndex==31&&question31==8){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks"; 
            correct++;
  } 
 //8 question 
        else if(slideIndex==32&&question32 == 18){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks"; 
            correct++;
  } 
//9a question 
        else if(slideIndex==33&&question33 == 13){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//9b question
        else if(slideIndex==34&&question34 ==14 ){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks"; 
            correct++;
  } 

        else if(slideIndex==35&&question35 == 'B'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  }  
         else if(slideIndex==36&&question36 == 'A'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  }  
         else if(slideIndex==37&&question37 == 'D'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  }  
         else if(slideIndex==38&&question38 == 2973){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  }  
         else if(slideIndex==39&&question39 == 7239){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  }  
         else if(slideIndex==40&&question40 == 3792){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  }  
         else if(slideIndex==41&&question41 == 'triangle'||slideIndex==41&&question41 == 'Triangle'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  }  
        else if(slideIndex==42&&question42 == 22){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  }  
        else if(slideIndex==43&&question43 == 42){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  }  
        else if(slideIndex==44&&question44 == 7){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  }  
        else if(slideIndex==45&&question45 == 'red'||slideIndex==45&&question45 == 'Red'||slideIndex==45&&question45 == 'R'||slideIndex==45&&question45 == 'r'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  }  
        else if(slideIndex==46&&question46 == 'Y'||slideIndex==46&&question46 == 'Yellow'||slideIndex==46&&question46 == 'yellow'||slideIndex==46&&question46 == 'y'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  }  
        else if(slideIndex==47&&question47 == 4){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= "Correct! 1 mark";
            correct++;
  }  
        else if(slideIndex==48&&question48 == '1/4'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  }  
        else if(slideIndex==49&&question49 == 45){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  }  
        else if(slideIndex==50&&question50 == 20){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  }  
        else if(slideIndex==51&&question51 == 48){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  }  
        else if(slideIndex==52&&question52 == 20){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  }  
        
        else {
      document.getElementById("wrong").style.visibility = "visible";
            document.getElementById("msg").style.visibility = "visible";
    document.getElementById("msg").textContent= " Not Yet. Try again."; 
  } 
    
        if(correct>0){
            document.getElementById("badge").textContent= "Total questions correct: " + correct + " / 59";  
            document.getElementById("points").textContent= "Percentage = " + Math.round(correct/59*100) + "%";
           
        }
       });
       
    $("input").attr("maxlength", 15)
</script>


<% include ../partials/footer %>
            
      
    
