<% include ../partials/header %>
 
<div class="col-lg-11 ms-paper-content-container"style="text-align: center">
    <div class="ms-paper-content" style="display:inline-block">
        <div class="alert alert-light alert-info">  
             <p class="q"> The Perse Upper School, Cambridge
</p>
            <p> 61 marks in total. Time: 45 minutes</p>
        </div>
    </div>
</div>
<div style="text-align: center">
    <div class="card card-royal col-md-6" style="display:inline-block" > 
<!--        First question-->
<div class="mySlides">
    <div class="card-header">
        <h3 id="header" class="card-title">1.</h3>
    </div>
  <div class="card-body"> 
   <form name="quiz1">
       
       <p class="q">Write the missing number in the space provided </p>
       <p class="q">56 &#247; ___ = 8 </p>
       <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
  </div>  
</div>
<!--     2nd question                -->
<div class="mySlides">
    <div class="card-header">
        <h3 class="card-title">2.</h3>
    </div>
    <div class="card-body"> 
      <form  name="quiz2">
          <p class="q">Write the next number in the sequence below:</p>
          <p class="q">3,  6,  10,  15,  ___</p>
         <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
      </form>
    </div>
</div>
<!--   3rd question       -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">3.</h3></div>      <div class="card-body"> 
    <form  name="quiz3">
        <p class="q">The diagram below shows a triangle [not drawn to scale]. Calculate each of the angles marked x and y. </p>
  <img src="img/perseA/perse1.png" alt="" class="img-fluid">
          <div class="ui right labeled input">
  <input type="text" name="question1" placeholder="x = ">
  <div class="ui basic label">
 &#176;
  </div>
</div>
        <div class="ui right labeled input">
  <input type="text" name="question2" placeholder="y = ">
  <div class="ui basic label">
 &#176;
  </div>
</div>
    </form>
    </div>
</div>
<!--4th question        -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">4.</h3></div>      <div class="card-body"> 
    <form  name="quiz4">
       <p class="q">Change 0.72 to a fraction leaving your answer in its    simplest form </p>

    <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--    5th question    -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">5a.</h3></div>      <div class="card-body"> 
    <form  name="quiz5">
        <p class="q">Calculate</p>
        <p class="q"> 3 - 2 5/9</p>
        <p>Three minus two and five-ninths</p>
 <div class="ui  input focus">
  <input type="text" placeholder="write in the form 1/2" name="question1">
</div>
        
    </form>
    </div>
</div>
<!--   6a question     -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">5b.</h3></div>      <div class="card-body"> 
    <form  name="quiz6">
             <p class="q">Calculate</p>
        <p class="q"> 2 + 4 x 3/5</p>
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
        
    </form>
    </div>
</div>
<!--6b question        -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">6.</h3></div>      <div class="card-body"> 
    <form  name="quiz7">
        <p class="q">My garden centre sells Summer bedding plants at 85p each. I have £30 to spend. How many plants can I buy? </p>
       
   <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    plants
  </div>
</div>
    </form>
    </div>
</div>
<!--    6c question    -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">7.</h3></div>      <div class="card-body"> 
    <form  name="quiz8">
        <img src="img/perseA/perse7.png" alt="" class="img-fluid">
       <p class="q">Write in what the two missing digits could be:</p>
         <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question2">
</div>
    </form>
    </div>
</div>
<!--   7 question     -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">8.</h3></div>      <div class="card-body"> 
    <form  name="quiz9">
        <img src="img/perseA/perse8.png" alt="" class="img-fluid">
        <p class="q">Brian has 7 dominoes in a bag. He takes out one domino and finds the total of the two numbers. He then puts the domino back in the bag. His 7 dominoes are shown below, together with a graph of his results after doing this experiment 100 times.</p>
        <img src="img/perseA/perse8a.png" alt="" class="img-fluid">
     <p class="q">What was the most likely number to appear?</p>
  <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
        
    </form>
    </div>
</div>
<!--        question 8-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">9a.</h3></div>      <div class="card-body"> 
    <form  name="quiz10">
       
         <p class="q">Write in the missing numbers to each of the following:</p>

        <p class="q">93 - ___ - 18 = 36</p>
       <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--        question 9-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">9b.</h3></div>      <div class="card-body"> 
    <form  name="quiz11">
         
         <p class="q">Write in the missing numbers to each of the following:</p>

        <p class="q">(8 + ___) x 7 = 91</p>
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 10-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">10.</h3></div>      <div class="card-body"> 
    <form  name="quiz12">
        <img src="img/perseA/perse10.png" alt="" class="img-fluid">
        <p class="q">Which of the following is closest to 1/4 ?</p>
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title"> 11.</h3></div>      <div class="card-body"> 
    <form  name="quiz13">
         
        <p class="q">Susan is making a necklace of beads, using red and yellow beads in the ratio 2 : 3. She has 56 red beads altogether.
How many yellow beads will she need:
</p>
       
     <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    yellow beads
  </div>
</div>
    </form>
    </div>
</div>
<!--        question 11a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title"> 11b.</h3></div>      <div class="card-body"> 
    <form  name="quiz14">
     <p class="q">Susan is making a necklace of beads, using red and yellow beads in the ratio 2 : 3. She has 56 red beads altogether.
How many yellow beads will she need:
</p>
         <p class="q">How many beads will she use altogether?</p>
    
         <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    beads
  </div>
</div>
    </form>
    </div>
</div>
<!--        question 12-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">12.</h3></div>      <div class="card-body"> 
    <form  name="quiz15">
     
        <p class="q">The three numbers missing from these boxes are all prime numbers. Write in the missing numbers.</p>
      
        <p class="q">&#x2610; x &#x2610; x &#x2610; = 385</p>
     <div class="ui  input focus">
  <input type="text" placeholder="1st prime" name="question1">
</div>
        <div class="ui  input focus">
  <input type="text" placeholder="2nd prime" name="question2">
</div>
        <div class="ui  input focus">
  <input type="text" placeholder="3rd prime" name="question3">
</div>
    </form>
    </div>
</div> 
        <!--        question 13-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">13.</h3></div>      <div class="card-body"> 
    <form  name="quiz16">
       
       <img src="img/perseA/perse13.png" alt="" class="img-fluid">
        <p class="q">Brian watches the film on ITV but after 1/2 an hour he changes channel to BBC 1. What is showing on BBC 1 when he changes channel?</p>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
        
    </form>
    </div>
</div>
<!--        question 14-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">13.</h3></div>      <div class="card-body"> 
    <form  name="quiz17">
       
       <img src="img/perseA/perse13.png" alt="" class="img-fluid">
        <p class="q">Brian watches the film on ITV but after 1/2 an hour he changes channel to BBC 1. The Drama on BBC 1 lasts for 1 hour and 40 minutes. At what time does it end?</p>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
        
    </form>
    </div>
</div>
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">14.</h3></div>      <div class="card-body"> 
    <form  name="quiz18">
        
         <p class="q">Make a list of all the whole numbers which leave a remainder of 7 when divided into 46.</p>
        <div class="ui  input focus">
  <input type="text" placeholder="write as 1,2" name="question1">
</div>
    </form>
    </div>
</div>
        <!--        question 15-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">15.</h3></div>      <div class="card-body"> 
    <form  name="quiz19">
    
        <p class="q">The charge £C made by a caterer for arranging a birthday party for n people is given by the formula: 
</p>
        <p class="q">C = 3n + 40</p>
      
       <p class="q">What is the charge, in £, for a party of 20 people?</p>
 <div class="ui labeled input">
  <div class="ui label">
    £
  </div>
  <input type="text" name="question1">
</div>
    </form>
    </div>
</div>
         <!--        question 16-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">15b.</h3></div>      <div class="card-body"> 
    <form  name="quiz20">
        
        <p class="q">The charge £C made by a caterer for arranging a birthday party for n people is given by the formula: 
</p><p class="q">C = 3n +40</p>
        <p class="q">What is the average cost per person for a party of 20 people?</p>
        
      <div class="ui labeled input">
  <div class="ui label">
    £
  </div>
  <input type="text" name="question1">
</div>
    </form>
    </div>
</div>
          <!--        question 17-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">16.</h3></div>      <div class="card-body"> 
    <form  name="quiz21"> 
       
       <img src="img/perseA/perse16.png" alt="" class="img-fluid"><br>
        <p class="q">The co-ordinates of A, B and C are: A (3 , 1) ; B (6 , 2) ; C (12 , 4)
The value of D (not shown) also lies on this line. If D is (15 , a), what is the value of a?
</p>
 <div class="ui labeled input">
  <div class="ui label">
    a = 
  </div>
  <input type="text" name="question1">
</div>
    </form>
    </div>
</div>
                  <!--        question 18-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">16b.</h3></div>      <div class="card-body"> 
    <form  name="quiz22">
       <img src="img/perseA/perse16.png" alt="" class="img-fluid"><br>
        <p class="q">E is another point (not shown) o this line and E is (b , 8). What is the value of b?
</p>
        
   <div class="ui labeled input">
  <div class="ui label">
    b = 
  </div>
  <input type="text" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 19-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">16c.</h3></div>      <div class="card-body"> 
    <form  name="quiz23"> 
        <img src="img/perseA/perse16.png" alt="" class="img-fluid"><br>
        <p class="q">If (p , q) is another point on this same line, write down a relationship (equation) between p and q.
</p>
   <div class="ui labeled input">
  <div class="ui label">
    relationship:
  </div>
  <input type="text" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 20-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">17a.</h3></div>      <div class="card-body"> 
    <form  name="quiz24"> 
       
        <p class="q">Calculate: </p>
        <p class="q">68.9 + 9.86 = </p>
        
 <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--       Section B question 1-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">17b.</h3></div>      <div class="card-body"> 
    <form  name="quiz25">
        <p class="q">321 - 268 = </p>    
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        Section B question 2-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">17c.</h3></div>      <div class="card-body"> 
    <form  name="quiz26">
        <p class="q">Calculate:</p>    
        <p class="q">391 x 7 =</p>
  <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--  Section B question 3--->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">17d.</h3></div>      <div class="card-body"> 
    <form  name="quiz27">
     <p class="q">656 &#247; 8 = </p>   
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--       Section B question 4a--->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">18.</h3></div>      <div class="card-body"> 
    <form  name="quiz28">
        <p class="q">Brian starts with 1000 and subtracts 11 each time. The first four numbers in his sequence are:</p>  
        <p class="q">1000, 989, 978, 967</p>
        <p class="q">If he continues in this way, what will be the first negative number in his sequence?</p> 

       <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        Section B question 4b--->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">19a.</h3></div>      <div class="card-body"> 
    <form  name="quiz29">
        <p class="q">Fill in the missing number:</p>
        <p class="q">131 - ___ = 56</p> 
          
<div class="ui  input focus">
  <input type="text" name="question1">
</div>
    </form>
    </div>
</div>
<!--        SECTION B 5-->

<div class="mySlides">
    <div class="card-header"><h3 class="card-title">19b.</h3></div>      <div class="card-body"> 
    <form  name="quiz30">
       <p class="q">Fill in the missing number:</p>
        <p class="q">17 + ___ = 56</p> 
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        Section B 6a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">19c.</h3></div>      <div class="card-body"> 
    <form  name="quiz31">
           <p class="q">Fill in the missing number:</p>
        <p class="q">50% of ___ = 56</p> 
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        Section B 6b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">19d.</h3></div>      <div class="card-body"> 
    <form  name="quiz32">
      <p class="q">Fill in the missing number:</p>
        <p class="q">560 &#247; ___ = 56</p> 
      
       <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--   Section B 7-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">19e.</h3></div>      <div class="card-body"> 
    <form  name="quiz33">
     <p class="q">Fill in the missing number:</p>
        <p class="q">1/3 of ___ = 56</p>   
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        Section B 8-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">20.</h3></div>      <div class="card-body"> 
    <form  name="quiz34">
             <p class="q">Two rectangles ABCD and PQRS are shown below:</p>
        <img src="img/perseA/perse20.png" alt="" class="img-fluid"><p class="q">Calculate the shaded region</p>
     <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    cm&#178;
  </div>
</div>
          
    </form>
    <p class="q">End of Exam</p>
    </div>
</div>

<!--    Section C 4a(ii)-->
        

<!--        buttons-->
<div class="container" >
    <div class="row" style="margin: 0 auto">
        <button type="button" id="button1" class="btn btn-success btn-raised"> Check </button>
        <button type="button" id="next1" class="btn btn-primary btn-raised"onclick="plusSlides(1)"> Next </button>
        <button type="button" id="button" class="btn btn-danger btn-raised" data-toggle="modal" data-target="#myModal4"> Total Score </button>     
    </div>
</div>
        
<div class="container" >
    <div class="row" style="margin: 0 auto">
        <span id="tick" class="ms-icon ms-icon-lg ms-icon-circle color-success">
            <i class="fa fa-check"></i>
        </span>
        <span id="wrong" class="ms-icon ms-icon-lg ms-icon-circle color-danger">
            <i class="fa fa-remove"></i>
        </span>    
    </div>
</div>
        
        
<div id="msg"></div>
<div class="dot-container">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span> 
  <span class="dot" onclick="currentSlide(5)"></span> 
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span> 
  <span class="dot" onclick="currentSlide(8)"></span> 
  <span class="dot" onclick="currentSlide(9)"></span>
    <span class="dot" onclick="currentSlide(10)"></span> 
     <span class="dot" onclick="currentSlide(11)"></span> 
  <span class="dot" onclick="currentSlide(12)"></span> 
  <span class="dot" onclick="currentSlide(13)"></span>
  <span class="dot" onclick="currentSlide(14)"></span> 
  <span class="dot" onclick="currentSlide(15)"></span> 
  <span class="dot" onclick="currentSlide(16)"></span>
  <span class="dot" onclick="currentSlide(17)"></span> 
  <span class="dot" onclick="currentSlide(18)"></span> 
  <span class="dot" onclick="currentSlide(19)"></span>
    <span class="dot" onclick="currentSlide(20)"></span>
    <span class="dot" onclick="currentSlide(21)"></span> 
  <span class="dot" onclick="currentSlide(22)"></span> 
  <span class="dot" onclick="currentSlide(23)"></span>
  <span class="dot" onclick="currentSlide(24)"></span> 
  <span class="dot" onclick="currentSlide(25)"></span> 
  <span class="dot" onclick="currentSlide(26)"></span>
  <span class="dot" onclick="currentSlide(27)"></span> 
  <span class="dot" onclick="currentSlide(28)"></span> 
  <span class="dot" onclick="currentSlide(29)"></span>
    <span class="dot" onclick="currentSlide(30)"></span>
    <span class="dot" onclick="currentSlide(31)"></span> 
     <span class="dot" onclick="currentSlide(32)"></span>
  <span class="dot" onclick="currentSlide(33)"></span>
  <span class="dot" onclick="currentSlide(34)"></span>
  
   
    
    
</div>    
<!-- last 2 divs from top of card-->
     </div>
        </div>
 <div id="example"></div> 
<!-- Modal -->
<div class="modal modal-primary" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel4">  Your results:  </h3>            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="zmdi zmdi-close"></i></span>
                    </button>
            </div>
        <div class="modal-body">
            <div class="alert alert-info alert-light " role="alert"><p id="badge"></p>
            </div>
             
                <div class="alert alert-info alert-light " role="alert"><p id="points"></p>
                </div>
        </div>
            <div class="row">
                
        <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>    
        </div>
      </div>
    </div>
</div>
<script>
    $("#example").load("./config");
     
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);    
    document.getElementById("tick").style.visibility = "hidden";
    document.getElementById("wrong").style.visibility = "hidden";
    document.getElementById("msg").style.visibility = "hidden";

}

function currentSlide(n) {
  showSlides(slideIndex = n);
    document.getElementById("tick").style.visibility = "hidden";
    document.getElementById("wrong").style.visibility = "hidden";
    document.getElementById("msg").style.visibility = "hidden";
  
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
    if(slideIndex==34){
        document.getElementById("next1").style.visibility = "hidden";
    }
}    
    var correct = 0;
   
    $("#button1").click(function(){       
        var question1 = document.quiz1.question1.value;  
        var question2 = document.quiz2.question1.value;
        var question3 = document.quiz3.question1.value;
        var question4 = document.quiz4.question1.value;
        var question5 = document.quiz5.question1.value;
        var question6 = document.quiz6.question1.value;
        var question7 = document.quiz7.question1.value;
        var question8 = document.quiz8.question1.value;
        var question9 = document.quiz9.question1.value;
        var question10 = document.quiz10.question1.value;
        var question11 = document.quiz11.question1.value;
        var question12 = document.quiz12.question1.value;
        var question13 = document.quiz13.question1.value;
        var question14 = document.quiz14.question1.value;
        var question15 = document.quiz15.question1.value;
        var question16 = document.quiz16.question1.value;
        var question17 = document.quiz17.question1.value;
        var question18 = document.quiz18.question1.value;
        var question19 = document.quiz19.question1.value;
        var question20 = document.quiz20.question1.value;
        var question21 = document.quiz21.question1.value;
        var question22 = document.quiz22.question1.value;
        var question23 = document.quiz23.question1.value;
        var question24 = document.quiz24.question1.value;
        var question25 = document.quiz25.question1.value;
        var question26 = document.quiz26.question1.value;
        var question27 = document.quiz27.question1.value;
        var question28 = document.quiz28.question1.value;
        var question29 = document.quiz29.question1.value;
        var question30 = document.quiz30.question1.value;
        var question31 = document.quiz31.question1.value;
        var question32 = document.quiz32.question1.value;
        var question33 = document.quiz33.question1.value;

        var question34 = document.quiz3.question2.value;
        var question35 = document.quiz8.question2.value;
        var question36 = document.quiz15.question2.value;
        var question37 = document.quiz15.question3.value;
        var question38 = document.quiz34.question1.value;
       
              
        //2 question
       if(slideIndex==2&&question2 == 21){
             
        document.getElementById("tick").style.visibility = "visible";
           document.getElementById("msg").style.visibility = "visible";
           document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
           //3 question
  } else if(slideIndex==3&&question3 == 117&&question34==29){
             
        document.getElementById("tick").style.visibility = "visible";
      document.getElementById("msg").style.visibility = "visible";
      document.getElementById("msg").textContent= " Correct! 2 marks";
      correct+=2;
  }
        //1 question
         else if(slideIndex==1&&question1 == 7){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //4 question 
        else if(slideIndex==4&&question4 == '18/25'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  } 
//        //5 question 
        else if(slideIndex==5&&question5 == '4/9'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  } 
//        //6a question
        else if(slideIndex==6&&question6 == '4 2/5'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 3 mark"; 
            correct+=3;
  } 
        //6b question
        else if(slideIndex==7&&question7 == 35){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 3 marks"; 
            correct+=3;
  } 
//    //6c question
        else if(slideIndex==8&&question8 ==1 &&question35==4||slideIndex==8&&question8 ==2 &&question35==3||slideIndex==8&&question8 ==0 &&question35==5){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 3 marks"; 
            correct+=3;
  }     
//        //7 question
        else if(slideIndex==9&&question9 == 6){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //8 question 
        else if(slideIndex==10&&question10 == 39){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  } 
        //9 question 
        else if(slideIndex==11&&question11 == 5){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  } 
//        //10 question
        else if(slideIndex==12&&question12 ==31/120){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  } 
  //       question 11a
        else if(slideIndex==13&&question13 ==84){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  } 
//    //12 question
        else if(slideIndex==14&&question14 == 140){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
        //13 question
        else if(slideIndex==15&&question15 == 5&&question36==7 &question37==11||slideIndex==15&&question15 == 5&&question36==11 &question37==7||slideIndex==15&&question15 == 7&&question36==5 &question37==11||slideIndex==15&&question15 == 7&&question36==11 &question37==5||slideIndex==15&&question15 == 11&&question36==5 &question37==7||slideIndex==15&&question15 == 11&&question36==7 &question37==5){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 3 marks"; 
            correct+=3;
  }  
//             //14 question 
        else if(slideIndex==16&&question16 == 'Top of the Pops'||slideIndex==16&&question16 == 'top of the pops'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  } 
        //15 question
        else if(slideIndex==17&&question17 == '11.05'||slideIndex==17&&question17 == '11:05'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //16 question
        else if(slideIndex==18&&question18 == '13,39'||slideIndex==18&&question18 == '39,13'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  } 
//    //17 question
        else if(slideIndex==19&&question19 == 100){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  }     
//        //18 question
        else if(slideIndex==20&&question20 == 5){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  } 
//        //19 question 22
        else if(slideIndex==21&&question21 == 5){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //20 question 
        else if(slideIndex==22&&question22 ==24){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //***********
        //29
        //***********
 
        else if(slideIndex==23&&question23 == 'p=3q'||slideIndex==23&&question23 == '3q=p'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  } 
        //2 question
        else if(slideIndex==24&&question24 == '78.76'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks"; 
            correct++;
  } 
    //3 question
        else if(slideIndex==25&&question25 == 53){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
//4a 27 marks to here
        else if(slideIndex==26&&question26 == 2737){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }  
//4b question 
        else if(slideIndex==27&&question27 == 82){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  } 
 //5 question
        else if(slideIndex==28&&question28 == '-1'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 3 marks"; 
            correct+=3;
  } 
//6a question
        else if(slideIndex==29&&question29 == 75){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//6b question
        else if(slideIndex==30&&question30 ==39){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
////7 question
        else if(slideIndex==31&&question31==112){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks"; 
            correct++;
  } 
 //8 question 
        else if(slideIndex==32&&question32 == 10){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks"; 
            correct++;
  } 
//9a question 
        else if(slideIndex==33&&question33 == 168){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//9b question
        else if(slideIndex==34&&question38 == 13){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 3 marks"; 
            correct+=3;
  } 
//9c q


        else {
      document.getElementById("wrong").style.visibility = "visible";
            document.getElementById("msg").style.visibility = "visible";
    document.getElementById("msg").textContent= " Not Yet"; 
  } 
    
        if(correct>0){
            document.getElementById("badge").textContent= "Total questions correct: " + correct + " / 61";  
            document.getElementById("points").textContent= "Percentage = " + Math.round(correct/61*100) + "%";
           
        }
       });
       
    $("input").attr("maxlength", 20)
</script>


<% include ../partials/footer %>
            
      
    
