<% include ../partials/header %>

 <div class="col-lg-11 ms-paper-content-container"style="text-align: center">
    <div class="ms-paper-content" style="display:inline-block">
        <div class="alert alert-light alert-info">  
             <p class="q"> St George's Ascot
</p><p>Total Marks . Time 1 hour</p>
            <p> </p>
        </div>
    </div>
</div>
<div style="text-align: center">
    <div class="card card-royal col-md-6" style="display:inline-block" > 
<!--        First question-->
<div class="mySlides">
    <div class="card-header">
        <h3 id="header" class="card-title">1a.</h3>
    </div>
  <div class="card-body"> 
   <form name="quiz1">
       
       <p class="q">Write in figures the following numbers </p>
       <p class="q">four hundred and sixty seven  </p>
       <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
       
    </form>
  </div>  
</div>
<!--     2nd question                -->
<div class="mySlides">
    <div class="card-header">
        <h3 class="card-title">1b.</h3>
    </div>
    <div class="card-body"> 
      <form  name="quiz2">
        <p class="q">Write in figures the following numbers </p>
       <p class="q">one and three tenths</p>
         <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
      </form>
    </div>
</div>
<!--   3rd question       -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">1c.</h3></div>      <div class="card-body"> 
    <form  name="quiz3">
         <p class="q">Write in figures the following numbers </p>
       <p class="q">eleven thousand six hundred and seven </p>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--4th question        -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">1d.</h3></div>      <div class="card-body"> 
    <form  name="quiz4">
     <p class="q">Write in figures the following numbers </p>
       <p class="q">twenty four hundredths</p>
    <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--    5th question    -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">1e.</h3></div>      <div class="card-body"> 
    <form  name="quiz5">
             <p class="q">Write in figures the following numbers </p>
       <p class="q">two and a half million  </p>
 <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
        
    </form>
    </div>
</div>
<!--   6a question     -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">2a.</h3></div>      <div class="card-body"> 
    <form  name="quiz6">
             <p class="q">Here is a list of numbers:</p>
        <img src="img/ascot/ascot2.png" alt="" class="img-fluid">
       <p class="q">From these numbers, choose  </p>
        <p class="q">two multiples of 7</p>
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
         <div class="ui  input focus">
  <input type="text" placeholder="" name="question2">
</div>      
    </form>
    </div>
</div>
<!--6b question        -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">2b.</h3></div>      <div class="card-body"> 
    <form  name="quiz7">
             <p class="q">Here is a list of numbers:</p>
        <img src="img/ascot/ascot2.png" alt="" class="img-fluid">
       <p class="q">From these numbers, choose  </p>
           <p class="q">two factors of 48</p>
<div class="ui labeled input">
  <div class="ui label">
   first factor of 48
  </div>
  <input type="text" name="question1">
</div>
        <div class="ui labeled input">
  <div class="ui label">
   second factor of 48
  </div>
  <input type="text" name="question2">
</div>
       
    </form>
    </div>
</div>
<!--    6c question    -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">2c.</h3></div>      <div class="card-body"> 
    <form  name="quiz8">
     <p class="q">Here is a list of numbers:</p>
        <img src="img/ascot/ascot2.png" alt="" class="img-fluid">
       <p class="q">From these numbers, choose  </p>
        <p class="q">all the prime numbers less than 20 (in ascending order)</p>
         <div class="ui labeled input">
  <div class="ui label">
   prime numbers :
  </div>
  <input type="text" name="question1" placeholder="example: 1,2,3">
</div>
        
    </form>
    </div>
</div>
<!--   7 question     -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">2d.</h3></div>      <div class="card-body"> 
    <form  name="quiz9">
<p class="q">Here is a list of numbers:</p>
        <img src="img/ascot/ascot2.png" alt="" class="img-fluid">
       <p class="q">From these numbers, choose  </p>
        <p class="q">a square number</p>
        
  <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
        
    </form>
    </div>
</div>
<!--        question 8-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">3a.</h3></div>      <div class="card-body"> 
    <form  name="quiz10">
       <p class="q">Sir George has 87 gold coins in his treasure box and 346 gold coins in his safety vault. How many gold coins is this altogether?</p>
        
 <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
      gold coins
  </div>
</div>
    </form>
    </div>
</div>
        <!--        question 9-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">3b.</h3></div>      <div class="card-body"> 
    <form  name="quiz11">
        <p class="q">There are 152 children in Ascot Castle. If 79 of them are boys, how many are girls?</p>
       
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
      girls
  </div>
</div>
    </form>
    </div>
</div>
<!--        question 10-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">3c.</h3></div>      <div class="card-body"> 
    <form  name="quiz12">
       <p class="q">In his library, Sir George has 8 bookcases each with 65 magic books. How many magic books is this altogether?</p>
  <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
      magic books
  </div>
</div>
    </form>
    </div>
</div>
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title"> 3d.</h3></div>      <div class="card-body"> 
    <form  name="quiz13"> 
        <p class="q">7 Knights share 959 golden coins equally between them. How many does each one get?</p>
 <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
      gold coins
  </div>
</div>       
    </form>
    </div>
</div>
<!--        question 11a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title"> 4.</h3></div>      <div class="card-body"> 
    <form  name="quiz14">
        <p class="q">Lady Marian needs 87 pence to put into the Maiden in Distress charity collection box. What is the minimum number of coins she can put in?
(There are 1-pence, 2-pence, 5-pence, 10-pence, 20-pence and 50-pence coins)</p>
    
  <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
 coins
  </div>
</div>    
    </form>
    </div>
</div>
<!--        question 12-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">5a.</h3></div>      <div class="card-body"> 
    <form  name="quiz15">
     
        <p class="q">Sir George is making 12 “orange-fizz” drinks for a party. He has 8 jugs, each of which holds litre of lemonade. How many litres is this in total?</p>
     
   <div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    litres
  </div>
</div>
        
    </form>
    </div>
</div> 
        <!--        question 13-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">5b.</h3></div>      <div class="card-body"> 
    <form  name="quiz16">
       
        <p class="q">Sir George is making 12 “orange-fizz” drink for a party. He has 8 jugs, each of which holds litre of lemonade. He adds orange juice so that there is half as much orange juice as there is lemonade. How many litres of orange juice does he add?</p>
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    litres
  </div>
</div>
        
    </form>
    </div>
</div>
<!--        question 14-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">5c.</h3></div>      <div class="card-body"> 
    <form  name="quiz17">
        <p class="q">How many litres of drink has he got altogether?</p>
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    litres
  </div>
</div>     
    </form>
    </div>
</div>
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">5d.</h3></div>      <div class="card-body"> 
    <form  name="quiz18">
               <p class="q">He fills twelve glasses that each holds 200 ml. How much orange-fizz has he left? (Remember: there are 1000 ml in 1 litre.)</p>
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    ml
  </div>
</div>
    </form>
    </div>
</div>
        <!--        question 15-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">5e.</h3></div>      <div class="card-body"> 
    <form  name="quiz19">
    
        <p class="q">How many more 200 ml glasses can he fill?
</p>
         
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    glasses
  </div>
</div>
    </form>
    </div>
</div>
         <!--        question 16-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">6a.</h3></div>      <div class="card-body"> 
    <form  name="quiz20">
         
         <p class="q">The St George’s Day Fair charges £5.00 for an adult and £2.50 for a child. </p>
        <p class="q">Find the total cost for a family of two adults and three children.</p>
<div class="ui labeled input">
  <div class="ui label">
   £
  </div>
  <input type="text" name="question1">
</div>
    </form>
    </div>
</div>
          <!--        question 17-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">6b.</h3></div>      <div class="card-body"> 
    <form  name="quiz21"> 
           <p class="q">The St George’s Day Fair charges £5.00 for an adult and £2.50 for a child. </p>
        <p class="q">Lady Marian takes herself and some children to the St George’s Day Fair. The total cost is £25.00. How many children does she take?</p>
 <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
 children
  </div>
</div>
    </form>
    </div>
</div>
                  <!--        question 18-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">7a.</h3></div>      <div class="card-body"> 
    <form  name="quiz22">
        
        <p class="q">Dragon-burgers cost £2.40 per kilogram.</p>
        <p class="q">How much will it cost to buy 2 1⁄2 kilograms?</p>
<div class="ui labeled input">
  <div class="ui label">
   £
  </div>
  <input type="text" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 19-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">7b.</h3></div>      <div class="card-body"> 
    <form  name="quiz23"> 
            <p class="q">Dragon-burgers cost £2.40 per kilogram.</p>
  <p class="q">Sir George is having a feast. He buys £12 worth of the dragon-burgers. What weight does he buy?</p>
    
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
 kg
  </div>
</div>
    </form>
    </div>
</div>
<!--        question 20-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">8a.</h3></div>      <div class="card-body"> 
    <form  name="quiz24"> 
        <p class="q">Sir George has 300 gold coins. If he gives away 5% to the Damsel in Distress Charity, how many gold coins is this?</p>
        
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
 gold coins
  </div>
</div>
    </form>
    </div>
</div>
<!--       Section B question 1-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">8b.</h3></div>      <div class="card-body"> 
    <form  name="quiz25">
           <p class="q">In a dragon boat race there are 4 teams – Red, Green, Gold and Black. The probability that the Red team will win is 40%, the probability that the Green team will win is 20% and the probability that the Gold team will win is 25%. What is the probability that the Black team will win?</p>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        Section B question 2-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">8c.</h3></div>      <div class="card-body"> 
    <form  name="quiz26">
        <p class="q">Merlin got 30/40 for a spelling test. What is this mark as a percentage?</p>    
        
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    %
  </div>
</div>
    </form>
    </div>
</div>
        <!--  Section B question 3--->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">9a.</h3></div>      <div class="card-body"> 
    <form  name="quiz27">
        <img src="img/ascot/ascot9A.png" alt="" class="img-fluid">
     <p class="q">How many young people came to the Magic Club on Monday?</p>
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    young people
  </div>
</div>
    </form>
    </div>
</div>
<!--       Section B question 4a--->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">9b.</h3></div>      <div class="card-body"> 
    <form  name="quiz28">
            <img src="img/ascot/ascot9A.png" alt="" class="img-fluid">
          <p class="q">On which day were there the most young people at the Magic Club?</p>   
       <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        Section B question 4b--->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">9c.</h3></div>      <div class="card-body"> 
    <form  name="quiz29">
            <img src="img/ascot/ascot9A.png" alt="" class="img-fluid">
        <p class="q">How many more young people were there in the Magic Club on Thursday than on Tuesday?</p>   
         
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
young people
  </div>
</div>
    </form>
    </div>
</div>
<!--        SECTION B 5-->

<div class="mySlides">
    <div class="card-header"><h3 class="card-title">9d.</h3></div>      <div class="card-body"> 
    <form  name="quiz30">
        <p class="q">On Thursday there were a total of 62 children in Ascot castle. How many did not go to the Magic Club? </p>   
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    children
  </div>
</div>
    </form>
    </div>
</div>
<!--        Section B 6a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">10a.</h3></div>      <div class="card-body"> 
    <form  name="quiz31">
        <p class="q">Sir George is designing a small tiling pattern using the shape below. </p>
            <img src="img/ascot/ascot10A.png" alt="" class="img-fluid">
        <p class="q">What fraction of this shape has been shaded?</p>
  <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        Section B 6b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">10b.</h3></div>      <div class="card-body"> 
    <form  name="quiz32">
            <img src="img/ascot/ascot10A.png" alt="" class="img-fluid">
        <p class="q">Write the fraction of the shape as a decimal.</p>
       <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--   Section B 7-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">10c.</h3></div>      <div class="card-body"> 
    <form  name="quiz33">
            <img src="img/ascot/ascot10A.png" alt="" class="img-fluid">
        <p class="q">If half of the remaining shape was shaded. What would be the fraction of the shape shaded altogether?</p>
  <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        Section B 8-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">11a.</h3></div>      <div class="card-body"> 
    <form  name="quiz34">
             <p class="q">Sir George was given a box of chocolates; 1/4 of the box of chocolates were caramel ones and 2/5 of the strawberry ones. What fraction of the box did he eat altogether?</p><br>

 <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>    
    </form>
    </div>
</div>

<!--    Section C 4a(ii)-->
        <!--   Section B 9b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">11b.</h3></div>      <div class="card-body"> 
    <form  name="quiz35">
          <p class="q">Merlin only eats red sweets. In a different box of sweets 7/9 are red. He ate 2/3 of the sweets in the box. What fraction of red sweets were left?</p>
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
 red sweets remain
  </div>
</div>
    </form>
    </div>
</div>
        <!--     Section B 9c-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">11c.</h3></div>      <div class="card-body"> 
    <form  name="quiz36">
          <p class="q">Sir George has a rectangular shaped garden that measures 5/12 km wide by 8/15 km long. </p><p class="q">What is its area?</p>
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    km&#178;
  </div>
</div>
         
    </form>
    </div>
</div>
               <!--   Section B 10-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">11d.</h3></div>      <div class="card-body"> 
    <form  name="quiz37"><p class="q">Sir George has 24 dragon pies. Some knights are each given 1/4 of a pie. How many knights get fed?</p>
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
   knights
  </div>
</div>
        
    </form>
    </div>
</div>
        <!--        Section C 1a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">12a.</h3></div>      <div class="card-body"> 
    <form  name="quiz38">
        <p class="q">Dragon eggs for the Castle tuck shop come in boxes of 20. I need 187 dragon eggs for a feast. How many boxes will I need to get?</p>
       <div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
  boxes
  </div>
</div>
    </form>
    </div>
</div>
        
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">12b.</h3></div>      <div class="card-body"> 
    <form  name="quiz39">
         
        <p class="q">How many dragon eggs will I have left over?</p>
 <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    boxes
  </div>
</div>       
    </form>
    </div>
</div>
        <!--    Section C 1b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">13a.</h3></div>      <div class="card-body"> 
    <form  name="quiz40">
            <img src="img/ascot/ascot13A.png" alt="" class="img-fluid">
        <p class="q">Calculate the size of the angle h. </p> 
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    &#176;
  </div>
</div>
    </form>
    </div>
</div>
        <!--   Section C 1c-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">13b.</h3></div>      <div class="card-body"> 
    <form  name="quiz41">
            <img src="img/ascot/ascot13A.png" alt="" class="img-fluid">
         <p class="q">Calculate the size of the angle i. </p> 
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    &#176;
  </div>
</div>
    </form>
    </div>
</div>
        <!--       Section C 1d-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">14a.</h3></div>      <div class="card-body"> 
    <form  name="quiz42">
        <p class="q">Sir George arranged to meet Merlin by the dragon’s den at 9.15 am.</p> 
        <p class="q">If Sir George arrived 20 minutes early, when did he get there?</p>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--   Section C 1e-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">14b.</h3></div>      <div class="card-body"> 
    <form  name="quiz43">
      <p class="q">Merlin walked 2.5 km to get there and Sir George walked 1750 m. Who walked the further and by how many metres more?</p> 
    <div class="ui labeled input">
  <div class="ui label">
    Name = 
  </div>
  <input type="text" name="question1">
</div>   
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question2">
  <div class="ui basic label">
   metres
  </div>
</div>
    </form>
    </div>
</div>
        <!--  Section C 1f-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">15.</h3></div>      <div class="card-body"> 
    <form  name="quiz44">
        
       <p class="q">Merlin has a magic number pattern as shown below: </p>
        <p class="q">1&#178; + 3 = 4</p><p class="q"> 2&#178; + 5 = 9</p><p class="q"> 3&#178; + 7 = 16</p>
        <p class="q">Write the next two totals of the pattern.</p>
       
<div class="ui labeled input">
  <div class="ui label">
    Total 1
  </div>
  <input type="text" name="question1">
</div>
         <div class="ui labeled input">
  <div class="ui label">
    Total 2 
  </div>
  <input type="text" name="question2">
</div>
    </form>
    </div>
</div>
        <!--   Section C 2a(i)-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">15b.</h3></div>      <div class="card-body"> 
    <form  name="quiz45">
        <p class="q">Merlin has a magic number pattern as shown below: </p>
        <p class="q">1&#178; + 3 = 4</p><p class="q"> 2&#178; + 5 = 9</p><p class="q"> 3&#178; + 7 = 16</p>
         <p class="q">What would be the total of the 10th line of the sequence?</p>
        
        <div class="ui labeled input">
  <div class="ui label">
    10th line total = 
  </div>
  <input type="text" name="question1">
</div>
    </form>
    </div>
</div>
        
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">16a.</h3></div>      <div class="card-body"> 
    <form  name="quiz46">
            <img src="img/ascot/ascot16.png" alt="" class="img-fluid">
         <p class="q">What was the range of the number of biscuits?</p>
        <div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    biscuits
  </div>
</div>
    </form>
    </div>
</div>        

<div class="mySlides">
    <div class="card-header"><h3 class="card-title">16b.</h3></div>      <div class="card-body"> 
    <form  name="quiz47">
            <img src="img/ascot/ascot16.png" alt="" class="img-fluid">
         <p class="q">On how many days did he eat 8 or more chocolate biscuits?</p>
        <div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    days
  </div>
</div>
    </form>
    </div>
</div>  
        
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">16c.</h3></div>      <div class="card-body"> 
    <form  name="quiz48">
            <img src="img/ascot/ascot16.png" alt="" class="img-fluid">
         <p class="q">How many biscuits did he eat altogether?</p>
        <div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
   biscuits
  </div>
</div>
    </form>
    </div>
</div>  

<div class="mySlides">
    <div class="card-header"><h3 class="card-title">16c.</h3></div>      <div class="card-body"> 
    <form  name="quiz49">
         <p class="q">What was his mean number of biscuits per day?</p>
        <div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
   biscuits
  </div>
</div>
    </form>
    </div>
</div> 
                <!-- Section C 2d-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">17a.</h3></div>      <div class="card-body"> 
    <form  name="quiz50">
         <p class="q">Sir George thinks of his favourite number, doubles it then adds 5. If he gets 19, what number did he start with?</p>
        
        <div class="ui labeled input">
  <div class="ui label">
    number = 
  </div>
  <input type="text" name="question1">
</div>
    </form>
    </div>
</div>

<div class="mySlides">
    <div class="card-header"><h3 class="card-title">17b.</h3></div>      <div class="card-body"> 
    <form  name="quiz51">
         <p class="q">Merlin thinks of his lucky number, divides it by three and takes this from 20. If he gets 8, what number did he start with?</p>
        
        <div class="ui labeled input">
  <div class="ui label">
    number = 
  </div>
  <input type="text" name="question1">
</div>
    </form>
    </div>
</div>
        
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">17c.</h3></div>      <div class="card-body"> 
    <form  name="quiz52">
         <p class="q">A magic mirror is in the shape of a rectangle. It has one side four times longer than the other. If its perimeter is 60 cm, what is its area?</p>
        <div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    cm&#178;
  </div>
</div>
    </form>
    <p>END OF PAPER</p>
    </div>
</div>
<!--        buttons-->
<div class="container" >
    <div class="row" style="margin: 0 auto">
        <button type="button" id="button1" class="btn btn-success btn-raised"> Check </button>
        <button type="button" id="next1" class="btn btn-primary btn-raised"onclick="plusSlides(1)"> Next </button>
        <button type="button" id="button" class="btn btn-danger btn-raised" data-toggle="modal" data-target="#myModal4"> Total Score </button>     
    </div>
</div>
        
<div class="container" >
    <div class="row" style="margin: 0 auto">
        <span id="tick" class="ms-icon ms-icon-lg ms-icon-circle color-success">
            <i class="fa fa-check"></i>
        </span>
        <span id="wrong" class="ms-icon ms-icon-lg ms-icon-circle color-danger">
            <i class="fa fa-remove"></i>
        </span>    
    </div>
</div>
        
        
<div id="msg"></div>
<div class="dot-container">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span> 
  <span class="dot" onclick="currentSlide(5)"></span> 
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span> 
  <span class="dot" onclick="currentSlide(8)"></span> 
  <span class="dot" onclick="currentSlide(9)"></span>
    <span class="dot" onclick="currentSlide(10)"></span> 
     <span class="dot" onclick="currentSlide(11)"></span> 
  <span class="dot" onclick="currentSlide(12)"></span> 
  <span class="dot" onclick="currentSlide(13)"></span>
  <span class="dot" onclick="currentSlide(14)"></span> 
  <span class="dot" onclick="currentSlide(15)"></span> 
  <span class="dot" onclick="currentSlide(16)"></span>
  <span class="dot" onclick="currentSlide(17)"></span> 
  <span class="dot" onclick="currentSlide(18)"></span> 
  <span class="dot" onclick="currentSlide(19)"></span>
    <span class="dot" onclick="currentSlide(20)"></span>
    <span class="dot" onclick="currentSlide(21)"></span> 
  <span class="dot" onclick="currentSlide(22)"></span> 
  <span class="dot" onclick="currentSlide(23)"></span>
  <span class="dot" onclick="currentSlide(24)"></span> 
  <span class="dot" onclick="currentSlide(25)"></span> 
  <span class="dot" onclick="currentSlide(26)"></span>
  <span class="dot" onclick="currentSlide(27)"></span> 
  <span class="dot" onclick="currentSlide(28)"></span> 
  <span class="dot" onclick="currentSlide(29)"></span>
    <span class="dot" onclick="currentSlide(30)"></span>
    <span class="dot" onclick="currentSlide(31)"></span> 
     <span class="dot" onclick="currentSlide(32)"></span>
  <span class="dot" onclick="currentSlide(33)"></span>
  <span class="dot" onclick="currentSlide(34)"></span>
      <span class="dot" onclick="currentSlide(35)"></span> 
  <span class="dot" onclick="currentSlide(36)"></span> 
  <span class="dot" onclick="currentSlide(37)"></span>
  <span class="dot" onclick="currentSlide(38)"></span> 
  <span class="dot" onclick="currentSlide(39)"></span> 
  <span class="dot" onclick="currentSlide(40)"></span>
  <span class="dot" onclick="currentSlide(41)"></span> 
  <span class="dot" onclick="currentSlide(42)"></span> 
  <span class="dot" onclick="currentSlide(43)"></span>
  <span class="dot" onclick="currentSlide(44)"></span> 
  <span class="dot" onclick="currentSlide(45)"></span>    
  <span class="dot" onclick="currentSlide(46)"></span>    
  <span class="dot" onclick="currentSlide(47)"></span>    
  <span class="dot" onclick="currentSlide(48)"></span>    
  <span class="dot" onclick="currentSlide(49)"></span>    
  <span class="dot" onclick="currentSlide(50)"></span>    
  <span class="dot" onclick="currentSlide(51)"></span>    
  <span class="dot" onclick="currentSlide(52)"></span>    
    
</div>    
<!-- last 2 divs from top of card-->
     </div>
        </div>
 <div id="example"></div> 
<!-- Modal -->
<div class="modal modal-primary" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel4">  Your results:  </h3>            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="zmdi zmdi-close"></i></span>
                    </button>
            </div>
        <div class="modal-body">
            <div class="alert alert-info alert-light " role="alert"><p id="badge"></p>
            </div>
             
                <div class="alert alert-info alert-light " role="alert"><p id="points"></p>
                </div>
        </div>
            <div class="row">
                
        <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>    
        </div>
      </div>
    </div>
</div>
<script>
    $("#example").load("./config");
     
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);    
    document.getElementById("tick").style.visibility = "hidden";
    document.getElementById("wrong").style.visibility = "hidden";
    document.getElementById("msg").style.visibility = "hidden";

}

function currentSlide(n) {
  showSlides(slideIndex = n);
    document.getElementById("tick").style.visibility = "hidden";
    document.getElementById("wrong").style.visibility = "hidden";
    document.getElementById("msg").style.visibility = "hidden";
  
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
    if(slideIndex==52){
        document.getElementById("next1").style.visibility = "hidden";
    }
}    
    var correct = 0;
   
    $("#button1").click(function(){       
        var question1 = document.quiz1.question1.value;  
        var question2 = document.quiz2.question1.value;
        var question3 = document.quiz3.question1.value;
        var question4 = document.quiz4.question1.value;
        var question5 = document.quiz5.question1.value;
        var question6 = document.quiz6.question1.value;
        var question7 = document.quiz7.question1.value;
        var question8 = document.quiz8.question1.value;
        var question9 = document.quiz9.question1.value;
        var question10 = document.quiz10.question1.value;
        var question11 = document.quiz11.question1.value;
        var question12 = document.quiz12.question1.value;
        var question13 = document.quiz13.question1.value;
        var question14 = document.quiz14.question1.value;
        var question15 = document.quiz15.question1.value;
        var question16 = document.quiz16.question1.value;
        var question17 = document.quiz17.question1.value;
        var question18 = document.quiz18.question1.value;
        var question19 = document.quiz19.question1.value;
        var question20 = document.quiz20.question1.value;
        var question21 = document.quiz21.question1.value;
        var question22 = document.quiz22.question1.value;
        var question23 = document.quiz23.question1.value;
        var question24 = document.quiz24.question1.value;
        var question25 = document.quiz25.question1.value;
        var question26 = document.quiz26.question1.value;
        var question27 = document.quiz27.question1.value;
        var question28 = document.quiz28.question1.value;
        var question29 = document.quiz29.question1.value;
        var question30 = document.quiz30.question1.value;
        var question31 = document.quiz31.question1.value;
        var question32 = document.quiz32.question1.value;
        var question33 = document.quiz33.question1.value;
        var question34 = document.quiz34.question1.value;
        var question35 = document.quiz35.question1.value;
        var question36 = document.quiz36.question1.value;
        var question37 = document.quiz37.question1.value;
        var question38 = document.quiz38.question1.value;
        var question35 = document.quiz35.question1.value;
        var question36 = document.quiz36.question1.value;
        var question37 = document.quiz37.question1.value;
        var question38 = document.quiz38.question1.value;
        var question39 = document.quiz39.question1.value;
        var question40 = document.quiz40.question1.value;
        var question41 = document.quiz41.question1.value;
        var question42 = document.quiz42.question1.value;
        var question43 = document.quiz43.question1.value;
        var question44 = document.quiz44.question1.value;
        var question45 = document.quiz45.question1.value;
        var question46 = document.quiz46.question1.value;
        var question47 = document.quiz47.question1.value;
        var question48 = document.quiz48.question1.value;
        var question49 = document.quiz49.question1.value;
        var question50 = document.quiz50.question1.value;
        var question51 = document.quiz51.question1.value;
        var question52 = document.quiz52.question1.value;
        var question53 = document.quiz6.question2.value;
        var question54 = document.quiz7.question2.value;
        var question55 = document.quiz44.question2.value;
        var question56 = document.quiz43.question2.value;
        
        //2 question
       if(slideIndex==2&&question2 == 1.3){
             
        document.getElementById("tick").style.visibility = "visible";
           document.getElementById("msg").style.visibility = "visible";
           document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
           //3 question
  } else if(slideIndex==3&&question3 == 11607){
             
        document.getElementById("tick").style.visibility = "visible";
      document.getElementById("msg").style.visibility = "visible";
      document.getElementById("msg").textContent= " Correct! 1 mark";
      correct+=1;
  }
        //1 question
         else if(slideIndex==1&&question1 == 467){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //4 question 
        else if(slideIndex==4&&question4 == '24/100'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=1;
  } 
//        //5 question 
        else if(slideIndex==5&&question5 == '2,500,000'||slideIndex==5&&question5 == '2500000'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //6a question
        else if(slideIndex==6&&question6 ==21 &&question53==35||slideIndex==6&&question6 ==35&&question53==21){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  } 
        //6b question 51
        else if(slideIndex==7&&question7 == 12&&question54==24||slideIndex==7&&question7 == 24&&question54==12){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  } 
//    //6c question
        else if(slideIndex==8&&question8 =='11,13,17,19'||slideIndex==8&&question8 =='11, 13, 17, 19'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 mark"; 
            correct+=2;
  }     
//        //7 question
        else if(slideIndex==9&&question9 == 25||slideIndex==9&&question9 == 36){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //8 question 
        else if(slideIndex==10&&question10 == 433){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks"; 
            correct++;
  } 
        //9 question 
        else if(slideIndex==11&&question11 ==73){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks"; 
            correct++;
  } 
//        //10 question
        else if(slideIndex==12&&question12 ==520){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
  //       question 11a
        else if(slideIndex==13&&question13 ==137){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//    //12 question
        else if(slideIndex==14&&question14 == 5){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
        //13 question
        else if(slideIndex==15&&question15 == 4){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  }  
//             //14 question 
        else if(slideIndex==16&&question16 == 2){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  } 
        //15 question
        else if(slideIndex==17&&question17 == 6){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //16 question
        else if(slideIndex==18&&question18 == 2400){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  } 
//    //17 question
        else if(slideIndex==19&&question19 == 18){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  }     
//        //18 question
        else if(slideIndex==20&&question20 == 17.50){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  } 
//        //19 question 22
        else if(slideIndex==21&&question21==8){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //20 question 
        else if(slideIndex==22&&question22 ==6){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        else if(slideIndex==23&&question23 == 5){  
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks"; 
            correct+=2;
  } 
//        //16b question
        else if(slideIndex==24&&question24 == 15){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=2;
  } 
    //3 question
        else if(slideIndex==25&&question25 == 15){    
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
//4a 27 marks to here
        else if(slideIndex==26&&question26 == 75){
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }  
//4b question 
        else if(slideIndex==27&&question27 == 18){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  } 
 //5 question
        else if(slideIndex==28&&question28 =='Thursday'||slideIndex==28&&question28 =='thursday'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks";
            correct+=1;
  } 
//6a question
        else if(slideIndex==29&&question29 ==9){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//6b question
        else if(slideIndex==30&&question30 == 40){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
////7 question
        else if(slideIndex==31&&question31=='1/4'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks"; 
            correct++;
  } 
 //8 question 
        else if(slideIndex==32&&question32 == '0.25'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks"; 
            correct++;
  } 
//9a question 
        else if(slideIndex==33&&question33 == '5/8'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//9b question
        else if(slideIndex==34&&question34 == '13/20'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks"; 
            correct++;
  } 
//9c question
        else if(slideIndex==35&&question35 == '13/27'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  } 
//10 question
        else if(slideIndex==36&&question36 == '2/9'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
        //**********
        //Section C
        //***********
//1a question
        else if(slideIndex==37&&question37 == 96){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }  
//question 8 axels cogs
        else if(slideIndex==38&&question38 == 10){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=1;
  } 
        //1c question
        else if(slideIndex==39&&question39 == 13){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //1d question
        else if(slideIndex==40&&question40 == 55){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
    //1e question
        else if(slideIndex==41&&question41 == 125){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
//1f question
        else if(slideIndex==42&&question42 == '8:55'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//2a(i) question 
        else if(slideIndex==43&&question43 == 'Merlin'&&question56==750){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 mark"; 
            correct+=2;
  } 
//2a(ii) question 
        else if(slideIndex==44&&question44 == 25&& question55==36 ){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//2a(iii) question
        else if(slideIndex==45&&question45 == 121){       
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=1;
  }  
          else if(slideIndex==46&&question46 == 5){       
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=1;
  }  
          else if(slideIndex==47&&question47 == 7){       
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=1;
  }  
          else if(slideIndex==48&&question48 == 77){       
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=1;
  }  
          else if(slideIndex==49&&question49 == 7.7){       
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=1;
  }  
          else if(slideIndex==50&&question50 == 7){       
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=1;
  }  
         else if(slideIndex==51&&question51 == 36){       
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=1;
  }  
        else if(slideIndex==52&&question52 == 144){       
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  }  
    
        if(correct>0){
            document.getElementById("badge").textContent= "Total questions correct: " + correct + " / 58";  
            document.getElementById("points").textContent= "Percentage = " + Math.round(correct/58*100) + "%";
           
        }
       });
       
    $("input").attr("maxlength", 20)
</script>


<% include ../partials/footer %>
            
      
    
