<% include ../partials/header %>

<div class="col-lg-11 ms-paper-content-container"style="text-align: center">
    <div class="ms-paper-content" style="display:inline-block">
        <div class="alert alert-light alert-info">  
             <p class="q"> St George's Weybridge
</p><p>Total Marks 47. Time 45 minutes</p>
            <p> </p>
        </div>
    </div>
</div>
<div style="text-align: center">
    <div class="card card-royal col-md-6" style="display:inline-block" > 
<!--        First question-->
<div class="mySlides">
    <div class="card-header">
        <h3 id="header" class="card-title">1a.</h3>
    </div>
  <div class="card-body"> 
   <form name="quiz1">
       
       <p class="q">Calculate: </p>
       <p class="q">423 + 237  </p>
       <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>  
    </form>
  </div>  
</div>
<!--     2nd question                -->
<div class="mySlides">
    <div class="card-header">
        <h3 class="card-title">1b.</h3>
    </div>
<div class="card-body"> 
    <form  name="quiz2">
        <p class="q">Calculate:</p>
       <p class="q">354 - 97 = </p>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
      </form>
    </div>
</div>
<!--   3rd question       -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">1c.</h3></div>      <div class="card-body"> 
    <form  name="quiz3">
         <p class="q">Calculate: </p>
       <p class="q">67 x 73 =  </p>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--4th question        -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">1d.</h3></div>      <div class="card-body"> 
    <form  name="quiz4">
     <p class="q">Calculate: </p>
       <p class="q">4122 &#247; 6</p>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--    5th question    -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">2.</h3></div>      <div class="card-body"> 
    <form  name="quiz5">
             <p class="q">Add twelve thousand and sixty seven and nine thousand one hundred and four. Give your answer in words. </p>
 <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
        
    </form>
    </div>
</div>
<!--   6a question     -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">3a.</h3></div>      <div class="card-body"> 
    <form  name="quiz6">
             <p class="q">A jumbo jet can take 324 passengers.
How many passengers could be transported by a fleet of 28 jumbo jets?</p>
        <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
      passengers
  </div>
</div>  
    </form>
    </div>
</div>
<!--6b question        -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">3b.</h3></div>      <div class="card-body"> 
    <form  name="quiz7">
             <p class="q">A jumbo jet can take 324 passengers.</p>
       <p class="q">How many passengers could be transported by a fleet of 28 jumbo jets?</p>
       <p class="q">Give your answer to the nearest 100? </p>
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
      passengers
  </div>
</div>
    </form>
    </div>
</div>
<!--    6c question    -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">4a.</h3></div>      <div class="card-body"> 
    <form  name="quiz8">
     <p class="q">Convert 60% to a fraction in its simplest form</p>
         <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--   7 question     -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">4b.</h3></div>      <div class="card-body"> 
    <form  name="quiz9">
<p class="q">Convert 0.12 to a fraction in its simplest form</p>
  <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>   
    </form>
    </div>
</div>
<!--        question 8-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">5.</h3></div>      <div class="card-body"> 
    <form  name="quiz10">
       <p class="q">Arrange the following numbers in order from smallest to largest</p><p class="q">9.7, 9.63, 9.099, 9.199, 9.20001</p>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--        question 9-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">6.</h3></div>      <div class="card-body"> 
    <form  name="quiz11">
        <p class="q">Marie bought seven cinema tickets for £58.10. How much was each ticket?</p>
       
<div class="ui labeled input">
  <div class="ui label">
   £
  </div>
  <input type="text" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 10-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">7a.</h3></div>      <div class="card-body"> 
    <form  name="quiz12">
       <p class="q">Ruth wants to buy three bracelets at £1.29 each and a birthday card for £1.85.</p>
        <p class="q">How much does this cost her altogether?</p>
  <div class="ui labeled input">
  <div class="ui label">
   £
  </div>
  <input type="text" name="question1">
</div>
    </form>
    </div>
</div>
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title"> 7b.</h3></div>      <div class="card-body"> 
    <form  name="quiz13"> 
        <p class="q">Ruth wants to buy three bracelets at £1.29 each and a birthday card for £1.85.</p>
        <p class="q">She only has £3.20. How much does she need to borrow to buy these things?</p>
<div class="ui labeled input">
  <div class="ui label">
   £
  </div>
  <input type="text" name="question1">
</div>      
    </form>
    </div>
</div>
<!--        question 11a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title"> 8.</h3></div>      <div class="card-body"> 
    <form  name="quiz14">
        <p class="q">Write down a prime number between 20 and 30</p>
    
  <div class="ui labeled input">
  <div class="ui label">
   prime number = 
  </div>
  <input type="text" name="question1">
</div>    
    </form>
    </div>
</div>
<!--        question 12-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">8b.</h3></div>      <div class="card-body"> 
    <form  name="quiz15">
     
        <p class="q">A squared number between 30 and 40</p>
  <div class="ui labeled input">
  <div class="ui label">
   square number = 
  </div>
  <input type="text" name="question1">
</div>
        
    </form>
    </div>
</div> 
        <!--        question 13-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">8c.</h3></div>      <div class="card-body"> 
    <form  name="quiz16">
       
        <p class="q">Write down a multiple of 17 between 50 and 60</p>
<div class="ui labeled input">
  <div class="ui label">
   square number = 
  </div>
  <input type="text" name="question1">
</div>    
    </form>
    </div>
</div>
<!--        question 14-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">9.</h3></div>      <div class="card-body"> 
    <form  name="quiz17">
        <img src="img/weybridge/weybridge9A.png" alt="" class="img-fluid">
        <p class="q">Write down the coordinates of point A</p>
 <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>    
    </form>
    </div>
</div>
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">9b.</h3></div>      <div class="card-body"> 
    <form  name="quiz18">
        <img src="img/weybridge/weybridge9A.png" alt="" class="img-fluid">
    <p class="q">Points B and C are plotted at  B (2, 4) and C (6, 5). What type of triangle is made?</p>
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    triangle
  </div>
</div>
    </form>
    </div>
</div>
        <!--        question 15-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">9c.</h3></div>      <div class="card-body"> 
    <form  name="quiz19">
        <img src="img/weybridge/weybridge9A.png" alt="" class="img-fluid">
        <p class="q">What is the area of the triangle made?</p>
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    cm&#178;
  </div>
</div>
    </form>
    </div>
</div>
         <!--        question 16-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">10.</h3></div>      <div class="card-body"> 
    <form  name="quiz20">
         
         <p class="q">Write down the next two numbers in the following sequence: </p>
        <p class="q">8, 4, 2, 1, ____ , ____</p>
 <div class="ui  input focus">
  <input type="text" placeholder="first number" name="question1">
</div>
        <div class="ui  input focus">
  <input type="text" placeholder="second number" name="question2">
</div>
    </form>
    </div>
</div>
          <!--        question 17-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">11a.</h3></div>      <div class="card-body"> 
    <form  name="quiz21"> 
           <p class="q">Eleanor is taking part in a triathlon. This starts with a swimming stage followed
by a cycling stage and finishes with a running stage.</p>
        <p class="q">She starts the swimming stage at 12:45 pm. If she takes 79 minutes to complete this stage, at what time does she start the cycling stage</p>
 <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
                  <!--        question 18-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">11b.</h3></div>      <div class="card-body"> 
    <form  name="quiz22">
        
        <p class="q">Eleanor is taking part in a triathlon. This starts with a swimming stage followed
by a cycling stage and finishes with a running stage.</p>
        <p class="q">If she starts the running stage at 4:38 pm work out how long she took in minutes on the cycling stage.</p>
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    minutes
  </div>
</div>
    </form>
    </div>
</div>
<!--        question 19-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">11c.</h3></div>      <div class="card-body"> 
    <form  name="quiz23"> 
        <p class="q">Eleanor is taking part in a triathlon. This starts with a swimming stage followed
by a cycling stage and finishes with a running stage.</p>
<p class="q">If she took 107 minutes on the running stage work out how long she took to complete the whole triathlon. Give your answer in hours and minutes.</p>
    
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    hours
  </div>
</div>
        <div class="ui right labeled input">
  <input type="text" placeholder="" name="question2">
  <div class="ui basic label">
   minutes
  </div>
</div>
    </form>
    </div>
</div>
<!--        question 20-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">12.</h3></div>      <div class="card-body"> 
    <form  name="quiz24"> 
        <p class="q">In a box of sweets there are 7 toffees for every 12 chocolates. If there are 72 chocolates how many toffees are there?</p>
        
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
 toffees
  </div>
</div>
    </form>
    </div>
</div>
<!--       Section B question 1-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">13.</h3></div>      <div class="card-body"> 
    <form  name="quiz25">
           <p class="q">David is 15 stone 11. Andrew is 275 pounds. If there are 14 pounds in 1 stone what is the difference between their weights? Give your answer in pounds.</p>
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    pounds
  </div>
</div>
    </form>
    </div>
</div>
<!--        Section B question 2-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">14.</h3></div>      <div class="card-body"> 
    <form  name="quiz26">
        <p class="q">Jennifer is assembling a wardrobe. The measurements for the 3 sections are given in different units. The first section is 30cm wide; the second section is 1.5m wide and the third section 150mm wide. How wide is the whole wardrobe? Give your answer in cm.</p>    
        
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    cm
  </div>
</div>
    </form>
    </div>
</div>
        <!--  Section B question 3--->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">15.</h3></div>      <div class="card-body"> 
    <form  name="quiz27">
        
     <p class="q">Kevin gets paid £500 for each match he plays plus £100 for each goal he scores. In a season he plays 20 games and averages two goals per game. How much does he earn over the season?</p>
<div class="ui labeled input">
  <div class="ui label">
   £
  </div>
  <input type="text" name="question1">
</div> 
    </form>
    </div>
</div>
<!--       Section B question 4a--->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">16.</h3></div>      <div class="card-body"> 
    <form  name="quiz28">
            <p class="q"> Helen spends half her money on a dress. She then spends one-third of what is left on shoes.</p> 
        <p class="q">If she started with £120 how much does she have left?</p>
       <div class="ui labeled input">
  <div class="ui label">
   £
  </div>
  <input type="text" name="question1">
</div> 
    </form>
    </div>
</div>
<!--        Section B question 4b--->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">16b.</h3></div>      <div class="card-body"> 
    <form  name="quiz29">
            <p class="q"> Helen spends half her money on a dress. She then spends one-third of what is left on shoes.</p> 
        <p class="q">What is this as a fraction of what she started with?</p>
         
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        SECTION B 5-->

<div class="mySlides">
    <div class="card-header"><h3 class="card-title">17a.</h3></div>      <div class="card-body"> 
    <form  name="quiz30">
        <p class="q">The base of Sarah’s fish tank is 60cm long and 20 cm wide.</p>
        <p class="q">What is the area of the base?</p>   
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    cm&#178;
  </div>
</div>
    </form>
    </div>
</div>
<!--        Section B 6a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">17b.</h3></div>      <div class="card-body"> 
    <form  name="quiz31">
         <p class="q">The base of Sarah’s fish tank is 60cm long and 20 cm wide.</p>
        <p class="q">If the height of the fish tank is 30 cm what is the maximum volume of
water it could hold?</p>
  <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        Section B 6b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">17c.</h3></div>      <div class="card-body"> 
    <form  name="quiz32"> <p class="q">The base of Sarah’s fish tank is 60cm long and 20 cm wide.</p>
        <p class="q">Sarah only has 24 litres of water. How deep can she fill the tank? (Each litre of water occupies 1000cm3)</p>
      <div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    cm
  </div>
</div>
    </form>
    </div>
</div>
<!--   Section B 7-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">18a.</h3></div>      <div class="card-body"> 
    <form  name="quiz33">
       
        <p class="q">Calculate the following and simplify your answer where possible.</p>
         <img src="img/weybridge/weybridge18a.png" alt="" class="img-fluid">
        <br>
  <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        Section B 8-->
<div class="mySlides">
 <div class="card-header"><h3 class="card-title">18b.</h3></div>      <div class="card-body"> 
    <form  name="quiz34">
        
        <p class="q">Calculate the following and simplify your answer where possible.</p>
        <img src="img/weybridge/weybridge18c.png" alt="" class="img-fluid"><br>

 <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>    
    </form>
    </div>
</div>

<!--    Section C 4a(ii)-->
        <!--   Section B 9b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">18c.</h3></div>      <div class="card-body"> 
    <form  name="quiz35">
          <p class="q">Calculate the following and simplify your answer where possible.</p>
        <img src="img/weybridge/weybridge18c.png" alt="" class="img-fluid"><br>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--     Section B 9c-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">19.</h3></div>      <div class="card-body"> 
    <form  name="quiz36">
         <img src="img/weybridge/weybridge19A.png" alt="" class="img-fluid">
          <p class="q">The pie chart shows the proportions of different colours of cars in a school carpark. There were 36 black cars. How many blue cars were there? </p>
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    blue cars
  </div>
</div>
    </form>
    </div>
</div>
               <!--   Section B 10-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">20.</h3></div>      <div class="card-body"> 
    <form  name="quiz37"><p class="q">Verity thinks of a number. She multiplies it by 7 then adds 8.
If the resulting number is 71 what number did she think of in the first
place?</p>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>     
    </form>
    </div>
</div>
        <!--        Section C 1a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">21.</h3></div>      <div class="card-body"> 
   <form  name="quiz38">
        <p class="q">Multiply 6.4 by 2.7</p>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">22.</h3></div>      <div class="card-body"> 
    <form  name="quiz39">
        <p class="q">A triangle has area 24cm2 . It’s height is 6cm. What is its height?</p>
 <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    cm
  </div>
</div>       
    </form>
    </div>
</div>
        <!--    Section C 1b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">23a.</h3></div>      <div class="card-body"> 
    <form  name="quiz40">
         <img src="img/weybridge/weybridge23A.png" alt="" class="img-fluid">
        <p class="q">Geraldo’s rectangular garden has 4 equally sized triangular-shaped flower beds. The remaining area, shown in grey in the picture below, is covered in grass. </p>
        <p class="q">What is the area of one flower-bed?</p><br>
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    cm&#178;
  </div>
</div>
    </form>
    </div>
</div>
        <!--   Section C 1c-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">23b.</h3></div>      <div class="card-body"> 
    <form  name="quiz41">
            <img src="img/weybridge/weybridge23A.png" alt="" class="img-fluid"><br>
        <p class="q">Geraldo’s rectangular garden has 4 equally sized triangular-shaped flower beds. The remaining area, shown in grey in the picture below, is covered in grass. </p>
        <p class="q">What is the area of the whole garden?</p>
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    cm&#178;
  </div>
</div>
    </form>
    </div>
</div>
        <!--       Section C 1d-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">23c.</h3></div>      <div class="card-body"> 
    <form  name="quiz42">
        <img src="img/weybridge/weybridge23A.png" alt="" class="img-fluid"><br>
        <p class="q">Geraldo’s rectangular garden has 4 equally sized triangular-shaped flower beds. The remaining area, shown in grey in the picture below, is covered in grass. </p>
        <p class="q">What is the area of the grass?</p>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--   Section C 1e-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">24.</h3></div>      <div class="card-body"> 
    <form  name="quiz43">
      <p class="q">The mean of three positive whole numbers is 6. The mode is 5. Find the three numbers.</p> 
<div class="ui labeled input">
  <div class="ui label">
    1st number = 
  </div>
  <input type="text" name="question1">
</div>   
<div class="ui labeled input">
  <div class="ui label">
    2nd number = 
  </div>
  <input type="text" name="question2">
</div>   
        <div class="ui labeled input">
  <div class="ui label">
    3rd number = 
  </div>
  <input type="text" name="question3">
</div>
    </form>
    </div>
</div>
 
<!--        buttons-->
<div class="container" >
    <div class="row" style="margin: 0 auto">
        <button type="button" id="button1" class="btn btn-success btn-raised"> Check </button>
        <button type="button" id="next1" class="btn btn-primary btn-raised"onclick="plusSlides(1)"> Next </button>
        <button type="button" id="button" class="btn btn-danger btn-raised" data-toggle="modal" data-target="#myModal4"> Total Score </button>     
    </div>
</div>
        
<div class="container" >
    <div class="row" style="margin: 0 auto">
        <span id="tick" class="ms-icon ms-icon-lg ms-icon-circle color-success">
            <i class="fa fa-check"></i>
        </span>
        <span id="wrong" class="ms-icon ms-icon-lg ms-icon-circle color-danger">
            <i class="fa fa-remove"></i>
        </span>    
    </div>
</div>
        
        
<div id="msg"></div>
<div class="dot-container">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span> 
  <span class="dot" onclick="currentSlide(5)"></span> 
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span> 
  <span class="dot" onclick="currentSlide(8)"></span> 
  <span class="dot" onclick="currentSlide(9)"></span>
    <span class="dot" onclick="currentSlide(10)"></span> 
     <span class="dot" onclick="currentSlide(11)"></span> 
  <span class="dot" onclick="currentSlide(12)"></span> 
  <span class="dot" onclick="currentSlide(13)"></span>
  <span class="dot" onclick="currentSlide(14)"></span> 
  <span class="dot" onclick="currentSlide(15)"></span> 
  <span class="dot" onclick="currentSlide(16)"></span>
  <span class="dot" onclick="currentSlide(17)"></span> 
  <span class="dot" onclick="currentSlide(18)"></span> 
  <span class="dot" onclick="currentSlide(19)"></span>
    <span class="dot" onclick="currentSlide(20)"></span>
    <span class="dot" onclick="currentSlide(21)"></span> 
  <span class="dot" onclick="currentSlide(22)"></span> 
  <span class="dot" onclick="currentSlide(23)"></span>
  <span class="dot" onclick="currentSlide(24)"></span> 
  <span class="dot" onclick="currentSlide(25)"></span> 
  <span class="dot" onclick="currentSlide(26)"></span>
  <span class="dot" onclick="currentSlide(27)"></span> 
  <span class="dot" onclick="currentSlide(28)"></span> 
  <span class="dot" onclick="currentSlide(29)"></span>
    <span class="dot" onclick="currentSlide(30)"></span>
    <span class="dot" onclick="currentSlide(31)"></span> 
     <span class="dot" onclick="currentSlide(32)"></span>
  <span class="dot" onclick="currentSlide(33)"></span>
  <span class="dot" onclick="currentSlide(34)"></span>
      <span class="dot" onclick="currentSlide(35)"></span> 
  <span class="dot" onclick="currentSlide(36)"></span> 
  <span class="dot" onclick="currentSlide(37)"></span>
  <span class="dot" onclick="currentSlide(38)"></span> 
  <span class="dot" onclick="currentSlide(39)"></span> 
  <span class="dot" onclick="currentSlide(40)"></span>
  <span class="dot" onclick="currentSlide(41)"></span> 
  <span class="dot" onclick="currentSlide(42)"></span> 
  <span class="dot" onclick="currentSlide(43)"></span>
  
</div>    
<!-- last 2 divs from top of card-->
     </div>
        </div>
 <div id="example"></div> 
<!-- Modal -->
<div class="modal modal-primary" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel4">  Your results:  </h3>            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="zmdi zmdi-close"></i></span>
                    </button>
            </div>
        <div class="modal-body">
            <div class="alert alert-info alert-light " role="alert"><p id="badge"></p>
            </div>
             
                <div class="alert alert-info alert-light " role="alert"><p id="points"></p>
                </div>
        </div>
            <div class="row">
                
        <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>    
        </div>
      </div>
    </div>
</div>
<script>
    $("#example").load("./config");
     
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);    
    document.getElementById("tick").style.visibility = "hidden";
    document.getElementById("wrong").style.visibility = "hidden";
    document.getElementById("msg").style.visibility = "hidden";

}

function currentSlide(n) {
  showSlides(slideIndex = n);
    document.getElementById("tick").style.visibility = "hidden";
    document.getElementById("wrong").style.visibility = "hidden";
    document.getElementById("msg").style.visibility = "hidden";
  
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
    if(slideIndex==52){
        document.getElementById("next1").style.visibility = "hidden";
    }
}    
    var correct = 0;
   
    $("#button1").click(function(){       
        var question1 = document.quiz1.question1.value;  
        var question2 = document.quiz2.question1.value;
        var question3 = document.quiz3.question1.value;
        var question4 = document.quiz4.question1.value;
        var question5 = document.quiz5.question1.value;
        var question6 = document.quiz6.question1.value;
        var question7 = document.quiz7.question1.value;
        var question8 = document.quiz8.question1.value;
        var question9 = document.quiz9.question1.value;
        var question10 = document.quiz10.question1.value;
        var question11 = document.quiz11.question1.value;
        var question12 = document.quiz12.question1.value;
        var question13 = document.quiz13.question1.value;
        var question14 = document.quiz14.question1.value;
        var question15 = document.quiz15.question1.value;
        var question16 = document.quiz16.question1.value;
        var question17 = document.quiz17.question1.value;
        var question18 = document.quiz18.question1.value;
        var question19 = document.quiz19.question1.value;
        var question20 = document.quiz20.question1.value;
        var question21 = document.quiz21.question1.value;
        var question22 = document.quiz22.question1.value;
        var question23 = document.quiz23.question1.value;
        var question24 = document.quiz24.question1.value;
        var question25 = document.quiz25.question1.value;
        var question26 = document.quiz26.question1.value;
        var question27 = document.quiz27.question1.value;
        var question28 = document.quiz28.question1.value;
        var question29 = document.quiz29.question1.value;
        var question30 = document.quiz30.question1.value;
        var question31 = document.quiz31.question1.value;
        var question32 = document.quiz32.question1.value;
        var question33 = document.quiz33.question1.value;
        var question34 = document.quiz34.question1.value;
        var question35 = document.quiz35.question1.value;
        var question36 = document.quiz36.question1.value;
        var question37 = document.quiz37.question1.value;
        var question38 = document.quiz38.question1.value;
        var question38 = document.quiz38.question1.value;
        var question39 = document.quiz39.question1.value;
        var question40 = document.quiz40.question1.value;
        var question41 = document.quiz41.question1.value;
        var question42 = document.quiz42.question1.value;
        var question43 = document.quiz43.question1.value;
        var question44 = document.quiz20.question2.value;
        var question45 = document.quiz23.question2.value;
        var question46 = document.quiz43.question2.value;
        var question47 = document.quiz43.question3.value;
        
//        
        //2 question
       if(slideIndex==2&&question2 == 257){
             
        document.getElementById("tick").style.visibility = "visible";
           document.getElementById("msg").style.visibility = "visible";
           document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
           //3 question
  } else if(slideIndex==3&&question3 == 4891||slideIndex==3&&question3 == '4,891'){
             
        document.getElementById("tick").style.visibility = "visible";
      document.getElementById("msg").style.visibility = "visible";
      document.getElementById("msg").textContent= " Correct! 1 mark";
      correct+=1;
  }
        //1 question
         else if(slideIndex==1&&question1 == 660){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //4 question 
        else if(slideIndex==4&&question4 == 687){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=1;
  } 
//        //5 question 
        else if(slideIndex==5&&question5 == '2,500,000'||slideIndex==5&&question5 == 21171){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //6a question
        else if(slideIndex==6&&question6 ==9072){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //6b question 51
        else if(slideIndex==7&&question7 == 9100){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//    //6c question
        else if(slideIndex==8&&question8 =='3/5'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks"; 
            correct++;
  }     
//        //7 question
        else if(slideIndex==9&&question9 == '3/25'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //8 question 
        else if(slideIndex==10&&question10 == '9.099, 9.199, 9.20001, 9.63, 9.7'||slideIndex==10&&question10 == '9.099,9.199,9.20001,9.63,9.7'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks"; 
            correct++;
  } 
        //9 question 
        else if(slideIndex==11&&question11 ==8.30){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks"; 
            correct++;
  } 
//        //10 question
        else if(slideIndex==12&&question12 ==5.72){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
  //       question 11a
        else if(slideIndex==13&&question13 ==2.52){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//    //12 question
        else if(slideIndex==14&&question14 == 23||slideIndex==14&&question14 == 29){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
        //13 question
        else if(slideIndex==15&&question15 == 36){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  }  
//             //14 question 
        else if(slideIndex==16&&question16 == 51){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  } 
        //15 question
        else if(slideIndex==17&&question17 == '(2,6)'||slideIndex==17&&question17 == '(2 , 6)'||slideIndex==17&&question17 == '2,6'||slideIndex==17&&question17 == '2, 6'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //16 question
        else if(slideIndex==18&&question18 == 'isosceles'||slideIndex==18&&question18 == 'Isosceles'){
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  } 
//    //17 question
        else if(slideIndex==19&&question19 == 4){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  }     
//        //18 question
        else if(slideIndex==20&&question20 == 0.5&&question44==0.25){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks";
            correct+=2;
  } 
//        //19 question 22
        else if(slideIndex==21&&question21=='14:04'||slideIndex==21&&question21 =='2:04pm'||slideIndex==21&&question21 =='14.04'||slideIndex==21&&question21 =='2.04pm'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //20 question 
        else if(slideIndex==22&&question22 ==154){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        else if(slideIndex==23&&question23 == 5&&question45==40){  
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  } 
//        //16b question
        else if(slideIndex==24&&question24 == 42){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
    //3 question
        else if(slideIndex==25&&question25 == 54){    
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
//4a 27 marks to here
        else if(slideIndex==26&&question26 == 195){
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }  
//4b question 
        else if(slideIndex==27&&question27 == 14000||slideIndex==27&&question27 == '14,000'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  } 
 //5 question
        else if(slideIndex==28&&question28 ==40){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks";
            correct+=1;
  } 
//6a question
        else if(slideIndex==29&&question29 =='1/3'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//6b question
        else if(slideIndex==30&&question30 == 1200||slideIndex==30&&question30 == '1,200'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
////7 question
        else if(slideIndex==31&&question31=='36000'||slideIndex==31&&question31=='36,000'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks"; 
            correct++;
  } 
 //8 question 
        else if(slideIndex==32&&question32 == '20'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks"; 
            correct++;
  } 
//9a question 
        else if(slideIndex==33&&question33 == '10/21'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//9b question
        else if(slideIndex==34&&question34 == '6 3/20'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks"; 
            correct++;
  } 
//9c question
        else if(slideIndex==35&&question35 == '1 6/15'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
  } 
//10 question
        else if(slideIndex==36&&question36 == 48){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
//        //**********
//        //Section C
//        //***********
//1a question
        else if(slideIndex==37&&question37 == 9){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }  
//question 8 axels cogs
        else if(slideIndex==38&&question38 == 17.28){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=1;
  } 
        //1c question
        else if(slideIndex==39&&question39 == 8){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //1d question
        else if(slideIndex==40&&question40 == 9){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
    //1e question
        else if(slideIndex==41&&question41 == 240){
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
//1f question
        else if(slideIndex==42&&question42 == 204){         
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//2a(i) question 
        else if(slideIndex==43&&question43 ==5&&question46==5&&question47==8||slideIndex==43&&question43 ==5&&question46==8&&question47==5||slideIndex==43&&question43 ==8&&question46==5&&question47==5){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 3 marks"; 
            correct+=3;
  } 
        else {
      document.getElementById("wrong").style.visibility = "visible";
            document.getElementById("msg").style.visibility = "visible";
    document.getElementById("msg").textContent= " Not Yet. Try again."; 
  } 
        if(correct>0){
            document.getElementById("badge").textContent= "Total questions correct: " + correct + " / 47";  
            document.getElementById("points").textContent= "Percentage = " + Math.round(correct/47*100) + "%"; 
        }
       }); 
    $("input").attr("maxlength", 20)
</script>


<% include ../partials/footer %>
            
      
    
