<% include ../partials/headerfront %>
 
<div class="col-lg-11 ms-paper-content-container"style="text-align: center">
    <div class="ms-paper-content" style="display:inline-block">
        <div class="alert alert-light alert-info">  
             <p class="q"> St. Paul's Girls Paper A 11+ Maths</p>
            <p>SECTION A: 20 questions. SECTION B: 10 questions. SECTION C: 5 questions. Total time: 1 hour 15 minutes. Total marks 77: 
</p>
        </div>
    </div>
</div>
<div style="text-align: center">
    <div class="card card-royal col-md-6" style="display:inline-block" > 
<!--        First question-->
<div class="mySlides">
    <div class="card-header">
        <h3 id="header" class="card-title">Section A 1.</h3>
    </div>
  <div class="card-body"> 
   <form name="quiz1">
       <p class="q">Calculate </p>
       <p class="q">15.05 – 14.84</p>
       <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
  
</div>
    </form>
  </div>  
</div>
<!--     2nd question                -->
<div class="mySlides">
    <div class="card-header">
        <h3 class="card-title">2.</h3>
    </div>
    <div class="card-body"> 
      <form  name="quiz2">
          <p class="q">Calculate </p>
          <p class="q">31.6 × 7</p>
          <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
  
</div>
      </form>
    </div>
</div>
<!--   3rd question       -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">3.</h3></div>      <div class="card-body"> 
    <form  name="quiz3">
        <p class="q">Calculate </p>
        <p class="q"> 60% of 765</p>
          <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--4th question        -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">4.</h3></div>      <div class="card-body"> 
    <form  name="quiz4">
       <p class="q">85 people go to the school concert. They pay £1.30 each. How much money is collected?</p>
      <div class="ui labeled input">
  <div class="ui label">
    £
  </div>
  <input type="text" name="question1">
</div>
    </form>
    </div>
</div>
<!--    5th question    -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">5.</h3></div>      <div class="card-body"> 
    <form  name="quiz5">
        <p class="q">Calculate</p>
        <p class="q"> 2.4 x (3.7 + 1.3)&#247;2</p><br>
         <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--   6a question     -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">6a.</h3></div>      <div class="card-body"> 
    <form  name="quiz6">
        <p class="q">Fill in the missing number</p>
        <p class="q">&#189; of 20 = &#188; of ?</p>
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--6b question        -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">6b.</h3></div>      <div class="card-body"> 
    <form  name="quiz7">
        <p class="q">Fill in the missing number</p>
     <p class="q">&#190; of 100 = &#189; of ?</p><br>
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--    6c question    -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">6c.</h3></div>      <div class="card-body"> 
    <form  name="quiz8">
        <p class="q">Find the missing number</p>
        <p class="q">&#8531; of 60 = &#8532; of ?</p><br>
         <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--   7 question     -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">7.</h3></div>      <div class="card-body"> 
    <form  name="quiz9">
        <p class="q">Write in the missing number to make this correct:
 </p><br>
        <p class="q">0.627 = 0.6 + 0.02 + ?</p>
       
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 8-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">8.</h3></div>      <div class="card-body"> 
    <form  name="quiz10">
        <p class="q">Which number is closest to 0.1</p>
        <p class="q">0.01 , 0.08 , 0.13 , 0.2 , 0.9</p>
       
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--        question 9-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">9.</h3></div>      <div class="card-body"> 
    <form  name="quiz11">
        <p class="q">From these 4 numbers cards:</p>
        <img src="img/stpaulA/stpaulA9.png" alt="" class="img-fluid">
         
         <p class="q">How many different 3 digit numbers can you make?</p>
       
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 10-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">10.</h3></div>      <div class="card-body"> 
    <form  name="quiz12">
        <p class="q">Write down three prime numbers which multiply to make 231:</p>
       
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question2">
</div>
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question3">
</div>
    </form>
    </div>
</div>
<!--        question 11a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title"> 11a.</h3></div>      <div class="card-body"> 
    <form  name="quiz13">
        <p class="q">2, __ , __ , __ , 18 </p>
        <p class="q">Halid makes a sequence of 5 numbers. The first number is 2. The last number is 18. His rule is to add the same amount each time.
Write in the 3 missing numbers in between:</p>

       
        <div class="ui  input focus">
  <input type="text" placeholder="1st missing number" name="question1">
</div>
        <div class="ui  input focus">
  <input type="text" placeholder="2nd missing number" name="question2">
</div>
        <div class="ui  input focus">
  <input type="text" placeholder="3rd missing number" name="question3">
</div>  
    </form>
    </div>
</div>
<!--        question 12-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">12.</h3></div>      <div class="card-body"> 
    <form  name="quiz14">
        <p class="q">In this sequence each number is double the previous number.
Write in the missing numbers:</p>
        <p class="q">__ , __ , 3 , 6, 12 , 24 , 48, __ </p>
       
        <div class="ui  input focus">
  <input type="text" placeholder="1st missing number" name="question1">
</div>
         <div class="ui  input focus">
  <input type="text" placeholder="2nd missing number" name="question2">
</div>
         <div class="ui  input focus">
  <input type="text" placeholder="last missing number" name="question3">
</div>
    </form>
    </div>
</div> 
        <!--        question 13-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">13.</h3></div>      <div class="card-body"> 
    <form  name="quiz15">
        <p class="q">Alysha and Julia have some biscuits. Altogether they have 14 biscuits. Alysha has 2 more biscuits than Julia.
How many biscuits do Alysha and Julia each have?</p>
       
    <div class="ui labeled input">
  <div class="ui label">
    Julia
  </div>
  <input type="text" name="question1">
</div>
         <div class="ui labeled input">
  <div class="ui label">
    Alysha
  </div>
  <input type="text" name="question2">
</div>
    </form>
    </div>
</div>
<!--        question 14-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">14.</h3></div>      <div class="card-body"> 
    <form  name="quiz16">
        <p class="q">Jemma thinks of a number. She says,
“Add 3 to my number and then multiply the result by 5. The answer is 35.” What is Jemma's number?</p>
       
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--        question 15-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">15.</h3></div>      <div class="card-body"> 
    <form  name="quiz17">
        
        <p class="q">A box contains 220 matches and weighs 45 grams. The empty box weighs 12 grams.
Calculate the weight of one match.
</p>
       
     <div class="ui right labeled input">
  <input type="text" placeholder="Enter weight as a fraction.." name="question1">
  <div class="ui basic label">
    g
  </div>
</div>
    </form>
    </div>
</div>
         <!--        question 16-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">16.</h3></div>      <div class="card-body"> 
    <form  name="quiz18">
        
        <p class="q">Sapna makes a fruit salad using bananas, oranges and apples. For every one banana, she uses 2 oranges and 3 apples. Sapna uses 24 fruits.
How many oranges does she use?
</p> 
      <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    oranges
  </div>
</div>
    </form>
    </div>
</div>
          <!--        question 17-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">17.</h3></div>      <div class="card-body"> 
    <form  name="quiz19"> 
        <p class="q">In a country dance there are 3 boys and 2 girls in every line. 42 boys take part in the dance. How many girls take part?</p>     
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    girls
  </div>
</div>
    </form>
    </div>
</div>
                  <!--        question 18-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">18.</h3></div>      <div class="card-body"> 
    <form  name="quiz20">
        <img src="img/stpaulA/stpaulA18.png" alt="" class="img-fluid">
        <p class="q">The diagram shows a shaded triangle inside a larger triangle:
The area of the shaded triangle is 52 cm&#178;.
The area of the shaded triangle is 4/9 of the area of the larger triangle.
  Calculate the area of the larger triangle.</p>     
<div class="ui right labeled input">
  <input type="text" placeholder="Enter area" name="question1">
  <div class="ui basic label">
    cm&#178;
  </div>
</div>
    </form>
    </div>
</div>
<!--        question 19-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">19.</h3></div>      <div class="card-body"> 
    <form  name="quiz21">
        <p class="q">Here is an example of a 2 digit number being multiplied by itself to give a 3 digit answer.</p>
        <img src="img/stpaulA/stpaulA19.png" alt="" class="img-fluid">
        <p class="q">Find the smallest 2-digit number that can be multiplied by itself to give a 4-digit answer</p>     
<div class="ui  input focus">
  <input type="text" placeholder="2 digit number" name="question1">
</div>
    </form>
    </div>
</div>
<!--        question 20-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">20.</h3></div>      <div class="card-body"> 
    <form  name="quiz22">
        <p class="q">323 x &#9886;7 = 1518&#9886;</p>     
<div class="ui  input focus">
  <input type="text" placeholder="1st missing digit" name="question1">
</div>
        <div class="ui  input focus">
  <input type="text" placeholder="2nd missing digit" name="question2">
</div>
    </form>
    </div>
</div>
<!--       Section B question 1-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">Section B 1.</h3></div>      <div class="card-body"> 
    <form  name="quiz23">
        <p class="q">

</p>    <br>
        <p class="q">In the diagram below, we want to complete the pattern of 3 shaded and 4 unshaded hexagons. Which hexagon do I shade for my final pattern to have exactly 2 lines of symmetry?</p>
        <img src="img/stpaulA/stpaulB1.png" alt="" class="img-fluid">
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        Section B question 2-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">2.</h3></div>      <div class="card-body"> 
    <form  name="quiz24">
      <p class="q">

</p>    <br>
        <p class="q">In the grid below, each letter represents a number. The numbers on the right hand side represent the total of each row, and the numbers at the bottom show the totals of each column. Which numbers should replace each of the letters?</p>
        <img src="img/stpaulA/stpaulB2.png" alt="" class="img-fluid"><br>
<div class="ui labeled input">
  <div class="ui label">
    A = 
  </div>
  <input type="text" placeholder="" name="question1">
</div>
        <div class="ui labeled input">
  <div class="ui label">
    B = 
  </div>
  <input type="text" placeholder="" name="question2">
</div>
        <div class="ui labeled input">
  <div class="ui label">
    C = 
  </div>
  <input type="text" placeholder="" name="question3">
</div>
        <div class="ui labeled input">
  <div class="ui label">
    D = 
  </div>
  <input type="text" placeholder="" name="question4">
</div>
        
        <div class="ui labeled input">
  <div class="ui label">
    X = 
  </div>
  <input type="text" placeholder="" name="question5">
</div>
    <div class="ui labeled input">
  <div class="ui label">
    Y = 
  </div>
  <input type="text" placeholder="" name="question6">
</div>
    </form>
    </div>
</div>
        <!--  Section B question 3--->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">3.</h3></div>      <div class="card-body"> 
    <form  name="quiz25">
        <p class="q">I am thinking of a number that when I multiply it by two and divide the result by four, then multiply the result of that by itself, gives me a number that when I subtract four and divide by ten, gives me six. </p> 
        <p class="q">What is the number that I originally thought of?</p>
        <br>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--       Section B question 4a--->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">4a.</h3></div>      <div class="card-body"> 
    <form  name="quiz26">
       <p class="q">My watch is set to show the correct time at 12 noon on Wednesday.
It gains 4 minutes every 3 hours.
</p> 
        <p class="q">What time does the watch show when the correct time is 12 noon on Friday, assuming the watch has not been reset again?</p>
        <br>
<div class="ui  input focus">
  <input type="text" placeholder="example 15:06" name="question1">
</div>
    </form>
    </div>
</div>
<!--        Section B question 4b--->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">4b.</h3></div>      <div class="card-body"> 
    <form  name="quiz27">
        <p class="q">The watch is reset again to show the correct time at 12 noon on Friday. 
It then gains 4 minutes every 3 hours.
</p> 
        <p class="q">What is the correct time when the watch is showing 19:40 on Friday night?</p>     
<div class="ui  input focus">
  <input type="text" placeholder="example 15:06" name="question1">
</div>
    </form>
    </div>
</div>
<!--        SECTION B 5-->

<div class="mySlides">
    <div class="card-header"><h3 class="card-title">5.</h3></div>      <div class="card-body"> 
    <form  name="quiz28">
        <p class="q">Three apples and a banana cost 32p. Six apples and a banana cost 53p. How much does one banana cost?</p>     
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    pence
  </div>
</div>
    </form>
    </div>
</div>
<!--        Section B 6a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">6a.</h3></div>      <div class="card-body"> 
    <form  name="quiz29">
        <p class="q">The combined age of Alan and Ben is forty three.
The combined age of Alan and Carl is fifty five and the combined age of Ben and Carl is sixty-six.
</p>  
<p class="q">What is the combined age of Alan, Ben and Carl?</p>
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    years old
  </div>
</div>
    </form>
    </div>
</div>
<!--        Section B 6b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">6b.</h3></div>      <div class="card-body"> 
    <form  name="quiz30">
      <p class="q">The combined age of Alan and Ben is forty three.
The combined age of Alan and Carl is fifty five and the combined age of Ben and Carl is sixty-six.
</p>  
<p class="q">How old is Alan?</p>     
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    years old
  </div>
</div>
    </form>
    </div>
</div>
<!--   Section B 7-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">7.</h3></div>      <div class="card-body"> 
    <form  name="quiz31">
        <p class="q">A palindromic number is a number that can be read the same forwards and backwards, e.g. 33 and 797.
How many of such numbers are there between 10 and 1000?</p>     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        Section B 8-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">8a.</h3></div>      <div class="card-body"> 
    <form  name="quiz32">
        <p class="q">After a card game, four gamblers had £234 between them. </p>
        <p class="q">Harry had £20 more than Dana, Charlotte had £53 more than Dana and Sid had £71 more than Dana.</p><br>
        <p class="q">How much did each of them have?</p>
        
<div class="ui labeled input">
  <div class="ui label">
    Dana £
  </div>
  <input type="text" placeholder="" name="question1">
</div>
        <div class="ui labeled input">
  <div class="ui label">
    Harry £
  </div>
  <input type="text" placeholder="" name="question2">
</div>
        <div class="ui labeled input">
  <div class="ui label">
    Charlotte £
  </div>
  <input type="text" placeholder="" name="question3">
</div>
        <div class="ui labeled input">
  <div class="ui label">
    Sid £
  </div>
  <input type="text" placeholder="" name="question4">
</div>
    </form>
    </div>
</div>
<!--        Section B 9a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">9a.</h3></div>      <div class="card-body"> 
    <form  name="quiz33">
          <p class="q">There are 6 fangos in a rango and 15 rangos in a bango.</p><br>
        <p class="q">Alex has 9 rangos and 4 fangos. Barbara has 7 rangos and 3 fangos.
</p>
        <p class="q">How many fangos do they both have in total?</p>  
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
   fangos
  </div>
</div>
    </form>
    </div>
</div>
        <!--   Section B 9b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">9b.</h3></div>      <div class="card-body"> 
    <form  name="quiz34">
          <p class="q">There are 6 fangos in a rango and 15 rangos in a bango.</p><br>
   <p class="q">What fraction of a bango do 12 fangos represent?</p>     
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    bango
  </div>
</div>
    </form>
    </div>
</div>
        <!--     Section B 9c-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">9c.</h3></div>      <div class="card-body"> 
    <form  name="quiz35">
          <p class="q">How many whole bangos are there in 274 fangos?
</p>
        <p class="q">How many fangos are left over?</p> 
<div class="ui labeled input">
  <div class="ui label">
    bangos
  </div>
  <input type="text" placeholder="" name="question1">
</div>
        <div class="ui labeled input">
  <div class="ui label">
    fangos
  </div>
  <input type="text" placeholder="" name="question2">
</div>
        
    </form>
    </div>
</div>
               <!--   Section B 10-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">10.</h3></div>      <div class="card-body"> 
    <form  name="quiz36">
          <p class="q">Four of the five jigsaw pieces shown below fit together to make a square. </p>
        <p class="q">Which one of these diagrams does not fit?</p>
        <img src="img/stpaulA/stpaulB10.png" alt="" class="img-fluid"><br>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--        Section C 1a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">Section C 1a.</h3></div>      <div class="card-body"> 
    <form  name="quiz37">
        <img src="img/stpaulA/stpaulC.png" alt="" class="img-fluid">
        <p class="q">The numbers 1 to 500 are arranged in order in a table:</p>
        <p class="q">Only rows 1, 2, 3 and 4 are shown, but there are many more rows.</p>
        <p class="q">The numbers in row 7 would all be a multiple of what number?</p>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--    Section C 1b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">1b.</h3></div>      <div class="card-body"> 
    <form  name="quiz38">
        <img src="img/stpaulA/stpaulC.png" alt="" class="img-fluid">
        <p class="q">The numbers 1 to 500 are arranged in order in a table:</p>
        <p class="q">Only rows 1, 2, 3 and 4 are shown, but there are many more rows.</p>
        <p class="q">What is the last number in row 8</p>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--   Section C 1c-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">1c.</h3></div>      <div class="card-body"> 
    <form  name="quiz39">
         <img src="img/stpaulA/stpaulC.png" alt="" class="img-fluid">
        <p class="q">The numbers 1 to 500 are arranged in order in a table:</p>
        <p class="q">Only rows 1, 2, 3 and 4 are shown, but there are many more rows.</p>
        <p class="q">What is the last number in row 100?</p>   
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--       Section C 1d-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">1d.</h3></div>      <div class="card-body"> 
    <form  name="quiz40">
          <img src="img/stpaulA/stpaulC.png" alt="" class="img-fluid">
        <p class="q">The numbers 1 to 500 are arranged in order in a table:</p>
        <p class="q">Only rows 1, 2, 3 and 4 are shown, but there are many more rows.</p>
        <p class="q">77 is the last number in which row?</p> 
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--   Section C 1e-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">1e.</h3></div>      <div class="card-body"> 
    <form  name="quiz41">
     <img src="img/stpaulA/stpaulC.png" alt="" class="img-fluid">
        <p class="q">The numbers 1 to 500 are arranged in order in a table:</p>
        <p class="q">Only rows 1, 2, 3 and 4 are shown, but there are many more rows.</p>
        <p class="q">What is the number in row 12 and column 3?</p>     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--  Section C 1f-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">1f.</h3></div>      <div class="card-body"> 
    <form  name="quiz42">
        <img src="img/stpaulA/stpaulC.png" alt="" class="img-fluid">
        <p class="q">The numbers 1 to 500 are arranged in order in a table:</p>
        <p class="q">Only rows 1, 2, 3 and 4 are shown, but there are many more rows.</p>
        <p class="q">What row and column will contain the number 400?</p>   
<div class="ui labeled input">
  <div class="ui label">
    Row
  </div>
  <input type="text" name="question1">
</div>
        <div class="ui labeled input">
  <div class="ui label">
    Column
  </div>
  <input type="text" name="question2">
</div>
    </form>
    </div>
</div>
        <!--   Section C 2a(i)-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">2a(i).</h3></div>      <div class="card-body"> 
    <form  name="quiz43">
       <p class="q">You are told that
N&#x2085; means ‘add up the first 5 counting numbers’, <p class="q">so N&#x2085; = 1+2+3+4+5 = 15</p>
        <p class="q">O&#x2083; means ‘add up the first 3 odd numbers. </p>
        <p class="q">So O&#x2083; = 1+3+5 = 9 </p>
        <p class="q">E&#x2083; means ‘add up the first 4 even numbers’,</p>
        <p class="q">so E&#x2083; = 2+4+6+8 = 20
and so on.</p>
        <p class="q">Work out E&#x2087;</p> 
       
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--  Section C 2a(ii)-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">2a(ii).</h3></div>      <div class="card-body"> 
    <form  name="quiz44">
<p class="q">You are told that
N&#x2085; means ‘add up the first 5 counting numbers’, <p class="q">so N&#x2085; = 1+2+3+4+5 = 15</p>
        <p class="q">O&#x2083; means ‘add up the first 3 odd numbers. </p>
        <p class="q">So O&#x2083; = 1+3+5 = 9 </p>
        <p class="q">E&#x2083; means ‘add up the first 4 even numbers’,</p>
        <p class="q">so E&#x2083; = 2+4+6+8 = 20
and so on.</p>
        <p class="q">Work out N&#x2088;</p>      
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
                <!-- Section C 2a(iii)-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">2a(iii).</h3></div>      <div class="card-body"> 
    <form  name="quiz45">
        <p class="q">You are told that
N&#x2085; means ‘add up the first 5 counting numbers’, <p class="q">so N&#x2085; = 1+2+3+4+5 = 15</p>
        <p class="q">O&#x2083; means ‘add up the first 3 odd numbers. </p>
        <p class="q">So O&#x2083; = 1+3+5 = 9 </p>
        <p class="q">E&#x2083; means ‘add up the first 4 even numbers’,</p>
        <p class="q">so E&#x2083; = 2+4+6+8 = 20
and so on.</p>
        <p class="q">Work out N&#x2089;</p>    
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--       Section C 2b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">2b.</h3></div>      <div class="card-body"> 
    <form  name="quiz46">
        <p class="q">You are told that
N&#x2085; means ‘add up the first 5 counting numbers’, <p class="q">so N&#x2085; = 1+2+3+4+5 = 15</p>
        <p class="q">O&#x2083; means ‘add up the first 3 odd numbers. </p>
        <p class="q">So O&#x2083; = 1+3+5 = 9 </p>
        <p class="q">E&#x2083; means ‘add up the first 4 even numbers’,</p>
        <p class="q">so E&#x2083; = 2+4+6+8 = 20
and so on.</p>
       
        <p class="q">Work out N&#x2084;&#x2080;&#x2081; - N&#x2084;&#x2080;&#x2080;</p> 
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--    Section C 2c-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">2c.</h3></div>      <div class="card-body"> 
    <form  name="quiz47">
        <p class="q">If:</p>
          <p class="q">0&#x2081; = 1 = 1&#178;</p>
        <p class="q">0&#x2082; = 1 + 3 = 4 = 2&#178;</p>
        <p class="q">0&#x2083; = 1 + 3 + 5 = 9 = 3&#178;</p>
        <p class="q">0&#x2087; = 1+3+5+7+9+11+13 = 169 = 13&#178;</p>
        <p class="q">Find the answer to 0&#x2081;&#x2083;</p>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
                <!-- Section C 2d-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">2d.</h3></div>      <div class="card-body"> 
    <form  name="quiz48">
        <p class="q">If:</p>
          <p class="q">N&#x2086; = 1 + 2 + 3 + 4 + 5 + 6 = 0&#x2083; + E&#x2083;</p>
        <p class="q">Then N&#x2081;&#x2080; = E_ + O_ ?</p>  
        <p class="q">Find the missing numbers.</p> 
<div class="ui  input focus">
  <input type="text" placeholder="E ?" name="question1">
</div>
        <div class="ui  input focus">
  <input type="text" placeholder="O ?" name="question2">
</div>
    </form>
    </div>
</div>
<!--   Section C 2e(i)-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">2e(i).</h3></div>      <div class="card-body"> 
    <form  name="quiz49">
        <p class="q">If:</p>
        <p class="q">N&#x2082;&#x2080;&#x2080; = 20100</p>
        <p class="q"> and N&#x2084;&#x2080;&#x2081; = 80601</p>
        <p class="q">Find E&#x2081;&#x2080;&#x2080; = </p> 
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--       Section C 2e(ii)-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">2e(ii).</h3></div>      <div class="card-body"> 
    <form  name="quiz50">
        <p class="q">If:</p>
        <p class="q">N&#x2082;&#x2080;&#x2080; = 20100</p>
        <p class="q"> and N&#x2084;&#x2080;&#x2081; = 80601</p>
        <p class="q">Find E&#x2082;&#x2080;&#x2080; = </p>     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
      <!--      Section C 3a-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">3a.</h3></div>      <div class="card-body"> 
    <form  name="quiz51">
        <img src="img/stpaulA/stpaulC3.png" alt="" class="img-fluid">
        <p class="q">What does S + A + L + T add up to?</p>     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>  
<!--        Section C 3b-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">3b.</h3></div>      <div class="card-body"> 
    <form  name="quiz52">
        <img src="img/stpaulA/stpaulC3.png" alt="" class="img-fluid">
        <p class="q">What does S + P + L + A + T add up to?</p>    
<div class="ui  input focus">
  <input type="text" placeholder="minutes" name="question1">
</div>
    </form>
    </div>
</div> 
        <!--        Section C 4a(i)-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">4a(i)</h3></div>      <div class="card-body"> 
    <form  name="quiz53">
        <p class="q">You are told that the opposite sides of a cube add up to 13. For example, the sum of the faces = 3 + 5 + 9 = 17. </p>
        <img src="img/stpaulA/stpaulC4a.png" alt="" class="img-fluid">
        <p class="q">Find the sum of the faces that border with the marked corner:</p>   
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div> 
<!--    Section C 4a(ii)-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">4a(ii).</h3></div>      <div class="card-body"> 
    <form  name="quiz54">
        <p class="q">You are told that the opposite sides of a cube add up to 13. For example, the sum of the faces = 3 + 5 + 9 = 17. </p>
        <img src="img/stpaulA/stpaulC4b.png" alt="" class="img-fluid">
        <p class="q">Find the sum of the faces that border with the marked corner:</p>       
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--    Section C 4b-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">4b.</h3></div>      <div class="card-body"> 
    <form  name="quiz55">
        <img src="img/stpaulA/stpaulC4c.png" alt="" class="img-fluid">
        <p class="q">The same cube is rolled so a 10 is on top. Fill in the missing sides so that the sum of the faces that border with the marked corner is 27.</p>  
        
<div class="ui  input focus">
  <input type="text" placeholder="side 1" name="question1">
</div>
        <div class="ui  input focus">
  <input type="text" placeholder="side 2" name="question2">
</div>
    </form>
    </div>
</div>
<!--    Section C 4c-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">4c.</h3></div>      <div class="card-body"> 
    <form  name="quiz56">
        <p class="q">The same cube is rolled so an 8 is on top.
Write down the sum of the missing faces that border with the marked corner.
</p>     
        <img src="img/stpaulA/stpaulC4d.png" alt="" class="img-fluid">
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--    Section C 5a-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">5a.</h3></div>      <div class="card-body"> 
    <form  name="quiz57">
        <p class="q">On the island of Mathia the people use patterns instead of numbers like ours. Here are some facts about Mathian numbers:</p> 
        <p class="q">&#8856; + &#8856; = &#9744;</p>
        <p class="q">&#8856; + &#64; = &#9744; + &#8857;</p>
        <p class="q">&#8857; +  &#8864; = &#9744; + &#64;</p>
       
        <p class="q">Calculate:</p>
        <p class='q'> Choose from A. &#8856; B. &#9744; C. &#64; D. &#8857; E. &#8864;</p>
         <img src="img/stpaulA/stpaulC5a.png" alt="" class="img-fluid">
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--    Section C 5b-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">5b.</h3></div>      <div class="card-body"> 
    <form  name="quiz58">
        <p class="q">On the island of Mathia the people use patterns instead of numbers like ours. Here are some facts about Mathian numbers:</p> 
        <p class="q">&#8856; + &#8856; = &#9744;</p>
        <p class="q">&#8856; + &#64; = &#9744; + &#8857;</p>
        <p class="q">&#8857; +  &#8864; = &#9744; + &#64;</p> 
        <p class="q">Calculate:</p>
        <p class='q'> Choose from A. &#8856; B. &#9744; C. &#64; D. &#8857; E. &#8864;</p>
        <img src="img/stpaulA/stpaulC5b.png" alt="" class="img-fluid"> 
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--    Section C 5c-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">5c.</h3></div>      <div class="card-body"> 
    <form  name="quiz59">
        <p class="q">On the island of Mathia the people use patterns instead of numbers like ours. Here are some facts about Mathian numbers:</p> 
        <p class="q">&#8856; + &#8856; = &#9744;</p>
        <p class="q">&#8856; + &#64; = &#9744; + &#8857;</p>
        <p class="q">&#8857; +  &#8864; = &#9744; + &#64;</p> 
  <p class="q">Calculate:</p>
        <p class='q'> Choose from A. &#8856; B. &#9744; C. &#64; D. &#8857; E. &#8864;</p> 
        <img src="img/stpaulA/stpaulC5c.png" alt="" class="img-fluid">   
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
          <p>END OF EXAM 77 marks total</p>
    </form>
    </div>
</div>
<!--        buttons-->
<div class="container" >
    <div class="row" style="margin: 0 auto">
        <button type="button" id="button1" class="btn btn-success btn-raised"> Check </button>
        <button type="button" id="next1" class="btn btn-primary btn-raised"onclick="plusSlides(1)"> Next </button>
        <button type="button" id="button" class="btn btn-danger btn-raised" data-toggle="modal" data-target="#myModal4"> Total Score </button>     
    </div>
</div>
        
<div class="container" >
    <div class="row" style="margin: 0 auto">
        <span id="tick" class="ms-icon ms-icon-lg ms-icon-circle color-success">
            <i class="fa fa-check"></i>
        </span>
        <span id="wrong" class="ms-icon ms-icon-lg ms-icon-circle color-danger">
            <i class="fa fa-remove"></i>
        </span>    
    </div>
</div>
        
        
<div id="msg"></div>
<div class="dot-container">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span> 
  <span class="dot" onclick="currentSlide(5)"></span> 
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span> 
  <span class="dot" onclick="currentSlide(8)"></span> 
  <span class="dot" onclick="currentSlide(9)"></span>
    <span class="dot" onclick="currentSlide(10)"></span> 
     <span class="dot" onclick="currentSlide(11)"></span> 
  <span class="dot" onclick="currentSlide(12)"></span> 
  <span class="dot" onclick="currentSlide(13)"></span>
  <span class="dot" onclick="currentSlide(14)"></span> 
  <span class="dot" onclick="currentSlide(15)"></span> 
  <span class="dot" onclick="currentSlide(16)"></span>
  <span class="dot" onclick="currentSlide(17)"></span> 
  <span class="dot" onclick="currentSlide(18)"></span> 
  <span class="dot" onclick="currentSlide(19)"></span>
    <span class="dot" onclick="currentSlide(20)"></span>
    <span class="dot" onclick="currentSlide(21)"></span> 
  <span class="dot" onclick="currentSlide(22)"></span> 
  <span class="dot" onclick="currentSlide(23)"></span>
  <span class="dot" onclick="currentSlide(24)"></span> 
  <span class="dot" onclick="currentSlide(25)"></span> 
  <span class="dot" onclick="currentSlide(26)"></span>
  <span class="dot" onclick="currentSlide(27)"></span> 
  <span class="dot" onclick="currentSlide(28)"></span> 
  <span class="dot" onclick="currentSlide(29)"></span>
    <span class="dot" onclick="currentSlide(30)"></span>
    <span class="dot" onclick="currentSlide(31)"></span> 
     <span class="dot" onclick="currentSlide(32)"></span>
  <span class="dot" onclick="currentSlide(33)"></span>
  <span class="dot" onclick="currentSlide(34)"></span> 
  <span class="dot" onclick="currentSlide(35)"></span> 
  <span class="dot" onclick="currentSlide(36)"></span>
  <span class="dot" onclick="currentSlide(37)"></span> 
  <span class="dot" onclick="currentSlide(38)"></span> 
  <span class="dot" onclick="currentSlide(39)"></span>
    <span class="dot" onclick="currentSlide(40)"></span>
    <span class="dot" onclick="currentSlide(41)"></span> 
  <span class="dot" onclick="currentSlide(42)"></span> 
  <span class="dot" onclick="currentSlide(43)"></span>
  <span class="dot" onclick="currentSlide(44)"></span> 
  <span class="dot" onclick="currentSlide(45)"></span> 
  <span class="dot" onclick="currentSlide(46)"></span>
  <span class="dot" onclick="currentSlide(47)"></span> 
  <span class="dot" onclick="currentSlide(48)"></span> 
  <span class="dot" onclick="currentSlide(49)"></span>
    <span class="dot" onclick="currentSlide(50)"></span>
  <span class="dot" onclick="currentSlide(51)"></span> 
  <span class="dot" onclick="currentSlide(52)"></span>
    <span class="dot" onclick="currentSlide(53)"></span>
    <span class="dot" onclick="currentSlide(54)"></span>
    <span class="dot" onclick="currentSlide(55)"></span>
  <span class="dot" onclick="currentSlide(56)"></span> 
  <span class="dot" onclick="currentSlide(57)"></span>
    <span class="dot" onclick="currentSlide(58)"></span>
    <span class="dot" onclick="currentSlide(59)"></span>
</div>    
<!-- last 2 divs from top of card-->
     </div>
        </div>
 <div id="example"></div> 
<!-- Modal -->
<div class="modal modal-primary" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel4">  Your results:  </h3>            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="zmdi zmdi-close"></i></span>
                    </button>
            </div>
        <div class="modal-body">
            <div class="alert alert-info alert-light " role="alert"><p id="badge"></p>
            </div>
                <div class="alert alert-info alert-light " role="alert"><p id="points"></p>
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>    
        </div>
      </div>
    </div>
</div>
<script>
    $("#example").load("./config");
     
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);    
    document.getElementById("tick").style.visibility = "hidden";
    document.getElementById("wrong").style.visibility = "hidden";
    document.getElementById("msg").style.visibility = "hidden";

}

function currentSlide(n) {
  showSlides(slideIndex = n);
    document.getElementById("tick").style.visibility = "hidden";
    document.getElementById("wrong").style.visibility = "hidden";
    document.getElementById("msg").style.visibility = "hidden";
  
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
    if(slideIndex==59){
        document.getElementById("next1").style.visibility = "hidden";
    }
}    
    var correct = 0;
   
    $("#button1").click(function(){       
        var question1 = document.quiz1.question1.value;  
        var question2 = document.quiz2.question1.value;
        var question3 = document.quiz3.question1.value;
        var question4 = document.quiz4.question1.value;
        var question5 = document.quiz5.question1.value;
        var question6 = document.quiz6.question1.value;
        var question7 = document.quiz7.question1.value;
        var question8 = document.quiz8.question1.value;
        var question9 = document.quiz9.question1.value;
        var question10 = document.quiz10.question1.value;
        var question11 = document.quiz11.question1.value;
        var question12 = document.quiz12.question1.value;
        var question13 = document.quiz13.question1.value;
        var question14 = document.quiz14.question1.value;
        var question15 = document.quiz15.question1.value;
        var question16 = document.quiz16.question1.value;
        var question17 = document.quiz17.question1.value;
        var question18 = document.quiz18.question1.value;
        var question19 = document.quiz19.question1.value;
        var question20 = document.quiz20.question1.value;
        var question21 = document.quiz21.question1.value;
        var question22 = document.quiz22.question1.value;
        var question23 = document.quiz23.question1.value;
        var question24 = document.quiz24.question1.value;
        var question25 = document.quiz25.question1.value;
        var question26 = document.quiz26.question1.value;
        var question27 = document.quiz27.question1.value;
        var question28 = document.quiz28.question1.value;
        var question29 = document.quiz29.question1.value;
        var question30 = document.quiz30.question1.value;
        var question31 = document.quiz31.question1.value;
        var question32 = document.quiz32.question1.value;
        var question33 = document.quiz33.question1.value;
        var question34 = document.quiz34.question1.value;
        var question35 = document.quiz35.question1.value;
        var question36 = document.quiz36.question1.value;
        var question37 = document.quiz37.question1.value;
        var question38 = document.quiz38.question1.value;
        var question39 = document.quiz39.question1.value;
        var question40 = document.quiz40.question1.value;
        var question41 = document.quiz41.question1.value;
        var question42 = document.quiz42.question1.value;
        var question43 = document.quiz43.question1.value;
        var question44 = document.quiz44.question1.value;
        var question45 = document.quiz45.question1.value;
        var question46 = document.quiz46.question1.value;
        var question47 = document.quiz47.question1.value;
        var question48 = document.quiz48.question1.value;
        var question49 = document.quiz49.question1.value;
        var question50 = document.quiz50.question1.value;
        var question51 = document.quiz51.question1.value;
        var question52 = document.quiz52.question1.value;
        var question53 = document.quiz53.question1.value;
        var question54 = document.quiz54.question1.value;
        var question55 = document.quiz55.question1.value;
        var question56 = document.quiz56.question1.value;
        var question57 = document.quiz57.question1.value;
        var question58 = document.quiz58.question1.value;
        var question59 = document.quiz59.question1.value;
        var question60 = document.quiz12.question2.value;
        var question61 = document.quiz12.question3.value;
        var question62 = document.quiz13.question2.value;
        var question63 = document.quiz13.question3.value;
        var question64 = document.quiz14.question2.value;
        var question65 = document.quiz14.question3.value;
        var question66 = document.quiz15.question2.value;
        var question67 = document.quiz22.question2.value;
        var question68 = document.quiz24.question2.value;
        var question69 = document.quiz24.question3.value;
        var question70 = document.quiz24.question4.value;
        var question71 = document.quiz24.question5.value;
        var question72 = document.quiz24.question6.value;
        var question73 = document.quiz32.question2.value;
        var question74 = document.quiz32.question3.value;
        var question75 = document.quiz32.question4.value;
        var question76 = document.quiz35.question2.value;
        var question77 = document.quiz48.question2.value;
        var question78 = document.quiz55.question2.value;
        var question79 = document.quiz42.question2.value;
        
        
        
       
       
        //2 question
       if(slideIndex==2&&question2 == '221.2'){
             
        document.getElementById("tick").style.visibility = "visible";
           document.getElementById("msg").style.visibility = "visible";
           document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
           //3 question
  } else if(slideIndex==3&&question3 == 459){
             
        document.getElementById("tick").style.visibility = "visible";
      document.getElementById("msg").style.visibility = "visible";
      document.getElementById("msg").textContent= " Correct! 1 mark";
      correct++;
  }
        //1 question
         else if(slideIndex==1&&question1 == '0.21'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //4 question 
        else if(slideIndex==4&&question4 == 110.50){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //5 question 
        else if(slideIndex==5&&question5 == 6){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //6a question
        else if(slideIndex==6&&question6 == 40){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
                correct++;
      } 
            //6b question
            else if(slideIndex==7&&question7 == 150){

            document.getElementById("tick").style.visibility = "visible";
                 document.getElementById("msg").style.visibility = "visible";
                document.getElementById("msg").textContent= " Correct! 1 mark"; 
                correct++;
      } 
        //6c question
            else if(slideIndex==8&&question8 == 30){

            document.getElementById("tick").style.visibility = "visible";
                 document.getElementById("msg").style.visibility = "visible";
                document.getElementById("msg").textContent= " Correct! 1 mark"; 
                correct++;
      }     
            //7 question
            else if(slideIndex==9&&question9 == "0.007"){

            document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //8 question 
        else if(slideIndex==10&&question10 == 0.08){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //9 question 
        else if(slideIndex==11&&question11 == 6){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //10 question
        else if(slideIndex==12&&question12 ==3&&question60==7&&question61==11||slideIndex==12&&question12 ==7&&question60==3&&question61==11||slideIndex==12&&question12 ==11&&question60==7&&question61==3||slideIndex==12&&question12 ==3&&question60==11&&question61==7||slideIndex==12&&question12 ==11&&question60==3&&question61==7){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 3 marks"; 
            correct+=3;
  } 
        // question 11a
        else if(slideIndex==13&&question13 ==6&&question62==10&&question63==14){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 3 marks"; 
            correct+=3;
  } 
    //12 question
        else if(slideIndex==14&&question14 == 0.75&&question64==1.5&&question65==96){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 3 marks"; 
            correct+=3;
  }     
        //13 question
        else if(slideIndex==15&&question15 == 8&&question66==6){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  }  
             //14 question 
        else if(slideIndex==16&&question16 == 4){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //15 question
        else if(slideIndex==17&&question17 == '3/20'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //16 question
        else if(slideIndex==18&&question18 == 8){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
    //17 question
        else if(slideIndex==19&&question19 == 28){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
        //18 question
        else if(slideIndex==20&&question20 == 117){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //19 question 
        else if(slideIndex==21&&question21 == 32){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //20 question 
        else if(slideIndex==22&&question22 ==4 &&question67==1){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //***********
        //SECTION B
        //***********
        //1
        else if(slideIndex==23&&question23 == 'C'||slideIndex==23&&question23 == 'c'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //2 question
        else if(slideIndex==24&&question24 == 8&&question68==6 &&question69==9 &&question70==7&&question71== 29&& question72==30||slideIndex==24&&question24 == 8&&question68==11 &&question69==4 &&question70==7&&question71== 21&& question72==34){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 6 marks"; 
            correct=correct+6;
  } 
    //3 question
        else if(slideIndex==25&&question25 == 16){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
//4a
        else if(slideIndex==26&&question26 == '13:04'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }  
//4b question 
        else if(slideIndex==27&&question27 == '19:30'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
 //5 question
        else if(slideIndex==28&&question28 == 11){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//6a question
        else if(slideIndex==29&&question29 == 82){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//6b question
        else if(slideIndex==30&&question30 == 16){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
//7 question
        else if(slideIndex==31&&question31 == 99){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
 //8 question 
        else if(slideIndex==32&&question32 == 22.50&&question73==42.50&&question74==75.50&&question75==93.50){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 4 marks"; 
            correct+=4;
  } 
//9a question 
        else if(slideIndex==33&&question33 == 103){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//9b question
        else if(slideIndex==34&&question34 == '2/15'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//9c question
        else if(slideIndex==35&&question35 == 3&&question76==4){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  } 
//10 question
        else if(slideIndex==36&&question36 == 'B'||slideIndex==36&&question36 == 'b'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
        //**********
        //Section C
        //***********
//1a question
        else if(slideIndex==37&&question37 == 7){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }  
//1b question 
        else if(slideIndex==38&&question38 == 56){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //1c question
        else if(slideIndex==39&&question39 == 700){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //1d question
        else if(slideIndex==40&&question40 == 11){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
    //1e question
        else if(slideIndex==41&&question41 == 80){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
//1f question
        else if(slideIndex==42&&question42 == 58&&question79==1){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//2a(i) question 
        else if(slideIndex==43&&question43 == 56){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//2a(ii) question 
        else if(slideIndex==44&&question44 == 36){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//2a(iii) question
        else if(slideIndex==45&&question45 == 45){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//2b question
        else if(slideIndex==46&&question46 == 401){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//2c question
        else if(slideIndex==47&&question47 == 169){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
//2d question
        else if(slideIndex==48&&question48 == 5&&question77==5){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!  2 marks"; 
            correct+=2;
  } 
//2e(i) question
        else if(slideIndex==49&&question49 == 10100){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//2e(ii) question
        else if(slideIndex==50&&question50 == 40200){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//3a question
        else if(slideIndex==51&&question51 == 11){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
//3b question
        else if(slideIndex==52&&question52 == 17){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//4a(i) question
        else if(slideIndex==53&&question53 == 19){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
//4a(ii) question
        else if(slideIndex==54&&question54 == 15){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//4b question
        else if(slideIndex==55&&question55 ==9&&question78==8){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  }
//4c question
        else if(slideIndex==56&&question56== 27){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }
//5a question
        else if(slideIndex==57&&question57 == 'A'||slideIndex==57&&question57 == 'a'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }
//5b question
        else if(slideIndex==58&&question58 == 'E'||slideIndex==58&&question58 == 'e'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }
//5c question
        else if(slideIndex==59&&question59 == 'C'||slideIndex==59&&question59 == 'c'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }
        else {
      document.getElementById("wrong").style.visibility = "visible";
            document.getElementById("msg").style.visibility = "visible";
    document.getElementById("msg").textContent= " Not Yet"; 
  } 
    
        if(correct>0){
            document.getElementById("badge").textContent= "Total questions correct: " + correct + " / 77"; 
             document.getElementById("points").textContent= "Percentage = " + Math.round(correct/77*100) + "%";
        }
       });
        
   
$("input").attr("maxlength", 9)
   
</script>


<% include ../partials/footer %>
            
      
    
