<% include ../partials/header %> 
<div class="col-lg-11 ms-paper-content-container"style="text-align: center">
    <div class="ms-paper-content" style="display:inline-block">
        <div class="alert alert-light alert-info">  
             <p class="q"> St Paul's Girls, London 2017 Sample Paper 1 Total marks: 70 Total Time: 1 hour 15 minutes
</p>
        </div>
    </div>
</div>
<div style="text-align: center">
    <div class="card card-royal col-md-6" style="display:inline-block" > 
<!--        First question-->
<div class="mySlides">
    <div class="card-header">
        <h3 id="header" class="card-title">1a.</h3>
    </div>
  <div class="card-body"> 
   <form name="quiz1">
       <p class="q">Find the missing number </p>
       <p class="q">6 x 8 = 4 x ___ </p>
       <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
  
</div>
    </form>
  </div>  
</div>
<!--     2nd question                -->
<div class="mySlides">
    <div class="card-header">
        <h3 class="card-title">1b.</h3>
    </div>
    <div class="card-body"> 
      <form  name="quiz2">
          <p class="q">Find the missing number </p>
          <p class="q">12 x 75 = 10 x ___ </p>
          <div class="ui  input focus">
  <input type="text" placeholder="" name="question1"> 
</div>
      </form>
    </div>
</div>
<!--   3rd question       -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">2.</h3></div>      <div class="card-body"> 
    <form  name="quiz3">
        <p class="q">Calculate </p>
        <p class="q"> 40% of 75 = </p>
          <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--4th question        -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">3.</h3></div>      <div class="card-body"> 
    <form  name="quiz4">
       <p class="q">(2.3 + 3.7) ÷ 9 </p>
        <p class="q">Leave your answer as a simplified fraction.</p>
   <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--    5th question    -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">4.</h3></div>      <div class="card-body"> 
    <form  name="quiz5">
        <p class="q">Write the following in order of size (smallest first   )</p>
        <p class="q"> 4.321, 4.32, 4.132, 4.3, 4.123 </p><br>
 <div class="ui  input focus">
  <input type="text" placeholder="smallest" name="question1">
</div>
         <div class="ui  input focus">
  <input type="text" placeholder="2nd" name="question2">
</div>
     <div class="ui  input focus">
  <input type="text" placeholder="3rd" name="question3">
</div>
     <div class="ui  input focus">
  <input type="text" placeholder="4th" name="question4">
</div>
         <div class="ui  input focus">
  <input type="text" placeholder="biggest" name="question5">
</div>

    </form>
    </div>
</div>
<!--   6a question     -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">5.</h3></div>      <div class="card-body"> 
    <form  name="quiz6">
        <p class="q">Find the missing numerator and denominator </p>
         <img src="img/stpaulC/stpaulC5.png" alt="" class="img-fluid">
        <div class="ui  input focus">
  <input type="text" placeholder="numerator" name="question1">
</div>
        <div class="ui  input focus">
  <input type="text" placeholder="denominator" name="question2">
</div>
    </form>
    </div>
</div>
<!--6b question        -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">6.</h3></div>      <div class="card-body"> 
    <form  name="quiz7">
        <p class="q">Calculate 391 divided by seventeen </p>
   
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--    6c question    -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">7.</h3></div>      <div class="card-body"> 
    <form  name="quiz8">
        <p class="q">Write a number which fits all three of these statements:

</p>
        <p class="q">It is a multiple of 3. It is a multiple of 7. It ends in a 2</p><br>
         <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--   7 question     -->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">8.</h3></div>      <div class="card-body"> 
    <form  name="quiz9">
        <p class="q">I think of a number n
5n is more than 60, but  n + 5 is less than 20. What are the possible values of n

 </p><br>
        
     <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
        
    </form>
    </div>
</div>
<!--        question 8-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">9.</h3></div>      <div class="card-body"> 
    <form  name="quiz10">
        <p class="q">Sarah won a large jar of sweets in a Christmas raffle. If there are 486 sweets in the jar and she shares them equally with her 17 classmates, how many do they each get?</p>
       <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    sweets
  </div>
</div>
    </form>
    </div>
</div>
        <!--        question 9-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">10.</h3></div>      <div class="card-body"> 
    <form  name="quiz11">
        <p class="q">On 1st December 2008 my grandmother was 80 years old. Her daughter was 40 years old on 1st December 1996. How old was my grandmother when her daughter was born? </p> 
        <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    years old
  </div>
</div>
    </form>
    </div>
</div>
<!--        question 10-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">11.</h3></div>      <div class="card-body"> 
    <form  name="quiz12">
        <p class="q">John paid a total of £5.15 for a jar of coffee, a carton of milk and a bag of sugar. The jar of coffee cost £3.69 and the carton of milk cost 89p. How much did the bag of sugar cost? </p>
       
        <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    pence
  </div>
</div>
        
    </form>
    </div>
</div>
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title"> 12.</h3></div>      <div class="card-body"> 
    <form  name="quiz13">
        <p class="q">How many bags of crisps at 16p each can I buy for £2? </p>
     <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    bags
  </div>
</div>
    </form>
    </div>
</div>
<!--        question 11a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title"> 13.</h3></div>      <div class="card-body"> 
    <form  name="quiz14">
        <p class="q">A shop sells bananas and pears.
Max buys 1 banana and 2 pears. He paid 94p. Emily buys 1 banana and 1 pear. She paid 62p. How much does 1 banana cost?  </p>
   <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    pence
  </div>
</div>
    </form>
    </div>
</div>
<!--        question 12-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">14.</h3></div>      <div class="card-body"> 
    <form  name="quiz15">
        <p class="q">Which of the following amounts can be made with 4  coins. 
 </p><p class="q">24p 38p 57p £1.18 £1.26</p>
     <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    pence
  </div>
</div>
        <div class="ui right labeled input">
  <input type="text" name="question2">
  <div class="ui basic label">
    pence
  </div>
</div>
        <div class="ui labeled input">
  <div class="ui label">
    £
  </div>
  <input type="text" name="question3">
</div>
    </form>
    </div>
</div> 
        <!--        question 13-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">15.</h3></div>      <div class="card-body"> 
    <form  name="quiz16">
        <p class="q">Benjamin walks dogs to earn some money. The formula below can be used to work out his pay.</p><p class="q">Pay = £12 per day + £1.50 for each dog walked</p>
        <p class="q">Benjamin worked all day on Monday. He walked 13 dogs before lunch and 15 dogs afterwards.</p>
        <p class="q">Work out Benjamin’s pay on Monday.</p>
       
    <div class="ui labeled input">
  <div class="ui label">
   £
  </div>
  <input type="text" name="question1">
</div>
        
    </form>
    </div>
</div>
<!--        question 14-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">16a.</h3></div>      <div class="card-body"> 
    <form  name="quiz17">
         <img src="img/stpaulC/stpaulC16.png" alt="" class="img-fluid">
        <p class="q">One of the towns is 194km from Penzance. Which town is this?</p>
       
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--        question 15-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">16b.</h3></div>      <div class="card-body"> 
    <form  name="quiz18">
        <img src="img/stpaulC/stpaulC16.png" alt="" class="img-fluid">
        <p class="q">Approximately how many times further is Exeter from Penzance than it is from Taunton?
</p>
       
     <div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
times
  </div>
</div>
    </form>
    </div>
</div>
         <!--        question 16-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">Section B 1.</h3></div>      <div class="card-body"> 
    <form  name="quiz19">
        
        <p class="q">There are a number of coins on a table. One quarter of the coins show heads.
If I turn over two coins, then one third show heads. How many coins are there altogether?
</p> 
      <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    coins
  </div>
</div>
    </form>
    </div>
</div>
          <!--        question 17-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">2.</h3></div>      <div class="card-body"> 
    <form  name="quiz20"> 
       
        <p class="q">There are twenty gifts stacked up into four piles. The first pile has 3 less than the second pile.
The second pile has two more than the third pile. The fourth pile has twice as many as the second pile. How many gifts are in each pile</p>     
<div class="ui right labeled input">
  <input type="text" name="question1" placeholder="1st pile">
  <div class="ui basic label">
    gifts
  </div>
</div>
        <div class="ui right labeled input">
  <input type="text" name="question2" placeholder="2nd pile">
  <div class="ui basic label">
    gifts
  </div>
</div>
        <div class="ui right labeled input">
  <input type="text" name="question3" placeholder="3rd pile">
  <div class="ui basic label">
    gifts
  </div>
</div>
        <div class="ui right labeled input">
  <input type="text" name="question4" placeholder="4th pile">
  <div class="ui basic label">
    gifts
  </div>
</div>
    </form>
    </div>
</div>
                  <!--        question 18-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">3a.</h3></div>      <div class="card-body"> 
    <form  name="quiz21">
       
        <p class="q">In Mathsland currency is arranged in alphas, betas and gammas where 1 Alpha = 20 Betas and 1 Beta = 5 gammas.</p><p class="q">
aHow many Gammas in 5 Alphas, 6 Betas and 3 Gammas?</p>    
        <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    gammas
  </div>
</div>
    </form>
    </div>
</div>
<!--        question 19-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">3b.</h3></div>      <div class="card-body"> 
    <form  name="quiz22"> 
        <p class="q">Using as many alphas as you can, and then betas, then gammas, how would you pay for something that costs 789 Gammas?</p>     
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    alphas
  </div>
</div>
        <div class="ui right labeled input">
  <input type="text" name="question2">
  <div class="ui basic label">
    betas
  </div>
</div>
             <div class="ui right labeled input">
  <input type="text" name="question3">
  <div class="ui basic label">
    gammas
  </div>
</div>
    </form>
    </div>
</div>
<!--        question 20-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">4.</h3></div>      <div class="card-body"> 
    <form  name="quiz23"> 
        <p class="q">If 5 mugs cost £3.50 and 8 pens cost £6.80 how much change do I get from £10 if I buy 7 mugs and 5 pens? </p>     
 
       <div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    pence
  </div>
</div>
    </form>
    </div>
</div>
<!--       Section B question 1-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">5.</h3></div>      <div class="card-body"> 
    <form  name="quiz24">
        <p class="q">
If the following statements are true, how many &#8721;s are there in a &#8853; ?
</p>    <br>
        <p class="q">&#8721; + &#8721; = &#x2661;
</p><p class="q">&#x2661; + &#x2661; + &#8721; = &#169;</p>
        <p class="q">&#169; + &#x2661; = &#8853;</p>
     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        Section B question 2-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">6.</h3></div>      <div class="card-body"> 
    <form  name="quiz25">
        <p class="q">A box of biscuits contains 36 biscuits. 20 biscuits have foil wrappers. 15 are chocolate biscuits with foil wrappers. If 9 are not chocolate and do not have a foil wrapper, then how many chocolate biscuits are there?</p>
       <br>
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--  Section B question 3--->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">7.</h3></div>      <div class="card-body"> 
    <form  name="quiz26">
         <img src="img/stpaulC/stpaulCB7.png" alt="" class="img-fluid">
        <p class="q">All the long edges of the shape above have the same length and each long edge is twice as long as each short edge. All angles are 90° or 270°. If the area of the figure is 200cm&#178;, what is the perimeter?</p> 
       
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    cm
  </div>
</div>
    </form>
    </div>
</div>
<!--       Section B question 4a--->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">8.</h3></div>      <div class="card-body"> 
    <form  name="quiz27">
        <img src="img/stpaulC/stpaulCB8.png" alt="" class="img-fluid">
       <p class="q">Work out the missing length</p> 
       
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    cm
  </div>
</div>
    </form>
    </div>
</div>
<!--        Section B question 4b--->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">9.</h3></div>      <div class="card-body"> 
    <form  name="quiz28">
        <img src="img/stpaulC/stpaulCB9.png" alt="" class="img-fluid">
        <p class="q">In this number tower the value in each block is the sum of the two below it. What is the value of block T?
</p> 
            
<div class="ui  input focus">
  <input type="text" name="question1">
</div>
    </form>
    </div>
</div>
<!--        SECTION B 5-->

<div class="mySlides">
    <div class="card-header"><h3 class="card-title">10a.</h3></div>      <div class="card-body"> 
    <form  name="quiz29">
        <p class="q">Jenny passes 40 electricity poles along the straight road from school to her home.</p><p class="q">
The distance between every 2 poles is 30 metres.</p><p class="q">
If her school is exactly half way between 2 poles and her home is also exactly halfway between 2 poles, then
<p class="q">find the distance from her school to her home in 𝑘𝑚.</p>     
<div class="ui right labeled input">
  <input type="text" placeholder="" name="question1">
  <div class="ui basic label">
    km
  </div>
</div>
    </form>
    </div>
</div>
<!--        Section B 6a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">10b.</h3></div>      <div class="card-body"> 
    <form  name="quiz30">
        <p class="q">Jenny passes 40 electricity poles along the straight road from school to her home.</p><p class="q">
The distance between every 2 poles is 30 metres.</p><p class="q">
        If her school is exactly half way between 2 poles and her home is also exactly halfway between 2 poles.</p>
        <p class="q">
            If she walks at a speed of 8 𝑘𝑚/h, how long does it take her to get to school from home?</p>  
<div class="ui  input focus">
  <input type="text" placeholder="Write as 7 minutes 25 seconds" name="question1">
</div>
    </form>
    </div>
</div>
<!--        Section B 6b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">Section C 1a(i).</h3></div>      <div class="card-body"> 
    <form  name="quiz31">
      <p class="q">Mila adds odd numbers together and writes down her results as follows:
</p>   <p class="q">1 = 1 = 1&#178;</p>
        <p class="q">1 + 3 = 4 = 2&#178;</p>
        <p class="q">1 +3 + 5 = 9 = 3&#178;</p>
        <p class="q">Write down the next 3 totals</p>
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question2">
</div>
        <div class="ui  input focus">
  <input type="text" placeholder="" name="question3">
</div>
    </form>
    </div>
</div>
<!--   Section B 7-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">1a(ii).</h3></div>      <div class="card-body"> 
    <form  name="quiz32">
        <p class="q">Which line would total 169?</p>
     
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--        Section B 8-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">1b.</h3></div>      <div class="card-body"> 
    <form  name="quiz33">
        <p class="q">Mila then adds different odd numbers and puts her results in a table again:
</p>   <p class="q">1 = 1 = 1&#179;</p>
        <p class="q">3 + 5 = 8 = 2&#179;</p>
        <p class="q">7 + 9 + 11 = 27 = 3&#179;</p>
        <p class="q">Write down the next three totals of this pattern</p>
<div class="ui  input focus">
  <input type="text" placeholder="1st" name="question1">
</div>
        <div class="ui  input focus">
  <input type="text" placeholder="2nd" name="question2">
</div>
        <div class="ui  input focus">
  <input type="text" placeholder="3rd" name="question3">
</div>
        
    </form>
    </div>
</div>
<!--        Section B 9a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">1b(ii).</h3></div>      <div class="card-body"> 
    <form  name="quiz34">
          <p class="q">Which line would give a total of 1000</p><br>
        
<div class="ui labeled input">
  <div class="ui label">
    line
  </div>
  <input type="text" name="question1">
</div>
        
    </form>
    </div>
</div>
        <!--   Section B 9b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">1c.</h3></div>      <div class="card-body"> 
    <form  name="quiz35">
          <p class="q">Using your answers from parts a. and b. find three numbers 𝐴, 𝐵 and 𝐶 such that</p><br>
   <p class="q">A - B = C</p>
        <p class="q">A&#178; - B&#178; = C&#179;</p>
<div class="ui labeled input">
  <div class="ui label">
    A = 
  </div>
  <input type="text" name="question1">
</div>
<div class="ui labeled input">
  <div class="ui label">
     B = 
  </div>
  <input type="text" name="question2">
</div>
        <div class="ui labeled input">
  <div class="ui label">
     C = 
  </div>
  <input type="text" name="question3">
</div>
    </form>
    </div>
</div>
        <!--     Section B 9c-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">2.</h3></div>      <div class="card-body"> 
    <form  name="quiz36">
          <p class="q">The symbol φ represents a mathematical rule.
</p>
        <p class="q">The rule for φ is “add the two numbers and then multiply their sum by the second
            number”.</p><p class="q">
For example, 2 φ 3 = (2+3) × 3 = 5 × 3 = 15</p>
        <p class="q"> Work out 2 φ 6 =</p>
<div class="ui labeled input">
  <div class="ui label">
    2 φ 6 =
  </div>
  <input type="text" name="question1">
</div>
         
    </form>
    </div>
</div>
               <!--   Section B 10-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">2b.</h3></div>      <div class="card-body"> 
    <form  name="quiz37">
          <p class="q">1/2 φ 3 = </p>
  
<div class="ui labeled input">
  <div class="ui label">
   1/2 φ 3 =
  </div>
  <input type="text" name="question1">
</div>
        
    </form>
    </div>
</div>
        <!--        Section C 1a-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">2c.</h3></div>      <div class="card-body"> 
    <form  name="quiz38">
         
        <p class="q">1/4 φ 1/2 =</p>
  <div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>       
    </form>
    </div>
</div>
        <!--    Section C 1b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">2d.</h3></div>      <div class="card-body"> 
    <form  name="quiz39">
         
        <p class="q">If 6 φ 𝑚 = 91, what positive number must 𝑚 be? </p>
        
<div class="ui  input focus">
  <input type="text" placeholder="m =" name="question1">
</div>
    </form>
    </div>
</div>
        <!--   Section C 1c-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">2e.</h3></div>      <div class="card-body"> 
    <form  name="quiz40">
       
        <p class="q">If 𝑝 φ 𝑝 = 72, what number must 𝑝 be? </p>   
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--       Section C 1d-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">f.</h3></div>      <div class="card-body"> 
    <form  name="quiz41">

        <p class="q">Is xφy the same as yφx.</p>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
        <!--   Section C 1e-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">3.</h3></div>      <div class="card-body"> 
    <form  name="quiz42">
        <img src="img/stpaulC/stpaulCC3.png" alt="" class="img-fluid">
        <p class="q">The diagram below shows a road network connecting the villages A to H. The numbers between the letters show how far apart the villages are in miles. <p class="q">A route connects two villages by travelling along the straight lines.</p><p class="q">
An example of a route from E to D is EF – FC – CD.</p>
        <p class="q">What is the shortest distance between A and E?</p>
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    miles
  </div>
</div>
    </form>
    </div>
</div>
        <!--  Section C 1f-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">3b.</h3></div>      <div class="card-body"> 
    <form  name="quiz43">
       <img src="img/stpaulC/stpaulCC3.png" alt="" class="img-fluid">
        <p class="q">What is the shortest distance between H and C?</p>
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    miles
  </div>
</div>
     
    </form>
    </div>
</div>
        <!--   Section C 2a(i)-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">3c</h3></div>      <div class="card-body"> 
    <form  name="quiz44">
        <img src="img/stpaulC/stpaulCC3.png" alt="" class="img-fluid">
         <p class="q">What is the shortest distance between A and H?</p>
<div class="ui right labeled input">
  <input type="text" name="question1">
  <div class="ui basic label">
    miles
  </div>
</div>
    </form>
    </div>
</div>
        <!--  Section C 2a(ii)-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">4.</h3></div>      <div class="card-body"> 
    <form  name="quiz45">
<p class="q">Eliza is calculating 32 × 37</p>
        <p class="q">She has constructed this number pattern:</p>
           <p class="q">32 x 37</p>
           <p class="q">16 x 74</p>
           <p class="q">8 x 148</p>
           <p class="q">___ x 296</p>
        <p class = "q">Find the missing number above</p>
           
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
                <!-- Section C 2a(iii)-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">4a(i).</h3></div>      <div class="card-body"> 
    <form  name="quiz46">
        <p class="q">Continue the pattern to help you find out what 32 x 37 =</p>
        
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
<!--       Section C 2b-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">4b.</h3></div>      <div class="card-body"> 
    <form  name="quiz47">
        <p class="q">Use a similar startegy to solve 27 x 37</p>
       
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
        
    </form>
    </div>
</div>
<!--    Section C 2c-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">4c.</h3></div>      <div class="card-body"> 
    <form  name="quiz48">
        <p class="q">Adapt the strategy to solve 972 ÷ 36</p>

<div class="ui  input focus">
  <input type="text" name="question1">
</div>
    </form>
    </div>
</div>
                <!-- Section C 2d-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">5i.</h3></div>      <div class="card-body"> 
    <form  name="quiz49">
          <img src="img/stpaulC/stpaulCC5.png" alt="" class="img-fluid">
        <p class="q">Tilly decides to count using a clock.
She starts counting from 1 in the normal way, so:</p> 
        <p class="q">1, 2, 3, 4...</p>
        <p class="q">But when she gets to 12, the count goes back to 1, so she counts: ...8, 9, 10, 11, 12, 1, 2, 3...</p><p class="q">
So, for example, using this method of counting, 4 + 9 = 1 and 10 + 5 = 3. </p><p class="q">Similarly, 3 × 5 = 3 and 2 × 13 = 2.</p>
        <p class="q">Using this counting method, complete the following:</p>
        <p class="q"> 3+ 4=</p>
<div class="ui  input focus">
  <input type="text" name="question1">
</div>

    </form>
    </div>
</div>
<!--   Section C 2e(i)-->
<div class="mySlides">
    <div class="card-header"><h3 class="card-title">5ii.</h3></div>      <div class="card-body"> 
    <form  name="quiz50">
        <img src="img/stpaulC/stpaulCC5.png" alt="" class="img-fluid">
        <p class="q">Tilly decides to count using a clock.</p><p class="q">
She starts counting from 1 in the normal way, so:</p> 
        <p class="q">1, 2, 3, 4...</p>
        <p class="q">But when she gets to 12, the count goes back to 1, so she counts: ...8, 9, 10, 11, 12, 1, 2, 3...</p><p class="q">
So, for example, using this method of counting, 4 + 9 = 1 and 10 + 5 = 3.</p><p class="q"> Similarly, 3 × 5 = 3 and 2 × 13 = 2.</p>
        <p class="q">Using this counting method, complete the following:</p>
        <p class="q">7 + 8 =</p>
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>  
    </form>
    </div>
</div>
<!--       Section C 2e(ii)-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">5iii.</h3></div>      <div class="card-body"> 
    <form  name="quiz51">
        <img src="img/stpaulC/stpaulCC5.png" alt="" class="img-fluid">
        <p class="q">Tilly decides to count using a clock.
She starts counting from 1 in the normal way, so:</p> 
        <p class="q">1, 2, 3, 4...</p>
        <p class="q">But when she gets to 12, the count goes back to 1, so she counts: ...8, 9, 10, 11, 12, 1, 2, 3...</p><p class="q">
So, for example, using this method of counting, 4 + 9 = 1 and 10 + 5 = 3. </p><p class="q">Similarly, 3 × 5 = 3 and 2 × 13 = 2.</p>
        <p class="q">Using this counting method, complete the following:</p>
        <p class="q">9 + 11 = </p>
       
<div class="ui  input focus">
  <input type="text" placeholder="" name="question1">
</div>
    </form>
    </div>
</div>
      <!--      Section C 3a-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">5iv.</h3></div>      <div class="card-body"> 
    <form  name="quiz52">
<img src="img/stpaulC/stpaulCC5.png" alt="" class="img-fluid">
        <p class="q">Tilly decides to count using a clock.</p><p class="q">
She starts counting from 1 in the normal way, so:</p> 
        <p class="q">1, 2, 3, 4...</p>
        <p class="q">But when she gets to 12, the count goes back to 1, so she counts: ...8, 9, 10, 11, 12, 1, 2, 3...</p><p class="q">
So, for example, using this method of counting, 4 + 9 = 1 and 10 + 5 = 3. Similarly, 3 × 5 = 3 and 2 × 13 = 2.</p>
        <p class="q">Using this counting method, complete the following:</p>
        <p class="q"> 7 x 8  = </p>   
     
<div class="ui labeled input">
  <div class="ui label">
    
  </div>
  <input type="text" name="question1">
</div>
    </form>
    </div>
</div>  
<!--        Section C 3b-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">5v.</h3></div>      <div class="card-body"> 
    <form  name="quiz53">
       <img src="img/stpaulC/stpaulCC5.png" alt="" class="img-fluid">
        <p class="q">Tilly decides to count using a clock.
She starts counting from 1 in the normal way, so:</p> 
        <p class="q">1, 2, 3, 4...</p>
        <p class="q">But when she gets to 12, the count goes back to 1, so she counts: ...8, 9, 10, 11, 12, 1, 2, 3...</p><p class="q">
So, for example, using this method of counting, 4 + 9 = 1 and 10 + 5 = 3.</p><p class="q"> Similarly, 3 × 5 = 3 and 2 × 13 = 2.</p>
        <p class="q">Using this counting method, complete the following:</p>
        <p class="q">9 x 11 = </p> 

<div class="ui  input focus">
  <input type="text" name="question1">
</div>
    </form>
    </div>
</div> 
        <!--        Section C 4a(i)-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">5b</h3></div>      <div class="card-body"> 
    <form  name="quiz54"><img src="img/stpaulC/stpaulCC5.png" alt="" class="img-fluid">
        <p class="q">Tilly decides to count using a clock.</p><p class="q">
She starts counting from 1 in the normal way, so:</p> 
        <p class="q">1, 2, 3, 4...</p>
        <p class="q">But when she gets to 12, the count goes back to 1, so she counts: ...8, 9, 10, 11, 12, 1, 2, 3...
So, for example, using this method of counting, 4 + 9 = 1 and 10 + 5 = 3.</p><p class="q"> Similarly, 3 × 5 = 3 and 2 × 13 = 2.</p>
        <p class="q">Using this counting method, can you find two different positive numbers 𝑛 and 𝑚 such that 𝑛&#178; = 𝑚&#178;.</p>

 <div class="ui labeled input">
  <div class="ui label">
    n = 
  </div>
  <input type="text" name="question1">
</div>
         <div class="ui labeled input">
  <div class="ui label">
    m = 
  </div>
  <input type="text" name="question2">
</div>
    </form>
    </div>
</div> 
<!--    Section C 4a(ii)-->
        <div class="mySlides">
    <div class="card-header"><h3 class="card-title">6c.</h3></div>      <div class="card-body"> 
    <form  name="quiz55">
        <img src="img/stpaulC/stpaulCC5.png" alt="" class="img-fluid">
        <p class="q">Tilly decides to count using a clock.</p><p class="q">
She starts counting from 1 in the normal way, so:</p> 
        <p class="q">1, 2, 3, 4...</p>
        <p class="q">But when she gets to 12, the count goes back to 1, so she counts: ...8, 9, 10, 11, 12, 1, 2, 3...</p><p class="q">
So, for example, using this method of counting, 4 + 9 = 1 and 10 + 5 = 3.</p><p class="q"> Similarly, 3 × 5 = 3 and 2 × 13 = 2.</p>
        <p class="q">Using this method, can you find two different numbers 𝑝 and 𝑞 such that 𝑝&#179; = 𝑞&#179;?</p>
            
<div class="ui labeled input">
  <div class="ui label">
    p = 
  </div>
  <input type="text" name="question1">
</div>
         <div class="ui labeled input">
  <div class="ui label">
    q = 
  </div>
  <input type="text" name="question2">
</div>
        <p class="q">END OF EXAM</p>
    </form>
    </div>
</div>

<!--        buttons-->
<div class="container" >
    <div class="row" style="margin: 0 auto">
        <button type="button" id="button1" class="btn btn-success btn-raised"> Check </button>
        <button type="button" id="next1" class="btn btn-primary btn-raised"onclick="plusSlides(1)"> Next </button>
        <button type="button" id="button" class="btn btn-danger btn-raised" data-toggle="modal" data-target="#myModal4"> Total Score </button>     
    </div>
</div>
        
<div class="container" >
    <div class="row" style="margin: 0 auto">
        <span id="tick" class="ms-icon ms-icon-lg ms-icon-circle color-success">
            <i class="fa fa-check"></i>
        </span>
        <span id="wrong" class="ms-icon ms-icon-lg ms-icon-circle color-danger">
            <i class="fa fa-remove"></i>
        </span>    
    </div>
</div>
        
        
<div id="msg"></div>
<div class="dot-container">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span> 
  <span class="dot" onclick="currentSlide(5)"></span> 
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span> 
  <span class="dot" onclick="currentSlide(8)"></span> 
  <span class="dot" onclick="currentSlide(9)"></span>
    <span class="dot" onclick="currentSlide(10)"></span> 
     <span class="dot" onclick="currentSlide(11)"></span> 
  <span class="dot" onclick="currentSlide(12)"></span> 
  <span class="dot" onclick="currentSlide(13)"></span>
  <span class="dot" onclick="currentSlide(14)"></span> 
  <span class="dot" onclick="currentSlide(15)"></span> 
  <span class="dot" onclick="currentSlide(16)"></span>
  <span class="dot" onclick="currentSlide(17)"></span> 
  <span class="dot" onclick="currentSlide(18)"></span> 
  <span class="dot" onclick="currentSlide(19)"></span>
    <span class="dot" onclick="currentSlide(20)"></span>
    <span class="dot" onclick="currentSlide(21)"></span> 
  <span class="dot" onclick="currentSlide(22)"></span> 
  <span class="dot" onclick="currentSlide(23)"></span>
  <span class="dot" onclick="currentSlide(24)"></span> 
  <span class="dot" onclick="currentSlide(25)"></span> 
  <span class="dot" onclick="currentSlide(26)"></span>
  <span class="dot" onclick="currentSlide(27)"></span> 
  <span class="dot" onclick="currentSlide(28)"></span> 
  <span class="dot" onclick="currentSlide(29)"></span>
    <span class="dot" onclick="currentSlide(30)"></span>
    <span class="dot" onclick="currentSlide(31)"></span> 
     <span class="dot" onclick="currentSlide(32)"></span>
  <span class="dot" onclick="currentSlide(33)"></span>
  <span class="dot" onclick="currentSlide(34)"></span> 
  <span class="dot" onclick="currentSlide(35)"></span> 
  <span class="dot" onclick="currentSlide(36)"></span>
  <span class="dot" onclick="currentSlide(37)"></span> 
  <span class="dot" onclick="currentSlide(38)"></span> 
  <span class="dot" onclick="currentSlide(39)"></span>
    <span class="dot" onclick="currentSlide(40)"></span>
    <span class="dot" onclick="currentSlide(41)"></span> 
  <span class="dot" onclick="currentSlide(42)"></span> 
  <span class="dot" onclick="currentSlide(43)"></span>
  <span class="dot" onclick="currentSlide(44)"></span> 
  <span class="dot" onclick="currentSlide(45)"></span> 
  <span class="dot" onclick="currentSlide(46)"></span>
  <span class="dot" onclick="currentSlide(47)"></span> 
  <span class="dot" onclick="currentSlide(48)"></span> 
  <span class="dot" onclick="currentSlide(49)"></span>
    <span class="dot" onclick="currentSlide(50)"></span>
  <span class="dot" onclick="currentSlide(51)"></span> 
  <span class="dot" onclick="currentSlide(52)"></span>
    <span class="dot" onclick="currentSlide(53)"></span>
    <span class="dot" onclick="currentSlide(54)"></span>
    <span class="dot" onclick="currentSlide(55)"></span>
    
    
</div>    
<!-- last 2 divs from top of card-->
     </div>
        </div>
 <div id="example"></div> 
<!-- Modal -->
<div class="modal modal-primary" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel4">  Your results:  </h3>            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="zmdi zmdi-close"></i></span>
                    </button>
            </div>
        <div class="modal-body">
            <div class="alert alert-info alert-light " role="alert"><p id="badge"></p>
            </div>
             
                <div class="alert alert-info alert-light " role="alert"><p id="points"></p>
                </div>
        </div>
            <div class="row">
                
        <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>    
        </div>
      </div>
    </div>
</div>
<script>
    $("#example").load("./config");
     
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);    
    document.getElementById("tick").style.visibility = "hidden";
    document.getElementById("wrong").style.visibility = "hidden";
    document.getElementById("msg").style.visibility = "hidden";

}

function currentSlide(n) {
  showSlides(slideIndex = n);
    document.getElementById("tick").style.visibility = "hidden";
    document.getElementById("wrong").style.visibility = "hidden";
    document.getElementById("msg").style.visibility = "hidden";
  
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
    if(slideIndex==55){
        document.getElementById("next1").style.visibility = "hidden";
    }
}    
    var correct = 0;
   
    $("#button1").click(function(){       
        var question1 = document.quiz1.question1.value;  
        var question2 = document.quiz2.question1.value;
        var question3 = document.quiz3.question1.value;
        var question4 = document.quiz4.question1.value;
        var question5 = document.quiz5.question1.value;
        var question6 = document.quiz6.question1.value;
        var question7 = document.quiz7.question1.value;
        var question8 = document.quiz8.question1.value;
        var question9 = document.quiz9.question1.value;
        var question10 = document.quiz10.question1.value;
        var question11 = document.quiz11.question1.value;
        var question12 = document.quiz12.question1.value;
        var question13 = document.quiz13.question1.value;
        var question14 = document.quiz14.question1.value;
        var question15 = document.quiz15.question1.value;
        var question16 = document.quiz16.question1.value;
        var question17 = document.quiz17.question1.value;
        var question18 = document.quiz18.question1.value;
        var question19 = document.quiz19.question1.value;
        var question20 = document.quiz20.question1.value;
        var question21 = document.quiz21.question1.value;
        var question22 = document.quiz22.question1.value;
        var question23 = document.quiz23.question1.value;
        var question24 = document.quiz24.question1.value;
        var question25 = document.quiz25.question1.value;
        var question26 = document.quiz26.question1.value;
        var question27 = document.quiz27.question1.value;
        var question28 = document.quiz28.question1.value;
        var question29 = document.quiz29.question1.value;
        var question30 = document.quiz30.question1.value;
        var question31 = document.quiz31.question1.value;
        var question32 = document.quiz32.question1.value;
        var question33 = document.quiz33.question1.value;
        var question34 = document.quiz34.question1.value;
        var question35 = document.quiz35.question1.value;
        var question36 = document.quiz36.question1.value;
        var question37 = document.quiz37.question1.value;
        var question38 = document.quiz38.question1.value;
        var question39 = document.quiz39.question1.value;
        var question40 = document.quiz40.question1.value;
        var question41 = document.quiz41.question1.value;
        var question42 = document.quiz42.question1.value;
        var question43 = document.quiz43.question1.value;
        var question44 = document.quiz44.question1.value;
        var question45 = document.quiz45.question1.value;
        var question46 = document.quiz46.question1.value;
        var question47 = document.quiz47.question1.value;
        var question48 = document.quiz48.question1.value;
        var question49 = document.quiz49.question1.value;
        var question50 = document.quiz50.question1.value;
        var question51 = document.quiz51.question1.value;
        var question52 = document.quiz52.question1.value;
        var question53 = document.quiz53.question1.value;
        var question54 = document.quiz54.question1.value;
        var question55 = document.quiz55.question1.value;
        var question56 = document.quiz5.question2.value;
        var question57 = document.quiz5.question3.value;
        var question58 = document.quiz5.question4.value;
        var question59 = document.quiz5.question5.value;
        var question60 = document.quiz6.question2.value;
        var question61 = document.quiz15.question2.value;
        var question62 = document.quiz15.question3.value;
        var question63 = document.quiz20.question2.value;
        var question64 = document.quiz20.question3.value;
        var question65 = document.quiz20.question4.value;
        var question66 = document.quiz22.question2.value;
        var question67 = document.quiz22.question3.value;
        var question68 = document.quiz31.question2.value;
        var question69 = document.quiz31.question3.value;
        var question70 = document.quiz33.question2.value;
        var question71 = document.quiz33.question3.value;
        var question72 = document.quiz35.question2.value;
        var question73 = document.quiz35.question3.value;
        var question74 = document.quiz54.question2.value;
         var question75 = document.quiz55.question2.value;
       
              
        //2 question
       if(slideIndex==2&&question2 == 90){
             
        document.getElementById("tick").style.visibility = "visible";
           document.getElementById("msg").style.visibility = "visible";
           document.getElementById("msg").textContent= " Correct! 1 mark";
            correct++;
           //3 question
  } else if(slideIndex==3&&question3 == 30){
             
        document.getElementById("tick").style.visibility = "visible";
      document.getElementById("msg").style.visibility = "visible";
      document.getElementById("msg").textContent= " Correct! 1 mark";
      correct++;
  }
        //1 question
         else if(slideIndex==1&&question1 == 12){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //4 question 
        else if(slideIndex==4&&question4 == '2/3'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //5 question 
        else if(slideIndex==5&&question5 == '4.123'&&question56=='4.132' &&question57=='4.3'&&question58=='4.32'&&question59=='4.321'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  } 
//        //6a question
        else if(slideIndex==6&&question6 == 8&&question60==27){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct++;
  } 
        //6b question
        else if(slideIndex==7&&question7 == 23){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//    //6c question
        else if(slideIndex==8&&question8 == 42||slideIndex==8&&question8 == 252){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
//        //7 question
        else if(slideIndex==9&&question9 == 13||slideIndex==9&&question9 == 14){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=2;
  } 
//        //8 question 
        else if(slideIndex==10&&question10 == 27){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //9 question 
        else if(slideIndex==11&&question11 == 28){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //10 question
        else if(slideIndex==12&&question12 ==57){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
  //       question 11a
        else if(slideIndex==13&&question13 ==12){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//    //12 question
        else if(slideIndex==14&&question14 == 30){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
        //13 question
        else if(slideIndex==15&&question15 == 24&&question61 == 57&&question62 =='1.26'||slideIndex==15&&question15 == 57&&question61 == 24&&question62 =='1.26'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 3 marks"; 
            correct+=3;
  }  
//             //14 question 
        else if(slideIndex==16&&question16 == 54||slideIndex==16&&question16 == 54.00){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //15 question
        else if(slideIndex==17&&question17 == 'Bristol'||slideIndex==17&&question17 == 'bristol'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //16 question
        else if(slideIndex==18&&question18 == 3){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//    //17 question
        else if(slideIndex==19&&question19 == 24){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
//        //18 question
        else if(slideIndex==20&&question20 == 2&&question63==5&&question64==3&&question65==10){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 mark"; 
            correct+=2;
  } 
//        //19 question 
        else if(slideIndex==21&&question21 == 533){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//        //20 question 
        else if(slideIndex==22&&question22 ==7&&question66==17&&question67==4){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 3 mark"; 
            correct+=3;
  } 
        //***********
        //29
        //***********
 
        else if(slideIndex==23&&question23 == 85||slideIndex==23&&question23 == '0.85'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //2 question
        else if(slideIndex==24&&question24 == '7'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! "; 
            correct++;
  } 
    //3 question
        else if(slideIndex==25&&question25 == '27'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
//4a
        else if(slideIndex==26&&question26 == 80){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }  
//4b question 
        else if(slideIndex==27&&question27 == 10){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
 //5 question
        else if(slideIndex==28&&question28 == 89){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//6a question
        else if(slideIndex==29&&question29 == 630){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//6b question
        else if(slideIndex==30&&question30 =='4 minutes 30 seconds'||slideIndex==30&&question30 =='4 minutes 44 seconds'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
////7 question
        else if(slideIndex==31&&question31==16&&question68 == 25&&question69==36){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 3 marks"; 
            correct+=3;
  } 
 //8 question 
        else if(slideIndex==32&&question32 == 13){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 maek"; 
            correct++;
  } 
//9a question 
        else if(slideIndex==33&&question33 == 64&&question70 == 125&&question71==216){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 3 marks"; 
            correct+=3;
  } 
//9b question
        else if(slideIndex==34&&question34 == 10){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=1;
  } 
//9c question
        else if(slideIndex==35&&question35 == 10&&question72==6&&question73==4){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 3 marks"; 
            correct+=3;
  } 
//10 question
        else if(slideIndex==36&&question36 == 48){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=1;
  }     
//        //**********
//        //Section C
//        //***********
////1a question
        else if(slideIndex==37&&question37 == '10.5'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=1;
  }  
//1b question 
        else if(slideIndex==38&&question38 == '0.375'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=1;
  } 
        //1c question
        else if(slideIndex==39&&question39 == 7){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
        //1d question
        else if(slideIndex==40&&question40 == 6){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
    //1e question
        else if(slideIndex==41&&question41 == 'no'||slideIndex==41&&question41 == 'No'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
//1f question
        else if(slideIndex==42&&question42 == 12){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//2a(i) question 
        else if(slideIndex==43&&question43 == 15){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//2a(ii) question 
        else if(slideIndex==44&&question44 == 23){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//2a(iii) question
        else if(slideIndex==45&&question45 == 4){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//2b question=
        else if(slideIndex==46&&question46 == 1184||slideIndex==46&&question46 == '1,184'){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=1;
  } 
//2c question
        else if(slideIndex==47&&question47 == 999){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=1;
  }     
//2d question
        else if(slideIndex==48&&question48 ==27){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 marks"; 
            correct+=1;
  } 
//2e(i) question
        else if(slideIndex==49&&question49 == 7){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct+=1;
  } 
//2e(ii) question
        else if(slideIndex==50&&question50 == 3){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct!"; 
            correct++;
  } 
//3a question
        else if(slideIndex==51&&question51 == 91||slideIndex==51&&question51 == 8){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
//3b question
        else if(slideIndex==52&&question52 == 8){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  } 
//4a(i) question
        else if(slideIndex==53&&question53 == 3){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 1 mark"; 
            correct++;
  }     
//4a(ii) question
        else if(slideIndex==54&&question54==2&&question74 == 4||slideIndex==54&&question54==4&&question74 == 2){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  } 
//4b question
        else if(slideIndex==55&&question55 ==2&&question75==8){
             
        document.getElementById("tick").style.visibility = "visible";
             document.getElementById("msg").style.visibility = "visible";
            document.getElementById("msg").textContent= " Correct! 2 marks"; 
            correct+=2;
  }

        else {
      document.getElementById("wrong").style.visibility = "visible";
            document.getElementById("msg").style.visibility = "visible";
    document.getElementById("msg").textContent= " Not Yet"; 
  } 
    
        if(correct>0){
            document.getElementById("badge").textContent= "Total questions correct: " + correct + " / 70";  
            document.getElementById("points").textContent= "Percentage = " + Math.round(correct/70*100) + "%";
           
        }
       });
       
    $("input").attr("maxlength", 20)
</script>


<% include ../partials/footer %>
            
      
    
