<% include ../partials/header %>
<!--   Video        -->
<div id="video" style="text-align: center">
    <div class="col-md-6" style="display:inline-block">
        <h3 id = "heading" class="text-center">Mode, Median and Mean</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ifOnyeIby_c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
    <div class="container">
        <p id="userId"><%=currentUser.id %> </p>

    </div>

    <div style="text-align: center">
        <div class="card card-royal col-md-6" style="display:inline-block">

        <div class="col-lg-11 ms-paper-content-container" style="text-align: center">
            <div class="ms-paper-content" style="display:inline-block">
                <div class="alert alert-light alert-info">
            <p>Score: <span class="ml-auto badge-pill badge-pill-info"> <%=currentUser.score %></span> Each question is
                worth 20 points.
            </p>
                </div>
            </div>
        </div>
            <!--        First question-->
            <div class="mySlides">
                <div class="card-header">
                    <h3 id="header" class="card-title">1.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz1">
                        <p class="q">The 4 cards below represent a set of 4 numbers. If the mean of the numbers is 5,
                            find the missing number in the 4th card.</p><img src="img/averages/ave1B.png" alt=""
                            class="img-fluid">
                        <div class="ui input focus">
                            <input type="text" placeholder="Enter missing number.." name="question1">
                        </div>
                    </form>
                </div>
            </div>
            <!--     2nd question                -->
            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">2.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz2">
                        <p class="q"> The mean, mode and median of the 5 numbers below is 7. The range is 5. </p>
                        <p class="q">Use these clues to find the missing number in the 5th card.</p><img
                            src="img/averages/ave2.png" alt="" class="img-fluid">
                        <div class="ui input focus">
                            <input type="text" placeholder="Enter missing number.." name="question1">
                        </div>
                    </form>
                </div>
            </div>
            <!--   3rd question       -->
            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">3.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz3">
                        <p class="q"> The 6 cards below represent a set of 6 numbers.</p>
                        <p class="q">The mean is 6, the range is 7 and the median is 7.5</p>
                        <p class="q"> Find the missing number in the 6th card.</p> <img src="img/averages/ave3.png"
                            alt="" class="img-fluid">
                        <div class="ui input focus">
                            <input type="text" placeholder="Enter missing number.." name="question1">
                        </div>
                    </form>
                </div>
            </div>
            <!--4th question        -->
            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">4a.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz4">
                        <p class="q"> For the following set of numbers, the mean, mode and range are all 8. </p><img
                            src="img/averages/ave4A.png" alt="" class="img-fluid"><br>
                        <p class="q"> Find the missing number if the mean, mode and range are 8. </p>
                        <div class="ui input focus">
                            <input type="text" placeholder="Enter missing number.." name="question1">
                        </div>
                    </form>
                </div>
            </div>
            <!--    5th question    -->
            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">4b.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz5">
                        <p class="q"> For the following set of numbers, the mean, mode and range are all 8. </p>

                        <img src="img/averages/ave4A.png" alt="" class="img-fluid"><br>
                        <p class="q"> Use that missing number found in 4a and find the median for the set of numbers.
                        </p>
                        <div class="ui input focus">
                            <input type="text" placeholder="Enter median.." name="question1">
                        </div>
                    </form>
                </div>
            </div>
            <!--   6th question     -->
            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">5a.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz6">
                        <p class="q"> The seven numbers below have a mean of 4. </p> <img src="img/averages/ave5A.png"
                            alt="" class="img-fluid">
                        <p class="q"> Find the missing number on the 7th card. </p><br>
                        <div class="ui input focus">
                            <input type="text" placeholder="Enter missing number.." name="question1">
                        </div>
                    </form>
                </div>
            </div>

            <!--        7th question-->
            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">5b.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz7">
                        <p class="q"> The seven numbers below have a mean of 4. </p> <img src="img/averages/ave5A.png"
                            alt="" class="img-fluid">
                        <p class="q">Use the missing number found in 5a and find the median for the set of numbers</p>
                        <br>
                        <div class="ui input focus">
                            <input type="text" placeholder="Enter median.." name="question1">
                        </div>
                    </form>
                </div>
            </div>
            <!--        8th question-->
            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">6a.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz8">
                        <p class="q"> The mean for the following set of numbers is 9.</p> <img
                            src="img/averages/ave6A.png" alt="" class="img-fluid">
                        <p class="q">Find the missing number in the 6th box.</p>
                        <div class="ui input focus">
                            <input type="text" placeholder="Enter missing number.." name="question1">
                        </div>
                    </form>
                </div>
            </div>
            <!--9th question-->
            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">6b.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz9">
                        <p class="q"> The mean for the following set of numbers is 9.</p> <img
                            src="img/averages/ave6A.png" alt="" class="img-fluid">
                        <p class="q">Use the missing number in the 6th box</p>
                        <p class="q"> and find the median for the set of numbers</p>
                        <div class="ui input focus">
                            <input type="text" placeholder="Enter median.." name="question1">
                        </div>
                    </form>
                </div>
            </div>
            <!-- buttons-->
            <div class="container">
                <div class="row" style="margin: 0 auto">
                    <button type="button" id="button1" class="btn btn-success btn-raised"> Check </button>
                    <button type="button" id="next1" class="btn btn-primary btn-raised" onclick="plusSlides(1)"> Next
                    </button>
                    <button type="button" id="button" class="btn btn-danger btn-raised" data-toggle="modal"
                        data-target="#myModal4"> Total Score </button>
                </div>
            </div>

            <div class="container">
                <div class="row" style="margin: 0 auto">
                    <span id="tick" class="ms-icon ms-icon-lg ms-icon-circle color-success">
                        <i class="fa fa-check"></i>
                    </span>
                    <span id="wrong" class="ms-icon ms-icon-lg ms-icon-circle color-danger">
                        <i class="fa fa-remove"></i>
                    </span>
                </div>
            </div>

          <div id="msg"></div>
            <div class="dot-container">
            <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
            <!-- last 2 divs from top of card-->
        </div>
    </div>
    <div id="example"></div>
    <!-- Modal -->
    <div class="modal modal-primary" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
        <div class="modal-dialog animated zoomIn animated-3x" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel4"> <%=currentUser.username %>, you have scored </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="zmdi zmdi-close"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-success alert-light " role="alert">
                        <p id="badge"></p>
                    </div>
                    <div class="alert alert-danger alert-light " role="alert">
                        <p id="points"></p>
                    </div>
                    <div class="alert alert-info alert-light " role="alert">
                    <p id="medal"></p>
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
<script>
$("#example").load("../config");
var correct = 0;

$("#button1").click(function () {
    var question1 = document.quiz1.question1.value;
    var question2 = document.quiz2.question1.value;
    var question3 = document.quiz3.question1.value;
    var question4 = document.quiz4.question1.value;
    var question5 = document.quiz5.question1.value;
    var question6 = document.quiz6.question1.value;
    var question7 = document.quiz7.question1.value;
    var question8 = document.quiz8.question1.value;
    var question9 = document.quiz9.question1.value;

    //2nd question
    if (slideIndex == 2 && question2 == '7') {
        checkAnswer20();
        showTicks20();
        questionCounter();
        dataCounterUp();
        //third question
    } else if (slideIndex == 3 && question3 == '3') {
        checkAnswer20();
        showTicks20();
        questionCounter();
        dataCounterUp();
    }
    //first question
    else if (slideIndex == 1 && question1 == '2') {
        checkAnswer20();
        showTicks20();
        questionCounter();
        dataCounterUp();
    }
    //4th question 
    else if (slideIndex == 4 && question4 == '6') {
        checkAnswer20();
        showTicks20();
        questionCounter();
        dataCounterUp();
    }
    //5th question 
    else if (slideIndex == 5 && question5 == '3') {
        checkAnswer20();
        showTicks20();
        questionCounter();
        dataCounterUp();
    }
    //6th question
    else if (slideIndex == 6 && question6 == '4') {
        checkAnswer20();
        showTicks20();
        questionCounter();
        dataCounterUp();
    }
    //7th question
    else if (slideIndex == 7 && question7 == '8') {
        checkAnswer20();
        showTicks20();
        questionCounter();
        dataCounterUp();
    }
    //8th question
    else if (slideIndex == 8 && question8 == '3') {
        checkAnswer20();
        showTicks20();
        questionCounter();
        dataCounterUp();
    }
    //9th question
    else if (slideIndex == 9 && question9 == '9') {
        checkAnswer20();
        showTicks20();
        questionCounter();
        dataCounterUp();
    } else {
        document.getElementById("wrong").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Not Yet";
        dataError();
    }
});
$("#button").click(function () {
    document.getElementById("badge").textContent = `${correct} out of 6`; 
    if(correct === 5){
        addBronze()
        trackProgress9()
        document.getElementById("points").textContent = `Points:  ${correct * 20}`;
        document.getElementById("medal").textContent = `Congratulations! You have earned a Bronze Medal!`;
    } else if (correct > 5 && correct < 9){
        addSilver()
        trackProgress9()
        document.getElementById("medal").textContent = `Congratulations! You have earned a Silver Medal!`;
        document.getElementById("points").textContent = `Points:  ${correct * 20}`;
    } else if(correct === 9){
        addGold()
        trackProgress9()
        document.getElementById("medal").textContent = `Congratulations! You have earned a Gold Medal!`;
        document.getElementById("points").textContent = `Points:  ${correct * 20}`;
    } else if(correct < 5){
        document.getElementById("points").textContent = `Points: ${correct * 20}!`
        document.getElementById("medal").textContent = `Try again to earn a Medal!`;
    }
  })
     
      
$("input").attr("maxlength", 5)
</script>
<% include ../partials/footer %>