<% include ../partials/header %>
<div class="col-lg-11 ms-paper-content-container" style="text-align: center">
    <div class="ms-paper-content" style="display:inline-block">
        <div class="alert alert-light alert-info">
            <p>Score: <span class="ml-auto badge-pill badge-pill-info"> <%=currentUser.score %></span> Each question is
                worth 20 points.
            </p>
        </div>
    </div>
</div>

<!--   Video        -->
<div id="video" style="text-align: center">
    <div class="col-md-6" style="display:inline-block">
        <h3 class="text-center" id="heading">Averages: The mean height</h3>
        <div class="card card-info-inverse">
            <div class="card-header">
                <h3 class="card-title"><i class="zmdi zmdi-graduation-cap"></i> Watch the tutorial below:</h3>
            </div>
            <div class="js-player">
                <script src="https://snowytopmaths.cdn.vooplayer.com/assets/vooplayer.js"></script><iframe
                    allow="autoplay" class="video-player-container vooplayer" data-playerId="MTQ3MDU3"
                    allowtransparency="true" style="max-width:100%" name="vooplayerframe" allowfullscreen="true" src=""
                    watch-type="" url-params="" frameborder="0" scrolling="no"> </iframe>
                <div class="card-body overflow-hidden text-center">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <p id="userId"><%=currentUser.id %> </p>

    </div>

    <div style="text-align: center">
        <div class="card card-royal col-md-6" style="display:inline-block">

            <!--        First question-->
            <div class="mySlides">
                <div class="card-header">
                    <h3 id="header" class="card-title">1a.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz1">
                        <p class="q">The average height of 3 girls is 1.33m. A 4th girl is added whose height is 1.21m.
                        </p>
                        <p class="q">What is the new average of the group?</p>
                        <div class="ui right labeled input focus">
                            <input type="text" placeholder="Enter height.." name="question1">
                            <div class="ui basic label">
                                m
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--     2nd question                -->
            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">1b.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz2">
                        <p class="q">Two more boys, Mike and John, are added to the group, to make 6 people in total.
                            The new mean height is 1.4m. </p>
                        <p class="q">If John is 1.45m tall, how tall is Mike?</p>
                        <div class="ui right labeled input focus">
                            <input type="text" placeholder="Enter height.." name="question1">
                            <div class="ui basic label">
                                m
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--   3rd question       -->
            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">2a.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz3">
                        <p class="q"> The average height of a group of 5 people is 1.65m. A 6th person is added to the
                            group, whose height is 0.75m. </p>
                        <p class="q">What is the new average height?</p>
                        <div class="ui right labeled input focus">
                            <input type="text" placeholder="Enter height.." name="question1">
                            <div class="ui basic label">
                                m
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--4th question        -->
            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">2b.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz4">
                        <p class="q"> Three more people are added and the new mean height of the group of 9 people is
                            1.50m. The shortest person is 1.30m tall. The other 2 people are the same height.</p>
                        <p class="q">How tall are those 2 people?</p>
                        <div class="ui right labeled input focus">
                            <input type="text" placeholder="Enter height.." name="question1">
                            <div class="ui basic label">
                                m
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--    5th question    -->
            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">3a.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz5">
                        <p class="q"> The average height of 4 people is 1.52m. A 5th person is added, whose height is
                            1.42m. </p>
                        <p class="q">What is the new mean height?</p>
                        <div class="ui right labeled input focus">
                            <input type="text" placeholder="Enter height.." name="question1">
                            <div class="ui basic label">
                                m
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--   6th question     -->
            <div class="mySlides">
                <div class="card-header">
                    <h3 class="card-title">3b.</h3>
                </div>
                <div class="card-body">
                    <form name="quiz6">
                        <p class="q">Two more people are added and the new mean height of the group of 7 people is
                            1.70m. Of the two, the tallest person is 10cm taller than the other. </p>
                        <p class="q">How tall is the tallest person?</p>
                        <div class="ui right labeled input focus">
                            <input type="text" placeholder="Enter height.." name="question1">
                            <div class="ui basic label">
                                m
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--        buttons-->
            <div class="container">
                <div class="row" style="margin: 0 auto">
                    <button type="button" id="button1" class="btn btn-success btn-raised"> Check </button>
                    <button type="button" id="next1" class="btn btn-primary btn-raised" onclick="plusSlides(1)"> Next
                    </button>
                    <button type="button" id="button" class="btn btn-danger btn-raised" data-toggle="modal"
                        data-target="#myModal4"> Total Score </button>
                </div>
            </div>

            <div class="container">
                <div class="row" style="margin: 0 auto">
                    <span id="tick" class="ms-icon ms-icon-lg ms-icon-circle color-success">
                        <i class="fa fa-check"></i>
                    </span>
                    <span id="wrong" class="ms-icon ms-icon-lg ms-icon-circle color-danger">
                        <i class="fa fa-remove"></i>
                    </span>
                </div>
            </div>


            <div id="msg"></div>
            <div class="dot-container">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
                <span class="dot" onclick="currentSlide(5)"></span>
                <span class="dot" onclick="currentSlide(6)"></span>
            </div>
            <!-- last 2 divs from top of card-->
        </div>
    </div>
    <div id="example"></div>
    <!-- Modal -->
    <div class="modal modal-primary" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
        <div class="modal-dialog animated zoomIn animated-3x" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel4"> <%=currentUser.username %>, you have scored </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="zmdi zmdi-close"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-success alert-light " role="alert">
                        <p id="badge"></p>
                    </div>
                    <div class="alert alert-danger alert-light " role="alert">
                        <p id="points"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
<script>
$("#example").load("../config");
var correct = 0;

$("#button1").click(function () {
    var question1 = document.quiz1.question1.value;
    var question2 = document.quiz2.question1.value;
    var question3 = document.quiz3.question1.value;
    var question4 = document.quiz4.question1.value;
    var question5 = document.quiz5.question1.value;
    var question6 = document.quiz6.question1.value;

    //2nd question
    if (slideIndex == 2 && question2 == '1.35m' || slideIndex == 2 && question2 == '1.35' ||
        slideIndex == 2 && question2 == '1.35 m') {
        checkAnswer20();
        showTicks20();
        questionCounter();
        dataCounterUp();
        //third question
    } else if (slideIndex == 3 && question3 == '1.50m' || slideIndex == 3 && question3 == '1.50' ||
        slideIndex == 3 && question3 == '1.5m') {
        checkAnswer20();
        showTicks20();
        questionCounter();
        dataCounterUp();
    }
    //first question
    else if (slideIndex == 1 && question1 == '1.30m' || slideIndex == 1 && question1 == '1.30' ||
        slideIndex == 1 && question1 == '1.3m') {
        checkAnswer20();
        showTicks20();
        questionCounter();
        dataCounterUp();
    }
    //4th question 
    else if (slideIndex == 4 && question4 == '1.60m' || slideIndex == 4 && question4 == '1.6m' ||
        slideIndex == 4 && question4 == '1.60' || slideIndex == 4 && question4 == '1.6') {
        checkAnswer20();
        showTicks20();
        questionCounter();
        dataCounterUp();
    }
    //5th question 
    else if (slideIndex == 5 && question5 == '1.50m' || slideIndex == 5 && question5 == '150cm' ||
        slideIndex == 5 && question5 == '1.50' || slideIndex == 5 && question5 == '1.5') {
        checkAnswer20();
        showTicks20();
        questionCounter();
        dataCounterUp();
    }
    //6th question
    else if (slideIndex == 6 && question6 == '2.25m' || slideIndex == 6 && question6 == '2.25' ||
        slideIndex == 6 && question6 == '225cm') {
        checkAnswer20();
        showTicks20();
        questionCounter();
        dataCounterUp();
    } else {
        document.getElementById("wrong").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Not Yet";
        dataError();
    }
    document.getElementById("badge").textContent = `${correct} out of 6`; 
    document.getElementById("points").textContent = `Points earned:  ${correct * 20} points!`;
});
$("#button").click(function () {
    document.getElementById("badge").textContent = `${correct} out of 6`; 
    if(correct === 3){
        addBronze()
        trackProgress6()
        document.getElementById("points").textContent = `Points:  ${correct * 20}`;
        document.getElementById("medal").textContent = `Congratulations! You have earned a Bronze Medal!`;
    } else if (correct > 3 && correct <6){
        addSilver()
        trackProgress6()
        document.getElementById("medal").textContent = `Congratulations! You have earned a Silver Medal!`;
        document.getElementById("points").textContent = `Points:  ${correct * 20}`;
    } else if(correct === 6){
        addGold()
        trackProgress6()
        document.getElementById("medal").textContent = `Congratulations! You have earned a Gold Medal!`;
        document.getElementById("points").textContent = `Points:  ${correct * 20}`;
    } else if(correct < 3){
        document.getElementById("points").textContent = `Points: ${correct * 20}!`
        document.getElementById("medal").textContent = `Try again to earn a Medal!`;
    }
 })
$("input").attr("maxlength", 5)
</script>
<% include ../partials/footer %>