<% include ../partials/header %>
<div class="col-lg-11 ms-paper-content-container" style="text-align: center">
    <div class="ms-paper-content" style="display:inline-block">
        <div class="alert alert-light alert-info">
            <p>Score: <span class="ml-auto badge-pill badge-pill-info"> <%=currentUser.score %></span> Each question is
                worth 20 points. Try to look for patterns and connections.
                <strong>Good Luck! </strong> </p>
        </div>
    </div>
</div>

<!--   Video        -->
<div id="video" style="text-align: center">
    <div class="col-md-6" style="display:inline-block">
        <h3 id = "heading" class="text-center">Multiply and Divide Whole Numbers</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9YbbdtbUox0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div> 

<div class="container">
    <p id="userId"><%=currentUser.id %> </p>

</div>

<div style="text-align: center">
    <div class="card card-royal col-md-6" style="display:inline-block">

        <!--        First question-->
        <div class="mySlides">
            <div class="card-header">
                <h3 class="card-title">1.</h3>
            </div>
            <div class="card-body">
                <form name="quiz1">
                    <p class="q"> If 10 x 12 x 14 = 1680,</p>
                    <p class="q"> what does 10 x 12 x 28 = ? </p>
                    <div class="ui input focus">
                        <input type="text" placeholder="" name="question1">
                    </div>
                </form>
            </div>
        </div>
        <!--     2nd question                -->
        <div class="mySlides">
            <div class="card-header">
                <h3 class="card-title">2.</h3>
            </div>
            <div class="card-body">
                <form name="quiz2">
                    <p class="q"> If 9 x10 x 11 = 990,</p>
                    <p class="q"> what does 9 x 10 x 33 = ?</p>
                    <div class="ui input focus">
                        <input type="text" placeholder="" name="question1">
                    </div>
                </form>
            </div>
        </div>
        <!--   3rd question       -->
        <div class="mySlides">
            <div class="card-header">
                <h3 class="card-title">3.</h3>
            </div>
            <div class="card-body">
                <form name="quiz3">
                    <p class="q"> If 12 x 13 x 14 = 2184,</p>
                    <p class="q">what does 24 x 13 x 14 = ?</p>
                    <div class="ui input focus">
                        <input type="text" placeholder=" " name="question1">
                    </div>
                </form>
            </div>
        </div>
        <!--4th question        -->
        <div class="mySlides">
            <div class="card-header">
                <h3 class="card-title">4.</h3>
            </div>
            <div class="card-body">
                <form name="quiz4">
                    <p class="q"> If 15 x 16 x 17 = 4080 ,</p>
                    <p class="q">what does 15 x 32 x 34 = ?</p>
                    <div class="ui input focus">
                        <input type="text" placeholder=" " name="question1">
                    </div>
                </form>
            </div>
        </div>
        <!--    5th question    -->
        <div class="mySlides">
            <div class="card-header">
                <h3 class="card-title">5.</h3>
            </div>
            <div class="card-body">
                <form name="quiz5">
                    <p class="q"> If 12 x 15 x 18 = 3240,</p>
                    <p class="q"> what does 24 x 30 x 36 = ?</p>
                    <div class="ui input focus">
                        <input type="text" placeholder="" name="question1">
                    </div>
                </form>
            </div>
        </div>
        <!--   6th question     -->
        <div class="mySlides">
            <div class="card-header">
                <h3 class="card-title">6.</h3>
            </div>
            <div class="card-body">
                <form name="quiz6">
                    <p class="q"> If 13 x 16 x 19 = 3952 ,</p>
                    <p class="q">what does 39 x 19 x 32 =?</p>
                    <div class="ui input focus">
                        <input type="text" placeholder="" name="question1">
                    </div>
                </form>
            </div>
        </div>
        <!--        buttons-->
        <div class="container">
            <div class="row" style="margin: 0 auto">
                <button type="button" id="button1" class="btn btn-success btn-raised"> Check </button>
                <button type="button" id="next1" class="btn btn-primary btn-raised" onclick="plusSlides(1)"> Next
                </button>
                <button type="button" id="button" class="btn btn-danger btn-raised" data-toggle="modal"
                    data-target="#myModal4"> Total Score </button>
            </div>
        </div>

        <div class="container">
            <div class="row" style="margin: 0 auto">
                <span id="tick" class="ms-icon ms-icon-lg ms-icon-circle color-success">
                    <i class="fa fa-check"></i>
                </span>
                <span id="wrong" class="ms-icon ms-icon-lg ms-icon-circle color-danger">
                    <i class="fa fa-remove"></i>
                </span>
            </div>
        </div>


        <div id="msg"></div>
        <div class="dot-container">
        <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
        </div>
        <!-- last 2 divs from top of card-->
    </div>
</div>
<div id="example"></div>
<!-- Modal -->
<div class="modal modal-primary" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel4"> <%=currentUser.username %>, you have scored </h3> <button
                    type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="zmdi zmdi-close"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success alert-light " role="alert">
                    <p id="badge"></p>
                </div>
                <div class="alert alert-danger alert-light " role="alert">
                    <p id="points"></p>
                </div>
                <div class="alert alert-info alert-light " role="alert">
                    <p id="medal"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
$("#example").load("../config");
var correct = 0;

$("#button1").click(function () {
    var question1 = document.quiz1.question1.value;
    var question2 = document.quiz2.question1.value;
    var question3 = document.quiz3.question1.value;
    var question4 = document.quiz4.question1.value;
    var question5 = document.quiz5.question1.value;
    var question6 = document.quiz6.question1.value;
    //2nd question
    if (slideIndex == 2 && question2 == 2970 || slideIndex == 2 && question2 == '2,970') {
        checkAnswer20();
        showTicks20();
        questionCounter();
        numberCounterUp();
        //third question
    } else if (slideIndex == 3 && question3 == 4368 || slideIndex == 3 && question3 == '4,368') {
        checkAnswer20();
        showTicks20();
        questionCounter();
        numberCounterUp();
    }
    //first question
    else if (slideIndex == 1 && question1 == 3360 || slideIndex == 1 && question1 == '3,360') {
        checkAnswer20();
        showTicks20();
        questionCounter();
        numberCounterUp();
    }
    //4th question 
    else if (slideIndex == 4 && question4 == 16320 || slideIndex == 4 && question4 == '16,320') {
        checkAnswer20();
        showTicks20();
        questionCounter();
        numberCounterUp();
    }
    //5th question 
    else if (slideIndex == 5 && question5 == 25920 || slideIndex == 5 && question5 == '25,920') {
        checkAnswer20();
        showTicks20();
        questionCounter();
        numberCounterUp();
    }
    //6th question
    else if (slideIndex == 6 && question6 == 23712 || slideIndex == 6 && question6 == '23,712') {
        checkAnswer20();
        showTicks20();
        questionCounter();
        numberCounterUp();
    } else {
        document.getElementById("wrong").style.visibility = "visible";
        document.getElementById("msg").style.visibility = "visible";
        document.getElementById("msg").textContent = " Not Yet";
        numberError();
    }
});
$("#button").click(function () {
    document.getElementById("badge").textContent = `${correct} out of 6`; 
    if(correct === 3){
        addBronze()
        trackProgress6()
        document.getElementById("points").textContent = `Points:  ${correct * 20}`;
        document.getElementById("medal").textContent = `Congratulations! You have earned a Bronze Medal!`;
    } else if (correct > 3 && correct < 6){
        addSilver();
        trackProgress6()
        document.getElementById("medal").textContent = `Congratulations! You have earned a Silver Medal!`;
        document.getElementById("points").textContent = `Points:  ${correct * 20}`;
    } else if(correct === 6){
        addGold();
        trackProgress6();
        document.getElementById("medal").textContent = `Congratulations! You have earned a Gold Medal!`;
        document.getElementById("points").textContent = `Points:  ${correct * 20}`;
    } else if(correct < 3){
        document.getElementById("points").textContent = `Points: ${correct * 20}!`
        document.getElementById("medal").textContent = `Try again to earn a Medal!`;
    }
 })
$("input").attr("maxlength", 5)
</script>
<% include ../partials/footer %>