<% include ../partials/header %>
<!--   Video        -->
<div id="video" style="text-align: center">
  <div class="col-md-6" style="display:inline-block">
    <h3 class="text-center" id="heading"> Algebra Problems: Algebra Grids </h3>
    <div class="card card-info-inverse">
      <div class="card-header">
        <h3 class="card-title"><i class="zmdi zmdi-graduation-cap"></i> Watch the tutorial below:</h3>
      </div>
      <script src="https://snowytopmaths.cdn.vooplayer.com/assets/vooplayer.js"></script><iframe allow="autoplay"
        class="video-player-container vooplayer" data-playerId="MTQ3MDM4" allowtransparency="true"
        style="max-width:100%" name="vooplayerframe" allowfullscreen="true" src="" watch-type="" url-params=""
        frameborder="0" scrolling="no"> </iframe>
      <div class="card-body overflow-hidden text-center">
      </div>
    </div>
  </div>
</div>


<div class="container">
  <p id="userId"><%=currentUser.id %> </p>
</div>
<div class="col-lg-11 ms-paper-content-container" style="text-align: center">
  <div class="ms-paper-content" style="display:inline-block">
    <div class="alert alert-light alert-info">
      <p>Score: <span class="ml-auto badge-pill badge-pill-info"> <%=currentUser.score %></span>
        <p>Each question is worth 30 points. Good Luck!</p>
    </div>
  </div>
</div>
<div style="text-align: center">
  <div class="card card-royal col-md-6" style="display:inline-block">
    <!--        First question-->
    <div class="mySlides">
      <div class="card-header">
        <h3 id="header" class="card-title">1.</h3>
      </div>
      <div class="card-body">
        <form name="quiz1">
          <p>Find the missing numbers below</p><img src="img/grid/grid1B.png" alt="" class="img-fluid"><br>
          <!--
        <div class="ui input focus">
  <input type="text" name="question1" placeholder="">
</div>
-->

          <div class="ui labeled input">
            <div class="ui label" style="background-color:pink">
              A =
            </div>
            <input type="text" name="question1">
          </div>
          <div class="ui labeled input">
            <div class="ui label" style="background-color:pink">
              B =
            </div>
            <input type="text" name="question2">
          </div>
          <div class="ui labeled input">
            <div class="ui label" style="background-color:pink">
              C =
            </div>
            <input type="text" name="question3">
          </div>
          <div class="ui labeled input" style="background-color:pink">
            <div class="ui label" style="background-color:pink">
              D =
            </div>
            <input type="text" name="question4">
          </div>
        </form>
      </div>
    </div>
    <!--     2nd question                -->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">2.</h3>
      </div>
      <div class="card-body">
        <form name="quiz2">
          <p>Find the value of the letters</p><img src="img/grid/grid2B.png" alt="" class="img-fluid">
          <p>The number represents the sum of the row or column</p><br>
          <!--
         <div class="ui input focus">
         <input type="text" placeholder=""  name = "question1">          
        </div>
-->
          <div class="ui labeled input">
            <div class="ui label" style="background-color:pink">
              A =
            </div>
            <input type="text" name="question1">
          </div>
          <div class="ui labeled input">
            <div class="ui label" style="background-color:pink">
              B =
            </div>
            <input type="text" name="question2">
          </div>
          <div class="ui labeled input">
            <div class="ui label" style="background-color:pink">
              C =
            </div>
            <input type="text" name="question3">
          </div>
          <div class="ui labeled input" style="background-color:pink">
            <div class="ui label" style="background-color:pink">
              D =
            </div>
            <input type="text" name="question4">
          </div>
        </form>
      </div>
    </div>
    <!--   3rd question       -->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">3.</h3>
      </div>
      <div class="card-body">
        <form name="quiz3">
          <p>Find the missing numbers below</p>
          <p>The number represents the sum of the row or column</p><img src="img/grid/grid3B.png" alt=""
            class="img-fluid"><br>
          <!--
         <div class="ui input focus">
         <input type="text" placeholder=""  name = "question1">          
        </div>
-->
          <div class="ui labeled input">
            <div class="ui label" style="background-color:pink">
              A =
            </div>
            <input type="text" name="question1">
          </div>
          <div class="ui labeled input">
            <div class="ui label" style="background-color:pink">
              B =
            </div>
            <input type="text" name="question2">
          </div>
          <div class="ui labeled input">
            <div class="ui label" style="background-color:pink">
              C =
            </div>
            <input type="text" name="question3">
          </div>
          <div class="ui labeled input" style="background-color:pink">
            <div class="ui label" style="background-color:pink">
              D =
            </div>
            <input type="text" name="question4">
          </div>
        </form>
      </div>
    </div>
    <!--4th question        -->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">4.</h3>
      </div>
      <div class="card-body">
        <form name="quiz4">
          <p>Find the missing numbers below</p><img src="img/grid/grid4B.png" alt="" class="img-fluid"><br>
          <!--
         <div class="ui input focus">
         <input type="text" placeholder=""  name = "question1">          
        </div>
-->
          <div class="ui labeled input">
            <div class="ui label" style="background-color:pink">
              A =
            </div>
            <input type="text" name="question1">
          </div>
          <div class="ui labeled input">
            <div class="ui label" style="background-color:pink">
              B =
            </div>
            <input type="text" name="question2">
          </div>
          <div class="ui labeled input">
            <div class="ui label" style="background-color:pink">
              C =
            </div>
            <input type="text" name="question3">
          </div>
          <div class="ui labeled input" style="background-color:pink">
            <div class="ui label" style="background-color:pink">
              D =
            </div>
            <input type="text" name="question4">
          </div>
        </form>
      </div>
    </div>
    <!--    5th question    -->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">5.</h3>
      </div>
      <div class="card-body">
        <form name="quiz5">
          <p>Find the missing numbers below</p><img src="img/grid/grid5B.png" alt="" class="img-fluid"><br>
          <div class="ui labeled input">
            <div class="ui label" style="background-color:pink">
              A =
            </div>
            <input type="text" name="question1">
          </div>
          <div class="ui labeled input">
            <div class="ui label" style="background-color:pink">
              B =
            </div>
            <input type="text" name="question2">
          </div>
          <div class="ui labeled input">
            <div class="ui label" style="background-color:pink">
              C =
            </div>
            <input type="text" name="question3">
          </div>
          <div class="ui labeled input" style="background-color:pink">
            <div class="ui label" style="background-color:pink">
              D =
            </div>
            <input type="text" name="question4">
          </div>
        </form>
      </div>
    </div>
    <!--   6th question     -->
    <div class="mySlides">
      <div class="card-header">
        <h3 class="card-title">6.</h3>
      </div>
      <div class="card-body">
        <form name="quiz6">
          <p>Find the missing numbers below</p><img src="img/grid/grid6B.png" alt="" class="img-fluid"><br>
          <div class="ui labeled input">
            <div class="ui label" style="background-color:pink">
              A =
            </div>
            <input type="text" name="question1">
          </div>
          <div class="ui labeled input">
            <div class="ui label" style="background-color:pink">
              B =
            </div>
            <input type="text" name="question2">
          </div>
          <div class="ui labeled input">
            <div class="ui label" style="background-color:pink">
              C =
            </div>
            <input type="text" name="question3">
          </div>
          <div class="ui labeled input" style="background-color:pink">
            <div class="ui label" style="background-color:pink">
              D =
            </div>
            <input type="text" name="question4">
          </div>
        </form>
      </div>
    </div>

    <!--        buttons-->
    <div class="container">
      <div class="row" style="margin: 0 auto">
        <button type="button" id="button1" class="btn btn-success btn-raised"> Check </button>
        <button type="button" id="next1" class="btn btn-primary btn-raised" onclick="plusSlides(1)"> Next </button>
        <button type="button" id="button" class="btn btn-danger btn-raised" data-toggle="modal" data-target="#myModal4">
          Total Score </button>
      </div>
    </div>

    <div class="container">
      <div class="row" style="margin: 0 auto">
        <span id="tick" class="ms-icon ms-icon-lg ms-icon-circle color-success">
          <i class="fa fa-check"></i>
        </span>
        <span id="wrong" class="ms-icon ms-icon-lg ms-icon-circle color-danger">
          <i class="fa fa-remove"></i>
        </span>
      </div>
    </div>
    <div id="msg"></div>
    <div class="dot-container">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
      <span class="dot" onclick="currentSlide(5)"></span>
      <span class="dot" onclick="currentSlide(6)"></span>

    </div>
    <!-- last 2 divs from top of card-->
  </div>
</div>
<div id="example"></div>
<!-- Modal -->
<div class="modal modal-primary" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
  <div class="modal-dialog animated zoomIn animated-3x" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel4"> <%=currentUser.username %>, you have scored </h3> <button
          type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="zmdi zmdi-close"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-success alert-light " role="alert">
          <p id="badge"></p>
        </div>
        <div class="alert alert-danger alert-light " role="alert">
          <p id="points"></p>
        </div>
        <div class="alert alert-info alert-light " role="alert">
                    <p id="medal"></p>
                </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
  $("#example").load("../config");
  var correct = 0;
  $("#button1").click(function () {
    var question1 = document.quiz1.question1.value;
    var question2 = document.quiz1.question2.value;
    var question3 = document.quiz1.question3.value;
    var question4 = document.quiz2.question1.value;
    var question5 = document.quiz2.question2.value;
    var question6 = document.quiz2.question3.value;
    var question7 = document.quiz3.question1.value;
    var question8 = document.quiz3.question2.value;
    var question9 = document.quiz3.question3.value;
    var question10 = document.quiz4.question1.value;
    var question11 = document.quiz4.question2.value;
    var question12 = document.quiz4.question3.value;
    var question13 = document.quiz5.question1.value;
    var question14 = document.quiz5.question2.value;
    var question15 = document.quiz5.question3.value;
    var question16 = document.quiz6.question1.value;
    var question17 = document.quiz6.question2.value;
    var question18 = document.quiz6.question3.value;
    var question19 = document.quiz5.question4.value;
    var question20 = document.quiz6.question4.value;
    var question21 = document.quiz1.question4.value;
    var question22 = document.quiz2.question4.value;
    var question23 = document.quiz3.question4.value;
    var question24 = document.quiz4.question4.value;
    //2nd question
    if (slideIndex == 2 && question4 == 12 && question5 == 5 && question6 == 8 && question22 == 15) {
      checkAnswer30();
      showTicks30();
      questionCounter();
      algebraCounterUp();
      //third question
    } else if (slideIndex == 3 && question7 == 15 && question8 == 13 && question9 == 17 && question23 == 5) {
      checkAnswer30();
      showTicks30();
      questionCounter();
      algebraCounterUp();
    }
    //first question
    else if (slideIndex == 1 && question1 == 9 && question2 == 11 && question3 == 13 && question21 == 7) {
      checkAnswer30();
      showTicks30();
      questionCounter();
      algebraCounterUp();
    }
    //4th question 
    else if (slideIndex == 4 && question10 == 3 && question11 == 4 && question12 == 6 && question24 == 9) {
      checkAnswer30();
      showTicks30();
      questionCounter();
      algebraCounterUp();
    }
    //5th question 
    else if (slideIndex == 5 && question13 == 5 && question14 == 9 && question15 == 15 && question19 == 7) {
      checkAnswer30();
      showTicks30();
      questionCounter();
      algebraCounterUp();
    }
    //6th question
    else if (slideIndex == 6 && question16 == 8 && question17 == 12 && question18 == 14 && question20 == 16) {
      checkAnswer30();
      showTicks30();
      questionCounter();
      algebraCounterUp();
    } 
    else {
      document.getElementById("wrong").style.visibility = "visible";
      document.getElementById("msg").style.visibility = "visible";
      document.getElementById("msg").textContent = " Not Yet";
      algebraError();
    }
});
$("#button").click(function () {
  document.getElementById("badge").textContent = `${correct} out of 6`; 
  if(correct === 3){
      addBronze()
      trackProgress6()
      document.getElementById("points").textContent = `Points:  ${correct * 30}`;
      document.getElementById("medal").textContent = `Congratulations! You have earned a Bronze Medal!`;
  } else if (correct > 3 && correct <6){
      addSilver();
      trackProgress6()
      document.getElementById("medal").textContent = `Congratulations! You have earned a Silver Medal!`;
      document.getElementById("points").textContent = `Points:  ${correct * 30}`;
  } else if(correct === 6){
      addGold();
      trackProgress6()
      document.getElementById("medal").textContent = `Congratulations! You have earned a Gold Medal!`;
      document.getElementById("points").textContent = `Points:  ${correct * 30}`;
  } else if(correct < 3){
      document.getElementById("points").textContent = `Points: ${correct * 30}!`
      document.getElementById("medal").textContent = `Try again to earn a Medal!`;
  }
})
$("input").attr("maxlength", 5)
</script>
<% include ../partials/footer %>