<% include ../../partials/header %>
<div class="col-md-9">
<div class="card card-warning animated fadeInUp animation-delay-12">
        <div class="card-header">
          <h3 class="card-title">
            <i class="zmdi zmdi-library"></i> Past Papers</h3>
        </div>
      </div>
        <div class="list-group">
            <a href="/pastpapers/stpaulsA" class="list-group-item list-group-item-action withripple">
                <i class="color-primary zmdi zmdi-favorite-outline"></i>St Paul's Girls, London Speciman Paper A
                <span class="ml-auto badge-pill bg-danger">5</span>
            </a>
            <a href="/pastpapers/habs2008" class="list-group-item list-group-item-action withripple">
                <i class="color-primary zmdi zmdi-hotel"></i>Haberdasher Aske's 2008 11+ Maths Paper
                <span class="ml-auto badge-pill">14</span>
            </a>
            <a href="/pastpapers/KWA" class="list-group-item list-group-item-action withripple">
                <i class="color-primary zmdi zmdi-library"></i>King's College, Wimbledon 2019 11+ Maths Paper
                <span class="ml-auto badge-pill bg-success">15</span>
            </a>
            <a href="/pastpapers/magdalen" class="list-group-item list-group-item-action withripple">
            <i class="color-primary zmdi zmdi-nature"></i>Magdalen College, Oxford 11+ Maths Paper</a>
            <a href="/pastpapers/stpaulsC" class="list-group-item list-group-item-action withripple">
                <i class="color-primary zmdi zmdi-library"></i>St Paul's Girls, London 2017 Paper A 11+ Maths
                <span class="ml-auto badge-pill bg-success">15</span>
            </a>
            <a href="/pastpapers/mgs18B" class="list-group-item list-group-item-action withripple">
                <i class="color-primary zmdi zmdi-library"></i>Manchester Grammar School Paper B 2018
                <span class="ml-auto badge-pill bg-success">15</span>
            </a>
            <a href="/pastpapers/mgs18A" class="list-group-item list-group-item-action withripple">
                <i class="color-primary zmdi zmdi-library"></i>Manchester Grammar School Arithmetic Paper A 2018
                <span class="ml-auto badge-pill bg-success">15</span>
            </a>
            <a href="/pastpapers/perse" class="list-group-item list-group-item-action withripple">
                <i class="color-primary zmdi zmdi-library"></i>The Perse Upper School, Cambridge Paper A
                <span class="ml-auto badge-pill bg-success">15</span>
            </a>
            <a href="/pastpapers/londoncollegiate15" class="list-group-item list-group-item-action withripple">
                <i class="color-primary zmdi zmdi-library"></i>North London Independent Girls Consortium 2015
                <span class="ml-auto badge-pill bg-success">15</span>
            </a>
            
            <a href="/pastpapers/stgeorgeascotA" class="list-group-item list-group-item-action withripple">
                <i class="color-primary zmdi zmdi-library"></i>St George's Ascot 11+ Maths Paper
                <span class="ml-auto badge-pill bg-success">15</span>
            </a>
            <a href="/pastpapers/stgeorgeweybridge" class="list-group-item list-group-item-action withripple">
                <i class="color-primary zmdi zmdi-library"></i>St George's, Weybridge 11+ Maths Paper
                <span class="ml-auto badge-pill bg-success">15</span>
            </a>
            <a href="/pastpapers/jags" class="list-group-item list-group-item-action withripple">
                <i class="color-primary zmdi zmdi-library"></i>James Allen Girls School, Dulwich, Speciman Paper
                <span class="ml-auto badge-pill bg-success">15</span>
            </a>
            <a href="/pastpapers/nlc10" class="list-group-item list-group-item-action withripple">
                <i class="color-primary zmdi zmdi-library"></i>North London Independent Girls School 2010
                <span class="ml-auto badge-pill bg-success">15</span>
            </a>
            <a href="/pastpapers/whitgift" class="list-group-item list-group-item-action withripple">
                <i class="color-primary zmdi zmdi-library"></i>Whitgift School 11+ Maths Paper
                <span class="ml-auto badge-pill bg-success">15</span>
            </a>
            <a href="/pastpapers/stolaves" class="list-group-item list-group-item-action withripple">
                <i class="color-primary zmdi zmdi-library"></i>St Olave's Grammar School, London
                <span class="ml-auto badge-pill bg-success">15</span>
            </a>
            <a href="/pastpapers/albans" class="list-group-item list-group-item-action withripple">
                <i class="color-primary zmdi zmdi-library"></i>St Albans School 11+ Maths Speciman Paper
                <span class="ml-auto badge-pill bg-success">15</span>
            </a>
        </div>
    </div>
</div>


<% include ../../partials/footer %>